<template>
  <div id="main-content">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">{{page.modelName}} <a @click="showAddbox(0)" class="btn btn-success"><i class="fa fa-plus"></i> 添加新渠道</a></h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="tc">
            <div class="col-sm-12" id="table-container">
              <table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>名称</th>
                    <th>别名</th>
                    <th>备注</th>
                    <th>状态</th>
                    <th width="80">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="l in list" >
                    <td>{{l.pathName}}</td>
                    <td>{{l.alias}}</td>
                    <td>{{l.remark}}</td>
                    <td><a v-if="l.status==1" @click="setStatus(0,l.id)">启用</a><a v-if="l.status!=1" @click="setStatus(1,l.id)">停用</a></td>
                    <td align="center"><button type="button" class="btn btn-primary" @click="showAddbox(1,l.id)"><i class="fa fa-edit"></i> 编辑</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
    <div class="modal fade" id="addbox">
        <div class="modal-dialog" style="width:60%">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><span v-show="update==0">添加新渠道</span><span v-show="update==1">更新渠道信息</span></h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-group" :class="{'has-error':errors.has('pathName')}">
                  <label class="col-sm-2 control-label">渠道名称</label>
                  <div class="col-sm-10"><input type="text" name="pathName" class="form-control" v-validate="'required'" placeholder="渠道名称" v-model="coObj.pathName" v-bind:readonly="update==1"></div>
                </div>
                <div class="form-group" :class="{'has-error':errors.has('alias')}">
                  <label class="col-sm-2 control-label">别名</label>
                  <div class="col-sm-10"><input type="text" name="alias" class="form-control" v-validate="'required'" placeholder="别名" v-model="coObj.alias"></div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">备注</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" v-model="coObj.remark" maxlength="255" placeholder="备注"></textarea>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" @click="doSave"><span v-if="update==0">添加</span><span v-if="update==1">更新</span></button>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>
<style scoped>
  .form-horizontal{padding: 0px 20px;}
  .modal-body button{margin: 2px}
  a{cursor: pointer;}
  td{vertical-align: middle !important;}
</style>
<script>
import util from '../util.vue'
//import _ from 'lodash'

let appData={
  para:{
    action:'',
    userId:'',
    token:'',
  },
  newObj:{
    id:0,
    pathName:'',
    alias:'',
    remark:'',
    status:1,
  },
  coObj:{
    id:0,
    pathName:'',
    alias:'',
    remark:'',
    status:1,
  },
  page:{
    modelName:'发布渠道',
    apiBase:'http://m.yxgapp.com/d/pms/exportPath.json'
  },
  list:[],
  // category:[],
  // lang:[],
  // teams:[],
  update:0
};

let initList = function(vm){
  appData.para.action = 'listAll';
  $('#list').DataTable().destroy();

  $.get(appData.page.apiBase,appData.para,function(data){
    if(data.result.result){
      appData.list = data.list;
      vm.$nextTick(function(){
        if($('#list').hasClass('dataTable')==false) $('#list').DataTable(config.tableConfig);
      });
    }
  })
};

// let getUploadBaseInfo = function(){
// 	let url = 'http://m.yxgapp.com/d/mooc/getUploadBaseInfo.json';
// 	//appData.teams = JSON.parse(sessionStorage.getItem('recommendPermission'));
// 	return $.get(url,{uid:appData.para.userId,token:appData.para.token},function(data){
// 		if(data.result.result){
// 			appData.category = data.category;
// 			appData.teams = data.teams;
// 			appData.lang = data.lang;
// 			//appData.attation = data.attation;
// 			console.log(appData)
// 		}else{
//
// 		}
// 	},'json');
// }

export default {
  name: 'exportPath',
  created(){
    appData.para.userId = window.sessionStorage.getItem('uid');
    appData.para.token = window.sessionStorage.getItem('token');
  },
  mounted(){
    let vm = this;
    //$.when(getUploadBaseInfo()).then(
      initList(vm)
    //);
  },
  updated(){

  },
  methods:{
    showAddbox(update,id){
      console.log(id)
      appData.update = update;
      if(update == 0){
        appData.coObj = Object.assign({},appData.newObj);
        appData.para.action = 'save';
      }else{
        let co = appData.list.find(function(f){ return f.id == id});
        appData.coObj=Object.assign({}, co);
        appData.para.action = 'update';
      }
      $('#addbox').modal('show');
    },
    // setValue(key,value){
    //   appData.cooperator[key]=value;
    // },
    // getText(key,value){
    //   return appData[key].find(function(f){
    //     return f.value == value
    //   }).text;
    // },
    setStatus(status,id){
      appData.coObj = {
        id:id,
        status:status
      }
      appData.para.action='update';
      this.doSave();
    },
    doSave(){
      let vm = this;
      $.post(appData.page.apiBase,Object.assign(appData.coObj,appData.para),function(data){
        if(data.result.result){
          initList(vm);
          $('#addbox').modal('hide');
        }else{
          $.notify('操作失败：'+ data.result.reason);
        }
      });
    }
  },
  data(){
    return appData
  }
}
</script>
