<template>
  <div id="main-content">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" />
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">{{page.modelName}}</h3>
                  <span class="date-range pull-right">
                    <div class="btn-group">
                      <a class="js_update btn btn-default" :class="{'btn-success':page.rangeType==0}" @click="loadData(0)">近一周</a>
                      <a class="js_update btn btn-default" :class="{'btn-success':page.rangeType==1}" @click="loadData(1)">近一月</a>
                      <a class="js_update btn btn-default" :class="{'btn-success':page.rangeType==2}" @click="loadData(2)">所有记录</a>
                      <a id="reportrange" class="js_update btn btn-default" :class="{'btn-success':page.rangeType==3}">
                        <i class="fa fa-calendar"></i>
                        <span>{{page.range}}</span>
                        <i class="fa fa-angle-down"></i>
                      </a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="tc">
            <!-- <ul class="nav nav-tabs">
              <li v-for="c in cooperators" :class="{'active':page.currentCo.id==c.id}"><a @click="loadCoTask(c.id)">{{c.coName}}</a></li>

            </ul> -->
            <!-- <table width="30%">
              <tr>
                <td width="140" style="font-size:16px;">当前选择合作方：</td>
                <td><select class="form-control" @change="loadCoTask()" id="coSel">
                  <option v-for="c in cooperators" :value="c.id">{{c.coName}}</option>
                </select></td>
              </tr>
            </table> -->
            <div class="col-sm-12" id="table-container">
              <table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>发布标题</th>
                    <th>发布简介</th>
                    <th>关键字</th>
                    <th>素材</th>
                    <th>更新时间</th>
                    <th>备注</th>
                    <th>状态</th>
                    <th width="120">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="l in list" >
                    <td>{{l.title}}</td>
                    <td>{{l.brief}}</td>
                    <td>{{l.keyword}}</td>
                    <td><a v-if="l.coverCn" :href="l.coverCn" target="_blank">封面</a>
                        <a v-if="l.targetVideo" :href="l.targetVideo" target="_blank">视频</a></td>
                    <td>{{l.upTime.substr(0,10)}}</td>
                    <td>{{l.remark}}</td>
                    <td>{{l.status}} <a v-if="l.status==0" @click="setStatus(1,l.id)">挂起</a></td>
                    <td align="center"><button type="button" class="btn btn-primary" @click="showAddbox(1,l.id)" v-if="l.status==0">发布</button> <button type="button" class="btn btn-danger" @click="del(l.id)" v-if="l.status==0">删除</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
    <!-- <div class="modal fade" id="addbox">
        <div class="modal-dialog" style="width:60%">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><span v-show="update==0">添加新任务</span><span v-show="update==1">更新任务信息</span></h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-group" :class="{'has-error':errors.has('videoName')}">
                  <label class="col-sm-2 control-label">标题</label>
                  <div class="col-sm-10"><input type="text" name="videoName" class="form-control" v-validate="'required'" placeholder="标题" v-model="coTask.videoName"></div>
                </div>
                <div class="form-group" :class="{'has-error':errors.has('videoUrl')}">
                  <label class="col-sm-2 control-label">视频源地址</label>
                  <div class="col-sm-10"><input type="url" name="videoUrl" class="form-control" v-validate="'required|url:true'" placeholder="视频源地址" v-model="coTask.videoUrl" :readonly="update==1"></div>
                </div>
                <div class="form-group" :class="{'has-error':errors.has('infoUrl')}">
                  <label class="col-sm-2 control-label">文本源地址</label>
                  <div class="col-sm-10"><input type="url" name="infoUrl" class="form-control" placeholder="文本源地址" v-validate="'url:true'" v-model="coTask.infoUrl"></div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">语言</label>
                  <div class="col-sm-10">
                    <button type="button" class="btn btn-default" :class="{'btn-success':coTask.langId == c.value}" @click="setValue('langId',c.value)"  v-for="c in lang" >{{c.text}}</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">分类</label>
                  <div class="col-sm-10">
                    <button type="button" class="btn btn-default" :class="{'btn-success':coTask.typeId == c.value}" @click="setValue('typeId',c.value)"  v-for="c in category" >{{c.text}}</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">标签</label>
                  <div class="col-sm-10">
                    <button type="button" class="btn btn-default" :class="{'btn-success':coTask.tag.split(' ').indexOf(t.tag)>=0}" @click="setLabels(t.tag)"  v-for="t in userTag" >{{t.tag}}</button>
                    <div id="addLabel" class="input-group col-xs-4">
                      <input type="text" class="form-control" placeholder="添加新标签"  v-model="page.newLabel" maxlength="6">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" @click="addLabel"><i class="fa fa-plus"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">备注</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" v-model="coTask.remark" maxlength="255" placeholder="备注"></textarea>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" @click="doSave"><span v-if="update==0">添加</span><span v-if="update==1">更新</span></button>
            </div>
          </div>
        </div>
      </div> -->
  </div>
</template>
<style scoped>
  .form-horizontal{padding: 0px 20px;}
  .modal-body button{margin: 2px}
  a{cursor: pointer;}
  td{vertical-align: middle !important;}
  td a{margin-right: 12px;}
  #tc{padding:0 20px;}
  #tc table{margin-bottom: 20px;}
  #table-container{padding: 0;}
  #addLabel{padding: 2px;}
  #addLabel button{margin-top:0;}
</style>
<script>
import util from '../util.vue'
//import _ from 'lodash'

let appData={
  para:{
    action:'',
    userId:'',
    token:'',
  },
  newObj:{
    id:0,
    scriptName:'',
    alias:'',
    remark:'',
    content:'',
    coId:0,
    status:1,
  },
  coObj:{
    id:0,
    scriptName:'',
    alias:'',
    remark:'',
    content:'',
    coId:0,
    status:1,
  },
  page:{
    modelName:'未完成发布任务',
    apiBase:'http://m.yxgapp.com/d/pms/exportTask.json',
    range:'',
    rangeType:0,
    newLabel:'',
  },
  cooperators:[],
  list:[],
  // userTag:[],
  update:0
};

let initDateRange = function(vm){
	$('#reportrange').daterangepicker(config.daterangeConfig);
	$('#reportrange').on('apply.daterangepicker', function(ev, picker) {
		appData.page.range = picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD');
		//appData.page.rangeTypetype = 3;
		appData.para.from = picker.startDate.format('YYYY-MM-DD');
		appData.para.to = picker.endDate.add(1,"days").format('YYYY-MM-DD');
    console.log(appData.para);
		vm.loadData(3);
	});
};

let initList = function(vm){
  appData.para.action = 'list';
  $('#list').DataTable().destroy();

  $.get(appData.page.apiBase,appData.para,function(data){
    if(data.result.result){
      appData.list = data.list;
      vm.$nextTick(function(){
        if($('#list').hasClass('dataTable')==false) $('#list').DataTable(config.tableConfig);
      });
    }
  })
};


let saveObj = function(vm){
  return $.post(appData.page.apiBase,Object.assign(appData.coTask,appData.para),function(data){
    if(data.result.result){
      initList(vm);
      $('#addbox').modal('hide');
    }else{
      $.notify('操作失败：'+ data.result.reason);
    }
  },'json');
};

export default {
  name: 'exportTask',
  created(){
    appData.para.userId = window.sessionStorage.getItem('uid');
    appData.para.token = window.sessionStorage.getItem('token');
    //appData.status = config.app.status;
    //getUserTag();
  },
  mounted(){
    let vm = this;
    initDateRange(vm);
    //$.when(getUploadBaseInfo(),getCooperators()).then(
      //function(){
        //if(appData.cooperators.length >0){
        //  appData.page.currentCo = Object.assign({},appData.cooperators[0]);
          vm.loadData();

        //}
    //});
  },
  updated(){},
  beforeDestroy(){
		$('div.daterangepicker').remove();
	},
  methods:{
    showAddbox(update,id){
      console.log(id)
      appData.update = update;
      if(update == 0){
        appData.coTask = Object.assign({},appData.task);
        //checkUrl();
        appData.para.action = 'save';
      }else{
        let l = appData.list.find(function(f){ return f.id == id});
        appData.coTask= Object.assign({}, l);
        //console.log(appData.cooperator)
        appData.para.action = 'update';
      }
      $('#addbox').modal('show');
    },
    setValue(key,value){
      appData.coTask[key]=value;
    },
    getText(key,value){
      return appData[key].find(function(f){
        return f.value == value
      }).text;
    },
    setLabels:function(label){
			let labels = [];
			if($.trim(appData.coTask.tag)!=''){
				labels = appData.coTask.tag.split(' ');
			}
			//let labels = appData.video.remark.split(' ');
			let index = labels.indexOf(label);
			if(index>=0){
				labels.splice(index,1);
			}else{
				labels.push(label)
			}
			appData.coTask.tag = labels.join(' ');
			//console.log(appData.video.remark)
		},
    addLabel : function(){
			//console.log(appData.newLabel)
			appData.page.newLabel = $.trim(appData.page.newLabel);
			if(appData.page.newLabel==''){
				//$.notify({message:'标签已经存在了'});
				return
			}
			$.get('http://m.yxgapp.com/d/mooc/userTag.json',{
				action : 'save',
				uid : window.sessionStorage.getItem('uid'),
		  	token : window.sessionStorage.getItem('token'),
				tag : appData.page.newLabel
			},function(data){
				if(data.result.result){
					appData.page.newLabel = '';
					getUserTag();
				}else{
					$.notify(data.result.reason);
				}
			},'json');
		},
    setStatus(status,id){
      let vm = this;
      let l = appData.list.find(function(f){ return f.id == id});
      appData.coTask= Object.assign({}, l);
      appData.coTask.status = status;
      appData.para.action='update';
      saveObj(vm);
    },
    doSave(){
      let vm = this;
      this.$validator.validateAll().then(() => {
        checkUrl();
        if(appData.coTask.tag ==''){
          $.notify('为视频选几个标签吧');
          return;
        }
        saveObj(vm);
      });
    },
    del(id){
      let vm = this;
      if(id){
        appData.para.action = 'delete';
        let l = appData.list.find(function(f){ return f.id == id});
        appData.coTask= Object.assign({}, l);
        saveObj(vm);
      }
    },
    loadData(rangeType){
      let vm = this;
      let coId = $('#coSel').val();
      if(rangeType!=undefined){
        appData.page.rangeType = rangeType;
      }
      if(appData.page.rangeType != 3){
        appData.para.to = moment().add(1,"days").format('YYYY-MM-DD');
      }
      switch (appData.page.rangeType) {
		  	case 0:
		  		appData.para.from = moment().subtract(7, "days").format('YYYY-MM-DD');
		  		break;
			  case 1:
		  		appData.para.from = moment().subtract(1, "months").format('YYYY-MM-DD');
		  		break;
			  case 2:
				  delete appData.para.from;
				  break;
		  }
      //if(appData.page.currentCo.id == coId) return;
      // appData.coObj = Object.assign({},appData.cooperators.find(f=>{return f.id==coId}));
      // appData.task.coId = appData.page.currentCo.id;
      // appData.task.typeId = appData.page.currentCo.defaultType;
      // appData.task.langId = appData.page.currentCo.defaultLang;
      //console.log(appData.task)
      initList(vm);
    }
  },
  data(){
    return appData
  }
}
</script>
