<template>
  <div id="main-content">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">{{page.modelName}} <a @click="showAddbox(0)" class="btn btn-success"><i class="fa fa-plus"></i> 添加新合成模板</a></h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="tc">
            <table width="30%">
              <tr>
                <td width="140" style="font-size:16px;">当前选择合作方：</td>
                <td><select class="form-control" @change="loadD" id="coSel">
                  <option v-for="c in cooperators" :value="c.id" v-if="user.co.indexOf(c.id)>=0">{{c.coName}}</option>
                </select></td>
              </tr>
            </table>
            <div class="col-sm-12" id="table-container">
              <table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>名称</th>
                    <th>别名</th>
                    <!-- <th>合作方</th> -->
                    <th>前后贴</th>
                    <th>备注</th>
                    <th>状态</th>
                    <th width="80">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="l in list" >
                    <td>{{l.scriptName}}</td>
                    <td>{{l.alias}}</td>
                    <!-- <td>{{getText('cooperators',l.coId)}}</td> -->
                    <td><a v-if="l.frontPost" :href="l.frontPost" target="_blank">前贴</a> <a v-if="l.endPost" :href="l.endPost" target="_blank">后贴</a></td>
                    <td>{{l.remark}}</td>
                    <td><a v-if="l.status==1" @click="setStatus(0,l.id)">启用</a><a v-if="l.status!=1" @click="setStatus(1,l.id)">停用</a></td>
                    <td align="center"><button type="button" class="btn btn-primary" @click="showAddbox(1,l.id)">编辑</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
    <div class="modal fade" id="addbox">
        <div class="modal-dialog" style="width:60%">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><span v-show="update==0">添加新合成模板</span><span v-show="update==1">更新合成模板</span></h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-group" :class="{'has-error':errors.has('scriptName')}">
                  <label class="col-sm-2 control-label">模板名称</label>
                  <div class="col-sm-10"><input type="text" name="scriptName" class="form-control" v-validate="'required'" placeholder="模板名称" v-model="coObj.scriptName" v-bind:readonly="update==1"></div>
                </div>
                <div class="form-group" :class="{'has-error':errors.has('alias')}">
                  <label class="col-sm-2 control-label">别名</label>
                  <div class="col-sm-10"><input type="text" name="alias" class="form-control" v-validate="'required'" placeholder="别名" v-model="coObj.alias"></div>
                </div>
                <!-- <div style="margin-bottom:15px;">
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">水印1</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="home" role="tab" data-toggle="tab">水印1</a></li>
                    <li role="presentation"><a @click="addWatermark">增加</a></li>
                  </ul>
                  <div class="tab-content" style="padding:15px; border:#ddd 1px solid; border-top:0">
                    <div role="tabpanel" class="tab-pane active" id="home">1</div>
                    <div role="tabpanel" class="tab-pane" id="profile">2</div>
                  </div>
                </div> -->
                <div class="form-group">
                  <label class="col-sm-2 control-label">水印</label>
                  <div class="col-sm-10">
                    <select id="watermark" class="form-control" v-model="page.watermark[0].url" @change="genScript">
                      <option value="">- 请选择 -</option>
                      <option v-for="m in material" :value="m.ossUrl">{{m.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">水印位置</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="X" v-model="page.watermark[0].position.x" @change="genScript">
                  </div>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="Y" v-model="page.watermark[0].position.y" @change="genScript">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">水印时间</label>
                  <div class="col-sm-10">
                    <table class="table table-hover table-bordered" width="100%">
                      <tr>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th><button type="button" class="btn btn-success" @click="addWatermarkTime">添加</button></th>
                      </tr>
                      <tr v-for="l,index in page.watermark[0].time_interval">
                        <td>
                          <input type="number" max="59" class="form-control" v-model="l.s.h" @change="genScript">
                          <input type="number" max="59" class="form-control" v-model="l.s.m" @change="genScript">
                          <input type="number" max="59" class="form-control" v-model="l.s.s" @change="genScript">
                        </td>
                        <td>
                          <input type="number" max="59" class="form-control" v-model="l.e.h" @change="genScript">
                          <input type="number" max="59" class="form-control" v-model="l.e.m" @change="genScript">
                          <input type="number" max="59" class="form-control" v-model="l.e.s" @change="genScript">
                        </td>
                        <td><button type="button" class="btn btn-danger" @click="delWatermarkTime(index)">删除</button></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="form-group hide">
                  <label class="col-sm-2 control-label">配置脚本</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" v-model="coObj.content"  placeholder="配置脚本" readonly></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">前贴</label>
                  <div class="col-sm-4">
                    <select id="watermark" class="form-control" v-model="coObj.frontPost">
                      <option value="">- 请选择 -</option>
                      <option v-for="m in material" :value="m.ossUrl">{{m.name}}</option>
                    </select>
                  </div>
                  <label class="col-sm-2 control-label">叠加偏移(s)</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" min="0" id="opOffset">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">后贴</label>
                  <div class="col-sm-4">
                    <select id="watermark" class="form-control" v-model="coObj.endPost">
                      <option value="">- 请选择 -</option>
                      <option v-for="m in material" :value="m.ossUrl">{{m.name}}</option>
                    </select>
                  </div>
                  <label class="col-sm-2 control-label">叠加偏移(s)</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" max="0" id="epOffset">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">剪切头部(s)</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" min="0"  id="cut1">
                  </div>
                  <label class="col-sm-2 control-label">剪切尾部(s)</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" max="0" id="cut2">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">双品牌</label>
                  <div class="col-sm-10">
                    <label>
                      <input type="checkbox" value="true" v-model="coObj.brand"> 启用双品牌前贴
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">备注</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" v-model="coObj.remark" maxlength="255" placeholder="备注"></textarea>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" @click="doSave"><span v-if="update==0">添加</span><span v-if="update==1">更新</span></button>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>
<style scoped>
.form-horizontal{padding: 0px 20px;}
.modal-body button{margin: 2px}
a{cursor: pointer;}
td{vertical-align: middle !important;}
td a{margin-right: 12px;}
#tc{padding:0 20px;}
#tc table{margin-bottom: 20px;}
#table-container{padding: 0;}
#addLabel{padding: 2px;}
#addLabel button{margin-top:0;}
.green{background: #fafadd;}
ul.dropdown-menu{min-width: 90px; width: 90px;}
ul.dropdown-menu a:hover{font-weight: bold;}
td i{margin-right:10px; font-size: 20px; color: #aaa;}
td i.active{color:#f00;}
.input-group-btn button{margin-top: 0;}
.form-group td,.form-group th{border: #ddd 1px solid; text-align: center; height: 35px; padding: 3px;}
.form-group td input{width: 31%; text-align: center; float: left; margin: 0 1%;}
</style>
<script>
import util from '../util.vue'
import api from '../api.vue'
//import _ from 'lodash'

let appData={
  para:{
    action:'',
    userId:'',
    token:'',
  },
  newObj:{
    scriptName:'',
    alias:'',
    remark:'',
    content:'',
    coId:0,
    status:1,
    frontPost:'',
    endPost:'',
    opJson:'',
    epJson:'',
    cutJson:'',
    brand:false
  },
  coObj:{
    scriptName:'',
    alias:'',
    remark:'',
    content:'',
    coId:0,
    status:1,
    frontPost:'',
    endPost:'',
    opJson:'',
    epJson:'',
    cutJson:'',
    brand:false
  },
  page:{
    modelName:'合成模板',
    apiBase:'http://m.yxgapp.com/d/pms/v2/mergeModel.json',
    watermark:[
      {
        url:'',
        position:{x:'',y:''},
        time_interval:[]
      }
    ],
    op:{},
    ep:{},
    cut:{}
  },
  user:{},
  list:[],
  cooperators:[],
  material:[],
  update:0
};

let loadUser = function(){
	appData.user = JSON.parse(localStorage.user);
	appData.user.role = appData.user.roles.split(',');
	appData.user.co = appData.user.coId.split(',');
	console.log(appData.user)
}

let initList = function(vm,coId){
  $('#list').DataTable().destroy();
  loadData(vm,coId)
};

let loadData = function(vm,coId){
  api.getMergeModel(appData.user.id,appData.user.token,coId).done(data=>{
    if(data.result.result){
      data.list.forEach(l=>{
        if(l.brand === 'true') {
          l.brand = true
        }else{
          l.brand = false
        }
      })
      appData.list = data.list;
      vm.$nextTick(function(){
        if($('#list').hasClass('dataTable')==false) $('#list').DataTable(config.tableConfig);
      });
    }else{
      $.notify('获取信息错误：'+ data.result.reason);
    }
  });
}

let getMaterial = function(coId){
  api.getMaterial(appData.user.id,appData.user.token,coId).done(data=>{
    if(data.result.result){
      appData.material = data.list;
    }else{
      $.notify('获取信息错误：'+ data.result.reason);
    }
  });
}

let saveData = function(vm,obj){
  api.saveMergeModel(appData.user.id,appData.user.token,obj).done(data=>{
    if(data.result.result){
      loadData(vm,obj.coId);
    }else{
      $.notify('操作失败：'+ data.result.reason);
    }
  });
}


let getCooperators = function(){
  let d = $.Deferred();
  api.getAvaCooperator(appData.user.id, appData.user.token).done(data=>{
    if(data.result.result){
      appData.cooperators = data.list;
    }else{
      $.notify('获取信息错误：'+ data.result.reason);
    }
    d.resolve();
  })
  return d
};

export default {
  name: 'mergeModel',
  created(){
    loadUser();
  },
  mounted(){
    let vm = this;
    $.when(getCooperators()).then(function(){
        appData.newObj.coId = appData.cooperators[0].id;
        getMaterial(appData.cooperators[0].id)
        initList(vm,appData.cooperators[0].id)
      }
    );
  },
  updated(){

  },
  methods:{
    showAddbox(update,id){
      console.log(id)
      appData.update = update;
      if(update == 0){
        appData.coObj = Object.assign({},appData.newObj);
      }else{
        let co = appData.list.find(function(f){ return f.id == id});
        appData.coObj=Object.assign({}, co);
        if(appData.coObj.content!=''){
          let s = JSON.parse(appData.coObj.content);
          s.forEach(f=>{
            f.position = {
              x:f.position.split(':')[0],
              y:f.position.split(':')[1],
            };
            f.time_interval.forEach(ff=>{
              ff.s = {
                h:Math.floor(ff.s / 3600),
                m:Math.floor(ff.s / 60 % 60),
                s:Math.floor(ff.s % 60),
              };
              ff.e = {
                h:Math.floor(ff.e / 3600),
                m:Math.floor(ff.e / 60 % 60),
                s:Math.floor(ff.e % 60),
              }
            });
          });
          appData.page.watermark = s;
        }
        if(appData.coObj.opJson != ''){
          let s = JSON.parse(appData.coObj.opJson);
          if(s.url) appData.coObj.frontPost == s.url;
          if(s.time) $('#opOffset').val(s.time);
        }
        if(appData.coObj.epJson != ''){
          let s = JSON.parse(appData.coObj.epJson);
          if(s.url) appData.coObj.endPost == s.url;
          if(s.time) $('#epOffset').val(s.time);
        }
        if(appData.coObj.cutJson != ''){
          let s = JSON.parse(appData.coObj.cutJson);
          if(s.s) $('#cut1').val(s.s);
          if(s.e) $('#cut2').val(s.e);
        }
      }
      $('#addbox').modal('show');
    },

    setStatus(status,id){
      let obj = {
        id:id,
        status:status
      }
      let vm = this;
      saveData(vm,obj);
    },
    doSave(){
      let vm = this;
      this.genScript();
      saveData(vm,appData.coObj);
      $('#addbox').modal('hide')
    },
    loadD(){
      let vm = this;
      let coId = $('#coSel').val();
      appData.newObj.coId = coId;
      getMaterial(coId)
      initList(vm,coId);
    },
    genScript(){
      let s = Object.assign({},appData.page.watermark[0]);
      s.position = s.position.x + ':' +  s.position.y;
      s.time_interval =[];
      appData.page.watermark[0].time_interval.forEach(f=>{
        s.time_interval.push({
          s:parseInt(f.s.h*3600) + parseInt(f.s.m*60) + parseInt(f.s.s),
          e:parseInt(f.e.h*3600) + parseInt(f.e.m*60) + parseInt(f.e.s)
        })
      });
      appData.coObj.content = "["+ JSON.stringify(s) +"]";

      let op = Object.assign({},appData.page.op);
      if(appData.coObj.frontPost != ''){
        op.url = appData.coObj.frontPost;
      }
      if($('#opOffset').val()!=''){
        op.time = $('#opOffset').val();
      }
      appData.coObj.opJson = JSON.stringify(op);

      let ep = Object.assign({},appData.page.ep);
      if(appData.coObj.endPost != ''){
        ep.url = appData.coObj.endPost;
      }
      if($('#epOffset').val()!=''){
        ep.time = $('#epOffset').val();
      }
      appData.coObj.epJson = JSON.stringify(ep);

      let cut = Object.assign({},appData.page.cut);
      if($('#cut1').val()!=''){
        cut.s = $('#cut1').val();
      }
      if($('#cut2').val()!=''){
        cut.e = $('#cut2').val();
      }
      appData.coObj.cutJson = JSON.stringify(cut);
    },
    addWatermarkTime(){
      let i = {s:{h:0,m:0,s:0},e:{h:0,m:0,s:0}};
      appData.page.watermark[0].time_interval.push(i);
    },
    delWatermarkTime(index){
      console.log(appData.page.watermark[0].time_interval[index])
      appData.page.watermark[0].time_interval.splice(index,1)
      this.genScript()
    }
  },
  data(){
    return appData
  }
}
</script>
