<template>
<div id="main">
	<section class="clearfix">
		<div class="thumb pull-left" :style="'background-image:url('+task.cover+')'">
			<span>{{task.duration}}</span>
		</div>
		<div class="title pull-right">
			<h2>{{task.videoName}}<br><small>{{video.enName}}</small></h2>
			<p>{{task.srtState}} | {{task.orgName}}</p>
		</div>
	</section>
	<div class="line"></div>
	<section>
		<h3>
			<div></div>
			任务难度评价
		</h3>
		<div class="starCon">
			<i v-for="d in diffculty" class="fa" :class="[d.value <= checkResult.diffculty ? 'fa-star': 'fa-star-o']" @click="setScore('diffculty',d.value)"></i>
		</div>
		<p class="text-center">{{diffculty[checkResult.diffculty-1].text}}</p>
	</section>
	<section>
		<h3>
			<div></div>
			译者语言能力评价
		</h3>
		<div class="starCon">
			<i v-for="d in ability" class="fa" :class="[d.value <= checkResult.ability ? 'fa-star': 'fa-star-o']" @click="setScore('ability',d.value)"></i>
		</div>
		<p class="text-center">{{ability[checkResult.ability-1].text}}</p>
	</section>
	<section>
		<h3>
			<div></div>
			译者任务态度评价
		</h3>
		<div class="starCon">
			<i v-for="d in attitude" class="fa" :class="[d.value <= checkResult.attitude ? 'fa-star': 'fa-star-o']" @click="setScore('attitude',d.value)"></i>
		</div>
		<p class="text-center">{{attitude[checkResult.attitude-1].text}}</p>
	</section>
	<section>
		<h3>
			<div></div>
			任务标题及简介
		</h3>
		<div class="tip">您可以修改视频的标题和简介</div>
		<div class="form-group">
			<label class="col-xs-3 control-label">标 题<br><small>24字以内</small></label>
			<div class="col-xs-9">
				<input type="text" class="form-control" maxlength="24" placeholder="中文标题" v-model="video.name">
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-3 control-label">简 介<br><small>64字以内</small></label>
			<div class="col-xs-9">
				<textarea class="form-control" maxlength="64" placeholder="中文简介" v-model="video.brief"></textarea>
			</div>
		</div>
	</section>
	<section>
		<h3>
			<div></div>
			审核意见
		</h3>
		<div class="inputCon">
			<textarea class="form-control" v-model="checkResult.opinion"></textarea>
		</div>
	</section>
	<section>
		<h3>
			<div></div>
			审核员签名
		</h3>
		<div class="inputCon">
			<input type="text" class="form-control" v-model="checkResult.sign"/>
		</div>
	</section>
	<section>
		<h3>
			<div></div>
			处理结论
		</h3>
		<div class="btnCon">
			<button class="btn btn-default" :class="{active : checkResult.action==1}" @click="setResult(1)">审核通过</button>
			<button class="btn btn-default" :class="{active : checkResult.action==2}" @click="setResult(2)">审核打回</button>
		</div>
	</section>
	<section>
		<div class="btnCon">
			<button class="btn btn-default" :class="{active : !onSubmit}" @click="submit">提交审核</button>
		</div>
	</section>
</div>
</template>
<script>
import util from './util.vue'
//import _ from 'lodash'
let appData = {
	task : {
		taskId:'',
		cover:'',
		videoName:'',
		srtState:'',
		duration:0,
		orgName:''
	},
	video:{},
	checkResult : {
		username : '',
		token : '',
		videoId:'',
		diffculty:1,
		ability:1,
		attitude:1,
		action:0,
		actionTxt:'',
		opinion:'',
		idea:'TesT',
		sign:'',
		nickname:'',
		version : '1.0.99',
		checkMarks:'%5B%5D'
	},
	diffculty:[
		{
			value:1,
			text:'任务几乎没难度，几乎没有低频词汇、惯用法、快语速、长难句等'
		},
		{
			value:2,
			text:'任务有些挑战，词汇、词组、语速、句长等某方面有挑战，语言水平一般的译者会较难胜任'
		},
		{
			value:3,
			text:'任务高难度，词汇、词组、语速、句长等方面在全篇范围有高难挑战，语言水平较好的译者也会觉得相当困难'
		}
	],
	ability:[
		{
			value:1,
			text:'基本无法接受，明显语言能力较差，存在较多的低级错误或者错漏译'
		},
		{
			value:2,
			text:'语言能力一般，大部分都是正确的，但不够纯熟或流畅'
		},
		{
			value:3,
			text:'语言运用能力很强，原文正确完善，译文通顺流畅'
		}
	],
	attitude:[
		{
			value:1,
			text:'基本无法接受，译者明显有应付和糊弄的态度'
		},
		{
			value:2,
			text:'译者还算负责，但能看出有点草率的痕迹，总体能接受'
		},
		{
			value:3,
			text:'译者的责任心很强，对任务有着一丝不苟的精神，是学习的榜样'
		}
	],
	onSubmit : false
};
let getVideo = function(videoId,username,token){
	let url = 'http://m.yxgapp.com/d/mooc/GetVideo.json';
	let data={
		username:username,
		token:token,
		videoId:videoId
	}
	$.get(url,data,function(data){
		if(data.result.result && data.video){
			appData.video = data.video;
			appData.video.enName = util.cutString(appData.video.enName,80);
			//console.log(appData.task.cover)
		}else{
			window.Native.showToast('视频信息获取错误');
			window.Native.closePage();
		}
	},'json');
};

let getTaskInfo = function(taskId,username,token){
	let url = 'http://m.yxgapp.com/d/mooc/GetTaskColumn.json';
	let data={
		username:username,
		token:token,
		taskId:taskId
	}
	return $.get(url,data,function(data){
		if(data.result.result && data.task){
			appData.task.cover = util.getThumbor(data.task.iconUrl,300,180);
			appData.task.videoName = data.task.name.split('：')[1].replace('《','').replace('》','');
			appData.task.srtState = data.task.name.split('：')[0];
			appData.task.duration = util.countDuration(data.task.additional.duration);
			appData.task.orgName = data.task.additional.orgName;
			appData.checkResult.videoId = data.task.additional.videoId;
			//window.bridgePara.videoId = data.task.additional.videoId;
			util.hideSpiner();
			//console.log(appData.task.cover)
		}else{
			window.Native.showToast('任务信息获取错误');
			window.Native.closePage();
		}
	},'json');
};

let setTitle = function(){
	let data = {
		username:appData.checkResult.username,
		token:appData.checkResult.token,
		videoId:appData.video.id,
		videoName:appData.video.name
	};
	return $.get('http://m.yxgapp.com/d/mooc/UpdateVideoName.json',data);
};

let setBrief = function(){
	let data = {
		username:appData.checkResult.username,
		token:appData.checkResult.token,
		videoId:appData.video.id,
		brief:appData.video.brief
	};
	return $.get('http://m.yxgapp.com/d/mooc/UpdateVideoBrief.json',data);
};

export default {
  name: 'checkTask',
  created(){
		util.showSpiner();
		let query = this.$route.query;
		appData.task.taskId = query.taskId;
		//appData.checkResult.videoId = query.videoId;
		//getTaskInfo(appData.task.taskId);
		//console.log(appData)

    /*let query = this.$route.query;
    let appId = query.id;
    let template =  leftNavTemp[appId];
    appData.appId = appId;

    if(template){
      this.$options.template = template;
    }else{
      this.$options.template = "<div>没有管理的内容</div>";
    }

    this.$router.push("/apphome/dashboard?id="+appId);*/
    //this.$options.template = template;
  },
  mounted(){
		//console.log(window.Native.getToken())
		try{
			if(!window.Native){
				util.reportBug('Native Error');
			}
			window.Native.setTitle('任务审核')
			appData.checkResult.username = window.Native.getUsername();
			//window.Native.showToast(appData.checkResult.username+' ');
			appData.checkResult.token = window.Native.getToken();
			//window.Native.showToast(appData.checkResult.token+'');
			getTaskInfo(appData.task.taskId,appData.checkResult.username,appData.checkResult.token).then(function(){
				getVideo(appData.checkResult.videoId,appData.checkResult.username,appData.checkResult.token)
			});
		}catch(e){
			util.reportBug(e);
		}
		console.log(appData)
  },
	updated(){
		//console.log(appData)
	},
  methods:{
		setScore : function(type,value){
			appData.checkResult[type]=value;
		},
		setResult : function(value){
			appData.checkResult.action = value;
			if(value == 1){
				appData.checkResult.actionTxt = '审核通过';
			}else{
				appData.checkResult.actionTxt = '审核打回';
			}
		},
		submit : function(){
			try{
				//console.log(appData.checkResult)
				//if(appData.onSubmit == false){
					//appData.onSubmit = true;

					if($.trim(appData.checkResult.sign)==''){
						window.Native.showToast('请填写审核员签名');
						//appData.onSubmit = false;
						return
					}else{
						appData.checkResult.nickname = encodeURIComponent($.trim(appData.checkResult.sign));
					}
					if($.trim(appData.checkResult.opinion)==''){
						window.Native.showToast('请填写审核意见');
						//appData.onSubmit = false;
						return
					}else{
						appData.checkResult.idea = encodeURIComponent($.trim(appData.checkResult.opinion) + '\n' + $.trim(appData.checkResult.sign));
						//window.Native.showToast($.trim(appData.checkResult.opinion) + '\n' + $.trim(appData.checkResult.sign))
					}
					//验证处理结论
					if(appData.checkResult.action==0){
						window.Native.showToast('请选择处理结论');
						//appData.onSubmit = false;
						return
					}
					if(appData.video.name == ''){
						window.Native.showToast('请填写视频标题');
						return
					}
					if(appData.video.brief == ''){
						window.Native.showToast('请填写视频简介');
						return
					}
					//window.bridgePara.videoId = appData.checkResult.videoId;
					let checkMarks='';
					if(iOSAndJSAndAndroidCompatible.checkBrowserForIOS()=='ios'){
						window.Native.getSubtitleCheckMark(appData.checkResult.videoId,function(data){
							checkMarks = data;
							//if(appData.checkResult.idea.indexOf('TesT')==0){
							//window.Native.showToast('Marks == '+ checkMarks);
							//util.reportBug('cm:::'+data);
							if(checkMarks !='' && checkMarks != undefined){
								appData.checkResult.checkMarks = encodeURIComponent(checkMarks);
							}
							util.reportBug('cm2ios:::'+appData.checkResult.checkMarks);
						});
					}else{
						checkMarks = window.Native.getSubtitleCheckMark(appData.checkResult.videoId);
						if(checkMarks !='' && checkMarks != undefined){
							appData.checkResult.checkMarks = encodeURIComponent(checkMarks);
							util.reportBug('cm2and:::'+appData.checkResult.checkMarks);
						}
					}

						//if(appData.checkResult.idea.indexOf('TesT')==0){
						//	appData.onSubmit = false;
						//	return
						//}

						$.confirm({
	            title: false,
	            type: 'dark',
	            theme:'material',
	            closeIcon: false,
	            content: '<p>请确认审核结果，本次审核的结果是 <b>'+ appData.checkResult.actionTxt +'</b></p>',
	            buttons: {
	              close: {
	                text: '再看看',
	                btnClass: 'btn-default',
	                action: function(){
										//appData.onSubmit = false;
										return
	                }
	              },
								confirm: {
	                text: '确定提交',
	                btnClass: 'btn-danger',
	                action: function(){
										util.showSpiner();
										$.when(setTitle(),setBrief()).then(function(){
											let url = 'http://m.yxgapp.com/d/mooc/PutCheckResult.json';
											$.post(url,appData.checkResult,function(data){
												if(data.result.result){
													//window.bridgePara.checkResult = appData.checkResult.action;
													window.Native.subtitleCheckResult(appData.checkResult.action);
													window.Native.showToast('审核任务提交成功');
													window.Native.closePage();
												}else{
													window.Native.showToast('任务提交失败，请稍后再试');
													util.hideSpiner();
													//appData.onSubmit = false;
												}
											},'json');
											console.log('submit')
										});
	                }
	              }
	            }
		        });
						//}
				//}else{
				//	return
				//}
			}catch(e){
				util.reportBug(e);
			}
		}
  },
  data () {
    return appData
  }
}
</script>
<style lang="less">
.tip{padding: .5rem 1rem; font-size: .7rem;}
.form-group{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 1rem;
	label{
		text-align: center;
		font-size: .65rem;
		margin-bottom: 0;
		small{
			font-size: .5rem;
		}
	}
	.col-xs-3,.col-xs-9{
		padding: 0;
		float: left;
	}
}
</style>
