<template>
  <router-view name="main">
  </router-view>
</template>
<script>
/*
import $ from 'jquery';

$(function(){
  location.hash = "/";
});
*/
let appData =  {

}

export default {
  name: 'entry',
  data () {
    return appData;
  },
  created(){

  },
  mounted(){
    let _w = window.innerWidth;
    let rem = _w / 360 * 20;
    $('html').css('font-size',_w / 360 * 20 + 'px');
  }
}
</script>

<style lang="less" >
@import "../assets/css/base.less";
</style>
