<template>
<div id="main">
	<!--<link rel="stylesheet" type="text/css" href="css/cloud-admin.css" />
	<link rel="stylesheet" type="text/css" href="css/default.css" />-->
	<header class="navbar clearfix" id="header">
		<div class="container">
				<div class="navbar-brand" style="color:#fff;">
					<!-- COMPANY LOGO
					<a href="index.html">
						<img src="images/logo/logo.png" alt="Cloud Admin Logo" class="img-responsive hide" height="30" width="120">
					</a>-->
					{{title}}
					<!-- /COMPANY LOGO -->
					<div id="sidebar-collapse" class="sidebar-collapse btn">
						<i class="fa fa-bars" data-icon1="fa fa-bars" data-icon2="fa fa-bars"></i>
					</div>
				</div>
				<!-- BEGIN TOP NAVIGATION MENU -->
				<ul class="nav navbar-nav pull-right">
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown user" id="header-user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img alt="" :src="avatar" />
							<div>
								<p class="username">{{nickname}}</p>
								<p>{{roleStr}}</p>
							</div>
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#" @click="logout"><i class="fa fa-power-off"></i> 注销</a></li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
				<!-- END TOP NAVIGATION MENU -->
		</div>
	</header>
	<section id="page">
		<div id="sidebar" class="sidebar">
			<div class="sidebar-menu nav-collapse">
				<ul>
					<li class="active">
						<a href="index.html">
						<i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">控制台</span>
						<span class="selected"></span>
						</a>
					</li>
					<li class="has-sub">
						<a href="javascript:;" class="">
						<i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">内容推荐</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub">
							<li><a class="" href="elements.html"><span class="sub-menu-text">视频推荐</span></a></li>
							<li><a class="" href="notifications.html"><span class="sub-menu-text">频道推荐</span></a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;" class="">
						<i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">小分队管理</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub">
							<li><a class="" href="elements.html"><span class="sub-menu-text">成员管理</span></a></li>
							<li><a class="" href="notifications.html"><span class="sub-menu-text">积分分配</span></a></li>
							<li><a class="" href="notifications.html"><span class="sub-menu-text">积分流水</span></a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;" class="">
						<i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">译者</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub">
							<li><a class="" href="elements.html"><span class="sub-menu-text">打轴任务</span></a></li>
							<li><a class="" href="notifications.html"><span class="sub-menu-text">翻译任务</span></a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;" class="">
						<i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">审核员</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub">
							<li><a class="" href="elements.html"><span class="sub-menu-text">所有任务</span></a></li>
							<li><a class="" href="notifications.html"><span class="sub-menu-text">我的任务</span></a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<router-view name="page">
	    </router-view>
	</section>

</div>
</template>
<script>
import util from './util.vue'
import '../../css/cloud-admin.css'
import '../../css/default.css'

let appData = {
	avatar:'',
	nickname:'',
	roleStr:'',
	title:'译学馆内容上传平台'
}
let getUserInfo = function(username,token,callback){
	let _this = this;
	//let action = 'GetUserInfo';
	//let url = 'http://m.yxgapp.com/d/if/account.jhtml';
	let url = 'http://m.yxgapp.com/d/mooc/GetUserExtInfo.json';
	//let url_sign = url + '?action='+ action +'&username='+ username;
	let post = {
		//action : action,
		username : username,
		//sign : util.countSign(url_sign,action)
		token : token
	};
	$.get(url,post,function(data){
		callback(data);
		/*if(data.result.result){
			appData.avatar = data.user.avatarUrl;
			appData.nickname = data.user.nickname;
			window.sessionStorage.setItem('uid',data.user.id);
			console.log(appData)
			//_this.$router.push('/index/submitVideo')
		}else{
			alert('出错了，请重新登录！')
			dologout()
			//_this.$router.push('/')
		}*/
	},'json');
}
let getUserRolePermission = function(username,token,roleId,callback){
	let url = 'http://m.yxgapp.com/d/mooc/getUserRolePermission.json';
	let data = {
		username : username,
		token : token,
		roleId : roleId
	};
	$.get(url,data,function(d){
		//if(data.result.result){
			//sessionStorage.setItem('recommendPermission',JSON.stringify(data.recommendPermission));
			callback(d);
		//}
	},'json');
}

export default {
  name: 'index',
  created(){
	  let token = window.sessionStorage.getItem('token');
	  let userId = window.sessionStorage.getItem('userId');
		appData.avatar = sessionStorage.getItem('avatarUrl');
		appData.nickname = sessionStorage.getItem('nickname');
	  let _this = this;

	  if((token && userId) != null && (token && userId) != '' ){
		  getUserInfo(userId,token,function(data){
			  if(data.result.result){
		  			sessionStorage.setItem('uid',data.userExtInfo.id);
						//sessionStorage.setItem('recommendPermission',data.user.recommendPermission);
						sessionStorage.setItem('userExtInfo',JSON.stringify(data.userExtInfo));
						appData.roleStr = data.userExtInfo.roleList[0].name;
						getUserRolePermission(userId,token,data.userExtInfo.roleList[0].id,function(data){
							if(data.result.result){
								if(data.recommendPermission.length > 0){
									sessionStorage.setItem('recommendPermission',JSON.stringify(data.recommendPermission));
									_this.$router.push('/index/submitVideo')
								}else{
									util.noModel(_this);
								}
							}else{
								console.log('Get Permission Error')
								util.dologout(_this);
							}
							//_this.$router.push('/index/submitVideo')
						});
		  			//console.log(appData)
		  			//_this.$router.push('/index/submitVideo')
		  		}else{
		  			alert('出错了，请重新登录！')
		  			util.dologout(_this);
				}
		  });
			//getUserRolePermission(userId,token);
	  }else{
		  util.dologout(this)
	  }

    /*let query = this.$route.query;
    let appId = query.id;
    let template =  leftNavTemp[appId];
    appData.appId = appId;

    if(template){
      this.$options.template = template;
    }else{
      this.$options.template = "<div>没有管理的内容</div>";
    }

    this.$router.push("/apphome/dashboard?id="+appId);*/
    //this.$options.template = template;
  },
  mounted(){

  },
  methods:{
      logout : function(){
		  util.dologout(this)
	  }
  },
  data () {
    return appData
  }
}
</script>
<style lang="less">
#main{
	height: 100%;
	background: #f4f4f4;
}
#main-content{position: absolute; left: 250px; right: 0; bottom: 0 ;top:61px; border-left: 1px solid #cdd2d2;}
</style>
