<template>
<div class="main">
	<div class="clearfix userinfo">
    <div class="user">
			<img class="avatar" :src="userExtInfo.avatarUrl?userExtInfo.avatarUrl:''"  @click="goUserPage">
			<div>
				<h4>{{userExtInfo.nickname}}</h4>
				<!-- <img v-if="userExtInfo.sign==1" src="img/sign.jpg"><img class="icon" :src="userExtInfo.groupIco"> -->
				<a @click="goAccount" v-if="page.showAccount">我的收入</a>
			</div>
		</div>
		<div class="level">
			<span><i>Lv. {{userExtInfo.level}}</i></span>
			<div class="progress">
  			<div class="progress-bar" role="progressbar" :style="'width:'+ userExtInfo.ratio +'%;'"></div>
				<span :class="{'white':userExtInfo.ratio>=60}">{{userExtInfo.ratio}}%</span>
			</div>
		</div>
		<div class="pull-right">
			<a href="http://m.yxgapp.com/d/mooc/ResourceUrl.html?dataId=109"><i class="fa fa-angle-right"></i><span>积分说明</span></a>
		</div>
  </div>
  <div class="lvList">
		<table width="100%">
			<thead>
				<tr>
					<th style="width:3rem;">等级</th>
					<th>特权<span class="pull-right">状态</span></th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(l,index) in levels" v-if="l.right.length >0 ">
					<td class="index">
						<div :class="{'g':index>userExtInfo.level}"></div>
						<span :class="{'blue':index < userExtInfo.level,'red':index==userExtInfo.level,'gray':index > userExtInfo.level}">{{index}}</span>
						<div :class="{'g':index>=userExtInfo.level}"></div>
					</td>
					<td class="btn" colspan="2">
						<table width="100%">
							<tr v-for="r in l.right" :class="{'disabled':index > userExtInfo.level}">
								<td v-html="r.text" @click="showHelp(r.intro)"></td>
								<td class="btn-td">
									<!-- <span v-if="index<=userExtInfo.level && r.type==1">开启</span>
									<span v-if="index>userExtInfo.level && r.type==1">未开启</span> -->
									<span v-if="r.type==1">{{r.btnText}}</span>
									<span v-if="r.type==2" :class="{'underline':r.status==1 && index<=userExtInfo.level}" @click="submitRight(r.id,(r.status==1 && index<=userExtInfo.level))">{{r.btnText}}</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
  </div>
</div>
</template>
<style lang="less">
	.main{
    .userinfo{
			border-bottom: #ddd 1px solid;
			.user{padding:.4rem .5rem; width: 60%; float: left;
				img.avatar{float: left; width: 2.75rem; border-radius: 50%; }
				> div{float: left; padding-left: 1rem;
					h4{font-size: .8rem; margin: 0; padding-top: .25rem;}
					img{width: 1rem; margin-top: .5rem; margin-right: .5rem;}
					img.icon{border-radius: 50%; float: left;}
					a{font-size: .6rem; color:#EE2A52; text-decoration: underline; line-height: 1rem; float: left; padding-top: .6rem;}
				}
			}
			.pull-right{text-align: center; padding-right: .5rem;
				a{font-size: 2rem; color:#aaa;
					span{display: block;font-size: .4rem; margin-top: -0.5rem;}
				}
			}
			.level{float:left; width: 20%; padding-top: .5rem; text-align: center;
				i{font-size: .8rem; color: #EE2A52; font-weight: bold;}
				.progress{margin-top: .25rem; height: .4rem; border-radius: 0; font-size: .35rem; margin-bottom: 0; position: relative;
					span{position: absolute; width: 40px; left: 50%; margin-left: -20px;}
					.white{color:#fff;}
					.progress-bar{background: #3283D5;}
				}
			}
    }
		.lvList{
			th{color:#999; font-weight: normal; border-bottom:#ddd 1px solid;
				span{margin-right: 1.05rem;}
			}
			tr.disabled{color: #999;}
			th,td{ padding:.5rem .5rem; font-size: .7rem; vertical-align: middle;}
			th,td:active{box-shadow: none;}
			td.index{
				position: relative;
				span{display: block; background-repeat: no-repeat; background-size: 2rem; height: 1.25rem; line-height: 1.35rem; padding-left: 1.1rem; font-size: .5rem; color: #fff; width: 2rem; text-align: center;}
				.blue{background-image: url(../../img/lv_blue.png);}
				.red{background-image: url(../../img/lv_red.png);}
				.gray{background-image: url(../../img/lv_gray.png);}
				.g{background: #999;}
				div{position: absolute; width:2px; background:#666; z-index:-1; left:1.05rem;}
				div:first-child{top:0; bottom: 50%;}
				div:last-child{top:50%; bottom: 0;}
			}
			td.btn{width: 100%; border-bottom: #ddd 1px solid; border-radius: 0;-webkit-tap-highlight-color:rgba(255,255,255,0);
				td{padding: .5rem 0; text-align: left; vertical-align: middle;}
				.btn-td{width: 3.5rem; text-align: center; font-size: .6rem; color:#777;
					span.underline{text-decoration: underline;}
				}
			}
		}
  }
</style>

<script>
import util from './util.vue'
//import _ from 'lodash'
let appData = {
  title:'等级特权',
	para:{
		userId:0,
		token:''
	},
	page:{
		showAccount : 0,
	},
	levels:[],
	userExtInfo:{
		ratio:0,
		groupIco:'',
		sign:0
	},
};
let getRight = function(rightId){
	if(!rightId) return;
	let right = {};
	for(let i=0;i<appData.levels.length;i++){
		appData.levels[i].right.forEach(function(item){
			//console.log(item);
			if(rightId == item.id){
				console.log(item)
				right = item;
			}
		});
	}
	return right
};

let getLevelRight = function(){
	return $.get('http://m.yxgapp.com/d/mooc/getLevelRight.json',appData.para,function(data){
		if(data.result.result){
			appData.levels = data.data;
			appData.levels.forEach(function(level){
				let rights = level.right;
				rights.forEach(function(r){
					if(r.keyword != 'null'){
						console.log(r.keyword)
						r.text= r.text.replace(r.keyword,'<u>'+r.keyword+'</u>');
					}
				});
			});
		}
	});
}

let getUserRequest = function(){
	console.log(appData.para)
	$.get('http://m.yxgapp.com/d/mooc/saveRightRequest.json?action=list',appData.para,function(data){
		data.data.forEach(function(item){
			let right = getRight(item.rightId);
			right.status = 0;
			right.btnText = '申请中';
		});
	},'json');
}

let getUserExtInfo = function(){
	return $.get('http://m.yxgapp.com/d/mooc/GetUserExtInfo.json', appData.para, function(data) {
		if(data.result.result){
			data.userExtInfo.groupIco = '';
			appData.levels.forEach(l=>{
				l.right.forEach(r=>{
					if(r.type==1){
						console.log(l.level)
						console.log(data.userExtInfo.level)
						if(l.level <= data.userExtInfo.level){
							r.btnText ="开启";
						}else{
							r.btnText ="未开启";
						}
					}
				});
			});
			let g = data.userExtInfo.roleList.find(function(x){
				return x.id == 3;
			});
			console.log(g)
			if(g){
				let right = getRight(3);
				right.status = 0;
				right.btnText = '申请成功';
				//appData.levels[5].right[1].status =0;
				//appData.levels[5].right[1].btnText = '申请成功';
			}
			g = data.userExtInfo.roleList.find(function(x){
				return x.id == 7;
			});
			console.log(g)
			if(g){
				let right = getRight(5);
				right.status = 0;
				right.btnText = '申请成功';
				appData.page.showAccount = 1;
				//appData.levels[5].right[1].status =0;
				//appData.levels[5].right[1].btnText = '申请成功';
			}
			if(data.userExtInfo.isEffectTeam == true){
				let right = getRight(19);
				right.status = 0;
				right.btnText = '申请成功';
				appData.page.showAccount = 1;
			}

			let lv = parseInt(data.userExtInfo.level);
			if(lv >= 2){
				let right = getRight(9);
				console.log(right)
				right.status = 0;
				right.btnText = '关闭';
			}
			//console.log(lv)
			data.userExtInfo.ratio = parseInt((data.userExtInfo.exp - appData.levels[lv].minExp)/(appData.levels[lv].maxExp-appData.levels[lv].minExp)*100);
			appData.userExtInfo = data.userExtInfo;
			appData.para.userId = data.userExtInfo.id;
			//console.log(appData.para.userId)
			if(appData.levels[lv].right.length ==0){
				appData.levels[lv].right.push(
					{text:'继续加油，努力升级吧',type:3}
				);
			}
			if(appData.userExtInfo.isReviewTeam==true){
			 	let right = getRight(6);
			 	right.status = 0;
			 	right.btnText = '已加入';
				//appData.levels[10].right[1].status =0;
				//appData.levels[10].right[1].btnText = '已加入';
			}
			//let lv = parseInt(appData.userExtInfo.level);
			//appData.userExtInfo.ratio = parseInt((appData.userExtInfo.exp - appData.levels[lv][0])/(appData.levels[lv][1]-appData.levels[lv][0])*100);
			//获取加入小分队信息
			// if(appData.userExtInfo.subGroupState == 1){
			// 	appData.para.groupId = util.getPara(appData.userExtInfo.groupUrl,'groupId');
			// 	$.get('http://m.yxgapp.com/d/mooc/getGroupBaseInfo.json',appData.para,function(data){
			// 		if(data.result.result){
			// 			appData.userExtInfo.groupIco = util.getThumbor(data.data.logo_url,100,100);
			// 		}
			// 	});
			// }
			//加入小分队信息结束
			getUserRequest();
		}else{
			window.Native.showToast('网络连接错误，请稍后再试');
			window.Native.closePage();
		}
		console.log('getUserExtInfo ok')
	},'json');
};

export default {
  name: 'levelRight',
  created(){
		util.showSpiner();
		let query = this.$route.query;
		window.Native.setTitle(appData.title);
		appData.para.token = window.Native.getToken();
		appData.para.username = window.Native.getUsername();
		getLevelRight().then(getUserExtInfo()).then(function(){
				$('td.index:first').find('div:first').remove();
				$('td.index:last').find('div:last').remove();
				//getUserRequest();
				util.hideSpiner();
		});

		//appData.para.userId = query.userId;
  },
  mounted(){
		//util.showSpiner();
		//util.hideSpiner()

  },
	updated(){
		//console.log(appData)
	},
  methods:{
		showHelp(help){
			if(help=='null') return;
			//let help = '<b>新手区：</b>0-1级专属的任务区，主要以儿童类、英语学习类任务为主，视频语速较慢，单词较简单，任务积分为标准任务分值的0.5倍<br><br><b>综合区：</b>译者等级2级以上开放，包含各种类型视频，是认领任务的主要区域。标准任务分值（听录和翻译每句1分，听译每句2分）<br><br><b>高难区：</b>译者等级4级以上开放，任务的语速较快，词汇量较大，是标准任务分值的2倍<br><br><b>出海区：</b>译者等级5级以上开放，目前为中译英任务，难度较大，分值为标准任务分值<br><br><b>修补区：</b>译者等级7级以上开放，修补区任务为多次审核不通过无人认领的烂尾视频，分值为标准任务分值的2倍<br><br><b>加速区：</b>译者等级8级以上开放，需要在一定时间内完成并通过审核的任务，分值为标准任务分值的2倍';
			$.alert({
				type: 'dark',
				theme:'material',
				closeIcon: true,
		    title: false,
		    content: help,
				buttons: {
					close: {
						text: '知道了',
						btnClass: 'btn-primary',
					}
				}
			});
    },
		submitRight(rightId,status){
			//console.log(name)
			if(status == 0) return;
			let route = '/submitRight?rightId='+ rightId;
			this.$router.push(route);
		},
		goUserPage(){
			let url = 'http://m.yxgapp.com/d/mooc/TranslatorIdentity.html?username='+appData.para.username;
			window.location.href = url;
		},
		goAccount(){
			this.$router.push('/myAccount');
		}
  },
  data () {
    return appData
  }
}
</script>
