<style lang="less">
  div.main{height: 100%; border: 0; position: relative;
    .account{
      >div{width: 6rem; float: left; text-align: center; height: 5.5rem; color: #fff; padding-bottom: 1rem; background: #ff2951; display: flex; flex-direction: column; justify-content: center;
        h4{font-size: .6rem;
          span{border: #fff 1px solid; width: .8rem; border-radius: 50%; height: .8rem; margin-left: .25rem; font-weight: bold; display: flex; justify-content: center; align-items: center; position: absolute; right:.8rem; margin-top: -0.8rem;}
        }
        p{font-size: 1.3rem; font-weight: bold;
          span{font-size: .8rem;}
        }
      }
      >p{font-size: .6rem; color: #fff; width: 100%; position: absolute; text-align: center; top: 4.2rem; font-weight: bold;}
    }
    .journal{position: absolute; top:5.5rem; bottom: 2rem; left:0; right: 0; overflow-y: scroll;
      tr{border-bottom: #eee 1px solid;
        td{padding: .5rem .5rem; vertical-align: middle;
          p{color:#999; font-size: .6rem;}
          p.brief{color:#333; font-size: .6rem;}
          p.num{font-size: 1rem;}
          p.income{color:#ff2951;}
          p.withdraw{color:#29ff51;}
        }
        td.text-center{width: 3rem;
          p.status{font-size: .5rem;}
          p.f{color:#2ea544;}
          p.b{color:#0085fa;}
        }
      }
      .nodata{text-align: center; font-size: .8rem; padding-top: 1.5rem;}
    }
    .fix-bottom{position: fixed; bottom: 0; background: #ff2951; width: 100%; color: #fff; text-align: center; padding: .45rem; font-size: .8rem;}
    .gray{background: #aaa; font-size: .7rem;}
  }
</style>
<template>
  <div class="main">
    <div class="account">
      <div>
        <p><span>￥</span>{{(account.availableAccount/100).toFixed(2)}}</p>
        <h4>账户余额</h4>
      </div>
      <div>
        <p><span>￥</span>{{(account.persistAccount/100).toFixed(2)}}</p>
        <h4>待结算</h4>
      </div>
      <div @click="showHelp">
        <p>{{page.bizPersonalCoefficient}}<span>%</span></p>
        <h4>商翻系数<span>?</span></h4>
      </div>
      <p @click="editAlipay">我的支付宝：<span v-if="page.alipay">{{page.alipay}} 点击修改</span><span v-if="!page.alipay">居然还没有填写 点击填写</span></p>
    </div>
    <div class="journal">
      <table width="100%">
        <tr v-for="l in list">
          <td>
            <p>{{l.upTime}}</p>
            <!-- <p class="brief">{{l.bStatus==0?'未结算 ':'已结算 '}}{{l.taskName}}<span v-if="l.taskName && l.comment"> - </span>{{l.comment}}</p> -->
            <p class="brief">{{l.taskName}}</p>
          </td>
          <td class="text-center">
            <p class="num" :class="[l.bType == 0?'income':'withdraw']">{{(l.bAmount/100).toFixed(2)}}</p>
            <p class="status" :class="{'f':l.bStatus==1,'b':l.bStatus==2}"><span v-if="l.bStatus==1">已结算</span><span v-if="l.bStatus==0">未结算</span><span v-if="l.bStatus==2">已取消</span></p>
          </td>
        </tr>
      </table>
      <div class="nodata" v-if="list.length ==0">您还没有收入哦～～</div>
    </div>
    <div class="fix-bottom" v-if="account.availableAccount>=5000" @click="withdraw">
      <p>我要提现</p>
    </div>
    <!-- <div class="fix-bottom" @click="withdraw">
      <p>我要提现</p>
    </div> -->
    <div class="fix-bottom gray" v-if="account.availableAccount<5000">
      <p>账户余额超过50元才可以提现哦</p>
    </div>
  </div>
</template>
<script>
import api from './api.vue'
import util from './util.vue'

let appData = {
  title:'我的收入',
	para:{
		userId:0,
		token:'',
    username:'',
	},
  page:{
    bizPersonalCoefficient:100,
    alipay:'',
  },
  account:{},
  list:[],
};

export default {
  name: 'myAccount',
  created(){
		//util.showSpiner();
		window.Native.setTitle(appData.title);
		appData.para.token = window.Native.getToken();
		appData.para.username = window.Native.getUsername();
    api.getUserExtInfo(appData.para.username,appData.para.token).done(function(data){
      //console.log(data)
      data = JSON.parse(data);
      if(data.result.result==true){
        appData.para.userId = data.userExtInfo.userId;
        appData.page.bizPersonalCoefficient = data.userExtInfo.bizPersonalCoefficient;
        api.getUserJournal(appData.para.userId,appData.para.token).done(function(data){
           if(data.result.result){
             appData.account = data.account;
             appData.list = data.list;
             console.log(appData)
             api.myAlipay(appData.para.userId,appData.para.token).done(data=>{
               if(data.result.result){
                 appData.page.alipay = data.alipay;
               }else{
                 window.Native.showToast('获取信息错误，请稍候再试');
                 window.Native.closePage();
               }
             });
           }
        });
      }
    });
  },
  mounted(){
    //this.withdraw()
  },
	updated(){
		//console.log(appData)
	},
  methods:{
		showHelp(){
			//if(help=='null') return;
			let help = '该系数代表着您在成为签约译者后的贡献情况，影响该系数的参数包括：完成量、时效性、通过质量等。该系数由译学馆运营人员根据译者的数据统计情况来不定期调整。最终收益是某条任务的基础收益乘以商翻系数来确定的。';
			$.alert({
				type: 'dark',
				theme:'material',
				closeIcon: true,
		    title: false,
		    content: help,
				buttons: {
					close: {
						text: '知道了',
						btnClass: 'btn-primary',
					}
				}
			});
    },
    editAlipay(){
      $.confirm({
				type: 'dark',
				theme:'material',
				closeIcon: true,
		    title: false,
		    content: '<p>请输入您的支付宝帐号</p><div style="padding-top:5px;"><input type="text" class="form-control" id="myAlipay" value="'+ appData.page.alipay +'"></div>',
				buttons: {
					cancel: {
						text: '取消',
						btnClass: 'btn-default',
					},
          confirm:{
            text:'确定',
            btnClass : 'btn-success',
            action:function(){
              let myAlipay = $('#myAlipay').val();
              if(myAlipay != ''){
                //alert('abv')
                api.myAlipay(appData.para.userId,appData.para.token,myAlipay).done(data=>{
                  if(data.result.result){
                    appData.page.alipay = myAlipay;
                    window.Native.showToast('保存成功');
                  }else{
                    window.Native.showToast('保存失败，请稍后再试');
                  }
                });
              }else{
                window.Native.showToast('请填写支付宝帐号');
              }
            }
          }
				}
			});
    },
    withdraw(){
      let msg = '<p><b>温馨提示：</b>由于我们是人工方式通过支付宝转账，为了降低工作量，我们将在每个月底（25号-30号之间）集中处理一次，如果您申请时错过了这个时间，最终到账会在下个月。</p><p>您正在申请提现账户余额，总金额'+ appData.account.availableAccount/100 +'元，是否继续？</p>';
      if(appData.page.alipay == '' || appData.page.alipay == null){
        window.Native.showToast('请先填写支付宝帐号再来提现吧');
      }else{
        $.confirm({
          type: 'dark',
          theme:'material',
          closeIcon: true,
          title: false,
          content: msg,
          buttons: {
            cancel: {
              text: '取消',
              btnClass: 'btn-default',
            },
            confirm:{
              text:'确定',
              btnClass : 'btn-success',
              action:function(){
                api.userWithdraw(appData.para.userId,appData.para.token).done(data=>{
                  console.log(data)
                  if(data.result.result){
                    window.Native.showToast('提现申请成功，请耐心等待款项到账');
                    window.closePage();
                  }else{
                    window.Native.showToast('申请失败，请稍后再试');
                  }
                });
              }
            }
          }
        });
      }
    }
  },
  data () {
    return appData
  }
}
</script>
