<template>
<div id="msgbox">
  <i class="fa fa-ban"></i>
	<h4>出错了，您访问的页面不存在</h4>
</div>
</template>
<script>
  import util from './util.vue'

  export default {
    name:'noright',
    methods:{
    },
    mounted(){
      util.hideSpiner();
    }
  }
</script>
<style lang="less">
  #msgbox{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    i{
      font-size: 6rem;
      margin-bottom: 1.5rem;
    }
    h4{
      font-size:1rem;
    }
  }
</style>
