<template>
<div id="main">
	<section class="clearfix">
		<div class="thumb pull-left" :style="'background-image:url('+taskInfo.cover+')'">
			<span>{{taskInfo.duration}}</span>
		</div>
		<div class="title pull-right">
			<h2>{{taskInfo.name}}</h2>
			<p>{{srtState}} | {{taskInfo.orgName}}</p>
		</div>
	</section>
	<div class="line"></div>
	<section v-if="taskInfo.finish==true" class="submitForm clearfix">
		<div id="tips">您可以为本视频重新改写一个中文标题<br><span v-if="para.recordType >1 ">注意：请确保标题翻译正确后再提交，否则将会被快速打回</span></div>
		<div class="form-group">
			<label class="col-xs-3 control-label">标 题<br><small>24字以内</small></label>
			<div class="col-xs-9">
				<input type="text" class="form-control" maxlength="24" placeholder="中文标题" :value="taskInfo.name" id="vname">
			</div>
		</div>
		<div class="form-group" v-if="para.recordType >1 ">
			<label class="col-xs-3 control-label">简 介<br><small>200字以内</small></label>
			<div class="col-xs-9">
				<textarea class="form-control" maxlength="200" placeholder="中文简介" id="vbrief">{{taskInfo.brief}}</textarea>
			</div>
		</div>
		<div class="line"></div>
	</section>
	<section v-html="tips" class="showtip">
	</section>
	<section v-show="taskInfo.action==5">
		<h3>
			<div></div>
			审核意见
		</h3>
		<p v-html="taskInfo.failedReason" class="cm"></p>
	</section>
	<section v-show="taskInfo.action==5">
		<h3>
			<div></div>
			修改建议
		</h3>
		<p v-if="typeof(taskInfo.checkMarks)=='object'" v-for="m in taskInfo.checkMarks" class="cm2">[{{getTime(m.startTime)}}-{{getTime(m.endTime)}}] {{m.content}}</p>
		<p v-if="typeof(taskInfo.checkMarks)=='string'" v-html="taskInfo.checkMarks" class="cm"></p>
	</section>
	<section class="fix-bottom">
		<p class="text-center confirm">{{buttonTip}}</p>
		<div class="btnCon">
			<button v-for="b in buttons" :class="b.class" @click="doAction(b.action)">{{b.text}}</button>
		</div>
	</section>
</div>
</template>
<script>
import util from './util.vue'
//import _ from 'lodash'
let appData = {
	para : {
		username:'',
		token:'',
		videoId:'',
		action:0,
		recordType:0,
		taskLanguage:'',
		failedReason:'',
		state:0,
		replayState:false,
		checkMarks:'',
		point:0,
		//ver:''
	},
	taskInfo : {},
	srtState : '',
	tips : '',
	userExtInfo : {},
	buttons : [],
	buttonTip : '',
	submitTip : ''
};

let getTaskInfo = function(){
	console.log(appData.para)
	let url = 'http://m.yxgapp.com/d/mooc/getOperateTask.json';
	return $.get(url,appData.para,function(data){
		if(data.result.result){
			// appData.task.cover = util.getThumbor(data.task.iconUrl,300,180);
			// appData.task.videoName = data.task.name.split('：')[1].replace('《','').replace('》','');
			// appData.task.srtState = data.task.name.split('：')[0];
			// appData.task.duration = util.countDuration(data.task.additional.duration);
			// appData.task.orgName = data.task.additional.orgName;
			// appData.checkResult.videoId = data.task.additional.videoId;
			//console.log(appData.task.cover)
			appData.taskInfo = data.data;
			appData.para.taskId = data.data.taskId;
			appData.taskInfo.duration = util.countDuration(appData.taskInfo.duration);
			//resolve();
			//initData();
			//console.log(appData)
		}else{
			window.Native.showToast('任务信息获取错误');
			window.Native.closePage();
		}
		console.log('getTaskInfo ok')
	},'json');
};

let getPoint = function(){
	return $.get('http://m.yxgapp.com/d/mooc/getUserScore.json', appData.para, function(data) {
		if(data.result.result){
			appData.para.point = data.score;
		}else{
			console.log('get point error');
			//window.Native.closePage();
		}
	},'json');
};

let getUserExtInfo = function(){
	return $.get('http://m.yxgapp.com/d/mooc/GetUserExtInfo.json', appData.para, function(data) {
		if(data.result.result){
			appData.para.userId = data.userExtInfo.id;
			appData.userExtInfo = data.userExtInfo;
		}else{
			window.Native.showToast('网络连接错误，请稍后再试');
			window.Native.closePage();
		}
		console.log('getUserExtInfo ok')
	},'json');
};
let checkTaskProtectState = function() {
		$.get('http://m.yxgapp.com/d/mooc/GetTaskProtectState.json', appData.para,function(res) {
				appData.taskInfo.protectState = res.protectState;
				console.log(appData)
		},'json');
};

let getSubtitleCheck = function(){
	return $.get('http://m.yxgapp.com/d/mooc/getTaskSubModify.json',appData.para,function(data){
		if(data.result.result){
			appData.taskInfo.subtitleNum = data.modify;
		}
	},'json');
}

// let getSubtitleCheck = function(){
// 	let d = $.Deferred();
// 	if(appData.para.ver < 1060500){
// 		appData.taskInfo.subtitleNum = 1;
// 		d.resolve();
// 	}else{
// 		if(iOSAndJSAndAndroidCompatible.checkBrowserForIOS()=='ios'){
// 			window.Native.getTranslateInfo(appData.taskInfo.videoId,function(data){
// 				data = JSON.parse(data);
// 				appData.taskInfo.subtitleNum = data.subtitleNum;
// 				d.resolve();
// 			});
// 		}else{
// 			let data = window.Native.getTranslateInfo(appData.taskInfo.videoId);
// 			data = JSON.parse(data);
// 			appData.taskInfo.subtitleNum = data.subtitleNum;
// 			d.resolve();
// 		}
// 	}
// 	console.log('checkSubtitle')
// 	//console.log(d.promise)
// 	return(d.promise())
// };

let setTitle = function(){
	if($('#vname').is(':visible') == true){
		appData.para.videoName = $.trim($('#vname').val());
		return $.get('http://m.yxgapp.com/d/mooc/UpdateVideoName.json',appData.para);
	}else{
		let d = $.Deferred();
		d.resolve();
		return (d.promise());
	}
};

let setBrief = function(){
	if($('#vbrief').is(':visible') == true){
		appData.para.brief = $.trim($('#vbrief').val());;
		return $.get('http://m.yxgapp.com/d/mooc/UpdateVideoBrief.json',appData.para);
	}else{
		let d = $.Deferred();
		d.resolve();
		return (d.promise());
	}
};

let initData = function(){
	console.log('init')
	console.log(appData.taskInfo.recordType)
	let srtState = '';
	switch (parseInt(appData.taskInfo.recordType)) {
		case 1:
			srtState = '原文字幕制作';
			break;
		case 2:
			srtState = '译文字幕制作';
			break;
		case 3:
			srtState = '听译字幕制作';
			break;
		case 4:
      if(appData.taskInfo.taskRecordType==1){
      	srtState = '原文字幕制作';
      }
			if(appData.taskInfo.taskRecordType==2){
        srtState = '译文字幕制作';
      }
			if(appData.taskInfo.taskRecordType==3){
        srtState = '听译字幕制作';
      }
      break;
	}
	appData.srtState = srtState;

	let tips = '';
	let confirmText = '';
	let buttons = [];
	switch (appData.taskInfo.action) {
		case 1:
			if(appData.taskInfo.recordType == 4){
				tips = '<ul class="taskTip"><li>请注意，审核注意事项，以下情节较轻则警告，严重则打回：</li><li>时轴断句语义合理，长度为单条时轴的单词数不超过15个</li><li>原文字幕重点关注大小写是否错误，拼写是否错误，语义明显不合理，标点是否符合要求（英文标点+空格）</li><li>中文翻译关注语义是否合理，行文是否流畅，标点是否符合要求注意把握打回尺度，兼顾保护译者积极性（60%）和确保产出字幕的质量（40%），如果容易修改，尽量帮译者校正。</li></ul>';
				appData.buttons=[
					{text:'默默地走开',class:'btn btn-default',action:0},
					{text:'开始审核',class:'btn btn-default active',action:2}
				];
				appData.buttonTip = '请确定是否认领';
			}else{
				if(appData.userExtInfo.ifCanCreateTask == 0){
					tips = '<ul class="taskTip"><li>抱歉，您可以同时认领的任务数已达到上限，无法再认领新任务。</li><li>请提交已认领的任务后再来认领。谢谢！</li></ul>';
					appData.buttons=[
						{text:'知道了',class:'btn btn-default',action:0}
					];
				}else{
					tips = '<ul class="taskTip"><li>请仔细阅读<a href="http://m.yxgapp.com/d/mooc/ResourceUrl.html?dataId=14&targetName=翻译规范">翻译规范</a>，确保符合规范要求</li><li>当前任务您应输入的是<b>'+ appData.para.taskLanguage +'</b></li><li>您需要在<b>'+ (appData.taskInfo.totalD>0?appData.taskInfo.totalD+'天':'') + appData.taskInfo.totalH + '小时' + appData.taskInfo.totalMin + '分钟'+'</b>内完成任务并提交</li><li>如果连续<b>48小时</b>一句也没做，任务会自动失败</li></ul>';
					appData.buttons=[
						{text:'默默地走开',class:'btn btn-default',action:0},
						{text:'坚定地认领',class:'btn btn-default active',action:1}
					];
					appData.buttonTip = '请确定是否认领';
				}
			}
			break;
		case 2:
			tips = '<ul class="taskTip"><li>主动放弃任务并不影响您的任务成功率</li><li>放弃任务后您贡献的字幕并不丢失，可以由后来人在您的基础上继续努力完成任务</li><li>根据您贡献的字幕，您会得到经验值</li><li>如果其他人完成了任务，并保留了您贡献的字幕，您也许也会得到积分</li></ul>';
			appData.buttons=[
				{text:'确认放弃',class:'btn btn-default',action:3},
				{text:'再努力一下',class:'btn btn-default active',action:0}
			];
			appData.buttonTip = '请确定是否放弃';
			break;
		case 3:
			$.when(getSubtitleCheck()).then(function(){
				let taskFinish = true;
				if(appData.taskInfo.recordType == 2 || appData.taskInfo.recordType ==3){
					if(appData.taskInfo.axis != appData.taskInfo.ext){
						taskFinish = false;
					}
				}
				console.log(taskFinish)
				if(appData.taskInfo.hasListenWriteBlankSegment==true || appData.taskInfo.hasListenTranslateBlankSegment==true || appData.taskInfo.subtitleNum == 0 || taskFinish == false  ){
					appData.taskInfo.finish = false;
					tips = '<div id="tips" style="color:#de3c4b">您的任务暂时无法提交，原因如下：</div><ul class="taskTip">';
					if(appData.taskInfo.hasListenWriteBlankSegment==true || appData.taskInfo.hasListenTranslateBlankSegment==true || taskFinish == false){
						tips += '<li>本次任务修改的字幕尚未完全上传到平台，请耐心等待字幕同步完成（注意，账号不要退出登录，否则会造成字幕丢失）</li>';
					}
					if(appData.taskInfo.subtitleNum == 0){
						tips += '<li>本次任务您并未对字幕做任何修改，请仔细检查审核意见遵照修改后提交</li>';
					}
					tips += '<li>如果任务仍然无法提交，请通过应用反馈给我们</li></ul>';
					appData.buttons=[
						{text:'返回',class:'btn btn-default',action:0}
					];
				}else{
					appData.taskInfo.finish = true;
					tips = '<ul class="taskTip"><li>请仔细阅读<a href="http://m.yxgapp.com/d/mooc/ResourceUrl.html?dataId=14&targetName=翻译规范">翻译规范</a>，确保符合规范要求</li><li>提交后<b>译学馆审核团</b>会有专人对字幕进行审核</li><li>任务审核被打回会影响您的<b>任务成功率</b>和<b>译者评分</b></li></ul>';
					appData.buttons=[{text:'确认提交',class:'btn btn-default active',action:4}];
				}
				appData.tips = tips;
			});
			break;
		case 4:
			tips = '<div class="p-img"><img src="http://gcdp.oss-cn-qingdao.aliyuncs.com/201612/27/1482828847986_9714.png"/></div><h4>很遗憾，任务失败</h4><p>失败原因：'+ appData.taskInfo.failedReason +'</p>';
			appData.buttons=[
				{text:'知道了',class:'btn btn-default',action:0}
			];
			break;
		case 5:
			if(appData.taskInfo.checkMarks == ''){
				appData.taskInfo.checkMarks = '暂无修改意见';
			}else{
				appData.taskInfo.checkMarks = JSON.parse(appData.taskInfo.checkMarks);
			}
			if(appData.taskInfo.state == 3){ //审核通过

				$.when(getPoint()).then(function(){
					tips = '<h4>恭喜您！任务通过！</h4>';
					if(appData.para.point > 0){
						tips += '<p>已获得 '+ appData.para.point +' 积分，加油！</p>';
					}
					appData.tips = tips;
				});
				appData.buttons=[
					{text:'知道了',class:'btn btn-default',action:0},
					{text:'打开视频',class:'btn btn-default active',action:5}
				];
			}
			if(appData.taskInfo.state == 4){ //审核打回
				tips = '<h4>很遗憾，任务被打回了！</h4><p>快参照修改建议修正字幕吧，继续努力！</p>';
				appData.buttons=[
					{text:'知道了',class:'btn btn-default',action:0},
					{text:'打开视频',class:'btn btn-default active',action:5}
				];
			}
			break;
		}
		appData.tips = tips;
};

export default {
  name: 'opTask',
  created(){
		let query = this.$route.query;
		appData.para.videoId = query.videoId;
		appData.para.action = query.action;
		appData.para.recordType = query.recordType;
		appData.para.taskLanguage = query.taskLanguage;
		appData.para.failedReason = query.failedReason;
		appData.para.state = query.state;
		appData.para.replayState = query.replayState;
		appData.para.checkMarks = query.checkMarks;
		// appData.para.point = query.point;
		// appData.para.ver = query.ver;

		// if(appData.para.ver != '' && appData.para.ver != undefined){
		// 	let v = appData.para.ver.split('.');
		// 	let vc = 0 ;
		// 	for(let i = 0; i< v.length; i++){
		// 		vc += v[i] * Math.pow(10,(6-i*2));
		// 	}
		// 	appData.para.ver = vc;
		// }else{
		// 	appData.para.ver = 0;
		// }
  },
  mounted(){
		util.showSpiner();
		let pageTitle = '';
		appData.para.username = window.Native.getUsername();
		appData.para.token = window.Native.getToken();
		console.log('mounted')
		switch (appData.para.action) {
			case '1':
				pageTitle = '认领确认';
				break;
			case '2':
				pageTitle = '放弃确认';
				break;
			case '3':
				pageTitle = '提交确认';
				break;
			case '4':
				pageTitle = '任务失败';
				break;
			case '5':
				pageTitle = '任务审核通知';
				break;
		}
		window.Native.setTitle(pageTitle);
		$.when(getUserExtInfo(),getTaskInfo()).then(function(){
			$.when(/*getSubtitleCheck(),*/checkTaskProtectState()).then(function(){
				initData();
				util.hideSpiner();
				console.log(appData)
			});
		});
  },
	updated(){
		//console.log(appData)
	},
  methods:{
		claimTask : function(){
			if(appData.taskInfo.protectState == true){
				window.Native.showToast('该任务正在保护期内，请稍后再来认领');
				return
			}
			if (appData.para.recordType == 4 && appData.para.username == appData.taskInfo.taskUsername) {
				window.Native.showToast('抱歉，您不能审核自己认领的任务');
				return
			}
			appData.para.type = appData.para.recordType;
			util.showSpiner();
			$.get('http://m.yxgapp.com/d/mooc/CreateTask.json', appData.para, function(data) {
				if (data.result.result) {
					window.Native.showToast('任务认领成功');
					window.Native.closePage();
				}else{
					window.Native.showToast('操作失败，请稍候再试');
					util.hideSpiner();
				}
			},'json');
		},
		submitTask : function(){
			let vname = $('#vname');
			let vbrief = $('#vbrief');
			let msg = '';

			let doSubmit = function(){
				util.showSpiner();

				$.when(setTitle(),setBrief()).then(function(){
					$.get('http://m.yxgapp.com/d/mooc/SubmitTask.json', appData.para,
					function(data) {
							if (data.result.result) {
								window.Native.showToast('任务提交成功');
								window.Native.closePage();
							}else{
								window.Native.showToast('任务提交失败，请稍侯再试');
								util.hideSpiner();
							}
					},'json');
				});
			}

			if(vname.is(':visible') == true){
				msg += '请确认视频的标题已经翻译成中文，';
				if($.trim(vname.val())==''){
					window.Native.showToast('请输入中文标题');
					return
				}
			}
			if(vbrief.is(':visible') == true){
				msg += '简介也已经填写完成，';
				if($.trim(vbrief.val())==''){
					window.Native.showToast('请输入视频简介');
					return
				}
			}
			msg += '避免因此被打回，谢谢！'
			if((vname.is(':visible') || vbrief.is(':visible')) == true){

				$.confirm({
					type: 'dark',
					theme:'material',
					closeIcon: true,
			    title: false,
			    content: msg,
					buttons: {
						cancel: {
							text: '回去改',
							btnClass: 'btn-danger',
						},
	          confirm:{
	            text:'确定提交',
	            btnClass : 'btn-success',
	            action:function(){
								doSubmit()
							}
	          }
					}
				});
			}else{
				doSubmit()
			}
		},
		giveupTask : function(){
			appData.para.type = appData.para.recordType;
			util.showSpiner();
			$.get('http://m.yxgapp.com/d/mooc/QuitTask.json', appData.para, function(data) {
				if (data.result.result) {
					window.Native.showToast('任务已放弃');
					window.Native.closePage();
				}else{
					window.Native.showToast('操作失败，请稍候再试');
					util.hideSpiner();
				}
			},'json');
		},
		getTime:function(ms){
			let s = parseInt(ms /1000);
			return util.countDuration(s);
		},
		doAction : function(action){

			/*
				0:closePage
				1:claimTansTask
				2:claimCheckTask
				3:giveupTask
				4:submitTask
				5:openVideo
			*/
			switch (action) {
				case 0:
					window.Native.closePage();
					break;
				case 1:
				case 2:
					this.claimTask();
					break;
				case 3:
					this.giveupTask();
					break;
				case 4:
					this.submitTask();
					break;
				case 5:
					window.Native.startPlayVideo(appData.taskInfo.courseId,appData.taskInfo.videoId);
					break;
			}
		}
  },
  data () {
    return appData
  }
}
</script>
<style lang="less">
	body{
		padding-bottom: 5rem;
		height: auto;
	}
	#tips{
		font-size: .8rem;
		line-height: 2;
		span{
			font-size: .7rem;
			color:#de3c4b;
		}
	}
	.submitForm{
		#tips{padding-bottom: .5rem;}
		.form-group{
			display: flex;
			justify-content: space-between;
			align-items: center;
			label{
				text-align: center;
				font-size: .65rem;
				margin-bottom: 0;
				small{
					font-size: .6rem;
				}
			}
			.col-xs-3,.col-xs-9{
				padding: 0;
			}
		}
	}
	section.showtip{
		h4{text-align: center; padding-top: .6rem; font-size:.8rem;}
		p{text-align: center; color:#333 !important; font-size: .65rem !important;}
	}
	p.cm{
		color:#333 !important;
		font-size: .7rem;
		padding: .5rem .8rem !important;
	}
	p.cm2{
		color:#333 !important;
		font-size: .7rem;
		padding: .5rem .8rem 0 0.8rem!important;
	}
	section.fix-bottom{
		padding-top: .3rem;
		padding-bottom: 0 !important;
		background: #fff;
	}
	.p-img{
		text-align: center;
		padding-top: 1rem;
		img{
			max-width: 60%;
		}
	}
</style>
