<template>
<div class="main">
	<div class="html" v-html="page.html"></div>
  <div class="form clearfix">
    <div class="form-group" v-if="formConf.indexOf('qq')>=0">
			<label class="col-xs-3 control-label">QQ</label>
			<div class="col-xs-9">
				<input type="text" class="form-control" name="qq" placeholder="QQ号码" v-model="para.qq">
			</div>
		</div>
    <div class="form-group" v-if="formConf.indexOf('wechat')>=0">
			<label class="col-xs-3 control-label">微信</label>
			<div class="col-xs-9">
				<input type="text" class="form-control" name="wechat" placeholder="微信号" v-model="para.wechat">
			</div>
		</div>
		<div class="form-group" v-if="formConf.indexOf('realName')>=0">
			<label class="col-xs-3 control-label">姓名</label>
			<div class="col-xs-9">
				<input type="text" class="form-control" name="realName" placeholder="姓名" v-model="para.realName">
			</div>
		</div>
		<div class="form-group" v-if="formConf.indexOf('requestType')>=0">
			<label class="col-xs-3 control-label">职位类型</label>
			<div class="col-xs-9">
				<select class="form-control" name="requestType" v-model="para.requestType">
          <option value="兼职">兼职</option>
          <option value="实习">实习</option>
					<option value="特效">特效</option>
        </select>
			</div>
		</div>
    <div class="form-group" v-if="formConf.indexOf('mobile')>=0">
			<label class="col-xs-3 control-label">手机</label>
			<div class="col-xs-9">
				<input type="tel" class="form-control" name="mobile" placeholder="手机号码" v-model="para.mobile">
			</div>
		</div>
    <div class="form-group" v-if="formConf.indexOf('profession')>=0">
			<label class="col-xs-3 control-label">职业</label>
			<div class="col-xs-9">
				<input type="text" class="form-control" name="profession" placeholder="职业类型或学校、专业" v-model="para.profession">
			</div>
		</div>
    <div class="form-group" v-if="formConf.indexOf('settle')>=0">
			<label class="col-xs-3 control-label">居住地</label>
			<div class="col-xs-9">
				<input type="text" class="form-control" name="settle" placeholder="当前居住城市，海外党请填国家" v-model="para.settle">
			</div>
		</div>
    <div class="form-group" v-if="formConf.indexOf('age')>=0">
			<label class="col-xs-3 control-label">年龄</label>
			<div class="col-xs-9">
				<input type="tel" class="form-control" name="age" placeholder="年龄" v-model="para.age">
			</div>
		</div>
    <div class="form-group" v-if="formConf.indexOf('sex')>=0">
			<label class="col-xs-3 control-label">性别</label>
			<div class="col-xs-9">
				<select class="form-control" name="sex" v-model="para.sex">
          <option value="男">男</option>
          <option value="女">女</option>
          <option value="其他">其他</option>
        </select>
			</div>
		</div>
		<div class="form-group" v-if="formConf.indexOf('alipay')>=0">
			<label class="col-xs-3 control-label">支付宝</label>
			<div class="col-xs-9">
				<input type="text" class="form-control" name="alipay" placeholder="请填写支付宝账号" v-model="para.alipay">
			</div>
		</div>
    <div class="form-group" v-if="formConf.indexOf('groupId')>=0">
			<label class="col-xs-3 control-label">加入小分队</label>
			<div class="col-xs-9">
				<select class="form-control" name="groupId" v-model="para.groupId">
          <option v-for="g in page.groups" :value="g.id">{{g.name}}</option>
        </select>
			</div>
		</div>
    <div class="form-group" v-if="formConf.indexOf('other')>=0">
			<label class="col-xs-3 control-label">其他</label>
			<div class="col-xs-9">
				<textarea class="form-control" name="other" placeholder="简单描述您的英语水平、在线时间是否充裕、特长等信息" v-model="para.other"></textarea>
			</div>
		</div>
    <div class="form-group" v-if="formConf.indexOf('requestReason')>=0">
			<label class="col-xs-3 control-label">申请理由</label>
			<div class="col-xs-9">
				<textarea class="form-control" name="requestReason" placeholder="简单描述您的申请的理由，小分队选择的方向等" v-model="para.requestReason"></textarea>
			</div>
		</div>
  </div>
  <div class="btnbox">
    <button type="button" class="btn btn-danger" @click="submitRequest">我要申请</button>
  </div>
</div>
</template>
<style lang="less">
	.main{
    .html{font-size: .65rem; padding:0 .5rem;}
    .form{padding: .5rem;
      .form-group{overflow: auto;}
      .control-label{font-size: .7rem; text-align: right; padding-top: .25rem; padding-left: 0;}
      .col-xs-9{padding-left: 0;}
    }
    .btnbox{padding: 1rem; text-align: center;
      button{margin: 0 .25rem;}
    }
  }
</style>

<script>
import util from './util.vue'
//import _ from 'lodash'
let appData = {
	para:{
		userId:'',
    username:'',
		token:'',
    rightId:'',
    qq:'',
    wechat:'',
    age:0,
    sex:'',
    mobile:'',
    profession:'',
    settle:'',
    other:'',
    translatorId:'',
    nickname:'',
    requestReason:'',
    groupId:0,
    rightName:'',
		alipay:'',
		realName:'',
		requestType:'',
	},
  page:{
    html:'',
    groups:[]
  },
  formConf:'',
  htmlUrl:'',
	rightName:'',
};

let getUserExtInfo = function(){
	return $.get('http://m.yxgapp.com/d/mooc/GetUserExtInfo.json', appData.para, function(data) {
		if(data.result.result){
      appData.para.userId = data.userExtInfo.id;
      appData.para.translatorId = data.userExtInfo.translatorId;
      appData.para.nickname = data.userExtInfo.nickname;
      getGroupList();
			getRightConf();
		}else{
			window.Native.showToast('网络连接错误，请稍后再试');
			window.Native.closePage();
		}
		console.log('getUserExtInfo ok')
	},'json');
};

let getPage = function(){
  if(appData.htmlUrl=='' || appData.htmlUrl==null || appData.htmlUrl==undefined) return;
  $.get(appData.htmlUrl,function(data){
    appData.page.html = $(data).find('div.mainBody').html();
    //console.log(appData.page.html)
  },'html');
}

let getGroupList = function(){
  $.get('http://m.yxgapp.com/d/mooc/getGroupBaseInfo.json',{userId:appData.para.userId,token:appData.para.token},function(data){
    if(data.result.result){
      appData.page.groups = data.data;
    }
  },'json')
}

let getRightConf = function(){
	appData.para.action = 'getConf';
	return $.get('http://m.yxgapp.com/d/mooc/saveRightRequest.json',appData.para,function(data){
		if(data.result.result){
			appData.para.rightName = data.conf.rightName;
			appData.htmlUrl = data.conf.htmlUrl;
			appData.formConf = data.conf.formConf;
			window.Native.setTitle('申请'+appData.para.rightName);
			getPage();
		}
	},'json');
}

export default {
  name: 'submitRight',
  created(){
    //util.showSpiner();
		let query = this.$route.query;
    //appData.para.rightName = query.rightName;
		//window.Native.setTitle('申请'+appData.para.rightName);
		appData.para.token = window.Native.getToken();
		appData.para.username = window.Native.getUsername();
    appData.para.rightId = query.rightId;
    //appData.htmlUrl = query.htmlUrl;
    //appData.formConf = query.formConf;


    //getGroupList();
		//appData.para.userId = query.userId;
  },
  mounted(){
		//util.showSpiner();
    // $('input[name="age"],input[name="groupId"]').each(function(){
    //   appData.para[this.name]='';
    // });
		getUserExtInfo();
		$('input,select,textarea').each(function(){
			console.log(this.tagName)
			let _this = this;
    	if(this.tagName=='INPUT' || this.tagName=='TEXTAREA'){
				appData.para[this.name]='';
			}
			if(this.tagName=='SELECT'){
				console.log($(this).find('option'))
				setTimeout(function(){appData.para[_this.name]=$(_this).find('option:first').val()},1000);
			}
    });
		console.log(appData.para)
  },
	updated(){
    //util.hideSpiner()


		//console.log(appData)
	},
  methods:{
    submitRequest(){
      //appData.htmlUrl = 'http://m.yxgapp.com/d/mooc/ResourceUrl.html?dataId=170';
      //appData.para.userId = 0; //test
      let input = $('input,select,textarea');
      input.each(function(){
        if ($.trim(appData.para[this.name])=='' && this.name !='qq' && this.name !='wechat'){
          window.Native.showToast('请输入'+$(this).closest('div').prev('label').html()+'信息');
          return
        }
      });
      if ($.trim(appData.para.qq)=='' && $.trim(appData.para.wechat)==''){
        window.Native.showToast('QQ和微信请至少填写一种');
        return
      }
      console.log(appData.para)
      //return
      util.showSpiner();
			appData.para.action = 'save';
      $.post('http://m.yxgapp.com/d/mooc/saveRightRequest.json',appData.para,function(data){
        util.hideSpiner();
        if(data.result.result){
          window.Native.showToast('提交成功');
          window.Native.closePage();
        }
      },'json');
    }
  },
  data () {
    return appData
  }
}
</script>
