<template>
<div id="main">
	<section v-if="page.showPage==1" class="page1">
    <img src="http://gcdp.oss-cn-qingdao.aliyuncs.com/201606/15/1465985835207_9041.png" alt=""/>
    <div>
      <h3>
  			<div></div>
  			前进一步，就是译者
  		</h3>
      <ul>
        <li>请不要担心，你的潜力无限，挑战也可以无限</li>
        <li>可以测测你的外语水平</li>
        <li>挑战成功，拥有译者身份</li>
      </ul>
    </div>
    <div>
      <h3>
  			<div></div>
  			译者可以做什么
  		</h3>
      <ul>
        <li>与字幕君们一同并肩作战，翻译、校对字幕</li>
        <li>可以参加译者活动，与志同道合的小伙伴玩耍</li>
        <li>能够看到最新的欧美视频（未翻译）</li>
      </ul>
    </div>
    <div>
      <h3>
        <div></div>
        语言选择
      </h3>
      <div class="langSel">
        <select class="form-control" v-model="para.language" v-if="!page.disableSel">
          <option v-for="l in page.lang" :value="l.language">{{l.languageName}}</option>
        </select>
				<p class="text-center" v-if="page.disableSel">您已经选择了 {{page.languageName}}</p>
      </div>
    </div>
		<div>
      <p class="text-center confirm" style="font-size:.5rem; ">开始挑战即表示同意并遵守译学馆相关之规定</p>
      <div class="btnCon" style="padding-top:.5rem;">
        <button type="button" class="btn btn-danger" @click="doExam">挑战成为译者</button>
        <!-- <button v-for="b in buttons" :class="b.class" @click="doAction(b.action)">{{b.text}}</button> -->
      </div>
    </div>
  </section>
  <section class="exam" v-if="page.showPage==2">
		<div v-if="page.questions.length > 0">
			<div class="q-title">
				<h3>
	  			<div></div>
					题目
				</h3>
				<p>{{page.questions[page.currentQ].topic}}</p>
			</div>
			<div class="q-option">
				<h3>
	  			<div></div>
					选择答案
				</h3>
				<p @click="setAnswer(page.currentQ,1)" :class="{'selected':page.currentA == 1}"><span>A.</span>{{page.questions[page.currentQ].options_1}}</p>
				<p @click="setAnswer(page.currentQ,2)" :class="{'selected':page.currentA == 2}"><span>B.</span>{{page.questions[page.currentQ].options_2}}</p>
				<p @click="setAnswer(page.currentQ,3)" :class="{'selected':page.currentA == 3}"><span>C.</span>{{page.questions[page.currentQ].options_3}}</p>
				<p @click="setAnswer(page.currentQ,4)" :class="{'selected':page.currentA == 4}"><span>D.</span>{{page.questions[page.currentQ].options_4}}</p>
			</div>
		</div>
  </section>
	<section class="exam" v-if="page.showPage==4">
		<div v-if="page.questions.length > 0">
			<div class="q-title">
				<h3>
	  			<div></div>
					题目
				</h3>
				<p>{{page.questions[page.currentQ].topic}}</p>
			</div>
			<div class="q-option">
				<h3>
	  			<div></div>
					选择答案
				</h3>
				<p @click="setAnswer(page.currentQ,1)" :class="{'selected':page.currentA == 1}"><span>A.</span>{{page.questions[page.currentQ].options_1}}</p>
				<p @click="setAnswer(page.currentQ,2)" :class="{'selected':page.currentA == 2}"><span>B.</span>{{page.questions[page.currentQ].options_2}}</p>
			</div>
			<div class="error" v-if="page.showError">
				<p><img src="http://gcdp.oss-cn-qingdao.aliyuncs.com/201606/15/1465985875294_1319.png">答案错误，请重新选择</p>
			</div>
		</div>
  </section>
	<section class="page3" v-if="page.showPage==3">
		<div>
			<h4>下面是字幕规范学习时间，<br>共10题，需要选择正确答案才可前进</h4>
			<div><button type="text" class="btn btn-danger" @click="goSubExam">GO</button></div>
			<p>秘籍：可以反复选择</p>
		</div>
	</section>
	<section class="page5" v-if="page.showPage==5">
		<div><img :src="userExtInfo.avatarUrl" class="avatar">
			<img v-if="page.translatorId" class="e-icon" src="http://gcdp.oss-cn-qingdao.aliyuncs.com/201606/15/1465985943141_746.png"/></div>
		<div v-if="page.translatorId"><span>ID{{page.translatorId}}</span></div>
		<div class="notify">
			<p v-if="!page.translatorId">很遗憾挑战失败</p><p v-if="page.translatorId">恭喜您获得<b>「译者」</b>身份</p>
		</div>
		<div>
			<table>
				<tr>
					<td>您的{{page.languageName}}等级</td>
					<td><img :src="page.imgArr[para.level]"/></td>
				</tr>
			</table>
			<img src="http://gcdp.oss-cn-qingdao.aliyuncs.com/201607/6/1467797172013_9847.png"/>
			<p class="small">{{page.evaluation[para.level]}}</p>
		</div>
		<div v-if="page.translatorId" class="videobox">
			<p class="small">字幕制作视频教学（强烈推荐观看）</p>
			<table class="videos">
				<tr>
					<td @click="playVideo('1801','75853af5-1285-4dec-9346-6646bf0bf3d4')">
						<img src="http://gcdp.oss-cn-qingdao.aliyuncs.com/201607/6/1467797146164_3685.png"/>
						<span>听录篇</span>
					</td>
					<td @click="playVideo('1802','ac97a737-f7ea-427b-a2cc-cdc16442ee5a')">
						<img src="http://gcdp.oss-cn-qingdao.aliyuncs.com/201607/6/1467797146164_3685.png"/>
					<span>翻译篇</span>
					</td>
				</tr>
			</table>
		</div>
	</section>
  <section class="fix-bottom" v-if>
    <!-- <div v-if="page.showPage==1" style="background:#fff;">
      <p class="text-center confirm">开始挑战即表示同意并遵守译学馆相关之规定</p>
      <div class="btnCon">
        <button type="button" class="btn btn-danger" @click="doExam">挑战成为译者</button>
      </div>
    </div> -->
		<div v-if="page.showPage==2" style="background:#ff2951;">
			<div class="row">
				<div class="col-xs-3">
					<img src="http://gcdp.oss-cn-qingdao.aliyuncs.com/201606/29/1467198733580_7562.png">
				</div>
				<div class="col-xs-6 text-center">
					{{page.currentQ+1+(para.p-1)*5}} / {{page.maxTest}}
				</div>
				<div class="col-xs-3 text-right" @click="doNext" :class="{'disabled':page.currentA==0}">
					下一题 >
				</div>
			</div>
		</div>
		<div v-if="page.showPage==4" style="background:#ff2951;">
			<div class="row">
				<div class="col-xs-3">
					<img src="http://gcdp.oss-cn-qingdao.aliyuncs.com/201606/29/1467198733580_7562.png">
				</div>
				<div class="col-xs-6 text-center">
					{{page.currentQ+1}} / {{page.questions.length}}
				</div>
				<div class="col-xs-3 text-right" @click="doSubNext" :class="{'disabled':page.showError || page.currentA ==0}">
					下一题 >
				</div>
			</div>
		</div>
		<div v-if="page.showPage==5" style="background:#fff;">
      <div class="btnCon">
        <button type="button" class="btn btn-danger" @click="exitPage" v-if="!page.translatorId">下次再来</button>
				<button type="button" class="btn btn-danger" @click="exitPage" v-if="page.translatorId">开启译者生涯</button>
        <!-- <button v-for="b in buttons" :class="b.class" @click="doAction(b.action)">{{b.text}}</button> -->
      </div>
    </div>
  </section>
</div>
</template>
<style lang="less">
  #main{
    height: 100%;
    section{position: absolute; top:0; bottom: 4rem; right: 0; left: 0; overflow-y: scroll;
      img{width: 100%; margin-bottom: .5rem;}
      >div{padding:.5rem 1rem;
        ul{margin: 0; padding-top: .5rem; list-style: decimal; font-size: .6rem; padding-left: 1.5rem; line-height:1.5;}
      }
			div.langSel{padding: .7rem 2rem;
				p{font-size: .7rem !important; color: #333;}
			}
    }
		section.page1{bottom: 0}
		section.exam{
			p{color: #333; line-height: 2;}
			.q-title{
				h3{margin-bottom:.5rem; }
				p{font-size: .8rem; padding:.5rem 1rem; }
			}
			.q-option{margin-top:1rem;
				h3{margin-bottom: .5rem;}
				p{font-size: .7rem; padding: .5rem 1rem;
					span{margin-right: .5rem;}
				}
				p.selected{
					background: url(http://gcdp.oss-cn-qingdao.aliyuncs.com/201606/15/1465985995848_6246.png) no-repeat;
					background-size: 1.5rem;
					background-position: .7rem .8rem;
				}
			}
			.error{
				p{text-align: center; line-height: 2rem; font-size: .7rem;
					img{width: 1.25rem; margin-right: .3rem; margin-top: .3rem;}
				}
			}
		}
		section.page3{
			>div{padding: 7rem 0; text-align: center;
				h4{font-size: .8rem; line-height: 2; padding-bottom: .5rem;}
				button{font-size: .8rem; padding: .25rem 1rem;}
				p{padding-top: .5rem}
			}
		}
		section.page5{padding-top: 1.5rem; text-align: center;
			div{padding: 0;}
			div.notify{padding-bottom: 1rem; }
			div.videobox{padding-top: 1rem;}
			p{padding: .5rem 0;}
			img{max-width: 12rem;}
			table{margin: auto;
				td{font-size: .8rem; padding: .25rem;
					img{width: 2rem;}
				}
			}
			table.videos{
				td{padding: .25rem 1rem;
					img{width: 3rem;}
					span{display: block; font-size: .6rem; text-decoration: underline; border: none;}
				}
			}
			img.avatar{width: 7.5rem; border-radius: 50%;}
			img.e-icon{position: absolute; width: 2rem; margin-top: 5.5rem; margin-left: -2rem;}
			span{color:#ff2951; font-size: .6rem; padding:.2rem .4rem; border:#ff2951 1px solid; border-radius: .25rem;}
			p{font-size: .7rem; color:#333;
				b{font-size: .9rem; color:#ff2951;}
			}
			p.small{font-size: .6rem; padding-top: 0; padding-bottom: 1rem;}
		}
    section.fix-bottom{
      position: absolute !important;top:auto; padding: 0;
      >div{ padding-top: .5rem;
        .btnCon{padding: .5rem 1rem;}
        p{font-size: .5rem;}
				img{width: 2rem; margin-bottom: 0;}
      }
			div.row{
				div{color:#fff; font-size: .7rem; line-height: 2rem;}
				div.disabled{color:#ccc;}
			}
    }
  }
</style>
<script>
import util from './util.vue'
//import _ from 'lodash'
let appData = {
	para : {
		username:'',
		token:'',
    type:2,
    level:3,
    language:'',
		p:1,
    removeProblems:'{"problemsArr":[]}'
	},
	mid:{
		removeProblems:{
			problemsArr:[]
		},
		answer_json:{
			answer:[],
			id:[],
		}
	},
  page:{
		title:'译者申请',
    showPage:1,
    lang:[],
		disableSel:false,
		languageName:'',
		questions:[],
		currentQ:0,
		currentA:0,
		maxTest:15,
		showError:false,
		imgArr :['http://gcdp.oss-cn-qingdao.aliyuncs.com/201606/15/1465988096961_2473.png',
						'http://gcdp.oss-cn-qingdao.aliyuncs.com/201606/15/1465988346798_3541.png',
						'http://gcdp.oss-cn-qingdao.aliyuncs.com/201606/15/1465988411218_3839.png',
						'http://gcdp.oss-cn-qingdao.aliyuncs.com/201606/15/1465988429230_488.png',
						'http://gcdp.oss-cn-qingdao.aliyuncs.com/201606/15/1465988451491_9812.png',
						'http://gcdp.oss-cn-qingdao.aliyuncs.com/201606/15/1465988466818_7457.png']
  },
	userExtInfo:{}
};

let getUserExtInfo = function(){
	return $.get('http://m.yxgapp.com/d/mooc/GetUserExtInfo.json', appData.para, function(data) {
		if(data.result.result){
			appData.para.userId = data.userExtInfo.id;
			appData.userExtInfo = data.userExtInfo;
		}else{
			window.Native.showToast('网络连接错误，请稍后再试');
			window.Native.closePage();
		}
		console.log('getUserExtInfo ok')
	},'json');
};

let getLang = function(){
  return $.get("http://m.yxgapp.com/d/mooc/GetUserLanguageSetting.json",appData.para,function(data){
    if(data.result.result){
      appData.page.lang=data.examLanguage;
			console.log(appData.para.language)
      if(appData.para.language == undefined) {
				appData.para.language = data.examLanguage[0].language;
			}
    }
  },'json');
};

let getLanSetting = function(){
	return $.get('http://m.yxgapp.com/d/mooc/GetExamLanguageInfo.json',appData.para,function(data){
		//if(data.result.result){
		console.log(data)
			appData.page.languageName = data.languageName;
			appData.page.evaluation = data.evaluation;
		//}
	},'json');
};

let getQuestions = function(){
	console.log('qLevel::::::'+appData.para.level)
	appData.mid.answer_json.id.forEach(f=>{
		appData.mid.removeProblems.problemsArr.push(f)
	});
	appData.para.removeProblems = JSON.stringify(appData.mid.removeProblems);
	return $.get('http://m.yxgapp.com/d/mooc/GetTestQuestions.json',appData.para,function(data){
		if(data.result.result){
			//data.problems.forEach(item => {appData.page.questions.push(item)});
			appData.page.questions = data.problems;
			console.log(appData)
		}
	},'json');
};

let getSubQuestions = function(){
	return $.get('http://m.yxgapp.com/d/mooc/GetTestQuestions.json',{type:1,language:'zh'},function(data){
		if(data.result.result){
			//data.problems.forEach(item => {appData.page.questions.push(item)});
			appData.page.questions = data.problems;
			console.log(appData)
		}
	},'json');
};

let postAnswer = function(){
	appData.para.answer_json = JSON.stringify(appData.mid.answer_json);
	console.log(appData)
	return $.get('http://m.yxgapp.com/d/mooc/checkAnswer.json',appData.para,function(data){
		if(data.result.result){
			appData.page.score = data.score;
			console.log("level:::::"+appData.para.level)
		}
	},'json');
}

let getTranslatorId = function(){
	let data={
		username:appData.para.username,
		language:appData.para.language
	}
	return $.get('http://m.yxgapp.com/d/mooc/TranslatorAccessRequest.json', data,function(d){
		if(d.result.result){
			appData.page.translatorId = d.translatorId;
			appData.para.level = d.translatorGradeLevel;
		}
	},'json');
}

export default {
  name: 'translatorExam',
  created(){
		let query = this.$route.query;
		appData.para.language = query.language;
		// appData.para.point = query.point;
    appData.para.username = window.Native.getUsername();
		appData.para.token = window.Native.getToken();
		window.Native.setTitle(appData.page.title);
		if(appData.para.language != undefined){
			appData.page.disableSel = true;
			getLanSetting();
		}else{
			getLang();
		}
  },
  mounted(){
		//util.showSpiner();
		//appData.para.username = window.Native.getUsername();
		//appData.para.token = window.Native.getToken();
    //getLang();
		//window.Native.setTitle(pageTitle);
		/****** test **********/
		// appData.page.showPage =4;
		// appData.para.level =2;
		// appData.para.language = 'ko';
		// appData.page.languageName = "日语";
		// appData.userExtInfo.avatarUrl='http://q.qlogo.cn/qqapp/1104772648/E4B1267096F2AB25828A866B742D39C5/40?isTranslator=1';
		// appData.page.evaluation=["地球太危险了，还是回火星吧","加油，对于日语的理解还很基础哦","能够理解基础日语，相当于日语4级水平","在一定程度上理解日常场景的日语，相当于日语3级水平","能够理解日常场景中的日语，相当于日语2级水平","腻害！你是日本人吗？你的水平已经是日语1级了"];
		// getTranslatorId().then(function(){
		// 	appData.page.showPage=5;
		// 	if(appData.page.translatorId){
		// 		window.Native.examResultExamTranslatorPage(appData.para.level, true);
		// 	}
		// 	window.Native.setTitle('测试结果');
		// 	//util.hideSpiner();
		// });

  },
	updated(){
		//console.log(appData)
	},
  methods:{
    doExam(){
			$.when(getUserExtInfo()).then(function(){
				if(appData.userExtInfo.languages && appData.userExtInfo.languages[appData.para.language]){ //已经是该语言译者
					window.Native.showToast('您已经是译者了，请重新进入客户端');
				}else{
					//if(!appData.page.evaluation){
						window.Native.setTitle('译者测试');
						window.Native.setBackEnabled(false);
						window.Native.setCloseConfirm(true, "确认退出译者申请？", "你当前已完成的题会丢失，再次申请需要重新做题。");
						$.when(getLanSetting()).then(function(){
							getQuestions();
							appData.page.showPage=2;
						});
					//}else{
					//	getQuestions();
					//	appData.page.showPage=2;
					//}
				}
			});

    },
		doNext(){
			if(appData.page.currentA == 0) return;
			if(appData.page.currentQ == 4){
				util.showSpiner();
				postAnswer().then(function(){
					if(appData.page.score < 3){
						appData.para.level --;
					}else{
						if(appData.page.p<3){
							appData.para.level ++;
						}
					}
					appData.para.p++;
					console.log(appData.para.p)
					if(appData.para.p <= 3){
						getQuestions();
					}else{
						appData.page.showPage = 3;
						window.Native.setTitle('字幕礼仪');
					}
					util.hideSpiner();
				});

				appData.page.currentQ = 0
				appData.page.currentA = 0;
			}else{
				appData.page.currentQ +=1;
				appData.page.currentA = 0;
			}
			console.log(appData)
		},
		setAnswer(question,answer){
			//console.log(answer)
			appData.mid.answer_json.id[appData.page.currentQ]=appData.page.questions[appData.page.currentQ].id;
			appData.mid.answer_json.answer[appData.page.currentQ] = answer;
			appData.page.currentA = answer;
			if(appData.page.showPage==4){
				if(answer != appData.page.questions[appData.page.currentQ].correctOption*1){
					appData.page.showError = true;
				}else{
					appData.page.showError = false;
				}
			}
			console.log(appData.page.questions[appData.page.currentQ].correctOption + '::::::'+answer)
			console.log(appData.page.showError)
			//console.log(appData.mid.answer_json)
			//console.log(appData.mid.answer_json.answer[appData.page.currentQ])
		},
		goSubExam(){
			util.showSpiner();
			getSubQuestions().then(function(){
				appData.page.currentA = 0;
				appData.page.showPage = 4;
				util.hideSpiner()
			});
		},
		doSubNext(){
			if(appData.page.showError || appData.page.currentA==0) return;
			if(appData.page.currentQ < appData.page.questions.length-1){
				appData.page.currentQ +=1;
				appData.page.currentA =0;
			}else{
				if(appData.para.level>1){
					util.showSpiner();
					getTranslatorId().then(function(){
						appData.page.showPage=5;
						if(appData.page.translatorId){
							window.Native.examResultExamTranslatorPage(appData.para.level, true);
						}
						window.Native.setTitle('测试结果');
						util.hideSpiner();
					});
				}else{
					appData.page.showPage=5;
					window.Native.setTitle('测试结果');
				}
			}
		},
		playVideo(courseId,guid){
				window.Native.startPlayVideo(courseId,guid);
		},
		exitPage(){
			window.Native.closePage();
		}
  },
  data () {
    return appData
  }
}
</script>
