<script>
//import SparkMD5 from 'spark-md5'

// let countSign = function(url,action){
//     url += '2013-03-29' + action;
//     url = url.replace('@','%40');
//     let sign = SparkMD5.hash(url).toLowerCase()
//     return sign
// };
import ThumborUrlBuilder from 'thumbor-url-builder';

let getThumbor = function(image,width,height) {
	let thumborURL = new ThumborUrlBuilder('JIUWEIST', 'http://img.yxgapp.com');
	return(thumborURL.setImagePath(image).resize(width, height).smartCrop(true).buildUrl());
};

let countDuration = function(duration){
	let s = duration % 60;
	let m = parseInt(duration / 60);
	if(m >= 60){
		let h = parseInt(duration / 3600);
		m = parseInt(m / 60);
		return h + ':' + (m>=10?m:'0'+m) + ':' + (s>=10?s:'0'+s)
	}else{
		return (m>=10?m:'0'+m) + ':' + (s>=10?s:'0'+s)
	}
};

let showSpiner = function(){
	if($('div.spin').length > 0) return;
	let spin=
	`<div class="spin" style="position: fixed;display: flex;align-items: center;left: 0;right: 0;top: 0;bottom: 0; background-color:#fff; z-index:99">
		<div class="sk-fading-circle">
			<div class="sk-circle1 sk-circle"></div>
			<div class="sk-circle2 sk-circle"></div>
			<div class="sk-circle3 sk-circle"></div>
			<div class="sk-circle4 sk-circle"></div>
			<div class="sk-circle5 sk-circle"></div>
			<div class="sk-circle6 sk-circle"></div>
			<div class="sk-circle7 sk-circle"></div>
			<div class="sk-circle8 sk-circle"></div>
			<div class="sk-circle9 sk-circle"></div>
			<div class="sk-circle10 sk-circle"></div>
			<div class="sk-circle11 sk-circle"></div>
			<div class="sk-circle12 sk-circle"></div>
		</div>
	</div>`;
	$('body').append(spin);
};

let hideSpiner = function(){
	$('div.spin').fadeOut().remove();
};

let reportBug = function(reason) {
    var reportUrl = "http://m.yxgapp.com/d/mooc/ReceiveBugReport.json";
    var bugObj = {
        info: reason
    };
    $.get(reportUrl, bugObj);
}

// let dologout = function(vm) {
// 	window.sessionStorage.setItem('token','');
// 	window.sessionStorage.setItem('username','');
// 	vm.$router.push('/');
// };
//
// let goHome = function(vm){
//   vm.$router.push('/index');
// };
//
// let noRight = function(vm){
//   vm.$router.push('/index/noright');
// };
//
// let noModel = function(vm){
//   vm.$router.push('/index/nomodel');
// };

let getPara = function(str,para) {
  var reg = new RegExp("(^|&)"+ para +"=([^&]*)(&|$)");
  var r = str.substr(str.indexOf("\?")+1).match(reg);
  if (r!=null) return unescape(r[2]); return null;
};

let cutString = function(source,len){
	if(len == undefined){
		return source
	}
	let d = '';
	let l = 0;
	for(var i=0; i < source.length; i++){
		if (source.substr(i,1).charCodeAt(0)>255){
			l += 2;
		}else{
			l++;
		}
		console.log(l)
		if(l<len){
			console.log(l)
			console.log(len)
			d += source.substr(i,1);
		}else{
			break
		}
	}
	if(i<source.length){
		d += '...'
	}
	return d
};

let refreshPage = function(){
  window.location.reload()
};
export default
{
  //countSign,
  //dologout,
  getPara,
  refreshPage,
  //goHome,
  //noRight,
  //noModel,
	getThumbor,
	countDuration,
	showSpiner,
	hideSpiner,
	reportBug,
	cutString
}
</script>
