<template>
  <div class="modal-dialog" style="width:60%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span v-if="page.update==0">新增发布任务</span><span v-if="page.update==1 && coObj.status==0">修改发布任务</span><span v-if="page.update==1 && coObj.status==1">发布任务详情</span><span> - {{task.videoName}}</span></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">发布路径</label>
            <div class="col-sm-10"><select class="form-control" v-model="coObj.pathId">
              <option v-for="p in path" :value="p.value">{{p.text}}</option>
            </select></div>
          </div>
          <div class="form-group" :class="{'has-error':errors.has('title')}">
            <label class="col-sm-2 control-label">标题</label>
            <div class="col-sm-10"><input type="text" name="title" class="form-control" v-validate="'required'" placeholder="标题" v-model="coObj.title"></div>
          </div>
          <div class="form-group" :class="{'has-error':errors.has('brief')}">
            <label class="col-sm-2 control-label">正文<br><small>{{coObj.brief.length}}字</small></label>
            <div class="col-sm-10">
              <textarea class="form-control" name="brief" v-model="coObj.brief" v-validate="'required'" maxlength="255" placeholder="正文"></textarea>
            </div>
          </div>
          <div class="form-group" :class="{'has-error':errors.has('title')}">
            <label class="col-sm-2 control-label">关键字</label>
            <div class="col-sm-10"><input type="text" name="keyword" class="form-control" v-validate="'required'" placeholder="关键字" v-model="coObj.keyword"></div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">发布素材</label>
            <div class="col-sm-10">
              <a :href="coObj.targetVideo" class="btn btn-primary" target="_blank" :class="{'disabled':!coObj.targetVideo}">合成视频</a>
              <a target="_blank" class="btn btn-primary" :href="coObj.coverCn" :class="{'disabled':!coObj.coverCn}">发布封面</a>
              <a target="_blank" @click="uploadCover" class="btn btn-success">上传发布封面</a>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">备注</label>
            <div class="col-sm-10">
              <textarea class="form-control" v-model="coObj.remark" maxlength="255" placeholder="备注"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">发布地址</label>
            <div class="col-sm-10"><input type="text" class="form-control" placeholder="发布地址" v-model="coObj.targetUrl"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" @click="back">返回</button>
        <button type="button" class="btn btn-primary" @click="doSave">保存</button>
      </div>
      <div class="hidden">
        <input type="file" name="uploadFile" id="upfile" @change="pushFile">
      </div>
    </div>
  </div>
</template>
<style scoped>

</style>
<script>
import util from '../util.vue'
import _ from 'lodash'

let appData={
  para:{},
  page:{
    apiBase:'http://m.yxgapp.com/d/pms/exportTask.json',
    apiTask:'http://m.yxgapp.com/d/pms/task.json',
    apiPath:'http://m.yxgapp.com/d/pms/exportPath.json',
    ossBase :'',
    update:0
  },
  obj:{
    id:0,
    taskId:0,
    pathId:0,
    title:'',
    brief:'',
    keyword:'',
    remark:'',
    scriptId:0,
    status:0,
    coverCn:'',
    targetVideo:'',
    targetUrl:'',
    transTask:0,
  },
  coObj:{
    id:0,
    taskId:0,
    pathId:0,
    title:'',
    brief:'',
    keyword:'',
    remark:'',
    scriptId:0,
    status:0,
    coverCn:'',
    targetVideo:'',
    targetUrl:'',
    transTask:0,
  },
  task:{},
  path:[],
}

let getTaskInfo = function(){
  //appData.para.id = appData.para.taskId;
  appData.task = JSON.parse(sessionStorage.getItem('task'));
}

let getExTaskInfo = function(){
  //appData.para.id = appData.para.taskId;
  if(appData.coObj.id==0){
    appData.coObj = Object.assign(appData.coObj,appData.obj);
    appData.coObj.taskId = appData.task.id;
    appData.coObj.cover = appData.task.cover;
    appData.coObj.targetVideo = appData.task.targetVideo;
    appData.coObj.title = appData.task.videoName;
    appData.coObj.keyword = appData.task.tag;
    appData.coObj.pathId = appData.path[0].value;
    console.log(appData.task.courseId)
  }else{
    let data = JSON.parse(sessionStorage.getItem('exTask'));
    data.pathId = parseInt(data.pathId);
    appData.coObj = data;
  }
  console.log(appData.coObj)
  //appData.task = JSON.parse(sessionStorage.getItem('task'));
}

let getPath = function(){
  appData.para.action = 'listOption';
  return $.get(appData.page.apiPath,appData.para,function(data){
    if(data.result.result){
      appData.path = data.list;
    }
  },'json')
}

let saveExTask = function(vm){
  if(appData.coObj.id == 0){
    appData.para.action = 'save'
  }else{
    appData.para.action = 'update'
  }
  let data = Object.assign(appData.coObj,appData.para);
  if(data.targetUrl != '') data.status =1;
  $.post(appData.page.apiBase, data ,function(data){
    if(data.result.result){
      vm.back();
    }else{
      console.log(data.result.reason)
    }
  },'json');
}

let initUploader = function(){
  let conf = {
    request:true,
    uploadUrl: 'http://upload.yxgapp.com/upload',
    files : $("#upfile")[0].files,
    onBeforeUpload:function(){
      util.showLoading();
    },
    onOverAllProgress: function (index, loaded, total) {
        console.log(index + "::::"+ loaded / total)
        $('#loadText').html(parseInt(loaded / total*100)+'%');
    },
    onLoad: function (index, chunkIndex, chunksNum) {
        //console.log('onLoad', this, arguments)
    },
    onAbort: function (index, chunkIndex, chunksNum) {
        console.log('onAbort', this, arguments)
        setTimeout(mo.continue(-1),10000);
    },
    onError: function (index, chunkIndex, chunksNum) {
        console.log('onError', this, arguments)
        setTimeout(mo.continue(-1),10000);
    },
    onContinue: function (file, md5, index) {
        return new Promise(function(reslove, reject) {
            $.get("http://upload.yxgapp.com/getFile?md5="+md5, function (text) {
                var json = JSON.parse(text)
                reslove(text)
            })
        })
    },
		onFinish:function(index,e){
			console.log(e)
			console.log(e.currentTarget.responseText)
      util.hideLoading();
			let data = JSON.parse(e.currentTarget.responseText)
			if(data.result==true){
				appData.coObj.coverCn = 'http://yxg-biz.oss-cn-qingdao.aliyuncs.com/' + $('#upfile')[0].files[0].oss_url;
        $('#upfile').val('');
			}else{
				if(data.errno==1){
					alert('上传失败')
				}
			}

		}
  }
  try {
    mo = MoUploader(conf)
  } catch (ex) {
    console.log(ex.message)
  }
}

export default {
  name: 'exTaskForm',
  created(){
    appData.para.userId = window.sessionStorage.getItem('uid');
    appData.para.token = window.sessionStorage.getItem('token');
    //getPath();
  },
  mounted(){
    appData.coObj.id = this.$route.params.exTaskId;
    appData.coObj.status = sessionStorage.getItem('exTaskStatus');
    appData.page.update = sessionStorage.getItem('exTaskType');
    if(!appData.path[0]){
      $.when(getPath()).then(function(){
        getTaskInfo();
        getExTaskInfo();
      });
    }else{
      getTaskInfo();
      getExTaskInfo();
    }
  },
  updated(){},
  beforeRouteUpdate (to, from, next) {
    //appData.coObj.id = this.$route.params.exTaskId;
    //console.log(appData.coObj.id);
    //appData.coObj.status = sessionStorage.getItem('exTaskStatus');
    //appData.page.update = sessionStorage.getItem('exTaskType');
    //getTaskInfo();
    //getExTaskInfo();
    //getExTaskList();
  },
  beforeDestroy(){

	},
  methods:{
    back(){
      this.$router.push('/task/manage/exList/'+this.$route.params.taskId)
    },
    doSave(){
      let vm = this;
      saveExTask(vm);
    },
    uploadCover(){
      appData.page.ossBase = 'broadcast/'+appData.task.courseId+'/covers/';
      $('#upfile').prop('accept','image/*').trigger('click');
    },
    pushFile(){
      console.log('change...')
      let f = $('#upfile')[0].files[0];
      f.targetName = Date.parse(new Date())/1000 + '.' +f.name.split('.')[f.name.split('.').length-1];
      f.oss_url = appData.page.ossBase + f.targetName;
      f.filesize = f.size;
      console.log($('#upFile'));
      initUploader();
    }
  },
  data(){
    return appData
  }
}
</script>
