<template>
  <div class="modal-dialog" style="width:60%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span>发布任务列表 - {{coObj.videoName}}</span></h4>
      </div>
      <div class="modal-body">
        <table width="100%" class="table table-bordered">
          <tr>
            <th>路径</th>
            <th>标题</th>
            <th>关键字</th>
            <th>简介</th>
            <th>素材</th>
            <th>日期</th>
            <th>发布地址</th>
            <th>状态</th>
          </tr>
          <tr v-for="l in list" @click=showTaskForm(1,l.status,l.id)>
            <td>{{getText('path',l.pathId)}}</td>
            <td>{{l.title}}</td>
            <td>{{l.keyword}}</td>
            <td>{{l.brief}}</td>
            <td><a :href="l.targetVideo" target="_blank">视频</a>&nbsp;&nbsp;&nbsp;&nbsp;<a :href="l.coverCn" target="_blank">封面</a></td>
            <td>{{l.upTime.substr(0,10)}}</td>
            <td><a :href="l.targetUrl" target="_blank">点击浏览</a></td>
            <td>{{getText('status',l.status)}}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" @click="showTaskForm(0)">添加任务</button>
      </div>
    </div>
  </div>
</template>
<style lang="less" scoped>
  th,td{padding: 5px; border-right: #ddd 1px solid; border-bottom: #ddd 1px solid;}
  th{background: #eee;}
  tr{cursor: pointer;}
  tr:hover{background: #f9f9f9;}
</style>
<script>
import util from '../util.vue'
import _ from 'lodash'

let appData={
  para:{},
  page:{
    apiBase:'http://m.yxgapp.com/d/pms/exportTask.json',
    apiTask:'http://m.yxgapp.com/d/pms/task.json',
    apiPath:'http://m.yxgapp.com/d/pms/exportPath.json',
  },
  list:[],
  label:[],
  coObj:{},
  path:[],
  status:[{text:'进行中',value:0},{text:'完成',value:1}]
}

let getExTaskList=function(){
  appData.para.action = 'listAll';
  return $.get(appData.page.apiBase,appData.para,function(data){
    if(data.result.result){
      appData.list = data.list;
    }
  },'json')
}

let getTaskInfo = function(){
  //appData.para.id = appData.para.taskId;
  // appData.para.action = 'listOne';
  // return $.get(appData.page.apiTask,appData.para,function(data){
  //   if(data.result.result){
  //     appData.coObj = data.task;
  //   }
  // },'json')
  appData.coObj = JSON.parse(sessionStorage.getItem('task'));
}

let getPath = function(){
  appData.para.action = 'listOption';
  return $.get(appData.page.apiPath,appData.para,function(data){
    if(data.result.result){
      appData.path = data.list;
    }
  },'json')
}



export default {
  name: 'exTaskList',
  created(){
    appData.para.userId = sessionStorage.getItem('uid');
    appData.para.token = sessionStorage.getItem('token');
  },
  mounted(){
    appData.para.taskId = window.sessionStorage.getItem('taskId');
    getTaskInfo();
    $.when(getPath()).then(getExTaskList());

  },
  updated(){},
  beforeDestroy(){},
  beforeRouteUpdate (to, from, next) {
    appData.para.taskId = window.sessionStorage.getItem('taskId');
    getTaskInfo();
    $.when(getPath()).then(getExTaskList());
  },
  methods:{
    showTaskForm(type,status,exTaskId){
      if(!status) status =0;
      if(!type) type =0;
      if(!exTaskId) exTaskId =0;
      sessionStorage.setItem('exTaskStatus',status);
      sessionStorage.setItem('exTaskType',type);
      console.log(JSON.stringify(appData.list.find(f=>{return f.id==exTaskId})));
      sessionStorage.setItem('exTask',JSON.stringify(appData.list.find(f=>{return f.id==exTaskId})));
      this.$router.push('/task/manage/exForm/'+appData.para.taskId+'/'+exTaskId);
    },
    getText(key,value){
      return appData[key].find(function(f){
        return f.value == value
      }).text;
    },
  },
  data(){
    return appData
  }
}
</script>
