<template>
  <div class="modal-dialog" style="width:60%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span>反馈信息 - {{coObj.videoName}}</span></h4>
      </div>
      <div class="modal-body">
        <div class="feedbackList">
          <table width="100%">
            <tr v-for="l in list">
              <td width="80" class="text-center"><span v-if="l.userId!=para.userId">{{l.nickname}}</span></td>
              <td width="*">
                <p :class="[l.userId==para.userId?'text-right':'text-left']">{{l.upTime}}</p>
                <div :class="[l.userId==para.userId?'pull-right':'pull-left']" v-html="l.Content"></div>
              </td>
              <td width="80" class="text-center"><span v-if="l.userId==para.userId">我</span></td>
            </tr>
          </table>
        </div>
        <div class="sendbox">
          <table width="100%">
            <tr>
              <td><textarea class="form-control" v-model="content"></textarea></td>
              <td width="74"><button type="button" class="btn btn-success" @click="sendFeedback">发送</button></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" @click="closeNotify">关闭提醒</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</template>
<style lang="less" scoped>
.feedbackList{max-height: 350px; overflow-y: auto;
  td{
    p{margin: 0; padding: 5px; font-size: 12px; padding-top: 10px; color:#ccc;}
    div{margin: 5px; padding: 5px 10px; background: #eee; border-radius: 5px; color:#000;}
    div.pull-right{background: #8fdaa3;}
  }
}
.sendbox{ padding-top: 10px; border-top: #ddd 1px solid; margin-top: 10px;
  td{padding: 5px;
    button{font-size: 20px; height: 54px;}
  }
}

</style>
<script>
import util from '../util.vue'
import api from  '../api.vue'

let appData={
  para:{},
  list:[],
  content:'',
  coObj:{},
  msgType:0,
}

let getFeedback = function(vm){
  api.listFeedback(appData.para.userId,appData.para.token,appData.para.taskId,appData.msgType).done(data=>{
    if(data.result.result){
      data.list.forEach(l=>{
        l.Content = util.changeNewline(l.Content);
      });
      appData.list = data.list;
      vm.$nextTick(function(){
        setTimeout(function(){
          let div=document.querySelector(".feedbackList");
          div.scrollTop = div.scrollHeight;
        },200)
      });
    }else{
      $.notify('获取数据错误：'+ data.result.reason);
    }
  });
}

let getTaskInfo = function(){
  appData.coObj = JSON.parse(sessionStorage.getItem('task'));
}

let fetchDate = function(vm){
  appData.para.taskId = window.sessionStorage.getItem('taskId');
  getTaskInfo();
  getFeedback(vm);
}

export default {
  name: 'feedbackTaskList',
  created(){
    appData.para.userId = sessionStorage.getItem('uid');
    appData.para.token = sessionStorage.getItem('token');
    if(this.$router.history.current.path.indexOf('/task/manage')==0){ //任务管理
      appData.msgType = 1;
    }
    if(this.$router.history.current.path.indexOf('/effect/allTask')==0){ //特效任务
      appData.msgType = 2;
    }
  },
  mounted(){
    // appData.para.taskId = window.sessionStorage.getItem('taskId');
    // getTaskInfo();
    // getFeedback();
    fetchDate(this);
    console.log(this.$router.history.current.path)

  },
  updated(){},
  beforeDestroy(){},
  beforeRouteUpdate (to, from, next) {
    // appData.para.taskId = window.sessionStorage.getItem('taskId');
    // console.log(appData.para.taskId)
    // getTaskInfo();
    // getFeedback();
    fetchDate(this);
  },
  methods:{
    sendFeedback(){
      //content = this.$refs.content.value;
      if($.trim(appData.content)==''){
        return
      }else{
        util.showLoading();
        api.putFeedback(appData.para.userId,appData.para.token,appData.para.taskId,$.trim(appData.content),appData.msgType).done(data=>{
          if(data.result.result){
            appData.content='';
            getFeedback(this);
          }else{
            $.notify('操作失败：'+ data.result.reason)
          }
          util.hideLoading()
        });
      }
    },
    closeNotify(){
      api.disNotifyFeedback(appData.para.userId,appData.para.token,appData.list[appData.list.length-1].id).done(data=>{
        if(data.result.result){
          $.notify('设置成功')
        }else{
          $.notify('设置失败')
        }
      });
    }
  },
  // watch:{
  //     "$route": "fetchDate"
  // },
  data(){
    return appData
  },

}
</script>
