<template>
  <div class="modal-dialog" style="width:60%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span>合成任务列表 - {{task.videoName}}</span></h4>
      </div>
      <div class="modal-body">
        <table width="100%" class="table table-bordered">
          <tr>
            <th>编号</th>
            <th>{{readonly=='false'?'模板':'合成方案'}}</th>
            <th>合成状态</th>
            <th>目标文件</th>
            <th>合成时间</th>
            <th v-show="readonly=='false'">水印配置</th>
            <th v-show="readonly=='false'">操作</th>
          </tr>
          <!-- <tr>
            <td></td>
            <td>特效合成视频</td>
            <td>-</td>
            <td>
              <a v-if="!task.targetVideo && !task.upVideo" :href="task.transcode_video_url" target="_blank">视频</a>
              <a v-if="task.targetVideo" :href="task.targetVideo" target="_blank">视频</a>
              <a v-if="task.upVideo" :href="task.upVideo" target="_blank">视频</a>
            </td>
            <td>-</td>
            <td v-show="readonly=='false'"></td>
            <td v-show="readonly=='false'"></td>
          </tr> -->
          <tr v-for="l in mergeModel" v-if="readonly=='false' || l.task.id >0">
            <td>{{l.task.id}}</td>
            <td>{{l.alias}}</td>
            <td>{{getText(status,l.task.status)}}</td>
            <td><a v-if="l.task.targetUrl" :href="l.task.targetUrl" target="_blank">视频</a></td>
            <td>{{l.task.upTime}}</td>
            <td v-show="readonly=='false'">{{task.watermark?'自定义':'模板'}}</td>
            <td v-show="readonly=='false'">
              <button type="button" class="btn btn-success" @click="doMerge(l.id,l.task.id)">{{l.task.id?'重新合成':'开始合成'}}</button>
              <button type="button" class="btn btn-danger" v-if="l.task.id > 0"  @click="delMerge(l.task.id)">删除</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</template>
<style lang="less" scoped>
  th,td{padding: 5px; border-right: #ddd 1px solid; border-bottom: #ddd 1px solid; text-align: center;}
  th{background: #eee;}
  tr{cursor: pointer;}
  tr:hover{background: #f9f9f9;}
</style>
<script>
import util from '../util.vue'
import api from '../api.vue'

let appData={
  task:{},
  mergeModel:[],
  readonly:false,
  status:[{text:'未知',value:-1},{text:'任务创建中',value:0},{text:'队列中',value:1},{text:'合成中',value:2},{text:'失败',value:3},{text:'完成',value:4}]
}


let getTaskInfo = function(){
  appData.task = JSON.parse(sessionStorage.getItem('task'));
}

let getMergeModel = function(){
  let mergeModel = JSON.parse(sessionStorage.getItem('mergeModel'));
  mergeModel.forEach(l=>{
    l.task = {
      id:'',
      status:null,
      targetUrl:'',
      upTime:''
    }
  })
  appData.mergeModel = mergeModel;
}

let loadUser = function(){
	appData.user = JSON.parse(localStorage.user);
	appData.user.role = appData.user.roles.split(',');
	appData.user.co = appData.user.coId.split(',');
	//sessionStorage.setItem('token',appData.user.token);
	//sessionStorage.setItem('uid',appData.user.id);
	console.log(appData.user)
}

let getMergeTask = function(){
  api.getMergeTask(appData.user.id,appData.user.token,appData.task.taskId).done(data=>{
    if(data.result.result){
      appData.list = data.list;
      data.list.forEach(l=>{
        let m = appData.mergeModel.find(f=>{
          return f.id == l.modelId;
        });
        if(m){
          m.task = l;
        }
      });
    }else{
      $.notify('获取信息错误：'+ data.result.reason);
    }
  });
}


export default {
  name: 'mergeTask',
  created(){
    loadUser();
  },
  mounted(){
    //appData.para.taskId = window.sessionStorage.getItem('taskId');
    getTaskInfo();
    getMergeModel();
    getMergeTask();
    appData.readonly = sessionStorage.getItem('mergeTaskRO');
  },
  updated(){},
  beforeDestroy(){},
  beforeRouteUpdate (to, from, next) {
    //appData.para.taskId = window.sessionStorage.getItem('taskId');
    getTaskInfo();
    getMergeModel();
    getMergeTask();
    appData.readonly = sessionStorage.getItem('mergeTaskRO');
  },
  methods:{
    doMerge(modelId,tId){
      let f = appData.task;
      let mergeTask = {
        taskId    : f.taskId,
        courseId  : f.course_id,
        modelId   : modelId,
        id        : tId,
      };
      api.saveMergeTask(appData.user.id,appData.user.token,mergeTask).done(data=>{
        if(data.result.result){
          let newId = 0;
          if(data.newId) {
            newId = data.newId;
          }else{
            newId = tId;
          }
          let model = appData.mergeModel.find(f=>{return f.id == modelId});
          let s=[];
          console.log(model.content)
          if(model.content){
            s = JSON.parse(model.content);
          }
          //let s = JSON.parse(model.content);
          let f = appData.task;
          console.log(s)

          if(f.watermark && s.length>0){
            let s2 = JSON.parse(f.watermark);
            if(s2[0].position){
              s[0].position = s2[0].position;
            }
            if(s2[0].time_interval.length > 0){
              s[0].time_interval = s2[0].time_interval;
            }
          }

          let d = {
            action:'transcode',
            courseId:f.course_id,
            platformId:newId,
            headVideoUrl:model.frontPost,
            tailVideoUrl:model.endPost,
            //watermark:JSON.stringify(s),
          }
          if(s.length >0 ) d.watermark = JSON.stringify(s);
          if(model.cutJson && model.cutJson != '{}'){
            d.cutJson = model.cutJson;
          }
          if(model.epJson && model.epJson != '{}'){
            d.epJson = model.epJson;
          }
          if(model.opJson && model.opJson != '{}'){
            d.opJson = model.opJson;
          }
          if(model.brand == 'true'){
            d.brand = true;
          }
          $.post('http://m.yxgapp.com/d/mooc/internationalTranscode.json',d,function(da){
            if(da.result.result){
              let tId = da.taskId;
              mergeTask = {
                id : newId,
                depsId : tId,
                status : 0,
              }
              api.saveMergeTask(appData.user.id,appData.user.token,mergeTask);
              getMergeTask()
            }else{
              $.notify('操作失败：'+ da.result.reason);
            }
          },'json')
        }else{
          $.notify('操作失败：'+ data.result.reason);
        }
      });
    },
    getText(data,value){
      return util.getText(data,value);
    },
    delMerge(id){
      api.delMergeTask(appData.user.id,appData.user.token,id).done(data=>{
        getMergeTask()
      });
    }
  },
  data(){
    return appData
  }
}
</script>
