eq1<template>
  <div id="main-content">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" />
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">{{page.modelName}} - {{page.currentCo.coName}}</h3>
                  <span class="date-range pull-right">
                    <div class="btn-group">
                      <a class="js_update btn btn-default" :class="{'btn-success':page.rangeType==0}" @click="loadCoTask(0)">近一周</a>
                      <a class="js_update btn btn-default" :class="{'btn-success':page.rangeType==1}" @click="loadCoTask(1)">近一月</a>
                      <a class="js_update btn btn-default" :class="{'btn-success':page.rangeType==2}" @click="loadCoTask(2)">所有记录</a>
                      <a id="reportrange" class="js_update btn btn-default" :class="{'btn-success':page.rangeType==3}">
                        <i class="fa fa-calendar"></i>
                        <span>{{page.range}}</span>
                        <i class="fa fa-angle-down"></i>
                      </a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="tc">
            <!-- <ul class="nav nav-tabs">
              <li v-for="c in cooperators" :class="{'active':page.currentCo.id==c.id}"><a @click="loadCoTask(c.id)">{{c.coName}}</a></li>

            </ul> -->
            <table width="30%">
              <tr>
                <td width="140" style="font-size:16px;">当前选择合作方：</td>
                <td><select class="form-control" @change="loadCoTask()" id="coSel">
                  <option v-for="c in cooperators" :value="c.id" :selected="c.id==page.currentCo.id" v-if="user.co.indexOf(c.id)>=0">{{c.coName}}</option>
                </select></td>
              </tr>
            </table>
            <div class="col-sm-12" id="table-container">
              <table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
                  <thead><tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>视频源</th>
                    <th>标签</th>
                    <!-- <th>语言</th>
                    <th>分类</th> -->
                    <th>更新时间</th>
                    <th>发布素材</th>
                    <th>备注</th>
                    <!-- <th>状态</th> -->
                    <th>发布</th>
                    <th>合成</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="l in list">
                    <td>{{l.courseId}}</td>
                    <td>{{l.videoName}}</td>
                    <td><a v-if="l.videoUrl" :href="l.videoUrl" target="_blank">视频源</a>
                        <a v-if="l.infoUrl" :href="l.infoUrl" target="_blank">文本源</a>
                        <a v-if="l.coverUrl" :href="l.coverUrl" target="_blank">封面源</a></td>
                    <td>{{l.tag}}</td>
                    <!-- <td>{{getText('lang',l.langId)}}</td>
                    <td>{{getText('category',l.typeId)}}</td> -->
                    <td>{{l.upTime.substr(0,10)}}</td>
                    <td><a :href="l.targetVideo" target="_blank" v-if="l.targetVideo">视频</a><a :href="l.cover" target="_blank" v-if="l.cover">封面</a></td>
                    <td><span v-if="!l.edit">{{l.remark.substr(0,20)}}</span></td>
                    <!-- <td>{{getText(status,l.status)}}</td> -->
                    <td><a v-if="l.exTaskCount">{{l.exTaskCountFinish}} / {{l.exTaskCount}}</a></td>
                    <td><a v-if="l.mergeTaskCount">{{l.mergeTaskCountFinish}} / {{l.mergeTaskCount}}</a></td>
                    <td align="center">
                        <button type="button" class="btn btn-danger" @click="setStatus(14,l.id)">取消归档</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
    <!-- <div class="modal fade" id="addbox">
        <div class="modal-dialog" style="width:60%">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><span v-show="update==0">添加新任务 - {{page.currentCo.coName}}</span><span v-show="update==1">更新任务信息</span></h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-group" :class="{'has-error':errors.has('videoName')}">
                  <label class="col-sm-2 control-label">标题</label>
                  <div class="col-sm-10"><input type="text" name="videoName" class="form-control" v-validate="'required'" placeholder="标题" v-model="coTask.videoName"></div>
                </div>
                <div class="form-group" :class="{'has-error':errors.has('videoUrl')}">
                  <label class="col-sm-2 control-label">视频源地址</label>
                  <div class="col-sm-10"><input type="url" name="videoUrl" class="form-control" v-validate="'required|url:true'" placeholder="视频源地址" v-model="coTask.videoUrl" :readonly="update==1"></div>
                </div>
                <div class="form-group" :class="{'has-error':errors.has('infoUrl')}">
                  <label class="col-sm-2 control-label">文本源地址</label>
                  <div class="col-sm-10"><input type="url" name="infoUrl" class="form-control" placeholder="文本源地址" v-validate="'url:true'" v-model="coTask.infoUrl"></div>
                </div>
                <div class="form-group" :class="{'has-error':errors.has('coverUrl')}">
                  <label class="col-sm-2 control-label">封面源地址</label>
                  <div class="col-sm-10">
                      <input type="url" name="coverUrl" class="form-control" placeholder="封面源地址" v-validate="'url:true'" v-model="coTask.coverUrl">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">语言</label>
                  <div class="col-sm-10">
                    <button type="button" class="btn btn-default" :class="{'btn-success':coTask.langId == c.value}" @click="setValue('langId',c.value)"  v-for="c in lang" >{{c.text}}</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">分类</label>
                  <div class="col-sm-10">
                    <button type="button" class="btn btn-default" :class="{'btn-success':coTask.typeId == c.value}" @click="setValue('typeId',c.value)"  v-for="c in category" >{{c.text}}</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">标签</label>
                  <div class="col-sm-10">
                    <button type="button" class="btn btn-default" :class="{'btn-success':coTask.tag.split(' ').indexOf(t.tag)>=0}" @click="setLabels(t.tag)"  v-for="t in userTag" >{{t.tag}}</button>
                    <div id="addLabel" class="input-group col-xs-4">
                      <input type="text" class="form-control" placeholder="添加新标签"  v-model="page.newLabel" maxlength="6">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" @click="addLabel"><i class="fa fa-plus"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">备注</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" v-model="coTask.remark" maxlength="255" placeholder="备注"></textarea>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" @click="doSave"><span v-if="update==0">添加</span><span v-if="update==1">更新</span></button>
            </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="taskbox">
      <router-view name="exTask">
	    </router-view>
    </div> -->
  </div>
</template>
<style scoped>
  .form-horizontal{padding: 0px 20px;}
  .modal-body button{margin: 2px}
  a{cursor: pointer;}
  td{vertical-align: middle !important;}
  td a{margin-right: 12px;}
  #tc{padding:0 20px;}
  #tc table{margin-bottom: 20px;}
  #table-container{padding: 0;}
  #addLabel{padding: 2px;}
  #addLabel button{margin-top:0;}
  .green{background: #fafadd;}
  ul.dropdown-menu{min-width: 90px; width: 90px;}
  ul.dropdown-menu a:hover{font-weight: bold;}
  td i{margin-right:10px; font-size: 20px; color: #f00;}
  td a{text-decoration: underline;}
</style>
<script>
import util from '../util.vue'
import api from '../api.vue'
//import _ from 'lodash'

let appData={
  para:{
    action:'',
    userId:'',
    token:'',
  },
  task:{
    videoName:'',
    videoUrl:'',
    infoUrl:'',
    coverUrl:'',
    status:1,
    tag:'',
    remark:'',
    typeId:0,
    langId:0,
  },
  coTask:{
    videoName:'',
    videoUrl:'',
    infoUrl:'',
    coverUrl:'',
    status:1,
    tag:'',
    remark:'',
    typeId:0,
    langId:0,
  },
  page:{
    modelName:'已归档任务',
    currentCo:{},
    range:'',
    rangeType:2,
  },
  cooperators:[],
  list:[],
  status:[],
  user:{},
};

let initDateRange = function(vm){
	$('#reportrange').daterangepicker(config.daterangeConfig);
	$('#reportrange').on('apply.daterangepicker', function(ev, picker) {
		appData.page.range = picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD');
		//appData.page.rangeTypetype = 3;
		appData.para.from = picker.startDate.format('YYYY-MM-DD');
		appData.para.to = picker.endDate.add(1,"days").format('YYYY-MM-DD');
    console.log(appData.para);
		vm.loadCoTask(3);
	});
};

let initList = function(vm){
  //appData.para.action = 'listArchive';
  //appData.para.coId = appData.page.currentCo.id;
  if($('#list').hasClass('dataTable')){
    $('#list').DataTable().destroy();
  }

  api.getTask(appData.user.id,appData.user.token,appData.page.currentCo.id,appData.para.from,appData.para.to,true).done(data=>{
    if(data.result.result){
      appData.list = data.list;
      vm.$nextTick(function(){
        if($('#list').hasClass('dataTable')==false) $('#list').DataTable(config.tableConfig);
      });
    }else{
      $.notify('获取信息错误：'+ data.result.reason);
    }
  })
};

let saveTask = function(vm){
  api.saveTask(appData.user.id,appData.user.token,appData.coTask).done(data=>{
    if(data.result.result){
      initList(vm);
      $('#addbox').modal('hide');
    }else{
      $.notify('操作失败：'+ data.result.reason);
    }
  });
}

let loadUser = function(){
	appData.user = JSON.parse(localStorage.user);
	appData.user.role = appData.user.roles.split(',');
	appData.user.co = appData.user.coId.split(',');
	console.log(appData.user)
}

let getCooperators = function(){
  let d = $.Deferred();
  api.getAvaCooperator(appData.user.id, appData.user.token).done(data=>{
    if(data.result.result){
      appData.cooperators = data.list;
    }else{
      $.notify('获取信息错误：'+ data.result.reason);
    }
    d.resolve();
  })
  return d
};

export default {
  name: 'taskArchive',
  created(){
    loadUser();
    appData.status = config.app.status;
    //getUserTag();
  },
  mounted(){
    let vm = this;
    initDateRange(vm);
    $.when(getCooperators()).then(
      function(){
        let co ='';
        console.log(localStorage.lastTaskCoId)
        if(appData.cooperators.length >0){
          if(localStorage.lastTaskCoId){
            co = appData.cooperators.find(f=>{return f.id == localStorage.lastTaskCoId});
          }
          console.log(co)
          if(co && co != ''){
            appData.page.currentCo = Object.assign({},co);

          }else{
            appData.page.currentCo = Object.assign({},appData.cooperators[0]);
          }

          vm.loadCoTask();

        }
    });
    $('#taskbox').on('hidden.bs.modal', function () {
      initList(vm);
    });
  },
  updated(){},
  beforeDestroy(){
		$('div.daterangepicker').remove();
	},
  methods:{
    showAddbox(update,id){
      console.log(id)
      appData.update = update;
      if(update == 0){
        appData.coTask = Object.assign({},appData.task);
        //checkUrl();
        appData.para.action = 'save';
      }else{
        let l = appData.list.find(function(f){ return f.id == id});
        appData.coTask= Object.assign({}, l);
        //console.log(appData.cooperator)
        appData.para.action = 'update';
      }
      $('#addbox').modal('show');
    },
    setStatus(status,id){
      let vm = this;
      let l = appData.list.find(function(f){ return f.id == id});
      appData.coTask= Object.assign({}, l);
      appData.coTask.status = status;
      saveTask(vm);
    },
      loadCoTask(rangeType){
      let vm = this;
      if(rangeType!=undefined){
        appData.page.rangeType = rangeType;
      }
      if(appData.page.rangeType != 3){
        appData.para.to = moment().add(1,"days").format('YYYY-MM-DD');
      }
      switch (appData.page.rangeType) {
		  	case 0:
		  		appData.para.from = moment().subtract(7, "days").format('YYYY-MM-DD');
		  		break;
			  case 1:
		  		appData.para.from = moment().subtract(1, "months").format('YYYY-MM-DD');
		  		break;
			  case 2:
				  delete appData.para.from;
				  break;
		  }
      //if(appData.page.currentCo.id == coId) return;
      let coId = $('#coSel').val();
      if(coId){
        localStorage.lastTaskCoId = coId;
        appData.page.currentCo = Object.assign({},appData.cooperators.find(f=>{return f.id==coId}));
      }
      initList(vm);
    },
    getText(data,value){
      return util.getText(data,value)
    },
    showExList(taskId){
      sessionStorage.setItem('taskId',taskId);
      sessionStorage.setItem('task',JSON.stringify(appData.list.find(f=> {return f.id==taskId})));
      $('#taskbox').modal('show');
      this.$router.replace('/task/manage/exList/'+taskId);
    },
    // showFeedbackList(taskId){
    //   sessionStorage.setItem('taskId',taskId);
    //   sessionStorage.setItem('task',JSON.stringify(appData.list.find(f=> {return f.id==taskId})));
    //   $('#taskbox').modal('show');
    //   this.$router.replace('/task/manage/feedback/'+taskId);
    // }
  },
  data(){
    return appData
  }
}
</script>
