eq1<template>
  <div id="main-content">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" />
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">{{page.modelName}} <a @click="showAddbox(0)" class="btn btn-success"><i class="fa fa-plus"></i> 添加新任务</a></h3>
                  <span class="date-range pull-right">
                    <div class="btn-group">
                      <a class="js_update btn btn-default" :class="{'btn-success':page.rangeType==0}" @click="loadCoTask(0)">近一周</a>
                      <a class="js_update btn btn-default" :class="{'btn-success':page.rangeType==1}" @click="loadCoTask(1)">近一月</a>
                      <a class="js_update btn btn-default" :class="{'btn-success':page.rangeType==2}" @click="loadCoTask(2)">所有记录</a>
                      <a id="reportrange" class="js_update btn btn-default" :class="{'btn-success':page.rangeType==3}">
                        <i class="fa fa-calendar"></i>
                        <span>{{page.range}}</span>
                        <i class="fa fa-angle-down"></i>
                      </a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="tc">
            <!-- <ul class="nav nav-tabs">
              <li v-for="c in cooperators" :class="{'active':page.currentCo.id==c.id}"><a @click="loadCoTask(c.id)">{{c.coName}}</a></li>

            </ul> -->
            <table width="30%">
              <tr>
                <td width="140" style="font-size:16px;">当前选择合作方：</td>
                <td><select class="form-control" @change="loadCoTask()" id="coSel">
                  <option v-for="c in cooperators" :value="c.id" :selected="c.id==page.currentCo.id" v-if="user.co.indexOf(c.id)>=0">{{c.coName}}</option>
                </select></td>
              </tr>
            </table>
            <div class="col-sm-12" id="table-container">
              <table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>视频源</th>
                    <th>标签</th>
                    <!-- <th>语言</th>
                    <th>分类</th> -->
                    <th>更新时间</th>
                    <th>发布素材</th>
                    <th>备注</th>
                    <th>状态</th>
                    <th style="min-width:65px;">发布</th>
                    <th style="min-width:65px;" v-show="mergeModel.length>0">合成</th>
                    <th style="min-width:60px;">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="l in list" :class="{'green':l.status==14,'red':l.status==5 || l.status==13}">
                    <td>{{l.courseId}}</td>
                    <td><i :class="{'active':l.newMsg}" class="fa fa-commenting-o" @click="showFeedbackList(l.id)"></i><a @click="showAddbox(1,l.id)">{{l.videoName}}</a><i class="fa fa-trash-o pull-right" @click="setStatus(99,l.id)" v-if="l.status<8"></i></td>
                    <td><a v-if="l.videoUrl" :href="l.videoUrl" target="_blank">视频源</a>
                        <a v-if="l.infoUrl" :href="l.infoUrl" target="_blank">文本源</a>
                        <a v-if="l.coverUrl" :href="l.coverUrl" target="_blank">封面源</a></td>
                    <td>{{l.tag}}</td>
                    <!-- <td>{{getText('lang',l.langId)}}</td>
                    <td>{{getText('category',l.typeId)}}</td> -->
                    <td>{{l.upTime.substr(0,10)}}</td>
                    <td>
                      <a :href="l.targetVideo" target="_blank" v-if="l.targetVideo">视频</a>
                      <a :href="l.cover" target="_blank" v-if="l.cover">封面</a>
                      <a :href="'http://bdcdn-yxg-share.yxgapp.com/forYouku/'+ l.guid +'.mp4'" target="_blank" v-if="l.status==5">字幕确认视频</a>
                    </td>
                    <td @click="appendEditor(l.id,l.remark)"><span v-if="!l.edit">{{l.remark.substr(0,20)}}</span><input type="text" v-if="l.edit==true" v-model="coTask.remark" class="form-control edit" @keyup="updateRemark($event)"></td>
                    <td>{{getText(status,l.status)}} <a v-if="l.status==0" @click="setStatus(1,l.id)">未开始</a></td>
                    <td><a v-if="l.exTaskCount"  @click="showExList(l.id)">{{l.exTaskCountFinish}} / {{l.exTaskCount}}</a></td>
                    <td @click="showMergeList(l.id,l.status)" v-show="mergeModel.length>0"><a v-show="l.status==14">{{l.mergeTaskCountFinish}} / {{l.mergeTaskCount}}</a></td>
                    <td align="center">
                      <!-- <div class="btn-group"> -->
                        <!-- <button type="button" class="btn btn-primary"  @click="showAddbox(1,l.id)">编辑</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li :class="{'disabled':l.status!=13}"><a @click="showExList(l.id)">发布</a></li>
                          <li><a @click="showFeedbackList(l.id)">反馈</a></li>
                        </ul> -->
                        <button type="button" class="btn btn-success" v-if="l.status==5" @click="setStatus(8,l.id)">字幕确认</button>
                        <button type="button" class="btn btn-success" v-if="l.status==13" @click="setStatus(14,l.id)">特效确认</button>
                        <!-- <button type="button" class="btn btn-warning" @click="showAddbox(1,l.id)">编辑</button> -->
                        <button type="button" class="btn btn-danger" v-if="l.status==14" @click="setStatus(89,l.id)">归档</button>
                        <!-- <button type="button" class="btn btn-danger" v-if="l.status==13" @click="doMerge(l.id,l.courseId)">合成</button> -->
                        <!-- <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a @click="showFeedbackList(l.id)">反馈</a></li>
                          <li><a @click="showAddbox(1,l.id)">编辑</a></li>
                          <li><a :class="{'disabled':l.status!=13}" @click="setStatus(14,l.id)">归档</a></li>
                        </ul> -->
                      <!-- </div> -->
                      <!-- <button type="button" class="btn btn-primary" @click="showAddbox(1,l.id)">编辑</button>
                      <button type="button" class="btn btn-success" @click="showExList(l.id)" v-if="l.status==13">发布</button> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
    <div class="modal fade" id="addbox">
        <div class="modal-dialog" style="width:60%">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><span v-show="update==0">添加新任务 - {{page.currentCo.coName}}</span><span v-show="update==1">更新任务信息</span></h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-group" :class="{'has-error':errors.has('videoName')}">
                  <label class="col-sm-2 control-label">标题</label>
                  <div class="col-sm-10"><input type="text" name="videoName" class="form-control" v-validate="'required'" placeholder="标题" v-model="coTask.videoName"></div>
                </div>
                <div class="form-group" :class="{'has-error':errors.has('videoUrl')}">
                  <label class="col-sm-2 control-label">视频源地址</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="url" name="videoUrl" class="form-control" v-validate="'required|url:true'" placeholder="视频源地址" v-model="coTask.videoUrl" :readonly="update==1" @blur="checkMedia">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-cog" id="checkMedia"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group" :class="{'has-error':errors.has('videoCleanUrl')}">
                  <label class="col-sm-2 control-label">Clean视频地址</label>
                  <div class="col-sm-10"><input type="url" name="videoCleanUrl" class="form-control" v-validate="'url:true'" placeholder="Clean视频地址" v-model="coTask.videoCleanUrl"></div>
                </div>
                <div class="form-group" :class="{'has-error':errors.has('coverUrl')}">
                  <label class="col-sm-2 control-label">封面源地址</label>
                  <div class="col-sm-10">
                      <input type="url" name="coverUrl" class="form-control" placeholder="封面源地址" v-validate="'url:true'" v-model="coTask.coverUrl">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">原始简介</label>
                  <div class="col-sm-10">
                    <!-- <input type="url" name="infoUrl" class="form-control" placeholder="文本源地址" v-validate="'url:true'" v-model="coTask.infoUrl"> -->
                    <vue-html5-editor :content="coTask.memoText2" ref="editor"></vue-html5-editor>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-sm-2 control-label">语言</label>
                  <div class="col-sm-10">
                    <button type="button" class="btn btn-default" :class="{'btn-success':coTask.langId == c.value}" @click="setValue('langId',c.value)"  v-for="c in lang" >{{c.text}}</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">分类</label>
                  <div class="col-sm-10">
                    <button type="button" class="btn btn-default" :class="{'btn-success':coTask.typeId == c.value}" @click="setValue('typeId',c.value)"  v-for="c in category" >{{c.text}}</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">标签</label>
                  <div class="col-sm-10">
                    <button type="button" class="btn btn-default" :class="{'btn-success':coTask.tag.split(' ').indexOf(t.tag)>=0}" @click="setLabels(t.tag)"  v-for="t in userTag" >{{t.tag}}</button>
                    <div id="addLabel" class="input-group col-xs-4">
                      <input type="text" class="form-control" placeholder="添加新标签"  v-model="page.newLabel" maxlength="20">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" @click="addLabel"><i class="fa fa-plus"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">备注</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" v-model="coTask.remark" maxlength="255" placeholder="备注"></textarea>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" @click="doSave"><span v-if="update==0">添加</span><span v-if="update==1">更新</span></button>
            </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="taskbox">
      <router-view name="exTask">
	    </router-view>
    </div>
  </div>
</template>
<style scoped>
  .form-horizontal{padding: 0px 20px;}
  .modal-body button{margin: 2px}
  a{cursor: pointer; }
  td a{text-decoration: underline;}
  td{vertical-align: middle !important;}
  td a{margin-right: 12px;}
  #tc{padding:0 20px;}
  #tc table{margin-bottom: 20px;}
  #table-container{padding: 0;}
  #addLabel{padding: 2px;}
  #addLabel button{margin-top:0;}
  .green{background: #fafadd;}
  .red{background: #fee;}
  ul.dropdown-menu{min-width: 90px; width: 90px;}
  ul.dropdown-menu a:hover{font-weight: bold;}
  td i{margin-right:10px; font-size: 20px; color: #aaa;}
  td i.active{color:#f00;}
  td i.pull-right{margin: 0; color:#f00; display: none;}
  td:hover i.pull-right{display: block;}
  .input-group .btn{margin: 0}
</style>
<script>
import util from '../util.vue'
import api from '../api.vue'

//import _ from 'lodash'

let appData={
  para:{
    action:'',
    userId:'',
    token:'',
  },
  task:{
    videoName:'',
    videoUrl:'',
    memoText2:'',
    coverUrl:'',
    videoCleanUrl:'',
    status:1,
    tag:'',
    remark:'',
    typeId:0,
    langId:0,
  },
  coTask:{
    videoName:'',
    videoUrl:'',
    memoText2:'',
    coverUrl:'',
    videoCleanUrl:'',
    status:1,
    tag:'',
    remark:'',
    typeId:0,
    langId:0,
  },
  page:{
    modelName:'进行中任务',
    currentCo:{},
    range:'',
    rangeType:2,
    newLabel:'',
  },
  cooperators:[],
  list:[],
  category:[],
  status:[],
  lang:[],
  userTag:[],
  mergeModel:[],
  user:{},
  update:0,
  content:'',
};

let loadUser = function(){
	appData.user = JSON.parse(localStorage.user);
	appData.user.role = appData.user.roles.split(',');
	appData.user.co = appData.user.coId.split(',');
	//sessionStorage.setItem('token',appData.user.token);
	//sessionStorage.setItem('uid',appData.user.id);
	console.log(appData.user)
}

let getMergeModel = function(){
  api.getMergeModel(appData.user.id,appData.user.token,appData.page.currentCo.id).done(data=>{
    if(data.result.result){
      appData.mergeModel = data.list;
    }
  });
}

let initDateRange = function(vm){
	$('#reportrange').daterangepicker(config.daterangeConfig);
	$('#reportrange').on('apply.daterangepicker', function(ev, picker) {
		appData.page.range = picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD');
		//appData.page.rangeTypetype = 3;
		appData.para.from = picker.startDate.format('YYYY-MM-DD');
		appData.para.to = picker.endDate.add(1,"days").format('YYYY-MM-DD');
    console.log(appData.para);
		vm.loadCoTask(3);
	});
};

let initList = function(vm){
  appData.para.coId = appData.page.currentCo.id;
  if($('#list').hasClass('dataTable')){
    $('#list').DataTable().destroy();
  }
  loadList(vm);
};

let loadList = function(vm){
  api.getTask(appData.para.userId,appData.para.token,appData.para.coId,appData.para.from,appData.para.to).done(data=>{
    if(data.result.result){
      data.list.forEach(l=>{l.edit = false});
      appData.list = data.list;
      vm.$nextTick(function(){
        if($('#list').hasClass('dataTable')==false) $('#list').DataTable(config.tableConfig);
      });
    }else{
      $.notify('获取信息错误：'+ data.result.reason);
    }
  });
}

let getBaseInfo = function(){
  appData.category = JSON.parse(localStorage.category);
  appData.lang = JSON.parse(localStorage.lang);
  //appData.teams = JSON.parse(localStorage.team);
}

let getCooperators = function(){
  let d = $.Deferred();
  api.getAvaCooperator(appData.para.userId, appData.para.token).done(data=>{
    if(data.result.result){
      appData.cooperators = data.list;
    }else{
      $.notify('获取信息错误：'+ data.result.reason);
    }
    d.resolve();
  })
  return d
};

let saveTask = function(vm){
  api.saveTask(appData.para.userId,appData.para.token,appData.coTask).done(data=>{
    if(data.result.result){
      initList(vm);
      $('#addbox').modal('hide');
    }else{
      $.notify('操作失败：'+ data.result.reason);
    }
  });
  //
  // return $.post(appData.page.apiBase,Object.assign(appData.coTask,appData.para),function(data){
  //   if(data.result.result){
  //     initList(vm);
  //     $('#addbox').modal('hide');
  //   }else{
  //     $.notify('操作失败：'+ data.result.reason);
  //   }
  // },'json');
};

let checkUrl = function(){
  let _url = appData.coTask.videoUrl.toLowerCase();
  let url = appData.coTask.videoUrl;
  if(_url.indexOf('youtube.com/')>0){
    appData.coTask.youtubeKey = util.getPara(url,'v');
    console.log(appData.coTask.youtubeKey);
  }
  if(_url.indexOf('youtu.be/')>0){
    if(_url.indexOf('?') >= 0){
      appData.coTask.youtubeKey = url.substring(url.indexOf('be/')+3,url.indexOf('?'));
    }else{
      appData.coTask.youtubeKey = url.substring(url.indexOf('be/')+3);
    }
  }
  if(appData.coTask.youtubeKey){
    appData.coTask.videoUrl = 'https://www.youtube.com/watch?v='+ appData.coTask.youtubeKey;
  }
  console.log(appData.coTask);
}

let getUserTag = function(){
  api.getUserTag(appData.para.userId,appData.para.token).done(data=>{
    if(data.result.result){
      appData.userTag = data.list;
    }
  });
}

export default {
  name: 'taskManage',
  created(){
    loadUser();
    appData.para.userId = window.sessionStorage.getItem('uid');
    appData.para.token = window.sessionStorage.getItem('token');
    appData.status = config.app.status;
    getUserTag();
  },
  mounted(){
    let vm = this;
    initDateRange(vm);
    getBaseInfo();
    getCooperators().then(function(){
      let co ='';
      if(appData.cooperators.length >0){
        if(localStorage.lastTaskCoId){
          co = appData.cooperators.find(f=>{return f.id == localStorage.lastTaskCoId});
          console.log(co)
          if(co){
            appData.page.currentCo = Object.assign({},co);
          }else{
            appData.page.currentCo = Object.assign({},appData.cooperators[0]);
          }
        }
        vm.loadCoTask();

      }
    });

    $('#taskbox').on('hidden.bs.modal', function () {
      loadList(vm);
      vm.$router.push('/task/manage');
    });
  },
  updated(){},
  beforeDestroy(){
		$('div.daterangepicker').remove();
	},
  methods:{
    appendEditor(id,remark){
      //if(!status || status <2){
        console.log('click')
        let f = appData.list.find(f=>{return f.id == id});
        if(f){
          if(f.edit==false){
            appData.list.forEach(l=>l.edit=false);
            f.edit=true;
            appData.coTask.remark = remark;
            appData.coTask.id = id;
            setTimeout(function(){$('input.edit:visible').focus()},0);
          }
        }
      // }else{
      //   return
      // }
    },
    showAddbox(update,id){
      console.log(id)
      let vm =this;
      appData.update = update;
      if(update == 0){
        appData.coTask = Object.assign({},appData.task);
        let icon = $('#checkMedia');
        icon.removeClass('fa-check fa-close').addClass('fa-cog');
        //checkUrl();
        //appData.para.action = 'save';
      }else{
        let l = appData.list.find(function(f){ return f.id == id});
        appData.coTask= Object.assign({}, l);
        api.getTaskMemo(appData.user.id,appData.user.token,id).done(data=>{
          if(data.result.result){
            appData.coTask.memoText2 = data.memo;
            vm.$refs.editor.$refs.content.innerHTML = data.memo;
          }
        })
        //console.log(appData.cooperator)
        //appData.para.action = 'update';
      }
      $('#addbox').modal('show');
    },
    setValue(key,value){
      appData.coTask[key]=value;
    },
    getText(data,value){
      return util.getText(data,value);
    },
    setLabels:function(label){
			let labels = [];
			if($.trim(appData.coTask.tag)!=''){
				labels = appData.coTask.tag.split(' ');
			}
			//let labels = appData.video.remark.split(' ');
			let index = labels.indexOf(label);
			if(index>=0){
				labels.splice(index,1);
			}else{
				labels.push(label)
			}
			appData.coTask.tag = labels.join(' ');
			//console.log(appData.video.remark)
		},
    addLabel : function(){
			appData.page.newLabel = $.trim(appData.page.newLabel);
			if(appData.page.newLabel==''){
				return
			}

      api.saveUserTag(appData.para.userId,appData.para.token,appData.page.newLabel).done(data=>{
        if(data.result.result){
          this.setLabels(appData.page.newLabel)
					appData.page.newLabel = '';
					getUserTag();
        }else{
          $.notify(data.result.reason);
        }
      });
		},
    setStatus(status,id){
      let vm = this;
      let l = appData.list.find(function(f){ return f.id == id});
      appData.coTask= Object.assign({}, l);
      appData.coTask.status = status;
      //appData.para.action='update';
      saveTask(vm);
    },
    doSave(){
      let vm = this;
      this.$validator.validateAll().then(() => {
        checkUrl();
        //console.log(this.$refs.editor.$refs.content.innerHTML)
        appData.coTask.memoText2 = this.$refs.editor.$refs.content.innerHTML;
        if(appData.coTask.tag ==''){
          $.notify('为视频选几个标签吧');
          return;
        }
        saveTask(vm);
      });
    },

    // del(id){
    //   let vm = this;
    //   if(id){
    //     appData.para.action = 'delete';
    //     let l = appData.list.find(function(f){ return f.id == id});
    //     appData.coTask= Object.assign({}, l);
    //     saveTask(vm);
    //   }
    // },
    loadCoTask(rangeType){
      let vm = this;

      console.log(localStorage.lastTaskCoId)
      if(rangeType!=undefined){
        appData.page.rangeType = rangeType;
      }
      if(appData.page.rangeType != 3){
        appData.para.to = moment().add(1,"days").format('YYYY-MM-DD');
      }
      switch (appData.page.rangeType) {
		  	case 0:
		  		appData.para.from = moment().subtract(7, "days").format('YYYY-MM-DD');
		  		break;
			  case 1:
		  		appData.para.from = moment().subtract(1, "months").format('YYYY-MM-DD');
		  		break;
			  case 2:
				  delete appData.para.from;
				  break;
		  }
      let coId = $('#coSel').val();
      if(coId){
        localStorage.lastTaskCoId = coId;
        appData.page.currentCo = Object.assign({},appData.cooperators.find(f=>{return f.id==coId}));
      }
      appData.task.coId = appData.page.currentCo.id;
      //localStorage.lastTaskCoId = appData.page.currentCo.id;
      appData.task.typeId = appData.page.currentCo.defaultType;
      appData.task.langId = appData.page.currentCo.defaultLang;
      //console.log(appData.task)
      getMergeModel();
      initList(vm);
    },
    checkMedia(){
      let url = appData.coTask.videoUrl;
      let icon = $('#checkMedia');
      if($.trim(url)!=''){
        icon.removeClass('fa-check fa-close').addClass('fa-spin fa-cog');
        api.checkTaskUrl(appData.user.id,appData.user.token,url).done(data=>{
          if(data.result.result){
            icon.removeClass('fa-spin fa-cog').addClass('fa-check');
          }else{
            icon.removeClass('fa-spin fa-cog').addClass('fa-close');
          }
        })
      }
    },
    updateRemark(e){
      console.log(e.keyCode)
      if(e.keyCode==13){
        let l = appData.list.find(f=>{return f.id == appData.coTask.id});
        if(l){
          if(l.remark != appData.coTask.remark){
            let data = {
              id:appData.coTask.id,
              remark:appData.coTask.remark,
            }
            api.saveTask(appData.para.userId,appData.para.token,data).done(d=>{
              if(d.result.result){
                l.remark = appData.coTask.remark;
              }else{
                $.notify('操作失败：'+ d.result.reason);
              }
              l.edit = false;
            });
          }
        }
      }
      if(e.keyCode == 27){
        let l = appData.list.find(f=>{return f.id == appData.coTask.id});
        l.edit=false;
      }
    },
    showExList(taskId){
      sessionStorage.setItem('taskId',taskId);
      sessionStorage.setItem('task',JSON.stringify(appData.list.find(f=> {return f.id==taskId})));
      $('#taskbox').modal('show');
      this.$router.replace('/task/manage/exList/'+taskId);
    },
    showFeedbackList(taskId){
      sessionStorage.setItem('taskId',taskId);
      sessionStorage.setItem('task',JSON.stringify(appData.list.find(f=> {return f.id==taskId})));
      $('#taskbox').modal('show');
      this.$router.replace('/task/manage/feedback/'+taskId);
    },
    showMergeList(taskId,status){
      if(status != 14) return;
      sessionStorage.setItem('taskId',taskId);
      let task = Object.assign({},appData.list.find(f=> {return f.id==taskId}));
      task.taskId = task.id;
      sessionStorage.setItem('task',JSON.stringify(task));
      sessionStorage.setItem('mergeModel',JSON.stringify(appData.mergeModel));
      sessionStorage.setItem('mergeTaskRO',true);
      $('#taskbox').modal('show');
      this.$router.replace('/task/manage/merge/'+taskId);
    }
  },
  data(){
    return appData
  }
}
</script>
