@import "reset.less";
@bg : #ff2951;
@highlight : #fff;
@normal : #3f3f3f;
@lgray : #ccc;
@gray : #9d9d9d;
@darkred : #de3c4b;
html,body{
	font-size: 20px;
	height: 100%;
	box-sizing:	border-box;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	color:@normal;
	.jconfirm-title{font-size: .8rem!important;}
	.jconfirm-content{font-size: .65rem;}
	.jconfirm-box{padding-top: .75rem!important;}
	div,a,h1,h2,h3,header,nav,input,select,p{
		box-sizing: border-box !important;
		padding: 0;
		margin: 0;
	}
	a {
		color: @normal;
		text-decoration: none;
	}
	button:focus,button.active{
		outline: none;
		box-shadow: none;
	}
	.btn-danger{
		background: @bg;
		color: @highlight;
		border-color:@darkred;
	}
	#main{
		padding: .5rem 1rem;

		div.line{
			height:.5rem;
			border-top: 1px solid @lgray;
		}
		section.fix-bottom{
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
		}
		section{
			padding-bottom: .5rem;
			h3{
				font-size: .7rem;
				display: flex;
				justify-content:flex-start;
				align-items: center;
				div{
					width: .3rem;
					height: .7rem;
					background: @bg;
					margin-right: .5rem;
				}
			}

			div.thumb{
				width: 6rem;
				height:3.5rem;
				background-size: cover;
				text-align: right;
				span{
					display: inline-block;
					color:@highlight;
					background: rgba(0, 0, 0,.6);
					padding: .1rem .2rem;
					border-radius: .2rem;
					font-size: .6rem;
					line-height: .6rem;
					margin-right: .2rem;
					margin-top: 2.5rem;
				}
			}

			div.title{
				width: 9.5rem;
				height: 3.5rem;
				display: flex;
				flex-flow: column;
				justify-content: space-between;
				align-items: flex-start;
				h2{
					font-size: .7rem;
				}
				p{
					font-size: .6rem;
					color: @gray;
					padding: 0;
				}
			}
			div.btnCon{
				text-align: center;
				padding: 1rem;
				button.btn{
					font-size: .7rem;
					margin: 0 .5rem;
				}
				button.active{
					background: @bg;
					color: @highlight;
					border-color:@darkred;
				}
			}
			div.starCon{
				padding-top: 1rem ;
				display: flex;
				justify-content: center;
				align-items: center;
				i{
					margin:0 .6rem;
					color:@gray;
					font-size: 1rem;
				}
				i.fa-star{
					color:@bg;
				}
			}
			p{
				padding:.3rem 1rem 1rem 1rem;
				font-size: .6rem;
				color:@gray;
				// font-weight: normal;
			}
			p.confirm{
				color:@normal;
				padding:0;
			}
			div.inputCon{
				padding: 1rem;
			}
			ul.taskTip{
				padding-left: 1rem;
				li{
					font-size: .7rem;
					line-height: 2;
					b{
						font-size: .8rem;
						text-decoration: underline;
					}
					a{
						font-size: .8rem;
						font-weight: bold;
						text-decoration: underline;
						color:@darkred;
					}
				}
			}
		}
	}

}
