html{font-size: 16px;}
body{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; color:#221b1c; background: #f0f0f0;}
h1,h2,h3,p,ul{padding: 0; margin: 0;}
li{list-style:none;}
a:hover,a:focus{text-decoration: none;}
header{margin-bottom: 1rem; background: #fff;}
section.banner,section.bigtitle{margin-top: -1rem;}
nav img{width: 9rem; padding: 1rem 0;}
nav ul{height: 2.5rem; margin: 0; width: 3000px; }
nav .headbtn{text-align:right;}
nav .headbtn a,.headbtn a:focus{font-size:.75rem; border-color:#ccc; width:5rem; padding:0.25rem 0; margin-left:.5rem; line-height:.75rem; background:#FFF;}
nav .headbtn a.red{color:#de3c4b; border-color:#de3c4b;}
nav .headbtn a:hover{background:#de3c4b; color:#FFF; border-color:#de3c4b;}
nav .headbtn a:active,.headbtn a:active:focus{background:#c32524; color:#FFF; border-color:#c32524;}
nav .menu{background: #221b1c;}
nav .menu .container{ position: relative; height: 2.5rem;}
nav .menu .menucon{position: absolute;left:0; right: 3.5rem; overflow: hidden;}
nav .menu li a{display: flex; float:left; height: 2.5rem; padding: 0 1rem; font-size: 1rem; color: #fff; justify-content: center; align-items: center; margin-right: 3px;}
nav .menu li a:focus{background:none;}
nav .menu li:hover>a,nav .menu li.active>a,nav .menu li.open>a,nav .menu li.open>a:hover,nav .menu li.open>a:focus{background: #ff2951;}

nav .menu .menubtn {float: right; margin-right: -15px; color: #fff; height: 2.5rem; line-height: 2.5rem; font-size: 1.4rem; width: 3.5rem; text-align: center; background: #221b1c;}
nav .menu ul.popup {display: none; position: absolute; right: 0; z-index: 19; width:24rem;}
nav .menu ul.popup a{display: block; padding: 1rem; text-align: center; width: 6rem; height: 6rem; margin: 0; background-color: #ccc; }
nav .menu ul.popup a:hover{color:#ff2951; background: #fff;}
nav .menu ul.popup a div{height: 2.5rem; background-size: contain; background-position: center; background-repeat: no-repeat; margin-bottom: .5rem;}
nav .menu ul.popup a h4{color:#221b1c; font-size: 1rem; font-weight: normal; padding: 0; margin: 0;}

nav .menu .menubtn:hover{background: #ff2951;}
#tranNum{display: flex; height: 5.5rem; justify-content: center; align-items: center;}
#tranNum .tranNum div{width:1.5rem; height:2rem; float:left; margin:0 .25rem; border:#ccc 1px solid; overflow:hidden;}
#tranNum ul{margin-top: -1px; margin-left: -1px;}
#tranNum li{width: 1.5rem; height: 2rem; text-align: center; font-size: .75rem; line-height: 2rem; border-bottom:#ccc 1px solid;}
section.bigtitle .container{padding: 0;}
/*#slider a{display: block; height: 28rem; background-size: cover; background-position: center; background-repeat: no-repeat;}*/
/*#slider ol{bottom: .5rem;}
#slider .carousel-indicators li{height: .625rem; width: .625rem; margin: 0;}*/
#slider ul{height: 23rem; margin-top: 2px; overflow: hidden;}
#slider li{height: 23rem; overflow: hidden;}
#slider img{height:100%;}
section{ margin-bottom: 2rem;}
div.video{padding: 1rem;}
div.video a{display: block;}
div.video .tag{padding: .2rem .5rem; font-size: .75rem; color: #fff; background: rgba(0,0,0,.6); float: left; margin: .3rem;}
div.video a h4{color:#221b1c;}
div.video a:hover{box-shadow: 0 0 .5rem .125rem #ccc;}
div.info{display: flex; flex-direction: column; justify-content: space-between; height: 6.5rem; padding: 0 1rem 1rem 1rem; background: #fff;}
div.info h4{font-size: .875rem; line-height: 1.5rem}
div.info div{display: flex; flex-direction: row; justify-content: space-between; font-size: .75rem; color: #888;}
section h3{font-size: 1rem; display: flex; align-items: center;}
section h3 div{width: .5rem; height: 1.2rem; background: #ff2951; margin-right: 1rem;}
section.banner a,section.banner .titlebanner{display: block; height: 20rem; color: #fff; padding-top: 17rem; padding-left: 1rem; font-size: 1.5rem; text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;}
section.channel .icon{width: 3.5rem; height: 3.5rem; background-size: cover; border-radius: 50%; float:left; margin: 1rem 1rem 1rem 0;}
section.channel .clink{display: block; padding: 1rem 0;}
section.channel .clink h4{font-size: 1rem; color:#221b1c; padding: .5rem 0;}
section.channel .clink p{font-size: .75rem; color:#909090;}
.imgcon{height: 9rem; background-size:cover; background-position: center;}
.more{padding-top: 2rem;}
.more p{padding: .5rem; font-size: .75rem;}
.more a{background:#de3c4b url("http://gcdp.oss-cn-qingdao.aliyuncs.com/201610/13/1476328343181_2710.png") .5rem center no-repeat; color:#FFF; padding: .4rem 1rem; padding-left: 1.8rem; border-radius: .15rem; font-size: .6rem;}
footer{line-height: 4rem; color: #9c9c9c; font-size: .75rem; background: #fff;}
#go_top{width: 4rem; height: 4rem; position: fixed; bottom: 8rem; background: rgba(0,0,0,.6); right: .75rem; border-radius: 50%; display: none;}
#go_top img{width: 100%;}
#getApp{background:url("/images/footerbg.jpg") center; color: #fff; bottom: 0; padding:.5rem 1.5rem; text-align: center; background-size: cover; position: fixed; display: flex; display: -webkit-flex; justify-content: space-between; align-items: center; width:100%}
#getApp div{width: 100%; text-align: center;}
#getApp div p{font-size: 1.25rem; line-height: 2rem;}
#getApp img{height: 3.6rem;}
#getApp .textList{height: 1.5rem; overflow: hidden; margin-top: .25rem;}
#getApp .textList li {font-size: 1rem; line-height: 1.5rem; height: 1.5rem;}
#getAppBox .modal-content{height: 31.5rem; background:#FFF url(http://gcdp.oss-cn-qingdao.aliyuncs.com/201609/23/1474621098174_6802.png) bottom no-repeat; background-size: contain; position: relative;}
#getAppBox .modal-dialog{width: 50rem !important; top:50%; margin-top: -15.75rem;}
#getAppBox .carousel{width: 13.75rem;}
#getAppBox .screen{width: 22.86rem; background: url(http://gcdp.oss-cn-qingdao.aliyuncs.com/201609/23/1474620930946_452.png) right 2.5rem no-repeat; background-size:15.7rem ; padding-top: 6rem; padding-left: 8.2rem;}
#getAppBox .download{width: 24rem; padding-left: 3rem; padding-top: 6.8rem;}
#getAppBox .download p{font-size:1.8rem;}
#getAppBox .download span{color:#949494; font-size: 0.8rem;}
#getAppBox .download table{margin-top: 2rem; margin-left: -0.75rem;}
#getAppBox .download td{color:#949494; padding: 10px 15px; text-align: center;}
#getAppBox .download td img{width: 7rem;}
#getAppBox .download td a{display: block; width: 8.7rem; background-size: cover; height: 2.8rem;}
#getAppBox .download td a.ios{background-image: url(http://gcdp.oss-cn-qingdao.aliyuncs.com/201609/23/1474620648126_4008.png); margin-bottom: 1.2rem; }
#getAppBox .download td a.and{background-image: url(http://gcdp.oss-cn-qingdao.aliyuncs.com/201609/23/1474620588385_6931.png); }
#getAppBox .download td a.ios:hover{background-image: url(http://gcdp.oss-cn-qingdao.aliyuncs.com/201610/24/1477319871457_7377.png); }
#getAppBox .download td a.and:hover{background-image: url(http://gcdp.oss-cn-qingdao.aliyuncs.com/201610/24/1477319889553_2937.png); }
#getAppBox .download>a{display: block; position: absolute; height: 3.3rem; width: 3.3rem; top:-1.65rem; right: -1.65rem;}
#getAppBox .download>a img{width: 100%;}
body.channel header{border-bottom: #ff2951 4px solid;}
body.channel .cinfo .icon{height: 5rem; width: 5rem; float: left; background-size: cover; border-radius: 50%; margin-right: 1rem;}
body.channel .cinfo h4{font-size: 1.25rem; margin: 0;}
body.channel .cinfo p{font-size: 1rem; color:#909090; padding-top: .5rem;}
.player{background: #FFF; border: #e3e3e3 1px solid; padding: 0;}
.player .player-title{padding: 1.875rem; padding-bottom: 1.25rem;}
.player .player-title h2{font-size: 1.25em; padding-bottom:.5rem;}
.player .player-title span{font-size: .9rem; color: #949494; }
.player .videoInfo{display: none;}
.player .v-tag{padding: 1.875rem; padding-bottom: 0; font-size: 1.25rem;}
.player .v-tag p {margin-bottom: 0; padding-bottom: 1.25rem; border-bottom: #d9d9d9 1px solid;}
.player .v-channel{padding: 1.875rem;}
.player .v-channel img{height: 5.625rem; width: 5.625rem; float: left; margin-right: 1rem;}
.player .v-channel .name-e{padding-top: 1.25rem; font-size: 1rem; padding-bottom: .625rem;}
.player .v-channel .name-c{font-size: 1rem; color: #949494;}
.player .pull-right{margin-top: 1.25rem; background: url(http://gcdp.oss-cn-qingdao.aliyuncs.com/201609/23/1474642724098_182.jpg) no-repeat; padding-left: 70px; padding-right: 8px; height: 31px; line-height: 29px; border: #d9d9d9 1px solid; border-left: none; color: #949494; margin-right: 1rem;}
.player .v-translator,.v-sub{padding: 1.25rem 1.875rem; background: url(http://gcdp.oss-cn-qingdao.aliyuncs.com/201609/23/1474642903581_7127.jpg) 0 2rem no-repeat;}
.player .v-translator h4,.v-sub h4{font-size: 1.25rem; padding-bottom: 1.25rem;}
.player .v-translator p{font-size: 1rem; line-height: 2.25rem; padding-bottom: .725rem;}
.player .v-translator p span{color: #949494; padding-right: .725rem;}
.player .v-translator img{height: 2.25rem; width: 2.25rem; margin-right: .725rem;}
.player .v-sub #box{position: relative; overflow-y: hidden;}
.player .v-sub #v-content{color: #949494; line-height: 1.5rem; padding-bottom: 6.875rem}
.player .v-sub #box a {position: absolute; width: 100%; display: block; bottom: 0; height: 6.875rem; color: #949494;  text-align: center; background: linear-gradient(to bottom,transparent 0%,#fff 40%,#fff 100%); padding-top: 3rem;}
.player .v-sub #box a div {background: url(http://gcdp.oss-cn-qingdao.aliyuncs.com/201609/24/1474646490489_9160.png) center bottom no-repeat; padding-bottom: 24px}
.player .v-sub #box a.active div {background-image: url(http://gcdp.oss-cn-qingdao.aliyuncs.com/201609/24/1474646533831_6638.png);}
.relate{padding-left: 1.25rem;}
.relate > div{background: #FFF; border: #e3e3e3 1px solid; padding-left: 1.25rem;}
.relate ul{padding: 1.875rem 1.25rem .625rem 0;}
.relate h4 {font-size: 1.25rem; padding: 1.875rem 0 1.25rem 0; border-bottom: #d9d9d9 1px solid; margin: 0;}
.relate li{margin-bottom: 1.75rem; display: flex; display: -webkit-flex; justify-content: space-between;}
.relate li .img{width:8.25rem; height: 5rem; background-size: cover; background-position: center;  border-radius: .5rem;}
.relate li .img a{display: block; height: 5rem; text-align: center; line-height: 5rem; color: rgba(255,255,255,.75); font-size: 3rem;  text-shadow: 0 0 .8rem #777;}
.relate li .info{width:11rem; height: 5rem; display: flex; display: -webkit-flex; flex-direction: column; justify-content: space-between; padding: 0; padding-left: 1rem;}
.relate li .info h5{margin-top: 0; font-size: 1rem; line-height: 1.5;}
.relate li .info p{font-size: .875rem; color:#999;}
.relate li .info p span{margin-left: .25rem; margin-right: 1.25rem;}
#player{width: 100%;}
#v-player_logo{display: none;}
#close{width: 20%; position: absolute; bottom: 20%; color:#fff; border: #fff 1px solid; text-align: center; font-size: 16px; padding: 5px 0; left: 50%; margin-left: -10%;}
@media (max-width: 768px){
    body{padding-bottom: 4rem;}
    html{font-size: 12px !important;}
    .menu .container{height: 3rem !important;}
    nav .menucon{overflow-x: scroll !important;}
    nav .menubtn{height: 3rem !important; line-height: 3rem !important;}
    ul.nav li{float: left;}
    ul.nav a{font-size: 1.25rem !important; height: 3rem !important; line-height: 3rem !important;};
    .imgcon{height: 7rem;}
    div.video{padding: 1rem .5rem;}
    nav .nav{margin: 0;}
    #slider ul{height: 15rem; margin-top: 1px;}
    #slider li{height: 15rem; overflow: hidden;}
    .more{display: none;}
    section.banner .container{padding: 0}
    section.banner a,section.banner .titlebanner{height: 11rem; padding-top: 9rem; font-size: 1.2rem;}
    section.channel .clink h4{padding: .3rem 0;}
    section h3{font-size: 1.2rem;}
    div.info{height: 7rem;}
    div.info h4{font-size: 1rem; margin-bottom: .5rem}
    div.info div{font-size: .875rem;}
    section.text-center{display: none;}
    body.channel header{display: none;}
    #tranNum{font-size: 12px !important;}
    #tranNum .tranNum div{margin: 0 .05rem; }
    .nav .col-xs-12{padding: 0 3px;}
    .player .videoInfo{display: block;}
    .player2 header,.player2 footer{display: none;}
    .player .v-translator,.v-sub,.videoInfo,.relate{background:none; border-top:#EEE .75rem solid; font-size: 1rem; line-height: 1.5;}
    .player .videoInfo{display: flex; display: -webkit-flex; justify-content: space-between; align-items: center; padding: .25rem 1rem .25rem .5rem;}
    .player .videoInfo .info{display: block; height: auto;}
    .player .videoInfo .info p{font-size: 1rem; color:#999;}
    .player .videoInfo .info p span{margin-left: .25rem; margin-right: 1.25rem;}
    .player .videoInfo .info h3{font-size: 1.3rem; margin-bottom: .5rem; margin-top: .5rem;}
    .player .videoInfo .info span{margin-left: .25rem; margin-right: 1.25rem;}
    .player .videoInfo .info span,div.info i{color: #999; font-size: 1rem;}
    .player .videoInfo .share{display: flex; display: -webkit-flex; align-items: center; flex-direction: column; color: #ff0050;}
    .player .videoInfo .share i{font-size: 1.5rem; margin-bottom: .75rem;}
    .player .videoInfo .share p{font-size: 1rem;}
    .player2 h4 span{width:.5rem; height: 1rem; display: inline-block; background:#ff0050; margin-right: .5rem;}
    .player2 h4{margin: 0;}
    .player2 #v-content{color: #333 !important; text-align: center;}
    .player2 .relate{padding: 0}
    .player2 .relate>div{padding: 1.25rem 1.875rem;}
    .player2 .relate h4{padding: 0; border: none;}
    .player2 .relate li .img{width:12rem; height: 6.5rem; border-radius: .75rem;}
    .player2 .relate li .img a{height: 6.5rem; line-height: 6.5rem; font-size: 4rem; text-shadow: 0 0 1rem #777;}
    .player2 .relate li .info{width: 12rem; height: 6.5rem; font-size: 1rem;}
}
@media (min-width: 768px) and (max-width: 991px) {
  html{font-size: 14px;}
  .imgcon{height: 12rem;}
  nav .menu .menubtn:hover ul{display: block;}
}
@media (min-width: 992px) and (max-width: 1199px) {
  html{font-size: 14px;}
  nav .menu .menubtn:hover ul{display: block;}
}
@media (min-width: 1200px) {
  html{font-size: 16px;}
  nav .menu .menubtn:hover ul{display: block;}
}
