html,body{height: 100%; position: relative; font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
h1,h2,h3,p,ul{padding: 0; margin: 0;}
li{list-style:none;}
a:hover,a:focus{text-decoration: none;}
.suithead img{width: 100%;}
.suit{/*margin-top: -4vw;*/}
.suitlist li{padding-bottom: 4vw; position: relative;}
.suitlist li h3{font-size: 3.5vw; color: #333; /*background-color: #4841be;*/ width: 75vw; height: 6vw; position:relative; line-height: 6vw; padding-left: 14vw; border-bottom: #ccc 1px solid;}
.suitlist li h3 div{position: absolute; /*border: #4841be 1px solid;*/ color:#cd1d1f; background: #fff; width: 11.4vw; height: 7.4vw; top:-0.8vw; left:1.5vw; font-size: 8.5vw; line-height: 7.4vw; text-align: center; font-style: italic;}
.suitlist li div.video{padding: 5vw; overflow: auto;}
.suitlist li div.video .shot{position: relative; float: left; display: flex; display: -webkit-flex; width: 42vw; height: 24vw;}
.suitlist li div.video .info{width:44vw; height: 24vw; float: right; display: flex; display: -webkit-flex; flex-direction: column; justify-content: space-between; align-items: flex-end;}
.suitlist li div.video a{display: block; width: 100%; height: 100%; position: absolute; top:0; left: 0; color:rgba(255,255,255,.7); display: flex; display: -webkit-flex; font-size: 11vw; justify-content: center; align-items: center; background-size: cover; background-repeat: no-repeat; background-position: center; border-radius: 2vw; text-shadow: 0 0 4vw #777;}
.suitlist li div.video .info p{font-size: 3vw; color: #333; line-height: 6vw; width: 100%;}
.suitlist li div.video .info span{font-size: 3.5vw; padding-right: 3vw; color: #666;}
#getApp{background:url("../images/footerbg.jpg") center; color: #fff; bottom: 0; padding:2vw 5vw; text-align: center; background-size: cover; position: fixed; display: flex; display: -webkit-flex; justify-content: space-between; align-items: center; width:100%}
#getApp div{width: 60vw; text-align: center;}
#getApp div p{font-size: 4.5vw;}
#getApp img{height: 12vw;}
#getApp .textList{height: 5vw; overflow: hidden; margin-top: 1vw;}
#getApp .textList li {font-size: 3vw; line-height: 5vw; height: 5vw;}
#fade{position: absolute; top:0; bottom: 0; left: 0; right: 0; background: #fff; z-index: 999; display: flex; display: -webkit-flex; justify-content: center; align-items: center; flex-direction:column;}
#fade i{color:#ccc; font-size: 15vw;}
#fade div{font-size: 5vw; padding-top: 4vw;}
.mask{position: absolute; top:0; left: 0; bottom: 0; right: 0; color:#fff; font-size: 5vw; display: flex; display: -webkit-flex; justify-content: flex-end; align-items: center; flex-direction: column; padding-bottom: 5vw; background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));}
.mask p{padding: 1vw;}
.player{background: #eee;}
.player section{background: #fff; margin-bottom: 2vw; padding: 2vw 5vw; border: 1px #e0e0e0 solid; border-left: 0;border-right: 0;}
.player .video{position: relative; padding: 0;min-height: 50vw; background-size:cover; background-position: center;}
.player .video video{width: 100%; margin-bottom: -5px; margin-top: -1px; background: #000;}
.player .video div{position: absolute; top:0; right:0; bottom: 0; left: 0; z-index: 9999; font-size: 15vw; color:rgba(255,255,255,.75); background: rgba(0,0,0,.5); display: flex; display: -webkit-flex; justify-content: center; align-items: center;}
.player .video-info{display: flex; display: -webkit-flex; justify-content: space-between; align-items: center;}
.player .info h3{font-size: 4vw; padding-bottom: 1vw;}
.player .info h4{font-size: 3vw; line-height: 4.5vw; color:#ccc;}
.player .info span{margin-left: 1vw; margin-right: 3vw;}
.player .info span,div.info i{color: #999; font-size: 3vw;}
.player .share{display: flex; display: -webkit-flex; align-items: center; flex-direction: column; color: #ff0050;}
.player .share i{font-size: 5vw; margin-bottom: 1vw;}
.player .share p{font-size: 3vw}
.player section h4{font-size: 4vw;}
.player section h4 span{width:2vw; height: 3.5vw; display: inline-block; background:#ff0050; margin-right: 2vw;}
.player .translator li{display: flex; display: -webkit-flex; align-items: center; margin-bottom: 2vw;}
.player .translator li span{font-size: 3vw;}
.player .translator img{width:8vw; height: 8vw; border-radius: 50%; margin-right: 2vw; margin-left: 2vw;}
.player .subtitles{overflow-y: hidden; padding-bottom: 20vw; position: relative;}
.player .subtitles p{font-size: 3vw; line-height: 6vw; text-align: center;}
.player .subtitles div{position: absolute; bottom: 0; width: 100%; height: 20vw; display: flex; display: -webkit-flex; flex-direction: column; justify-content: center; align-items: center; left: 0; background: linear-gradient(to bottom,transparent 0%,#fff 35%,#fff 100%); background:-webkit-gradient(linear, 0 0, 0 30, from(rgba(255,255,255,0)), to(#fff)); }
.player .subtitles div i{color:#fff; background: #ff0050; border-radius:50%; width: 4vw; height: 4vw; text-align: center; font-size: 4vw; line-height: 4vw;}
.player .relate li{margin-bottom: 5vw; display: flex; display: -webkit-flex; justify-content: space-between;}
.player .relate li .img{width:40vw; height: 16vw; background-size: cover; background-position: center;  border-radius: 2vw;}
.player .relate li .img a{display: block; height: 16vw; text-align: center; line-height: 16vw; color: rgba(255,255,255,.75); font-size: 12vw;  text-shadow: 0 0 4vw #777;}
.player .relate li .info{width:45vw; height: 16vw; display: flex; display: -webkit-flex; flex-direction: column; justify-content: space-between;}
.player .relate li .info h5{margin-top: 0; font-size: 4vw;}
.player .relate li .info p{font-size: 4vw;}
#close{width: 20%; position: absolute; bottom: 20%; color:#fff; border: #fff 1px solid; text-align: center; font-size: 16px; padding: 5px 0; left: 50%; margin-left: -10%;}

.jconfirm.jconfirm-material .jconfirm-box{padding: 15px 15px 10px 15px;}
