.videoCard{padding: 10px !important;}
.videoCard img{width:100%; }
.videoCard h4{font-size: 16px;}
footer{padding: 20px 0;}
.subcon{overflow-y: scroll; height: 60vh; padding-top: 1px;}
.subcon .item{border: #ccc 1px solid; padding:10px 25px; margin-top: -1px;}
.subcon .item p{padding: 0; margin: 0;}
.subcon .item p span{margin-right: 20px; display: inline-block; color: #999;}
.subcon .item p span.num{width: 50px;}
.subcon .item p.content{padding: 5px 0; line-height: 1.5; text-align: center;}
.subcon .item.active{background: #eee;}

@media screen and (max-width: 600px){
  .navbar{margin-bottom: 1px;}
  .container{padding: 0;}
  .navbar-header{margin: 0 !important;}
  .row{margin: 0;}
  .row>div{padding: 0}
  .subcon .item p span{margin-right: 10px}
  .subcon{height: 50vh;}
  .subcon .item p span.num{width: 30px;}
  .subcon .item{padding: 10px;}
}
