<template>
  <div id="main-content">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" /> -->
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">{{page.modelName}} - {{page.coName}}</h3>
                  <span class="date-range pull-right">
                    <div class="btn-group">
                      <a @click="refreshData" class="btn" :class="[page.autoRefresh?'btn-success':'btn-default']"><i class="fa fa-refresh"></i> 自动刷新</a>
                      <a @click="refreshAll" class="btn btn-default"><i class="fa fa-refresh"></i> 全部刷新</a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div style="display:none">
            <input type="file" id="upFile" multiple="false" >
          </div>
          <div class="row" id="tc">
            <table width="30%">
              <tr>
                <td width="140" style="font-size:16px;">当前选择合作方：</td>
                <td><select class="form-control" @change="loadCoTask()" id="coSel">
                  <option v-for="c in cooperators" :value="c.id">{{c.coName}}</option>
                </select></td>
              </tr>
            </table>
            <div class="col-sm-12" id="table-container">
              <table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>编号</th>
                    <th>视频标题</th>
                    <th>视频地址</th>
                    <th>视频标签</th>
                    <th>字幕地址</th>
                    <!-- <th>封面地址</th> -->
                    <!-- <th>合作方</th> -->
                    <th style="max-width:200px;">备注</th>
                    <th>时长</th>
                    <th>状态</th>
                    <th>处理人</th>
                    <th>软件</th>
                    <th>发布</th>
                    <th v-show="mergeModel.length > 0">合成</th>
                    <th style="min-width:80px;">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="l in list" :class="{'green':l.review_status==3}">
                    <td>{{l.course_id}}</td>
                    <td><i :class="{'active':l.newMsg}" class="fa fa-commenting-o" @click="showFeedbackList(l.taskId)"></i><span v-if="l.videoName">{{l.videoName}}</span><span class="text-danger" v-if="!l.videoName">{{l.video[0].course_name_cn}}</span></td>
                    <td>
                      <div v-if="l.video[0].video720_url && !l.video[0].video1080_url"><a :href="l.video[0].video720_url" target="_blank">720p</a></div>
                      <div v-if="l.video[0].video360_url && !l.video[0].video1080_url && !l.video[0].video720_url"><a :href="l.video[0].video360_url" target="_blank">360p</a></div>
                      <div v-if="l.video[0].video1080_url"><a :href="l.video[0].video1080_url" target="_blank">1080p</a></div>
                      <div v-if="l.video[0].video_clean_url"><a :href="l.video[0].video_clean_url" target="_blank">Clean</a></div>
                      <div v-if="l.upVideo"><a :href="l.upVideo" target="_blank">特效视频<span v-if="l.upVer">_{{l.upVer}}</span></a></div>
                      <div v-if="l.transcode_video_url"><a :href="l.transcode_video_url" target="_blank">合成视频<span v-if="l.videoVer">_{{l.videoVer.substr(4,8)}}</span></a></div>
                      <!-- <div v-if="l.attachment"><a :href="l.attachment" target="_blank">附件</a></div> -->
                    </td>
                    <td><span v-if="l.tag">{{l.tag}}</span><span class="text-danger" v-if="!l.tag">{{l.video[0].tag}}</span></td>
                    <td><a v-if="l.ass_url" :href="l.ass_url" target="_blank">ASS字幕_{{l.ass_upload_date}}</a></td>
                    <!-- <td><a :href="l.video[0].cover" target="_blank">原始</a>&nbsp;&nbsp;&nbsp;&nbsp;<a v-if="l.cover_cn" :href="l.cover_cn" target="_blank">汉化</a></td> -->
                    <!-- <td>{{getText('cooperators',l.coId)}}</td> -->
                    <td class="remark" @click="appendEditor(l.id,l.remark)"><span v-if="!l.edit">{{l.remark}}</span><input type="text" v-if="l.edit==true" v-model="para.remark" class="form-control edit" @keyup="updateRemark($event)"></td>
                    <td>{{l.duration}}</td>
                    <td>{{getText('status',l.review_status)}}</td>
                    <!-- <td><a @click="setStatus(l.id,0)" v-if="l.review_status==1">打开</a> <a @click="setStatus(l.id,1)" v-if="l.review_status==0">关闭</a> <a @click="setStatus(l.id,2)" v-if="l.review_status==0">完成</a> <a @click="updateAss(l.id,l.video[0].guid)">更新ASS</a></td> -->
                    <td>{{getText('effectTeam',l.effectUserId)}}
                      <select class="form-control" v-if="(!l.effectUserId || l.effectUserId==0) && l.review_status<2" :ref="'sel'+l.id" @change="assignTask(l.id)">
                        <option value="0">- 请选择 -</option>
                        <option v-for="c in effectTeam" :value="c.value">{{c.text}}</option>
                      </select>
                    </td>
                    <td>{{getText('soft',l.softId)}}
                      <div v-if="l.attachment"><a :href="l.attachment">工程</a></div>
                      <select class="form-control" v-if="(!l.softId || l.softId==0) && l.review_status<2" :ref="'soft'+l.id" @change="assignSoft(l.id)">
                        <option value="0">- 请选择 -</option>
                        <option v-for="s in soft" :value="s.value">{{s.text}}</option>
                      </select>
                    </td>
                    <td><span v-if="l.exTaskCount">{{l.exTaskCountFinish}}/{{l.exTaskCount}}</span></td>
                    <td v-show="mergeModel.length > 0"><span v-if="l.review_status>=2">{{l.mergeTaskCountFinish}}/{{l.mergeTaskCount}}</span></td>
                    <td align="center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary"  @click="setStatus(l.id,0)" v-if="l.review_status!=0 && l.review_status !=3">打开</button>
                        <button type="button" class="btn btn-primary" :class="{'disabled':mergeModel.length==0}"  @click="showMergeList(l.taskId)" v-if="l.review_status==3">合成</button>
                        <button type="button" class="btn btn-primary"  @click="setStatus(l.id,1)" v-if="l.review_status==0">关闭</button>
                        <!-- <button type="button" class="btn btn-primary disabled" v-if="l.review_status==2">完成</button> -->
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li v-if="l.review_status<2"><a @click="setStatus(l.id,2)">完成</a></li>
                          <li><a @click="updateAss(l.id,l.video[0].guid)">更新ASS</a></li>
                          <li><a @click="reAssign(l.id)" v-if="l.review_status<2">重新分配</a></li>
                          <li><a @click="showWatermarkConf(l.taskId)" v-if="l.review_status>=2">水印参数</a></li>
                          <li><a @click="setStatus(l.id,0)" v-if="l.review_status==3">打开</a></li>
                          <li><a @click="showMergeList(l.taskId)" v-if="l.review_status==2">合成</a></li>
                        </ul>
                      </div>
                      <!-- <button type="button" class="btn btn-primary" @click="showAddbox(1,l.id)">编辑</button>
                      <button type="button" class="btn btn-success" @click="showExList(l.id)" v-if="l.status==13">发布</button> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
    <div class="modal fade" id="taskbox">
      <router-view name="exTask">
      </router-view>
    </div>
  </div>
</template>
<style scoped>
  .form-horizontal{padding: 0px 20px;}
  .modal-body button{margin: 2px}
  a{cursor: pointer;}
  td{vertical-align: middle !important;}
  td a{margin-right: 12px;}
  #tc{padding:0 20px;}
  #tc table{margin-bottom: 20px;}
  #table-container{padding: 0;}
  #addLabel{padding: 2px;}
  #addLabel button{margin-top:0;}
  .green{background: #fafadd;}
  .red{background: #fee;}
  ul.dropdown-menu{min-width: 90px; width: 90px;}
  ul.dropdown-menu a:hover{font-weight: bold;}
  td i{margin-right:10px; font-size: 20px; color: #aaa;}
  td i.active{color:#f00;}
  .dropdown-menu,.dropdown-menu a{min-width: 80px;}
</style>
<script>
import util from '../util.vue'
import api from '../api.vue'
//import _ from 'lodash'

let appData={
  para:{
    action:'',
    userId:'',
    token:'',
  },
  page:{
    modelName:'进行中特效任务',
    apiBase:'http://m.yxgapp.com/d/pms/effectTask.json',
    autoRefresh:0,
    coId:null,
    coName:null,
  },
  list:[],
  effectTeam:[],
  cooperators:[],
  status : [{value:0,text:'1打开'},{value:1,text:'2关闭'},{value:2,text:'3完成'},{value:3,text:'4通过'}],
  soft :[],
  mergeModel:[]
  //category:[],
  //lang:[],
  //userTag:[],
  //tableOrder:[[0,'desc']],
};

let getMergeModel = function(){
  api.getMergeModel(appData.user.id,appData.user.token,appData.page.coId).done(data=>{
    if(data.result.result){
      appData.mergeModel = data.list;
    }
  });
}

let getCooperators = function(){
  console.log('getCooperators')
  let d = $.Deferred();
  api.getAvaCooperator(appData.para.userId, appData.para.token).done(data=>{
    if(data.result.result){
      appData.cooperators = data.list;
      appData.page.coId = data.list[0].id;
      appData.page.coName = data.list[0].coName;
      //$('#coSel').val(data.list[0].id);
      //console.log(data.list[0].id)
      console.log(appData.page.coId)
    }else{
      $.notify('获取信息错误：'+ data.result.reason);
    }
    d.resolve();
  })
  return d
};

let initList = function(vm){
  //appData.para.action = "listAll";
  console.log('list')
  console.log('coId===' + appData.page.coId)
  getMergeModel();
  api.getEffectTask(appData.para.userId,appData.para.token,appData.page.coId).done(data=>{
    if(data.result.result){
      data.list.forEach(l=>{
        l.edit = false;
        l.duration = util.formatDuration(l.video[0].duration);
        if(l.transcode_video_url){l.videoVer = util.getPara(l.transcode_video_url,'v')}
        if(l.upVideo){l.upVer = util.getPara(l.upVideo,'v')}
      });
      appData.list = data.list;
      vm.$nextTick(function(){
        let conf = Object.assign({"columnDefs":[{"targets":[10,11,12],"searchable":false,'orderable':false}]},config.tableConfig);
        if($('#list').hasClass('dataTable')==false) $('#list').DataTable(conf);
      });
    }else{
      $.notify('获取信息错误：'+ data.result.reason);
    }

  });
};

let saveTask = function(vm,refresh){
  return $.post(appData.page.apiBase,Object.assign(appData.coTask,appData.para),function(data){
    if(data.result.result){
      if(refresh){
        initList(vm);
      }
      $('#addbox').modal('hide');
    }else{
      $.notify('操作失败：'+ data.result.reason);
    }
  },'json');
}

export default {
  name: 'allEffectTask',
  created(){
    appData.para.userId = window.sessionStorage.getItem('uid');
    appData.para.token = window.sessionStorage.getItem('token');
    appData.user = JSON.parse(localStorage.user);
    appData.soft = JSON.parse(localStorage.soft);
    //getUserTag();
  },
  mounted(){
    let vm = this;
    //initDateRange(vm);
    getCooperators().then(
      function(){
        console.log('effectTeam')
        let d = $.Deferred();
        api.getEffectTeam(appData.user.id,appData.user.token).done(function(data){
          if(data.result.result){
            let effectTeam = [];
            data.list.forEach(l=>{
              effectTeam.push({value:l.userId,text:l.nickname});
            });
            appData.effectTeam = effectTeam;
            vm.loadCoTask()
          }

          d.resolve();
        });
        return d;
      }
    );
    $('#taskbox').on('hidden.bs.modal', function () {
      //loadList(vm);
      vm.$router.push('/effect/allTask');
      initList(vm);
    });
  },
  updated(){},
  beforeDestroy(){
    clearInterval(appData.inter);
    appData.autoRefresh = 0;
	},
  methods:{
    appendEditor(id,remark,status){
      //if(!status || status <2){
        console.log('click')

        let l = appData.list.find(t=>{return t.id == id});
        if(l){
          if(l.edit==false){
            appData.list.forEach(l=>l.edit=false);
            l.edit=true;
            appData.para.remark = remark;
            appData.para.id = id;
            setTimeout(function(){$('input.edit:visible').focus()},0);
          }
        }
    },
    assignTask(id){
      console.log(id)
      let vm = this;
      let d ={
        id : id,
        effectUserId : this.$refs['sel'+id][0].value
      };
      api.saveEffectTask(appData.user.id,appData.user.token,d).done(data=>{
        if(data.result.result){
          initList(vm)
        }else{
          $.notify('操作失败：'+data.result.reason);
        }
      });
    },
    assignSoft(id){
      let vm = this;
      let d ={
        id : id,
        softId : this.$refs['soft'+id][0].value
      };
      api.saveEffectTask(appData.user.id,appData.user.token,d).done(data=>{
        if(data.result.result){
          initList(vm)
        }else{
          $.notify('操作失败：'+data.result.reason);
        }
      });
      // $.get(appData.page.apiBase,d,function (data) {
      //   if(data.result.result){
      //     initList(vm)
      //   }else{
      //     $.notify('操作失败：'+data.result.reason);
      //   }
      // },'json');
    },

    reAssign(id){
      let vm = this;
      let d ={
        id : id,
        effectUserId : 0,
        softId : 0,
      };
      api.saveEffectTask(appData.user.id,appData.user.token,d).done(data=>{
        if(data.result.result){
          initList(vm)
        }else{
          $.notify('操作失败：'+data.result.reason);
        }
      });
    },
    // setValue(key,value){
    //   appData.coTask[key]=value;
    // },
    getText(key,value){
      if(!value || value == '') return;
      //console.log(value)
      let k = appData[key].find(function(f){
        return f.value == parseInt(value)
      });
      if(k) return k.text;
    },

    setStatus(id,status){
      let vm = this;
      //let l = appData.list.find(function(f){ return f.id == id});
      //appData.coTask= Object.assign({}, l);
      // let data = {
      //   auto_srt2ass:status,
      //   id:id,
      //   action:'update'
      // };
      //data = Object.assign(data, appData.para);
      appData.para.action='update';
      appData.para.id = id;
      appData.para.review_status = status;
      delete appData.para.remark;
      //let index= _.findIndex(appData.list,{id:id});
      let l = appData.list.find(f=>{return f.id == id});
      if(!l) return;
      $.get(appData.page.apiBase,appData.para,function(){
        //let index= _.findIndex(appData.list,{id:id});
        //if(index>=0){
          //l.review_status = status;
          initList(vm);
        //}
      });
      //完成提交任务费用
      /*if(status == 2 && l.course_id > 0 && l.effectUserId > 0){
        api.putEffectSettle(appData.para.userId,appData.para.token,l.course_id,l.effectUserId,l.softId).done(function(data){
          if(data.result.result){
            console.log('费用信息提交成功')
          }else{
            $.notify('费用信息提交失败：'+data.result.reason)
          }
        },'json');
      }*/
    },
    updateAss(id,guid){
      let d = {id:id,updateSrt:1,action:'update'};
      $.get("http://m.yxgapp.com/d/mooc/uploadVideoSubtitleEffects.json",d,function(data){
        if(data.result.result){
          $.notify('更新ASS字幕操作成功');
        }else{
          $.notify('更新ASS字幕操作失败：'+ data.result.reason);
        }
      },'json');
    },

    loadCoTask(){
      let vm = this;
      //appData.para.action = 'list';
      //appData.page.coId = appData.page.currentCo.id;
      if($('#coSel').val()>0) {
        appData.page.coId = $('#coSel').val();
        appData.page.coName = $('#coSel').find('option:selected').text();
      }
      if($('#list').hasClass('dataTable')){
        $('#list').DataTable().destroy();
      }
      initList(vm);
    },
    refreshData(){
      //getTaskList();
      let vm = this;
      if(appData.page.autoRefresh == 0){
        appData.page.inter=setInterval(function () {
           initList(vm)
         }, 10000);
         appData.page.autoRefresh =1;
      }else{
        clearInterval(appData.page.inter);
        appData.page.autoRefresh = 0;
      }

    },
    refreshAll(){
      this.loadCoTask();
    },
    updateRemark(e){
      console.log(e.keyCode)
      if(e.keyCode==13){
        //let index= _.findIndex(appData.list,{id:appData.para.id});
        let l = appData.list.find(f=>{return f.id == appData.para.id});
        //console.log(index)
        if(l){
          if(l.remark != appData.para.remark){
            appData.para.action="update";
            delete appData.para.review_status;
            $.get(appData.page.apiBase,appData.para,function(data){
              if(data.result.result){
                //let index= _.findIndex(appData.list,{id:appData.para.id});
                //if(index>=0){
                l.remark = appData.para.remark;
                //}
              }else{
                $.notify("操作失败："+data.result.reason)
              }

            },'json');
          }
          l.edit=false;
        }
      }
      if(e.keyCode == 27){
        let l = appData.list.find(f=>{return f.id == appData.para.id});
        l.edit=false;
      }
    },
    showFeedbackList(taskId){
      sessionStorage.setItem('taskId',taskId);
      sessionStorage.setItem('task',JSON.stringify(appData.list.find(f=> {return f.taskId==taskId})));
      $('#taskbox').modal('show');
      this.$router.replace('/effect/allTask/feedback/'+taskId);
    },
    showWatermarkConf(taskId){
      sessionStorage.setItem('taskId',taskId);
      console.log(appData.list.find(f=> {return f.taskId==taskId}))
      sessionStorage.setItem('task',JSON.stringify(appData.list.find(f=> {return f.taskId==taskId})));
      $('#taskbox').modal('show');
      this.$router.replace('/effect/allTask/watermark/'+taskId);
    },
    showMergeList(taskId){
      sessionStorage.setItem('taskId',taskId);
      sessionStorage.setItem('task',JSON.stringify(appData.list.find(f=> {return f.taskId==taskId})));
      sessionStorage.setItem('mergeModel',JSON.stringify(appData.mergeModel));
      sessionStorage.setItem('mergeTaskRO',false);
      $('#taskbox').modal('show');
      this.$router.replace('/effect/allTask/merge/'+taskId);
    }
  },
  data(){
    return appData
  }
}
</script>
