<template>
  <div id="main-content">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" /> -->
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">{{page.modelName}}</h3>
                  <span class="date-range pull-right">
                    <div class="btn-group">
                      <a @click="refreshData" class="btn" :class="[page.autoRefresh?'btn-success':'btn-default']"><i class="fa fa-refresh"></i> 自动刷新</a>
                      <a @click="refreshAll" class="btn btn-default"><i class="fa fa-refresh"></i> 全部刷新</a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div style="display:none">
            <input type="file" id="upFile" multiple="false" >
          </div>
          <div class="row" id="tc">
            <!-- <table width="30%">
              <tr>
                <td width="140" style="font-size:16px;">当前选择合作方：</td>
                <td><select class="form-control" @change="loadCoTask()" id="coSel">
                  <option v-for="c in cooperators" :value="c.id">{{c.coName}}</option>
                </select></td>
              </tr>
            </table> -->
            <div class="col-sm-12" id="table-container">
              <table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>视频标题</th>
                    <th>视频地址</th>
                    <th>视频标签</th>
                    <th>字幕地址</th>
                    <th>封面地址</th>
                    <!-- <th>ASS生成</th> -->
                    <th>备注</th>
                    <th>任务状态</th>
                    <!-- <th>操作</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="l in list">
                    <td>{{l.course_name_cn}}</td>
                    <td><a :href="l.video_url" target="_blank">原视频</a>&nbsp;&nbsp;&nbsp;&nbsp;<a v-if="l.transcode_video_url" :href="l.transcode_video_url" target="_blank">合成视频<span v-if="l.videoVer">_{{l.videoVer.substr(4,8)}}</span></a></td>
                    <td>{{l.tag}}</td>
                    <td><a v-if="l.ass_url" :href="l.ass_url" target="_blank">ASS字幕_{{l.ass_upload_date}}</a> <a v-if="l.review_status<2" @click="selFile(2,l.guid)">上传</a></td>
                    <td><a :href="l.cover_en" target="_blank">原始</a>&nbsp;&nbsp;&nbsp;&nbsp;<a v-if="l.cover_cn" :href="l.cover_cn" target="_blank">汉化</a> <a v-if="l.review_status<2" @click="selFile(1,l.guid)">上传</a></td>
                    <!-- <td><span v-if="l.auto_srt2ass==1">已触发</span><a v-if="l.auto_srt2ass!=1" @click="setStatus(1,l.id)">未触发</a></td> -->
                    <td class="remark" @click="appendEditor(l.id,l.remark,l.review_status)"><span v-if="!l.edit">{{l.remark}}</span><input type="text" v-if="l.edit==true" v-model="para.remark" class="form-control edit" @keyup="updateRemark($event)"></td>
                    <td><span v-if="l.review_status!=2">打开</span><span v-if="l.review_status==2">关闭</span></td>
                    <!-- <td><button type="button" class="btn btn-primary" v-if="l.review_status<1">提交审核</button></td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
  </div>
</template>
<style scoped>
  .form-horizontal{padding: 0px 20px;}
  .modal-body button{margin: 2px}
  a{cursor: pointer;}
  td{vertical-align: middle !important;}
  td a{margin-right: 12px;}
</style>
<script>
import util from '../util.vue'
import _ from 'lodash'

let appData={
  para:{
    action:'',
    userId:'',
    token:'',
  },
  // Obj:{
  //   videoName:'',
  //   videoUrl:'',
  //   infoUrl:'',
  //   coverUrl:'',
  //   status:0,
  //   tag:'',
  //   remark:'',
  //   typeId:0,
  //   langId:0,
  // },
  // coObj:{
  //   videoName:'',
  //   videoUrl:'',
  //   infoUrl:'',
  //   coverUrl:'',
  //   status:0,
  //   tag:'',
  //   remark:'',
  //   typeId:0,
  //   langId:0,
  // },
  page:{
    modelName:'特效任务',
    apiBase:'http://m.yxgapp.com/d/mooc/uploadVideoSubtitleEffects.json',
    //currentObj:{},
    //range:'',
    //rangeType:0,
    //newLabel:'',
    autoRefresh:0,
  },
  //cooperators:[],
  list:[],
  //category:[],
  //lang:[],
  //userTag:[],
  //tableOrder:[[0,'desc']],
};

let initList = function(vm){

  $.get(appData.page.apiBase,appData.para,function(data){
    if(data.result.result){
      data.data.forEach(l=>{l.edit = false; if(l.transcode_video_url){l.videoVer = util.getPara(l.transcode_video_url,'v')}});
      appData.list = data.data;
      vm.$nextTick(function(){
        if($('#list').hasClass('dataTable')==false) $('#list').DataTable(config.tableConfig);
      });
    }else{
      $.notify('获取信息错误：'+ data.result.reason);
    }
  },'json')
};

// let getCooperators = function(){
//   let url = 'http://m.yxgapp.com/d/pms/cooperator.json';
//   appData.para.action = 'available';
//   return $.get(url,appData.para,function(data){
//     if(data.result.result){
//       appData.cooperators = data.list;
//     }else{
//       $.notify('获取信息错误：'+ data.result.reason);
//     }
//   },'json');
// }

let saveTask = function(vm,refresh){
  return $.post(appData.page.apiBase,Object.assign(appData.coTask,appData.para),function(data){
    if(data.result.result){
      if(refresh){
        initList(vm);
      }
      //$('#addbox').modal('hide');
    }else{
      $.notify('操作失败：'+ data.result.reason);
    }
  },'json');
}

let initUploader = function(){
  let conf = {
    request:true,
    uploadUrl: 'http://upload.yxgapp.com/upload',
    files : document.querySelector('#upFile').files,
    onBeforeUpload:function(){
      util.showLoading();
    },
    onOverAllProgress: function (index, loaded, total) {
        console.log(index + "::::"+ loaded / total)
        $('#loadText').html(parseInt(loaded / total*100)+'%');
        if(loaded / total==1){
          console.log('finish')
          //document.querySelector('#upFile').value = '';
          console.log(document.querySelector('#upFile').files);
          updateFile()
          document.querySelector('#upFile').value = '';
        }
        //setProgress(loaded / total, this.files[index].progress)
    },
    onLoad: function (index, chunkIndex, chunksNum) {
        //console.log('onLoad', this, arguments)
    },
    onAbort: function (index, chunkIndex, chunksNum) {
        console.log('onAbort', this, arguments)
        setTimeout(mo.continue(-1),10000);
    },
    onError: function (index, chunkIndex, chunksNum) {
        console.log('onError', this, arguments)
        setTimeout(mo.continue(-1),10000);
    },
    onContinue: function (file, md5, index) {
        return new Promise(function(reslove, reject) {
            $.get("http://upload.yxgapp.com/getFile?md5="+md5, function (text) {
                var json = JSON.parse(text)
                reslove(json.pos)
            })
        })
    }
  }
  try {
    mo = MoUploader(conf)
  } catch (ex) {
    console.log(ex.message)
  }
};

let updateFile = function(){
  let file = $('#upFile');
  let guid = file.data('guid');
  let type = file.data('type');
  let oss_url = 'http://yxg-upload.yxgapp.com/' + file[0].files[0].oss_url;
  let index = _.findIndex(appData.list,{'guid':guid});
  console.log(index)
  if(index >=0){
    let data ={
      action:'update',
      id:appData.list[index].id
    };
    if(type==2){
      data.ass_url = oss_url;
    }else{
      data.cover_url = oss_url;
    }

    $.get('http://m.yxgapp.com/d/mooc/uploadVideoSubtitleEffects.json',data,function(){
      util.hideLoading();
      initList();
    });
  }
}

export default {
  name: 'effectManage',
  created(){
    appData.para.userId = window.sessionStorage.getItem('uid');
    appData.para.token = window.sessionStorage.getItem('token');
    //getUserTag();
  },
  mounted(){
    let vm = this;
    //initDateRange(vm);
    //$.when(getCooperators()).then(
     //function(){
       //if(appData.cooperators.length >0){
         //appData.page.currentCo = Object.assign({},appData.cooperators[0]);
          vm.loadCoTask();
          document.querySelector('#upFile').addEventListener('change', function (e) {
            e.preventDefault();
            console.log($('#upFile'));
            let f = $('#upFile')[0].files[0];
            f.oss_url=$('#upFile').data('oss_url')+f.name.split('.')[f.name.split('.').length-1];
            console.log($('#upFile'));
            initUploader();
          });
          console.log(appData)
       //}
    //});
  },
  updated(){},
  beforeDestroy(){
    clearInterval(appData.inter);
    appData.autoRefresh = 0;
	},
  methods:{
    // showAddbox(update,id){
    //   console.log(id)
    //   appData.update = update;
    //   if(update == 0){
    //     appData.coTask = Object.assign({},appData.task);
    //     console.log(appData.coTask)
    //     appData.para.action = 'save';
    //   }else{
    //     let l = appData.list.find(function(f){ return f.id == id});
    //     appData.coTask= Object.assign({}, l);
    //     //console.log(appData.cooperator)
    //     appData.para.action = 'update';
    //   }
    //   $('#addbox').modal('show');
    // },
    appendEditor(id,remark,status){
      if(!status || status <2){
        console.log('click')
        let index = _.findIndex(appData.list,{id,id});
        if(index >=0){
          if(appData.list[index].edit==false){
            appData.list.forEach(l=>l.edit=false);
            appData.list[index].edit=true;
            appData.para.remark = remark;
            appData.para.id = id;
            setTimeout(function(){$('input.edit:visible').focus()},0);

            //console.log(appData)
          }
        }
      }else{
        return
      }
    },
    // setValue(key,value){
    //   appData.coTask[key]=value;
    // },
    // getText(key,value){
    //   return appData[key].find(function(f){
    //     return f.value == value
    //   }).text;
    // },

    setStatus(status,id){
      //let vm = this;
      //let l = appData.list.find(function(f){ return f.id == id});
      //appData.coTask= Object.assign({}, l);
      let data = {
        auto_srt2ass:status,
        id:id,
        action:'update'
      };
      //data = Object.assign(data, appData.para);
      //appData.para.action='update';
      $.get('http://m.yxgapp.com/d/mooc/uploadVideoSubtitleEffects.json',data,function(){
        let index= _.findIndex(appData.list,{id:id});
        if(index>=0){
          appData.list[index].auto_srt2ass = status;
        }
      });
      //saveTask(vm);
    },
    // doSave(){
    //   let vm = this;
    //   this.$validator.validateAll().then(() => {
    //     if(appData.coTask.tag ==''){
    //       $.notify('为视频选几个标签吧');
    //       return;
    //     }
    //     saveTask(vm);
    //   });
    // },
    loadCoTask(rangeType){
      let vm = this;
      appData.para.action = 'list';
      //appData.para.coId = appData.page.currentCo.id;
      if($('#list').hasClass('dataTable')){
        $('#list').DataTable().destroy();
      }
      /*let coId = $('#coSel').val();
      if(rangeType){
        appData.page.rangeType = rangeType;
      }
      appData.para.to = moment().add(1,"days").format('YYYY-MM-DD');
      switch (appData.page.rangeType) {
		  	case 0:
		  		appData.para.from = moment().format('YYYY-MM-DD');
		  		break;
			case 1:
		  		appData.para.from = moment().subtract(7, "days").format('YYYY-MM-DD');
		  		break;
			case 2:
				delete appData.para.from;
				break;
		  }
      //if(appData.page.currentCo.id == coId) return;
      appData.page.currentCo = Object.assign({},appData.cooperators.find(f=>{return f.id==coId}));
      appData.task.coId = appData.page.currentCo.id;
      appData.task.typeId = appData.page.currentCo.defaultType;
      appData.task.langId = appData.page.currentCo.defaultLang;*/
      //console.log(appData.task)
      initList(vm);
    },
    refreshData(){
      //getTaskList();
      let vm = this;
      if(appData.page.autoRefresh == 0){
        appData.page.inter=setInterval(function () {
           initList(vm)
         }, 60000);
         appData.page.autoRefresh =1;
      }else{
        clearInterval(appData.page.inter);
        appData.page.autoRefresh = 0;
      }

    },
    refreshAll(){
      this.loadCoTask();
    },
    updateRemark(e){
      console.log(e.keyCode)
      if(e.keyCode==13){
        let index= _.findIndex(appData.list,{id:appData.para.id});
        if(index>=0){
          if(appData.list[index].remark != appData.para.remark){
            $.get('http://m.yxgapp.com/d/mooc/uploadVideoSubtitleEffects.json',appData.para,function(){
              let index= _.findIndex(appData.list,{id:appData.para.id});
              if(index>=0){
                appData.list[index].remark = appData.para.remark;

              }
            });
          }
          appData.list[index].edit=false;
        }
      }
    },
    selFile(type,guid){
      let file = document.querySelector('#upFile');
      let oss_url = "";
      if(type == 1){
        file.accept="image/jpeg,image/png";
        oss_url = "cover_cn/"+guid +'.';
      }
      if(type == 2){
        file.accept="";
        oss_url = "subtitle/"+guid +'.';
      }
      $("#upFile").data('oss_url',oss_url).data('type',type).data('guid',guid).trigger("click");
    }
  },
  data(){
    return appData
  }
}
</script>
