<template>
  <div class="modal-dialog" style="width:60%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">自定义字幕参数 - {{task.videoName}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">水印位置</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="X" v-model="page.watermark[0].position.x" @change="genScript">
            </div>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="Y" v-model="page.watermark[0].position.y" @change="genScript">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">水印时间</label>
            <div class="col-sm-10">
              <table class="table table-hover table-bordered" width="100%">
                <tr>
                  <th>开始时间</th>
                  <th>结束时间</th>
                  <th><button type="button" class="btn btn-success" @click="addWatermarkTime">添加</button></th>
                </tr>
                <tr v-for="l,index in page.watermark[0].time_interval">
                  <td>
                    <input type="number" min="0" max="59" class="form-control" v-model="l.s.m" @change="genScript">
                    <input type="number" min="0" max="59" class="form-control" v-model="l.s.s" @change="genScript">
                  </td>
                  <td>
                    <input type="number" min="0" max="59" class="form-control" v-model="l.e.m" @change="genScript">
                    <input type="number" min="0" max="59" class="form-control" v-model="l.e.s" @change="genScript">
                  </td>
                  <td><button type="button" class="btn btn-danger" @click="delWatermarkTime(index)">删除</button></td>
                </tr>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
        <button type="button" class="btn btn-primary" @click="doSave">保存</button>
      </div>
    </div>
  </div>
</template>
<style scoped>
.form-group td,.form-group th{border: #ddd 1px solid; text-align: center; height: 35px; padding: 3px;}
.form-group td input{width: 31%; text-align: center; float: left; margin: 0 1%;}
</style>
<script>
import util from '../util.vue'
import api from '../api.vue'

let appData={
  para:{},
  page:{
    update:0,
    watermark:[
      {
        position:{x:'',y:''},
        time_interval:[]
      }
    ]
  },
  coObj:{},
  task:{},
}

let getTaskInfo = function(){
  appData.task = JSON.parse(sessionStorage.getItem('task'));
  appData.coObj.id = appData.task.id;
  if(appData.task.watermark!=''){
    let s = JSON.parse(appData.task.watermark);
    s.forEach(f=>{
      if(f.position){
        f.position = {
          x:f.position.split(':')[0],
          y:f.position.split(':')[1],
        };
      }else{
        f.position = {
          x:'',
          y:'',
        };
      }
      if(f.time_interval.length > 0){
        f.time_interval.forEach(ff=>{
          ff.s = {
            m:Math.floor(ff.s / 60),
            s:Math.floor(ff.s % 60),
          };
          ff.e = {
            m:Math.floor(ff.e / 60),
            s:Math.floor(ff.e % 60),
          }
        });
      }
    });
    appData.page.watermark = s;
  }else{
    appData.page.watermark = [
      {
        position:{x:'',y:''},
        time_interval:[]
      }
    ];
  }
}

let loadUser = function(){
	appData.user = JSON.parse(localStorage.user);
	appData.user.role = appData.user.roles.split(',');
	appData.user.co = appData.user.coId.split(',');
	console.log(appData.user)
}

export default {
  name: 'watermark',
  created(){
    loadUser();
    //getPath();
  },
  mounted(){
    getTaskInfo();
  },
  updated(){},
  beforeRouteUpdate (to, from, next) {
    getTaskInfo();
    //appData.coObj.id = this.$route.params.exTaskId;
    //console.log(appData.coObj.id);
    //appData.coObj.status = sessionStorage.getItem('exTaskStatus');
    //appData.page.update = sessionStorage.getItem('exTaskType');
    //getTaskInfo();
    //getExTaskInfo();
    //getExTaskList();
  },
  beforeDestroy(){

	},
  methods:{
    doSave(){
      let vm = this;
      api.saveEffectTask(appData.user.id,appData.user.token,appData.coObj).done(data=>{
        if(!data.result.result){
          $.notify('操作失败：'+ data.result.reason)
        }else{
          $('#taskbox').modal('hide');
        }
      })
    },
    genScript(){
      let s = Object.assign({},appData.page.watermark[0]);
      if(s.position.x && s.position.y){
        s.position = s.position.x + ':' +  s.position.y;
      }else{
        delete s.position
      }
      s.time_interval =[];
      appData.page.watermark[0].time_interval.forEach(f=>{
        s.time_interval.push({
          s:parseInt(f.s.m*60) + parseInt(f.s.s),
          e:parseInt(f.e.m*60) + parseInt(f.e.s)
        })
      });
      appData.coObj.watermark = "["+ JSON.stringify(s) +"]";
    },
    addWatermarkTime(){
      let i = {s:{m:0,s:0},e:{m:0,s:0}};
      appData.page.watermark[0].time_interval.push(i);
    },
    delWatermarkTime(index){
      console.log(appData.page.watermark[0].time_interval[index])
      appData.page.watermark[0].time_interval.splice(index,1)
    }
  },
  data(){
    return appData
  }
}
</script>
