<template>
  <div id="main-content">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">{{page.modelName}} <a @click="showAddbox(0)" class="btn btn-success"><i class="fa fa-plus"></i> 添加新合作方</a></h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="tc">
            <div class="col-sm-12" id="table-container">
              <table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>名称</th>
                    <th>简介</th>
                    <th>管理员</th>
                    <th>语言</th>
                    <th>分类</th>
                    <th>小分队</th>
                    <th>状态</th>
                    <th width="80">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="l in list" >
                    <td>{{l.coName}}</td>
                    <td>{{l.coBrief}}</td>
                    <td>{{l.manager}}</td>
                    <td>{{getText(lang,l.defaultLang)}}</td>
                    <td>{{getText(category,l.defaultType)}}</td>
                    <td><span v-if="l.groupId">{{getText(teams,l.groupId)}}</span></td>
                    <td><a v-if="l.status==1" @click="setStatus(0,l.id)">启用</a><a v-if="l.status!=1" @click="setStatus(1,l.id)">停用</a></td>
                    <td align="center"><button type="button" class="btn btn-primary" @click="showAddbox(1,l.id)">编辑</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
    <div class="modal fade" id="addbox">
        <div class="modal-dialog" style="width:60%">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><span v-show="update==0">添加新合作方</span><span v-show="update==1">更新合作方信息</span></h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-group" :class="{'has-error':errors.has('coName')}">
                  <label class="col-sm-2 control-label">合作方名称</label>
                  <div class="col-sm-10"><input type="text" name="coName" class="form-control" v-validate="'required'" placeholder="合作方名称" v-model="cooperator.coName" v-bind:readonly="update==1"></div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">简介</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" v-model="cooperator.coBrief" maxlength="255" placeholder="简介"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">默认语言</label>
                  <div class="col-sm-10">
                    <button type="button" class="btn btn-default" :class="{'btn-success':cooperator.defaultLang == c.value}" @click="setValue('defaultLang',c.value)"  v-for="c in lang" >{{c.text}}</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">默认分类</label>
                  <div class="col-sm-10">
                    <button type="button" class="btn btn-default" :class="{'btn-success':cooperator.defaultType == c.value}" @click="setValue('defaultType',c.value)"  v-for="c in category" >{{c.text}}</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">关联小分队</label>
                  <div class="col-sm-10">
                    <select class="form-control" v-model="cooperator.groupId">
                      <option v-for="t in teams" :value="t.value">{{t.text}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">管理员</label>
                  <div class="col-sm-10">
                    <!-- <select class="form-control" v-model="cooperator.manage">
                      <option v-for="t in teams" :value="t.value">{{t.text}}</option>
                    </select> -->
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" @click="doSave"><span v-if="update==0">添加</span><span v-if="update==1">更新</span></button>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>
<style scoped>
  .form-horizontal{padding: 0px 20px;}
  .modal-body button{margin: 2px}
  a{cursor: pointer;}
  td{vertical-align: middle !important;}
</style>
<script>
import util from '../util.vue'
import api from '../api.vue'
//import _ from 'lodash'

let appData={
  para:{
    userId:'',
    token:'',
  },
  cooperator:{
    id:0,
    coName:'',
    coBrief:'',
    manager:0,
    groupId:'',
    status:1,
    addUser:0,
    defaultType:38,
    defaultLang:1
  },
  page:{
    modelName:'合作方管理',
  },
  list:[],
  category:[],
  lang:[],
  teams:[],
  update:0
};

let initList = function(vm){
  //appData.para.action = 'list';
  $('#list').DataTable().destroy();
  api.getAllCooperator(appData.para.userId,appData.para.token).done(data=>{
    if(data.result.result){
      appData.list = data.list;
      vm.$nextTick(function(){
        if($('#list').hasClass('dataTable')==false) $('#list').DataTable(config.tableConfig);
      });
    }
  })
};

let getBaseInfo = function(){
  appData.category = JSON.parse(localStorage.category);
  appData.lang = JSON.parse(localStorage.lang);
  appData.teams = JSON.parse(localStorage.team);
}

export default {
  name: 'cooperatorManage',
  created(){
    appData.para.userId = window.sessionStorage.getItem('uid');
    appData.para.token = window.sessionStorage.getItem('token');
  },
  mounted(){
    let vm = this;
    getBaseInfo();
    initList(vm)
  },
  updated(){

  },
  methods:{
    showAddbox(update,id){
      //console.log(id)
      appData.update = update;
      if(update == 0){
        appData.cooperator ={
          coName:'',
          coBrief:'',
          manager:appData.para.userId,
          groupId:'',
          status:1,
          addUser:0,
          defaultType:38,
          defaultLang:1,
          addUser:appData.para.userId
        };
        //appData.para.action = 'save';
      }else{
        let co = appData.list.find(function(f){ return f.id == id});
        appData.cooperator=Object.assign({}, co);
        //console.log(appData.cooperator)
        //appData.para.action = 'update';
      }
      $('#addbox').modal('show');
    },
    setValue(key,value){
      appData.cooperator[key]=value;
    },
    getText(data,value){
      return util.getText(data,value)
    },
    setStatus(status,id){
      appData.cooperator = {
        id:id,
        status:status
      }
      this.doSave();
    },
    doSave(){
      let vm = this;
      api.saveCooperator(appData.para.userId,appData.para.token,appData.cooperator).done(data=>{
        if(data.result.result){
          initList(vm);
          $('#addbox').modal('hide');
        }else{
          $.notify('操作失败：'+ data.result.reason);
        }
      });
    }
  },
  data(){
    return appData
  }
}
</script>
