<template>
  <div id="main-content">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">{{page.modelName}} <a @click="showAddbox(0)" class="btn btn-success"><i class="fa fa-plus"></i> 添加新素材</a></h3>
                </div>
              </div>
            </div>
          </div>
          <div class="hide">
            <input type="file" id="upFile" multiple="false" >
          </div>
          <div class="row" id="tc">
            <table width="30%">
              <tr>
                <td width="140" style="font-size:16px;">当前选择合作方：</td>
                <td><select class="form-control" @change="loadData" id="coSel">
                  <option v-for="c in cooperators" :value="c.id" :selected="c.id==page.currentCo.id" v-if="user.co.indexOf(c.id)>=0">{{c.coName}}</option>
                </select></td>
              </tr>
            </table>
            <div class="col-sm-12" id="table-container">
              <table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>素材名称</th>
                    <th>素材地址</th>
                    <th>上传时间</th>
                    <th>备注</th>
                    <th style="min-width:60px;">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="l in list">
                    <td :title="l.id">{{l.name}}</td>
                    <td><a :href="l.ossUrl" target="_blank" v-if="l.ossUrl">链接</a></td>
                    <td>{{l.upTime.substr(0,10)}}</td>
                    <td>{{l.remark}}</td>
                    <td align="center" style="min-width:120px">
                        <button type="button" class="btn btn-warning" @click="showAddbox(1,l.id)">编辑</button>
                        <button type="button" class="btn btn-danger" @click="del(l.id)">删除</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
    <div class="modal fade" id="addbox">
        <div class="modal-dialog" style="width:60%">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><span v-show="update==0">添加新素材 - {{page.currentCo.coName}}</span><span v-show="update==1">更新素材信息</span></h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-group" :class="{'has-error':errors.has('name')}">
                  <label class="col-sm-2 control-label">素材名称</label>
                  <div class="col-sm-10"><input type="text" name="name" class="form-control" v-validate="'required'" placeholder="素材名称" v-model="coObj.name"></div>
                </div>
                <div class="form-group" :class="{'has-error':errors.has('ossUrl')}">
                  <label class="col-sm-2 control-label">素材地址</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="url" name="ossUrl" class="form-control" v-validate="'required|url:true'" placeholder="素材地址" v-model="coObj.ossUrl" readonly>
                      <span class="input-group-btn">
                        <button class="btn btn-success" type="button" @click="upfile">上传</button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">备注</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" v-model="coObj.remark" maxlength="255" placeholder="备注"></textarea>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" @click="doSave"><span v-if="update==0">添加</span><span v-if="update==1">更新</span></button>
            </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="taskbox">
      <router-view name="exTask">
	    </router-view>
    </div>
  </div>
</template>
<style scoped>
  .form-horizontal{padding: 0px 20px;}
  .modal-body button{margin: 2px}
  a{cursor: pointer;}
  td{vertical-align: middle !important;}
  td a{margin-right: 12px;}
  #tc{padding:0 20px;}
  #tc table{margin-bottom: 20px;}
  #table-container{padding: 0;}
  #addLabel{padding: 2px;}
  #addLabel button{margin-top:0;}
  .green{background: #fafadd;}
  ul.dropdown-menu{min-width: 90px; width: 90px;}
  ul.dropdown-menu a:hover{font-weight: bold;}
  td i{margin-right:10px; font-size: 20px; color: #aaa;}
  td i.active{color:#f00;}
  .input-group-btn button{margin-top: 0;}
</style>
<script>
import util from '../util.vue'
import api from '../api.vue'
//import _ from 'lodash'

let appData={
  para:{
    userId:'',
    token:'',
  },
  newObj:{
    coId:0,
    name:'',
    ossUrl:'',
    remark:'',
  },
  coObj:{
    coId:0,
    name:'',
    ossUrl:'',
    remark:'',
  },
  page:{
    modelName:'素材管理',
    currentCo:{},
    upfile:{},
  },
  cooperators:[],
  list:[],
  user:{},
  update:0
};

let initUploader = function(){
  let conf = {
    request:false,
    uploadUrl: 'http://upload.yxgapp.com/upload',
    files : document.querySelector('#upFile').files,
    onBeforeUpload:function(){
      util.showLoading();
    },
    onOverAllProgress: function (index, loaded, total) {
        console.log(index + "::::"+ loaded +'/' + total)

        appData.coObj.ossUrl = parseInt(loaded / total *100) + '%';
        if(loaded / total==1){
          console.log('finish')
          util.hideLoading();
        }
    },
    onLoad: function (index, chunkIndex, chunksNum) {
    },
    onAbort: function (index, chunkIndex, chunksNum) {
        console.log('onAbort', this, arguments)
        setTimeout(function(){
					mo.pause(-1)
					mo.continue(-1)
				},30000);
    },
    onError: function (index, chunkIndex, chunksNum) {
        console.log('onError', this, arguments)
        setTimeout(function(){
					mo.pause(-1);
					mo.continue(-1);
				},30000);
    },
    onContinue: function (file, md5, index) {
        return new Promise(function(reslove, reject) {
            $.get("http://upload.yxgapp.com/getFile?md5="+md5, function (text) {
                //var json = JSON.parse(text)
                reslove(text)
            })
        })
    },
		onFinish:function(index,e){
			console.log(e)
			console.log(e.currentTarget.responseText)
			let data = JSON.parse(e.currentTarget.responseText)
			if(data.result==true){
				appData.coObj.ossUrl = appData.page.upfile.ossUrl;
			}else{
				if(data.errno==1){
					appData.coObj.ossUrl = '上传失败';
				}
			}

		}
  }
  try {
    mo = MoUploader(conf)
  } catch (ex) {
    console.log(ex.message)
  }
};

let loadUser = function(){
	appData.user = JSON.parse(localStorage.user);
	appData.user.role = appData.user.roles.split(',');
	appData.user.co = appData.user.coId.split(',');
	console.log(appData.user)
}

let initList = function(vm){
  appData.para.coId = appData.page.currentCo.id;
  if($('#list').hasClass('dataTable')){
    $('#list').DataTable().destroy();
  }
  api.getMaterial(appData.user.id,appData.user.token,appData.para.coId).done(data=>{
    if(data.result.result){
      appData.list = data.list;
      vm.$nextTick(function(){
        if($('#list').hasClass('dataTable')==false) $('#list').DataTable(config.tableConfig);
      });
    }else{
      $.notify('获取信息错误：'+ data.result.reason);
    }
  });
};

let getCooperators = function(){
  let d = $.Deferred();
  api.getAvaCooperator(appData.user.id, appData.user.token).done(data=>{
    if(data.result.result){
      appData.cooperators = data.list;
    }else{
      $.notify('获取信息错误：'+ data.result.reason);
    }
    d.resolve();
  })
  return d
};

let saveMaterial = function(vm,objMaterial){
  api.saveMaterial(appData.user.id,appData.user.token,objMaterial).done(data=>{
    if(data.result.result){
      initList(vm);
      $('#addbox').modal('hide');
    }else{
      $.notify('操作失败：'+ data.result.reason);
    }
  });
};

export default {
  name: 'material',
  created(){
    loadUser();
  },
  mounted(){
    let vm = this;
    getCooperators().then(function(){
      let co ='';
      if(appData.cooperators.length >0){
        if(localStorage.lastTaskCoId){
          co = appData.cooperators.find(f=>{return f.id == localStorage.lastTaskCoId});
          console.log(co)
          if(co){
            appData.page.currentCo = Object.assign({},co);
          }else{
            appData.page.currentCo = Object.assign({},appData.cooperators[0]);
          }
        }
        vm.loadData();
      }
    });

    $('#taskbox').on('hidden.bs.modal', function () {
      initList(vm);
    });

    document.querySelector('#upFile').addEventListener('change', function (e) {
      e.preventDefault();
      console.log($('#upFile'));
      let fs = $('#upFile')[0].files[0];
      //appData.upList = [];
      //for (let i=0 ; i< fs.length; i++){
        fs.targetName = util.random_string(32) + '.' + fs.name.split('.')[fs.name.split('.').length-1];
        fs.oss_url='material/'+ appData.page.currentCo.id +'/'+ Date.parse(new Date)/1000 + '.' + fs.name.split('.')[fs.name.split('.').length -1];
        fs.filesize = fs.size;
        appData.page.upfile= {
          fileName : fs.name,
          userId : appData.user.id,
          upType : 1,
          ossUrl : 'http://yxg-biz.oss-cn-qingdao.aliyuncs.com/'+ fs.oss_url,
          fileType : fs.type,
          fileSize : fs.size,
          progress : 0,
        };
      //}
      //console.log($('#upFile'));
      initUploader();
    });
  },
  updated(){},
  beforeDestroy(){},
  methods:{
    showAddbox(update,id){
      console.log(id)
      appData.update = update;
      if(update == 0){
        appData.coObj = Object.assign({},appData.newObj);
      }else{
        let l = appData.list.find(function(f){ return f.id == id});
        appData.coObj= Object.assign({}, l);
      }
      $('#addbox').modal('show');
    },
    doSave(){
      let vm = this;
      this.$validator.validateAll().then(() => {
        saveMaterial(vm,appData.coObj);
      });
    },
    del(id){
      let vm = this;
      api.delMaterial(appData.user.id,appData.user.token,id).done(data=>{
        if(data.result.result){
          initList(vm)
        }
      });
    },
    loadData(){
      let vm = this;
      let coId = $('#coSel').val();
      if(coId){
        localStorage.lastTaskCoId = coId;
        appData.page.currentCo = Object.assign({},appData.cooperators.find(f=>{return f.id==coId}));
      }
      appData.newObj.coId = appData.page.currentCo.id;
      initList(vm);
    },
    upfile(){
			$("#upFile").trigger("click");
		}
  },
  data(){
    return appData
  }
}
</script>
