<!DOCTYPE HTML>
<html lang="zh">
<head>
<title>{{pageTitle}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit">
<meta name="keywords" content="{{keywords}}" />
<meta name="description" content="{{description}}"/>
<meta name="author" content="{{author}}"/>
<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body class="channel">
    <header>
        <nav class="nav nav-default">
            <div class="container">
                <a href="http://www.yxgapp.com/index.html"><img src="images/logo.png"></a>
            </div>
        </nav>
    </header>
    <section class="banner">
        <div class="container">
            <div class="titlebanner" style="background:url(http://gcdp.oss-cn-qingdao.aliyuncs.com/201703/15/1489564493326_3916.jpg) center;background-size:cover;"></div>
        </div>
    </section>
    <section class="recommend">
        <div class="container">
            <h3><div></div>最新视频</h3>
            <div class="row">
                <div class="col-xs-6 col-md-3 video">
                    <a href="#">
                        <div class="imgcon" style="background:url('http://img.yxgapp.com/ppoGQ2_TlqjPnPH-wGjuEn4lZhY=/0x140/http://yxg-image.oss-cn-qingdao.aliyuncs.com/coverImg/dd573152-9fbb-4857-b7f3-13a11af302ae.jpg?v=1494656801003') center;background-size:cover;"></div>
                        <div class="info">
                            <h4>「单身30岁」第1集 时光飞逝  「单身30岁」第1集 时光飞逝</h4>
                            <div>
                                <span><i class="fa fa-play-circle-o"></i> 100</span>
                                <span><i class="fa fa-clock-o"></i> 100</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3 video">
                    <a href="#">
                        <div class="imgcon" style="background:url('http://img.yxgapp.com/ppoGQ2_TlqjPnPH-wGjuEn4lZhY=/0x140/http://yxg-image.oss-cn-qingdao.aliyuncs.com/coverImg/dd573152-9fbb-4857-b7f3-13a11af302ae.jpg?v=1494656801003') center;background-size:cover;"></div>
                        <div class="info">
                            <h4>「单身30岁」第1集 时光飞逝  「单身30岁」第1集 时光飞逝</h4>
                            <div>
                                <span><i class="fa fa-play-circle-o"></i> 100</span>
                                <span><i class="fa fa-clock-o"></i> 100</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </section>
    <section class="hot">
        <div class="container">
            <h3><div></div>近期最热</h3>
            <div class="row">
                <div class="col-xs-3 video">
                    <div class="imgcon" style="background:url('http://img.yxgapp.com/ppoGQ2_TlqjPnPH-wGjuEn4lZhY=/0x140/http://yxg-image.oss-cn-qingdao.aliyuncs.com/coverImg/dd573152-9fbb-4857-b7f3-13a11af302ae.jpg?v=1494656801003') center;background-size:cover;"></div>
                    <div class="info">
                        <h4>「单身30岁」第1集 时光飞逝  「单身30岁」第1集 时光飞逝</h4>
                        <div>
                            <span><i class="fa fa-play-circle-o"></i> 100</span>
                            <span><i class="fa fa-clock-o"></i> 100</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 video">
                    <div class="imgcon" style="background:url('http://img.yxgapp.com/ppoGQ2_TlqjPnPH-wGjuEn4lZhY=/0x140/http://yxg-image.oss-cn-qingdao.aliyuncs.com/coverImg/dd573152-9fbb-4857-b7f3-13a11af302ae.jpg?v=1494656801003') center;background-size:cover;"></div>
                    <div class="info">
                        <h4>「单身30岁」第1集 时光飞逝  「单身30岁」第1集 时光飞逝</h4>
                        <div>
                            <span><i class="fa fa-play-circle-o"></i> 100</span>
                            <span><i class="fa fa-clock-o"></i> 100</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 video">
                    <div class="imgcon" style="background:url('http://img.yxgapp.com/ppoGQ2_TlqjPnPH-wGjuEn4lZhY=/0x140/http://yxg-image.oss-cn-qingdao.aliyuncs.com/coverImg/dd573152-9fbb-4857-b7f3-13a11af302ae.jpg?v=1494656801003') center;background-size:cover;"></div>
                    <div class="info">
                        <h4>「单身30岁」第1集 时光飞逝  「单身30岁」第1集 时光飞逝</h4>
                        <div>
                            <span><i class="fa fa-play-circle-o"></i> 100</span>
                            <span><i class="fa fa-clock-o"></i> 100</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 video">
                    <div class="imgcon" style="background:url('http://img.yxgapp.com/ppoGQ2_TlqjPnPH-wGjuEn4lZhY=/0x140/http://yxg-image.oss-cn-qingdao.aliyuncs.com/coverImg/dd573152-9fbb-4857-b7f3-13a11af302ae.jpg?v=1494656801003') center;background-size:cover;"></div>
                    <div class="info">
                        <h4>「单身30岁」第1集 时光飞逝  「单身30岁」第1集 时光飞逝</h4>
                        <div>
                            <span><i class="fa fa-play-circle-o"></i> 100</span>
                            <span><i class="fa fa-clock-o"></i> 100</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 video">
                    <div class="imgcon" style="background:url('http://img.yxgapp.com/ppoGQ2_TlqjPnPH-wGjuEn4lZhY=/0x140/http://yxg-image.oss-cn-qingdao.aliyuncs.com/coverImg/dd573152-9fbb-4857-b7f3-13a11af302ae.jpg?v=1494656801003') center;background-size:cover;"></div>
                    <div class="info">
                        <h4>「单身30岁」第1集 时光飞逝  「单身30岁」第1集 时光飞逝</h4>
                        <div>
                            <span><i class="fa fa-play-circle-o"></i> 100</span>
                            <span><i class="fa fa-clock-o"></i> 100</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="text-center more">
      <p>更多视频, 请移步译学馆APP欣赏&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#getApp">GET APP</a></p>
      <div><img src="http://gcdp.oss-cn-qingdao.aliyuncs.com/201609/24/1474646421589_3009.png"></div>
    </section>
    <footer class="text-center">
        <p>译学馆 ©2017 Copyright,All rights reserved</p>
    </footer>
<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
$(window).resize(function(){
setMenu()
});
$(function(){

});
function setMenu(){
    var _width = $('.container').outerWidth();
    var menu_width = 0;
    var menuItems = $('ul.nav li');
    menuItems.each(function(){
        menu_width += $(this).outerWidth();
        if(menu_width > _width){
            $(this).addClass('hide');
        }else{
            $(this).removeClass('hide');
        }
    });
}
</script>
</body>
</html>
