<!DOCTYPE HTML>
<html>
<head>
<title>{{pageTitle}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{{keywords}}" />
<meta name="description" content="{{description}}"/>
<meta name="author" content="{{author}}"/>
<meta name="date" content="{{date}}"/>
<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo"><img src="images/logo.png"></div>

        </div>
    </header>
<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</body>
</html>
