<!DOCTYPE HTML>
<html>
<head>
<title>{{pageTitle}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit">
<meta name="keywords" content="{{keywords}}" />
<meta name="description" content="{{description}}"/>
<meta name="author" content="{{author}}"/>
<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="../css/main.css" rel="stylesheet" type="text/css"/>
<script></script>
</head>
<body class="player">
    <section class="video">
        <video id="player" poster="{{cover}}" controls="" webkit-playsinline="" playsinline="" x5-video-player-type="h5" x5-video-orientation="landscape|portrait" style="object-position:0px 0px;">
            <source src="{{yxgUrl}}" type="video/mp4">
        </video>
    </section>
    <section class="video-info">
        <div class="info">
            <h3>{{videoName}}</h3>
            <h4 style="display:none">{{videoEnName}}</h4>
            <i class="fa fa-tags"></i><span>{{categoryName}}</span><i class="fa fa-clock-o"></i><span>{{durationHour}}</span><i class="fa fa-play"></i><span>{{playTimes}}</span>
        </div>
        <div class="share">
            <i class="fa fa-share-alt"></i>
            <p>立即分享</p>
        </div>
    </section>
    <section class="translator">
        <h4><span></span> 众译鸣谢</h4>
        <ul>
            <li>
                <span>原文字幕：</span>
                <img src="{{baseSubtitleAuthorAvatar}}" />
                <span>{{baseSubtitleAuthorBrief}}</span>
            </li>
            <li>
                <span>译文字幕：</span>
                <img src="{{targetSubtitleAuthorAvatar}}" />
                <span>{{targetSubtitleAuthorBrief}}</span>
            </li>
        </ul>
    </section>
    <section class="subtitles">
        <h4><span></span> 字幕详情</h4>
        {{for:subtitles}}
        <p>{{cn}}</p>
        {{/for}}
        <div>
            <p>以下内容有剧透 打开需谨慎</p>
            <i class="fa fa-angle-double-down"></i>
        </div>
    </section>
    <section class="relate">
        <h4><span></span> 精彩推荐</h4>
        <ul>
            {{for:relate}}
            <li>
                <div class="img" style="background-image:url({{cover}})">
                    <a href="{{videoId}}.html"><i class="fa fa-play-circle-o"></i></a>
                </div>
                <div class="info">
                    <h5>{{videoName}}</h5>
                    <p><i class="fa fa-clock-o"></i><span>{{durationHour}}</span><i class="fa fa-play"></i><span>{{personNumbers}}</span></p>
                </div>
            </li>
            {{/for}}
        </ul>
    </section>
    <div id="fade">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="../js/page.js"></script>
<script src="../js/player.js"></script>
<script>
    var version = '1.0.0';
    var vid = '{{videoId}}';
    initPlayer('player');
    page.addGetApp($('body'));
    $('#fade').fadeOut();
    page.setEvents(page.checkUA(),vid,version,'OpenVideo');
    var el = document.getElementById('player');
    el.onplay = function(){
        page.setEvents(page.checkUA(),vid,version,'PlayVideo');
        _hmt.push(['_trackEvent', 'Video', 'Play', 'Play', vid]);
    };
    if(page.checkUA() == 'wx'){
        page.getWxSign(window.location.href,function(wxconfig){
            if(wxconfig){
                wxconfig.jsApiList = ["onMenuShareTimeline","onMenuShareAppMessage","onMenuShareQQ","onMenuShareWeibo","onMenuShareQZone"];
                wx.config(wxconfig);
            }
        });
        wx.ready(function(){
            var share = {
                title : document.title,
                desc : document.getElementsByTagName('meta')['description'].content,
                link : window.location.href+'?share=wx',
                imgUrl : "http://playlist.yxgapp.com/static/images/applogo.png",
                success : function () {
                    page.setEvents(page.checkUA(),vid,version,'ShareVideo');
                    _hmt.push(['_trackEvent', 'Video', 'Share', 'Shared', vid]);
                },
                cancel : function(){
                    page.setEvents(page.checkUA(),vid,version,'CancelShareVideo');
                    _hmt.push(['_trackEvent', 'Video', 'Share', 'CancelShare', vid]);
                }
            };
            wx.onMenuShareTimeline(share);
            wx.onMenuShareAppMessage(share);
            wx.onMenuShareQQ(share);
            wx.onMenuShareWeibo(share);
            wx.onMenuShareQZone(share);
        });
    }
</script>
</body>
</html>
