<!DOCTYPE HTML>
<html>
<head>
<title>{{pageTitle}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit">
<meta name="keywords" content="{{keywords}}" />
<meta name="description" content="{{description}}"/>
<meta name="author" content="{{author}}"/>
<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body class="player" >
    <section class="video">
        <canvas id="canPlay"></canvas>
        <video id="player" autoplay style="background-color: black; display: none;" controls="" webkit-playsinline="" playsinline="">
            <source src="http://share.yxgapp.com/forYouku/430da442-59de-41ff-acf6-35a6718e0d18_720.mp4" type="video/mp4">
        </video>
        <div></div>
    </section>
    <section class="video-info">
        <div class="info">
            <h3><a href="#" id="pp">女孩与云朵</a></h3>
            <h4 style="display:none">CGI Animated Spot HD: The Girl and the Cloud by Studio AKA | Red Knuckles Studios</h4>
            <i class="fa fa-tags"></i><span>卡通</span><i class="fa fa-clock-o"></i><span>180</span><i class="fa fa-play"></i><span>34</span>
        </div>
        <div class="share">
            <i class="fa fa-share-alt"></i>
            <p>立即分享</p>
        </div>
    </section>
    <section class="translator">
        <h4><span></span> 众译鸣谢</h4>
        <ul>
            <li>
                <span>原文字幕：</span>
                <img src="http://gcdp.oss-cn-qingdao.aliyuncs.com/201704/21/1492764654120_4169.jpg?isTranslator=1" />
                <span>Rosalind于2017.04.21制作完成</span>
            </li>
            <li>
                <span>译文字幕：</span>
                <img src="http://gcdp.oss-cn-qingdao.aliyuncs.com/201704/21/1492764654120_4169.jpg?isTranslator=1" />
                <span>Rosalind于2017.04.21制作完成</span>
            </li>
        </ul>
    </section>
    <section class="subtitles">
        <h4><span></span> 字幕详情</h4>
        <p>迪斯尼自然盛情邀请您</p>
        <p>一起探索迄今为止精心打造电影</p>
        <p>(音乐）</p>
        <p>一段非凡的旅程</p>
        <p>深入探索今人惊叹的野生地</p>
        <p>在中国</p>
        <p>（音乐）</p>
        <p>这部电影</p>
        <p>我觉得这部电影打破了原来的认识</p>
        <p>带我们领略</p>
        <p>从未见过的中国美景</p>
        <p>（音乐）</p>
        <p>其中有极为罕见的</p>
        <p>不可思议的片段</p>
        <div>
            <p>以下内容有剧透 打开需谨慎</p>
            <i class="fa fa-angle-double-down"></i>
        </div>
    </section>
    <section class="relate">
        <h4><span></span> 精彩推荐</h4>
        <ul>
            <li>
                <div class="img" style="background-image:url(http://yxg-image.oss-cn-qingdao.aliyuncs.com/coverImg/430da442-59de-41ff-acf6-35a6718e0d18.jpg?v=1492437761395)">
                    <a href="#"><i class="fa fa-play-circle-o"></i></a>
                </div>
                <div class="info">
                    <h5>迪斯尼自然盛情邀请您</h5>
                    <p><i class="fa fa-clock-o"></i><span>180</span><i class="fa fa-play"></i><span>34</span></p>
                </div>
            </li>
            <li>
                <div class="img" style="background-image:url(http://yxg-image.oss-cn-qingdao.aliyuncs.com/coverImg/430da442-59de-41ff-acf6-35a6718e0d18.jpg?v=1492437761395)">
                    <a href="#"><i class="fa fa-play-circle-o"></i></a>
                </div>
                <div class="info">
                    <h5>迪斯尼自然盛情邀请您</h5>
                    <p><i class="fa fa-clock-o"></i><span>180</span><i class="fa fa-play"></i><span>34</span></p>
                </div>
            </li>
            <li>
                <div class="img" style="background-image:url(http://yxg-image.oss-cn-qingdao.aliyuncs.com/coverImg/430da442-59de-41ff-acf6-35a6718e0d18.jpg?v=1492437761395)">
                    <a href="#"><i class="fa fa-play-circle-o"></i></a>
                </div>
                <div class="info">
                    <h5>迪斯尼自然盛情邀请您</h5>
                    <p><i class="fa fa-clock-o"></i><span>180</span><i class="fa fa-play"></i><span>34</span></p>
                </div>
            </li>
            <li>
                <div class="img" style="background-image:url(http://yxg-image.oss-cn-qingdao.aliyuncs.com/coverImg/430da442-59de-41ff-acf6-35a6718e0d18.jpg?v=1492437761395)">
                    <a href="#"><i class="fa fa-play-circle-o"></i></a>
                </div>
                <div class="info">
                    <h5>迪斯尼自然盛情邀请您</h5>
                    <p><i class="fa fa-clock-o"></i><span>180</span><i class="fa fa-play"></i><span>34</span></p>
                </div>
            </li>
        </ul>
    </section>
    <div id="fade" style="display:none">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="http://cdn.bootcss.com/jcanvas/16.7.3/jcanvas.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="js/page.js"></script>
<script src="js/player.js"></script>
<script>
    initPlayer('player');
    var p = document.getElementById('player');
    var c = document.getElementById('canPlay');
    var w = 0;
    var h = 0;
    var timer = '';
    var context = c.getContext('2d');
    p.oncanplay = function(){
        var w = p.videoWidth;
        var h = p.videoHeight;
        c.width = w;
        c.height = h;
        /*$(c).drawImage({
            source: 'http://yxg-image.oss-cn-qingdao.aliyuncs.com/coverImg/430da442-59de-41ff-acf6-35a6718e0d18.jpg?v=1492437761395',
            x:w/2,
            y:h/2,
            fromCenter: true
        });*/
    };
    p.onplay = function(){
        timer = setInterval(playVideo,20);
    };
    p.onpause = function(){
        clearInterval(timer);
    };
    function playVideo() {
		if(p.ended || p.paused) return;
		context.drawImage(player, 0, 0, 1280, 720);
		//console.log('requestAnimationFrame: '+p.currentTime);
	};
    $("#pp").click(function(){
        p.play();
    });
</script>
</body>
</html>
