<!DOCTYPE HTML>
<html>
<head>
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit">
<meta name="keywords" content="{{keywords}}" />
<meta name="description" content="{{description}}"/>
<meta name="author" content="{{author}}"/>
<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <div class="suithead">
            <img src="{{headerImg}}">
        </div>
    </header>
    <section class="suit">
        <ul class="suitlist">
            {{for:videoList}}
            <li>
                <h3>{{titleCN}}<div>{{index}}</div></h3>
                <div class="video">
                    <div class="shot">
                        <a data-videoid="{{guid}}" data-courseid="{{courseId}}" href="./{{path}}" style="background-image:url({{cover}})"><i class="fa fa-play-circle-o"></i></a>
                    </div>
                    <div class="info">
                        <p>{{brief}}</p>
                        <!--<span><i class="fa fa-clock-o"></i> {{duration}}</span>-->
                    </div>
                </div>
            </li>
            {{/for}}
        </ul>
    </section>
<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://m.yxgapp.com/d/mooc/JSInteractWithIOS.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="js/page.js"></script>
<script>
var pid={{id}};
var isNative = true;
var version = "1.0.0";
page.setEvents('playlist',pid,version,'Exposure');
var uid = 't';
var co = {
    list:[],
    downApp:0
};
var index='';
window.commonParameters = {};
window.loadingPage = function() {
    window.userExtInfo = null;
    if (!window.Native) {
        console.log("Native对象不存在！");
        isNative = false;
    }
    init();
}

function init(){
    if(!isNative){
        var strCo = $.cookie('yxg_cookie');
        if(strCo != null && strCo != 'null'){
            co = JSON.parse(atob(strCo));
            for(var i=0; i<co.list.length;i++){
                if(pid == co.list[i].id) break;
            }
            if(i < co.list.length) index = i;
        }
        if(index === ''){
            var list = {id:pid,play:0,share:0};
            co.list.push(list);
            index = 0;
        }
        if(page.checkUA() == 'wx'){
            page.getWxSign(window.location.href,function(wxconfig){
                if(wxconfig){
                    wxconfig.jsApiList = ["onMenuShareTimeline","onMenuShareAppMessage","onMenuShareQQ","onMenuShareWeibo","onMenuShareQZone"];
                    wx.config(wxconfig);
                }
            });
            wx.ready(function(){
                var share = {
                    title : document.title,
                    desc : document.getElementsByTagName('meta')['description'].content,
                    link : window.location.href,
                    imgUrl : "{{headerImg}}",
                    success : function () {
                        //$.cookie('shared_'+window.location.pathname, '1', { expires: 365 });
                        //window.location.reload();
                        page.setEvents('playlist',pid,version,'SharePage');
                        ga('send', 'event','PlayList',pid,'Share');
                    },
                    cancel : function(){
                        page.setEvents('playlist',pid,version,'CancelSharePage');
                        ga('send', 'event','PlayList',pid,'CancelShare');
                    }
                };
                wx.onMenuShareTimeline(share);
                wx.onMenuShareAppMessage(share);
                wx.onMenuShareQQ(share);
                wx.onMenuShareWeibo(share);
                wx.onMenuShareQZone(share);
            });
        }
    }
    

    $('a').each(function(){
        this.onclick=function(e){
            e.preventDefault();
            if(isNative){
                window.Native.startPlayVideo($(this).data('courseid'),$(this).data('videoid'));
            }else{
                window.location.href = this.href;
            }
        }
    });


    if(!isNative) page.addGetApp($('body'));
    if(isNative){
        window.Native.setTitle('{{title}}');
        window.Native.supportShare(pid, "ShareArticle", location.href ,'{{headerImg}}',document.title,document.getElementsByTagName('meta')['description'].content);
    }
}
/*
function lockPage(){
    var mask = '<div class="mask"><p>下面还有'+ $('ul.suitlist li:gt(2)').length +'集</p><p>立即分享即可解锁所有视频</p></div>';
    $('ul.suitlist li:gt(3)').hide();
    $('ul.suitlist li:eq(3)').append(mask);
}*/
</script>
</body>
</html>
