<!DOCTYPE HTML>
<html>
<head>
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit">
<meta name="keywords" content="{{keywords}}" />
<meta name="description" content="{{description}}"/>
<meta name="author" content="{{author}}"/>
<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="http://cdn.bootcss.com/jquery-confirm/3.2.0/jquery-confirm.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet" type="text/css"/>
<script></script>
</head>
<body>
    <header>
        <div class="suithead">
            <img src="{{headerImg}}">
        </div>
    </header>
    <section class="suit">
        <ul class="suitlist">
            {{for:videoList}}
            <li>
                <h3>{{titleCN}}<div>{{index}}</div></h3>
                <div class="video">
                    <div class="shot">
                        <a data-videoid="{{guid}}" data-courseid="{{courseId}}" href="./{{path}}" style="background-image:url({{cover}})"><i class="fa fa-play-circle-o"></i></a>
                    </div>
                    <div class="info">
                        <p>{{brief}}</p>
                        <!--<span><i class="fa fa-clock-o"></i> {{duration}}</span>-->
                    </div>
                </div>
            </li>
            {{/for}}
        </ul>
    </section>
<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="http://cdn.bootcss.com/Base64/1.0.1/base64.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/jquery-confirm/3.2.0/jquery-confirm.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="http://m.yxgapp.com/d/mooc/JSInteractWithIOS.js"></script>
<script src="js/page.js"></script>
<script>
var pid={{id}};
var isNative = true;
var version = "1.0.0";
var uid = 'playlist';
var co = {
    list:[],
    downApp:0
};
var index='';
page.setEvents(page.checkUA(),pid,version,'Exposure',uid);
window.commonParameters = {};
window.loadingPage = function() {
    window.userExtInfo = null;
    if (!window.Native) {
        console.log("Native对象不存在！");
        isNative = false;
    }
    init();
}

function init(){
    if(!isNative){
        var strCo = $.cookie('yxg_cookie');
        if(strCo != null && strCo != 'null'){
            co = JSON.parse(atob(strCo));
            for(var i=0; i<co.list.length;i++){
                if(pid == co.list[i].id) break;
            }
            if(i < co.list.length) index = i;
        }
        if(index === ''){
            var list = {id:pid,play:0,share:0};
            co.list.push(list);
            index = 0;
        }
        $('a').each(function(){
            this.onclick=function(e){
                e.preventDefault();
                co.list[index].play ++;
                $.cookie('yxg_cookie',btoa(JSON.stringify(co)));
                if(co.list[index].play>=2 && co.list[index].share == 0){
                    var url = this.href;
                    $.confirm({
                        title: false,
                        type: 'dark',
                        theme:'material',
                        closeIcon: false,
                        content: '<img src="/static/images/share.jpg" class="loaded" style=" width: 100%; margin-bottom: 15px;"><p style="font-size: 16px; text-align:center">帮个忙呗，<span style="color:#ff0050">分享</span>一下，让更多的人知道我们吧!</p>',
                        buttons: {
                            share: {
                                text: '去分享',
                                btnClass: 'btn-info',
                                action: function(){
                                    page.showWxShare();
                                    co.list[index].share = 2;
                                    $.cookie('yxg_cookie',btoa(JSON.stringify(co)));
                                    _hmt.push(['_trackEvent', 'PlayList', 'Share', 'ClickShare', pid]);
                                }
                            },
                            close: {
                                text: '接着看',
                                btnClass: 'btn-default',
                                action: function(){
                                    window.location.href = url
                                }
                            }
                        }
                    });
                }else{
                    window.location.href = this.href;
                }
            }
        });
        if(page.checkUA() == 'wx'){
            page.getWxSign(window.location.href,function(wxconfig){
                if(wxconfig){
                    wxconfig.jsApiList = ["onMenuShareTimeline","onMenuShareAppMessage","onMenuShareQQ","onMenuShareWeibo","onMenuShareQZone"];
                    wx.config(wxconfig);
                }
            });
            wx.ready(function(){
                var share = {
                    title : document.title,
                    desc : document.getElementsByTagName('meta')['description'].content,
                    link : window.location.href,
                    imgUrl : "{{headerImg}}",
                    success : function () {
                        page.setEvents(page.checkUA(),pid,version,'SharePage',uid);
                        _hmt.push(['_trackEvent', 'PlayList', 'Share', 'Shared', pid]);
                        co.list[index].share = 1;
                        $.cookie('yxg_cookie',btoa(JSON.stringify(co)));
                    },
                    cancel : function(){
                        page.setEvents(page.checkUA(),pid,version,'CancelSharePage',uid);
                        _hmt.push(['_trackEvent', 'PlayList', 'Share', 'Cancel', pid]);
                        co.list[index].share = -1;
                        $.cookie('yxg_cookie',btoa(JSON.stringify(co)));
                    }
                };
                wx.onMenuShareTimeline(share);
                wx.onMenuShareAppMessage(share);
                wx.onMenuShareQQ(share);
                wx.onMenuShareWeibo(share);
                wx.onMenuShareQZone(share);
            });
        }
        if(co.downApp==0) page.addGetApp($('body'));
    }else {
        window.Native.setTitle('{{title}}');
        window.Native.supportShare(pid, "ShareArticle", location.href ,'{{headerImg}}',document.title,document.getElementsByTagName('meta')['description'].content);
        $('a').each(function(){
            this.onclick=function(e){
                e.preventDefault();
                window.Native.startPlayVideo($(this).data('courseid'),$(this).data('videoid'));
            }
        });
    }
}
</script>
</body>
</html>
