@import "reset.less";
@bg : rgb(0,133,195);
@highlight : #fff;
@normal : #444;

html,body{height: 100%; box-sizing: border-box; font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	div,a,h1,h2,h3,header,nav,input,select{
		box-sizing: border-box !important;
	}
}
h1,h2,h3,p{
	padding: 0; margin: 0;
}
a {
	color: @normal;
	text-decoration: none;
}
