<template>
  <div id="main-content">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">所有特效任务</h3>
                </div>
                <div class="hide">
                  <input type="file" id="upFile" multiple="false" >
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="tc">
            <div class="col-sm-12" id="table-container">
              <table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>视频标题</th>
                    <th>视频地址</th>
                    <th>视频标签</th>
                    <th>字幕地址</th>
                    <th>封面地址</th>
                    <th>备注</th>
                    <th>任务状态</th>
                    <!-- <th>操作</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="l in list">
                    <td>{{l.course_name_cn}}</td>
                    <td><a :href="l.video_url" target="_blank">原视频</a>&nbsp;&nbsp;&nbsp;&nbsp;<a :href="l.transcode_video_url" target="_blank">合成视频<span v-if="l.videoVer">_{{l.videoVer.substr(4,8)}}</span></a></td>
                    <td>{{l.tag}}</td>
                    <td><a v-if="l.ass_url" :href="l.ass_url" target="_blank">ASS字幕_{{l.ass_upload_date}}</a> <a v-if="l.review_status<2" @click="selFile(2,l.guid)">上传</a></td>
                    <td><a :href="l.cover_en" target="_blank">原始</a>&nbsp;&nbsp;&nbsp;&nbsp;<a v-if="l.cover_cn" :href="l.cover_cn" target="_blank">汉化</a> <a v-if="l.review_status<2" @click="selFile(1,l.guid)">上传</a></td>
                    <td class="remark" @click="appendEditor(l.id,l.remark,l.review_status)"><span v-if="!l.edit">{{l.remark}}</span><input type="text" v-if="l.edit==true" v-model="para.remark" class="form-control edit" @blur="updateRemark()"></td>
                    <td><a v-if="l.review_status!=2" @click="setStatus(2,l.id)">打开</a><a v-if="l.review_status==2" @click="setStatus(0,l.id)">关闭</a></td>
                    <!-- <td><button type="button" class="btn btn-primary" v-if="l.review_status<1">提交审核</button></td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
  </div>
</template>
<style>
  td{vertical-align: middle;}
</style>
<script>
import util from './util.vue'
import _ from 'lodash'

let appData={
  para:{
    action:'update',
    id:0,
    remark:''
  },
  list:[],
  tableOrder:[[0,'desc']]
};

let tableConfig={
  'language': {
    'emptyTable': '没有数据',
    'loadingRecords': '加载中...',
    'processing': '查询中...',
    'search': '检索:',
    'lengthMenu': '每页 _MENU_ 条',
    'zeroRecords': '没有数据',
    'paginate': {
      'first':      '第一页',
      'last':       '最后一页',
      'next':       '下一页',
      'previous':   '上一页'
    },
    'info': '第 _PAGE_ 页 / 共 _PAGES_ 页 | 总记录数 _TOTAL_',
    'infoEmpty': '没有数据',
    'infoFiltered': '(过滤前共 _MAX_ 条)'
  },
  "bStateSave": true,
  //'order':appData.tableOrder
};
let getTaskList = function(){
  return $.get('http://m.yxgapp.com/d/mooc/uploadVideoSubtitleEffects.json?action=publish',function(data){
    if(data.result.result){
      data.data.forEach(l=>{l.edit = false; if(l.transcode_video_url){l.videoVer = util.getPara(l.transcode_video_url,'v')}});
      appData.list = data.data;
      console.log(appData.list)
    }
  },'json');
};

let initList = function(){
  if($('#list').hasClass('dataTable')){
    appData.tableOrder = $('#list').dataTable().api().order().concat();
    $('#list').DataTable().destroy();
  }
  $.when(getTaskList()).then(function(){
    $('#list').DataTable(tableConfig);
  });
};

let updateFile = function(){
  let file = $('#upFile');
  let guid = file.data('guid');
  let type = file.data('type');
  let oss_url = 'http://yxg-upload.yxgapp.com/' + file[0].files[0].oss_url;
  let index = _.findIndex(appData.list,{'guid':guid});
  console.log(index)
  if(index >=0){
    let data ={
      action:'update',
      id:appData.list[index].id
    };
    if(type==2){
      data.ass_url = oss_url;
    }else{
      data.cover_url = oss_url;
    }

    $.get('http://m.yxgapp.com/d/mooc/uploadVideoSubtitleEffects.json',data,function(){
      util.hideLoading();
      initList();
    });
  }
}

let initUploader = function(){
  let conf = {
    request:true,
    uploadUrl: 'http://upload.yxgapp.com/upload',
    files : document.querySelector('#upFile').files,
    onBeforeUpload:function(){
      util.showLoading();
    },
    onOverAllProgress: function (index, loaded, total) {
        console.log(index + "::::"+ loaded / total)
        $('#loadText').html(parseInt(loaded / total*100)+'%');
        if(loaded / total==1){
          console.log('finish')
          //document.querySelector('#upFile').value = '';
          console.log(document.querySelector('#upFile').files);
          updateFile()
          document.querySelector('#upFile').value = '';
        }
        //setProgress(loaded / total, this.files[index].progress)
    },
    onLoad: function (index, chunkIndex, chunksNum) {
        //console.log('onLoad', this, arguments)
    },
    onAbort: function (index, chunkIndex, chunksNum) {
        console.log('onAbort', this, arguments)
        setTimeout(mo.continue(-1),10000);
    },
    onError: function (index, chunkIndex, chunksNum) {
        console.log('onError', this, arguments)
        setTimeout(mo.continue(-1),10000);
    },
    onContinue: function (file, md5, index) {
        return new Promise(function(reslove, reject) {
            $.get("http://upload.yxgapp.com/getFile?md5="+md5, function (text) {
                var json = JSON.parse(text)
                reslove(json.pos)
            })
        })
    }
  }
  try {
    mo = MoUploader(conf)
  } catch (ex) {
    console.log(ex.message)
  }
};

export default {
  created(){
    initList();
  },
  mounted(){
    document.querySelector('#upFile').addEventListener('change', function (e) {
      e.preventDefault();
      console.log($('#upFile'));
      let f = $('#upFile')[0].files[0];
      f.oss_url=$('#upFile').data('oss_url')+f.name.split('.')[f.name.split('.').length-1];
      console.log($('#upFile'));
      initUploader();
    });
  },
  updated(){},
  methods:{
    appendEditor(id,remark,status){
      if(!status || status <2){
        console.log('click')
        let index = _.findIndex(appData.list,{id,id});
        if(index >=0){
          if(appData.list[index].edit==false){
            appData.list.forEach(l=>l.edit=false);
            appData.list[index].edit=true;
            appData.para.remark = remark;
            appData.para.id = id;
            setTimeout(function(){$('input.edit:visible').focus()},0);

            //console.log(appData)
          }
        }
      }else{
        return
      }
    },
    updateRemark(){


        saveRemark();
      function saveRemark(){
        let index= _.findIndex(appData.list,{id:appData.para.id});
        if(index>=0){
          if(appData.list[index].remark != appData.para.remark){
            $.get('http://m.yxgapp.com/d/mooc/uploadVideoSubtitleEffects.json',appData.para,function(){
              let index= _.findIndex(appData.list,{id:appData.para.id});
              if(index>=0){
                appData.list[index].remark = appData.para.remark;

              }
            });
          }
          appData.list[index].edit=false;
        }
      }
    },
    selFile(type,guid){
      let file = document.querySelector('#upFile');
      let oss_url = "";
      if(type == 1){
        file.accept="image/jpeg,image/png";
        oss_url = "cover_cn/"+guid +'.';
      }
      if(type == 2){
        file.accept="";
        oss_url = "subtitle/"+guid +'.';
      }
      $("#upFile").data('oss_url',oss_url).data('type',type).data('guid',guid).trigger("click");
    }
  },
  data(){
    return appData
  }
}
</script>
