<template>
<div id="main">
	<!--<link rel="stylesheet" type="text/css" href="css/cloud-admin.css" />
	<link rel="stylesheet" type="text/css" href="css/default.css" />-->
	<header class="navbar clearfix" id="header">
		<div class="container">
				<div class="navbar-brand" style="color:#fff;">
					<!-- COMPANY LOGO
					<a href="index.html">
						<img src="images/logo/logo.png" alt="Cloud Admin Logo" class="img-responsive hide" height="30" width="120">
					</a>-->
					{{title}}
					<!-- /COMPANY LOGO -->
					<div id="sidebar-collapse" class="sidebar-collapse btn" @click="toggleSlide">
						<i class="fa fa-bars" data-icon1="fa fa-bars" data-icon2="fa fa-bars"></i>
					</div>
				</div>
				<!-- BEGIN TOP NAVIGATION MENU -->
				<ul class="nav navbar-nav pull-right">
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown user" id="header-user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img alt="" :src="avatar" />
							<div>
								<p class="username">{{nickname}}</p>
								<p>{{roleStr}}</p>
							</div>
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#" @click="logout"><i class="fa fa-power-off"></i> 注销</a></li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
				<!-- END TOP NAVIGATION MENU -->
		</div>
	</header>
	<section id="page">
		<div id="sidebar" class="sidebar">
			<div class="sidebar-menu nav-collapse">
				<ul>
					<li class="active">
						<!-- <a href="index.html"> -->
						<router-link to="/index/dashboard">
						<i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">控制台</span>
						<span class="selected"></span>
						</router-link>
						<!-- </a> -->
					</li>
					<li class="has-sub" v-if="permission.recommend">
						<a href="javascript:;" class="">
						<i class="fa fa-bookmark fa-fw"></i> <span class="menu-text">内容推荐</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub">
							<li><router-link to="/reco/submitVideo"><span class="sub-menu-text">视频推荐</span></router-link></li>
							<!-- <li><router-link to="/reco/uploadVideo"><span class="sub-menu-text">视频上传</span></router-link></li> -->
							<li><router-link to="/reco/submitChannel"><span class="sub-menu-text">频道推荐</span></router-link></li>
							<li><router-link to="/reco/myTags"><span class="sub-menu-text">我的标签</span></router-link></li>
						</ul>
					</li>
					<li class="has-sub" v-if="permission.teamLeader">
						<a href="javascript:;" class="">
						<i class="fa fa-users fa-fw"></i> <span class="menu-text">小分队管理</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub">
							<li><router-link to="/team/manageStaff"><span class="sub-menu-text">成员管理</span></router-link></a></li>
							<li><router-link to="/team/pointJournal"><span class="sub-menu-text">积分流水</span></router-link></a></li>
						</ul>
					</li>
					<li class="has-sub" v-if="permission.translator">
						<a href="javascript:;" class="">
						<i class="fa fa-tasks fa-fw"></i> <span class="menu-text">译者任务</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub">
							<li><router-link to="/translator/myTask"><span class="sub-menu-text">我的任务</span></router-link></li>
							<li><router-link to="/translator/myTaskFinish"><span class="sub-menu-text">我完成的任务</span></router-link></li>
							<li><router-link to="/translator/claimTask"><span class="sub-menu-text">认领任务</span></router-link></li>
						</ul>
					</li>
					<li class="has-sub" v-if="permission.assessor">
						<a href="javascript:;" class="">
						<i class="fa fa-bug fa-fw"></i> <span class="menu-text">审核员</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub">
							<li><a class="" href="elements.html"><span class="sub-menu-text">所有任务</span></a></li>
							<li><a class="" href="notifications.html"><span class="sub-menu-text">我的任务</span></a></li>
						</ul>
					</li>
					<li class="has-sub" v-if="permission.subEffect">
						<a href="javascript:;" class="">
						<i class="fa fa-bug fa-fw"></i> <span class="menu-text">特效组</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub">
							<li><router-link to="/subEffect/task"><span class="sub-menu-text">未完成任务</span></router-link></li>
							<!-- <li><router-link to="/subEffect/myTask"><span class="sub-menu-text">我的任务</span></router-link></li> -->
							<!-- <li><router-link to="/subEffect/allTask"><span class="sub-menu-text">所有任务</span></router-link></li> -->
						</ul>
					</li>
					<li class="has-sub" v-if="permission.sysman">
						<a href="javascript:;" class="">
						<i class="fa fa-bug fa-fw"></i> <span class="menu-text">内容管理</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub">
							<li><router-link to="/cms/videoTag"><span class="sub-menu-text">视频标签管理</span></router-link></li>
						</ul>
					</li>
					<!-- for videoTags manager -->
					<li class="has-sub" v-if="permission.sysman">
						<a href="javascript:;" class="">
						<i class="fa fa-bug fa-fw"></i> <span class="menu-text">系统管理</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub">
							<li><router-link to="/sys/videoTag"><span class="sub-menu-text">视频标签管理</span></router-link></li>
							<li><router-link to="/sys/tags"><span class="sub-menu-text">系统标签管理</span></router-link></li>
						</ul>
					</li>
					<!-- for videoTags manager end -->
				</ul>
			</div>
		</div>
		<div id="main-box" v-bind:style="{left:leftp +'px'}">
			<router-view name="page">
	    </router-view>
		</div>
	</section>

</div>
</template>
<script>
import util from './util.vue'
import '../../css/cloud-admin.css'
import '../../css/default.css'

let appData = {
	avatar:'',
	nickname:'',
	roleStr:'',
	permission : {
		recommend : false,
		teamLeader : false,
		translator : false,
		assessor : false,
		subEffect : false
	},
	title:'译学馆Web客户端',
	leftp:200
}
let getUserInfo = function(username,token,callback){
	let _this = this;
	//let action = 'GetUserInfo';
	//let url = 'http://m.yxgapp.com/d/if/account.jhtml';
	let url = 'http://m.yxgapp.com/d/mooc/GetUserExtInfo.json';
	//let url_sign = url + '?action='+ action +'&username='+ username;
	let post = {
		//action : action,
		username : username,
		//sign : util.countSign(url_sign,action)
		token : token
	};


	$.get(url,post,function(data){
		callback(data);
	},'json');
}
let getUserRolePermission = function(username,token,roleId,callback){
	let url = 'http://m.yxgapp.com/d/mooc/getUserRolePermission.json';
	let data = {
		username : username,
		token : token,
		roleId : roleId
	};
	$.get(url,data,function(d){
		//if(data.result.result){
			//sessionStorage.setItem('recommendPermission',JSON.stringify(data.recommendPermission));
			callback(d);
		//}
	},'json');
}

export default {
  name: 'index',
  created(){
		/* test userInfo */
		//sessionStorage.setItem('token','42265bf7138a8f322a6bf5c05067184d1505215280353');
		//sessionStorage.setItem('userId','2219733057@weibo');

	  let token = window.sessionStorage.getItem('token');
	  let userId = window.sessionStorage.getItem('userId');
		appData.avatar = sessionStorage.getItem('avatarUrl');
		appData.nickname = sessionStorage.getItem('nickname');

	  let _this = this;

	  if((token && userId) != null && (token && userId) != '' ){
		  getUserInfo(userId,token,function(data){
			  if(data.result.result){
		  			sessionStorage.setItem('uid',data.userExtInfo.id);
						if(data.userExtInfo.translatorState == 1){
							appData.permission.translator = true;
						}else{
							appData.permission.translator = false;
						}
						//console.log(data.userExtInfo.roleList)
						// console.log(data.userExtInfo.roleList.findIndex(function(f){return f.name=="小分队队长"}))
						if(data.userExtInfo.roleList.find(function(f){return f.id=="8"})){
							appData.permission.sysman = true;
						}else{
							appData.permission.sysman = false;
						}
						appData.permission.subEffect = data.userExtInfo.isEffectTeam;
						//sessionStorage.setItem('recommendPermission',data.user.recommendPermission);
						sessionStorage.setItem('userExtInfo',JSON.stringify(data.userExtInfo));
						appData.roleStr = data.userExtInfo.roleList[0].name;
						getUserRolePermission(userId,token,data.userExtInfo.roleList[0].id,function(data){
							if(data.result.result){
								if(data.recommendPermission.length > 0){
									sessionStorage.setItem('recommendPermission',JSON.stringify(data.recommendPermission));
									appData.permission.recommend = true;
									//_this.$router.push('/index/dashboard')
								}else{
									appData.permission.recommend = false;
								}
								if(data.handleScorePermission.length >0){
									appData.permission.teamLeader = true;
									sessionStorage.setItem('handleScorePermission',JSON.stringify(data.handleScorePermission));
								}else{
									appData.permission.teamLeader = false;
								}
								_this.$router.push('/index/dashboard')
							}else{
								console.log('Get Permission Error')
								util.dologout(_this);
							}

							//_this.$router.push('/index/submitVideo')
						});
		  			//console.log(appData)
		  			//_this.$router.push('/index/submitVideo')
		  		}else{
		  			alert('出错了，请重新登录！')
		  			util.dologout(_this);
				}
		  });
			//getUserRolePermission(userId,token);
	  }else{
		  util.dologout(this)
	  }
  },
  mounted(){
		$('#sidebar').on('click','.has-sub > a',function(){
			let _this = $(this);
			//_this.click(function(){
				console.log('click')
				if(_this.closest('li').hasClass('open')){
					_this.closest('li').removeClass('open');
					_this.find('.arrow').removeClass('open');
					_this.closest('li').find('.sub').slideUp(200);
				}else{
					_this.closest('li').addClass('open');
					_this.find('.arrow').addClass('open');
					_this.closest('li').find('.sub').slideDown(200);
				}
			//});
		});
		$('#sidebar').on('click','.sub a',function(){
			let _this = $(this);
			$('#sidebar .sub li').removeClass('current');
			_this.closest('li').addClass('current');
		});
		$.notifyDefaults({
			z_index:9999,
			type:'danger'
		});
  },
  methods:{
    logout : function(){
		  util.dologout(this)
	  },
		toggleSlide : function(){
			console.log('toggle slide')
			let slide = $('#sidebar');
			if(slide.hasClass('mini-menu')){
				slide.removeClass('mini-menu');
				//$('#main-content').css('left','200px');
				appData.leftp=200;
			}else{
				slide.addClass('mini-menu');
				appData.leftp=50;
				//$('#main-content').css('left','50px')
			}
		}
  },
  data () {
    return appData
  }
}
</script>
<style lang="less">
#main{
	height: 100%;
	background: #f4f4f4;
}
#main-box{position: absolute; right: 0; bottom: 0 ;top:61px; border-left: 1px solid #cdd2d2; overflow-y: auto;}
</style>
