<template>
    <div class="top-content">
        <!--<link rel="stylesheet" type="text/css" href="css/form-elements.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />-->
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <img id="logo" src="../../img/logo.png">
                            <h1> {{title}}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>登入系统</h3>
                            		<p>请使用译学馆手机客户端扫描下方二维码</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <!--<form role="form" method="post" class="login-form">
			                    	<div class="form-group" :class="{'has-error':errors.has('uname')}">
			                        	<input type="text" id="uname" name="uname"  placeholder="手机号码" v-validate="'required'" class="form-username form-control" >
			                        </div>
			                        <div class="form-group" :class="{'has-error':errors.has('upass')}">
			                        	<input type="password" id="upass" name="upass" placeholder="登录密码" v-validate="'required'" class="form-password form-control">
                                        <input type="hidden" id="action" value="UserLogin">
			                        </div>
			                        <button type="button" class="btn" @click="loginForm">登 录</button>
			                    </form>-->
                          <div id="qr"></div>
		                    </div>
                        </div>
                    </div>
                    <div class="row" id="foot">
                        <div class="col-sm-6 col-sm-offset-3">
                            <p v-html="msg"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</template>
<script>
//import SparkMD5 from 'spark-md5'
import util from './util.vue'
//import '../../css/form-elements.css'
import '../../css/index.css'

let appData = {
  title:"译学馆Web客户端",
  identifier:'',
  msg:''
};

/*$(function() {
    $.getScript('http://cdn.bootcss.com/jquery-backstretch/2.0.4/jquery.backstretch.min.js',function(){
        $.backstretch([
            "bg/2.jpg"
          , "bg/3.jpg"
          , "bg/1.jpg"
         ], {duration: 3000, fade: 750});
    });
    var browserVersion= navigator.userAgent.match(/(opera|chrome|safari|firefox|msie)\/?\s*(\.?\d+(\.\d+)*)/i);
    var browserName = browserVersion[1].toUpperCase();
    if(!(browserName != 'CHROME' && browserName != 'SAFARI')){
        $('#foot').remove();
    }
});*/
let initQR = function(){
  $.get('http://m.yxgapp.com/d/mooc/webClient/getid.json',function(data){
    if(data.result.result){
      appData.identifier = data.identifier;
      //console.log(appData.identifier)
      $('#qr').empty().qrcode(data.identifier);
    }else{
      appData.msg = '二维码获取失败，请<a href="javascript:location.reload(true)">刷新</a>页面重试。';
    }
  },'json');
};

let checkBrowser = function(){
  //if(!window.localStorage || !window.localStorage.setItem ){
  //  appData.msg = '您的浏览器版本较低，建议使用Chrome或者Firefox浏览器最新版本。';
  //}
  if(navigator.cookieEnabled == false){
    appData.msg = '您的浏览器禁用了cookie,无法正常登陆，请先开启cookie并<a href="javascript:location.reload(true)">刷新</a>页面。';
  }
  if(navigator.userAgent.toLowerCase().match(/(chrome|safari|firefox)/i) == null){
    appData.msg = '注意：我们未对您的浏览器进行过兼容性测试，使用过程中可能会存在问题，建议使用Chrome或者Firefox浏览器最新版本。';
  }
};



export default {
  name: 'login',
  created(){
    initQR();
    checkBrowser();
  },
  mounted(){
    appData.Log = setInterval(this.getLogin,2000);
  },
  methods:{
    /*loginForm : function(){
      let _this = this;
          let url = 'http://m.yxgapp.com/d/if/account.jhtml';
          let action = $('#action').val();
          if(action=='UserLogin'){
              let uname = $('#uname').val();
              let upass = $('#upass').val();
              if(this.errors.has('upass') || this.errors.has('uname') || uname=='' || upass==''){
                  return
              }else{
                  upass = SparkMD5.hash(upass);
                  let url_sign = url + '?action='+ action +'&username='+ uname +'&password='+ upass;
                  let sign = util.countSign(url_sign,action);
                  let post = {
                      action : action,
                      username : uname,
                      password : upass,
                      sign : sign
                  };
                  $.get(url,post,function(data) {
                      //console.log(data)
                      if(data.result.result){
                          window.sessionStorage.setItem('token',data.token);
                          window.sessionStorage.setItem('username',uname);
                          _this.$router.push('/index');
                      }else{
                          alert('登录错误，请确认用户名和密码!')
                      }
                  },'json')
              }
          }else{

          }

    }*/
    getLogin : function(){
      //console.log(appData.identifier)
      let _this = this;
      if(appData.identifier == '') return;

      $.get("http://m.yxgapp.com/d/mooc/webClient/GetLoginInfo.json",
        {identifier:appData.identifier},
        function(data){
          //console.log(JSON.stringify(data))
          if(!data.result.result){
            if(data.result.errorCode == '001001'){
              appData.msg = '二维码失效，请<a href="javascript:location.reload(true)">刷新</a>页面重试。';
              clearInterval(appData.Log);
            }
          }else{
            clearInterval(appData.Log);
            sessionStorage.setItem('token',data.token);
            sessionStorage.setItem('nickname',data.nickname);
            sessionStorage.setItem('userId',data.userId);
            sessionStorage.setItem('avatarUrl',data.avatarUrl);
            sessionStorage.setItem('expire',data.duration);
            _this.$router.replace('/index');
          }
        },'json');
    }
  },
  data () {
    return appData
  }
}
</script>

<style lang="less" scoped>
@import "../assets/css/base.less";
h1{text-align: center; position: relative;}
.top-content{height: 100%; background: url('../../bg/2.jpg'); background-size: cover;}
#qr{text-align: center; height: 250px;}
#logo{width: 30px; margin-right: 10px;}
.text{display: flex; justify-content: center; align-items: center;}
</style>
