<template>
  <div id="main-content">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">视频标签管理</h3>
                  <div class="pull-right col-xs-5" style="padding-top:16px;">
                    <div class="col-xs-6">
                      <select class="form-control" id="categoryId" @change="queryList">
                        <option value="">--选分类--</option>
                        <option v-for="c in category"  :value="c.id">{{c.name}}</option>
                      </select>
                    </div>
                    <div class="col-xs-6">
                      <input type="date" class="form-control" id="date" @change="queryList">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row searchbox">
            <div class="col-xs-4">
              <select class="form-control" id="categoryId">
                <option value="">--选分类--</option>
                <option v-for="c in category"  :value="c.id">{{c.name}}</option>
              </select>
            </div>
            <div class="col-xs-4"><input type="text" id="channelId" class="form-control" placeholder="频道ID"></div>
            <div class="col-xs-4"><input type="text" id="tag" class="form-control" placeholder="标签"></div>
            <div class="col-xs-12">
              <button type="button" class="btn btn-primary" @click="queryList"> 检索 </button>
              <button type="button" class="btn btn-info" @click="selAll" v-if="list.length>0"> 全选 </button>
              <button type="button" class="btn btn-info" @click="reverseSel" v-if="list.length>0"> 反选 </button>
              <button type="button" class="btn btn-success" @click="changeTag" v-if="hasSel>0">修改标签</button>
              <button type="button" class="btn btn-danger" @click="cleanTag" v-if="hasSel>0">清空标签</button>
              <label class="pull-right" style="margin-top:8px">{{hasSel+ '/' +list.length}}</label>
            </div>
          </div> -->
          <div class="row" id="tc">
              <div class="col-sm-12" id="table-container">
              <table id="list"  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>标题</th>
                    <!-- <th>状态</th> -->
                    <th>地址</th>
                    <th>频道</th>
                    <th>分类</th>
                    <th>标签</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="l in list">
                    <td :title="l.id"><a @click="changeTag(l.id)">{{l.course_name_cn}}</a><br><span style="color:#999">{{l.course_name_en}}</span></td>
                    <!-- <td>{{l.sub_complete_state==1?'译完':'未完'}}</td> -->
                    <td>
                      <a :href="'http://bdcdn-yxg-share.yxgapp.com/forYouku/'+ l.guid +'.mp4'" target="_blank">合成地址</a><br><a :href="l.source_url" target="_blank">源地址</a>
                    </td>
                    <td>{{l.channel}}</td>
                    <td>{{l.category}}</td>
                    <td>{{l.tag}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
    <div class="modal fade" id="addbox">
      <div class="modal-dialog" style="width:60%">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">视频标签管理</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label">视频标题</label>
                <label class="col-sm-10 control-label" style="text-align:left">{{selVideo.course_name_cn}} - {{selVideo.course_name_en}}</label>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">基础信息</label>
                <label class="col-sm-10 control-label" style="text-align:left">{{selVideo.channel}} - {{selVideo.category}} - {{selVideo.sub_complete_state==1?'译完':'未完'}}</label>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" title="选中以删除标签">原始标签 <i class="fa fa-question-circle"></i></label>
                <div class="col-sm-10">
                  <button type="button" class="btn btn-default" :class="{'btn-danger':current.delTag.split(' ').indexOf(t)>=0}" @click="setDelLabels(t)"  v-for="t in selVideo.tags" >{{t}}</button>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" title="选择可修改视频分类">视频分类 <i class="fa fa-question-circle"></i></label>
                <div class="col-sm-10">
                  <select class="form-control" v-model="current.categoryId" @change="setCategory">
                    <option value="">-- 请选择视频分类 --</option>
                    <option v-for="c in category" :value="c.id">{{c.name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group" v-if="current.categoryIndex>=0">
                <label class="col-sm-2 control-label" title="选中以增加标签">标签 <i class="fa fa-question-circle"></i></label>
                <div class="col-sm-10">
                  <div v-for="g in category[current.categoryIndex].tag" class="btn-con">
                    <button type="button" class="btn btn-default" :class="{'btn-success':current.addTag.split(' ').indexOf(t.label)>=0}" @click="setLabels(t.label)"  v-for="t in g.tags" >{{t.label}} <small>{{t.videoNum}}</small></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" @click="doSave">更新</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="less" scoped>
.form-horizontal{padding: 0px 20px;}
.modal-body button{margin: 2px;}
td,th{vertical-align: middle !important; min-width: 30px;}
tr.red{background: #fdd;}
.searchbox{
  position: fixed; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255); right: 15px; top: 60px; width: 460px; z-index: 9; padding: 15px;
  div.col-xs-4{padding:0 5px 10px;}
  div.col-xs-12{padding:0 5px;
    button{margin-right: 5px;}
  }
}
div.btn-con{margin-bottom: 10px; border-bottom:#ccc 1px solid; padding-bottom: 10px; overflow: auto;}
div.input-group input{margin-top: 2px;}
div.btn-con:last-child{border-bottom: none;}
</style>
<script>
import util from './util.vue'
// import _ from 'lodash'

let appData = {
	list : [],
  video:[],
  para :{
    userId:'',
    token:'',
  },
  tableOrder:[[0,'desc']],
  labels:[],
  v:{
    id:0,
    tags:''
  },
  selVideo:{},
  category:[],
  current:{
    categoryId:'',
    modifyCategoryId:'',
    delTag:'',
    addTag:'',
    list:[],
    categoryIndex:-1
  }
};

let initDataTable = function(){
	console.log(appData.tableOrder)
	let tableConfig={
		'language': {
			'emptyTable': '没有数据',
			'loadingRecords': '加载中...',
			'processing': '查询中...',
			'search': '检索:',
			'lengthMenu': '每页 _MENU_ 条',
			'zeroRecords': '没有数据',
			'paginate': {
				'first':      '第一页',
				'last':       '最后一页',
				'next':       '下一页',
				'previous':   '上一页'
			},
			'info': '第 _PAGE_ 页 / 共 _PAGES_ 页 | 总记录数 _TOTAL_',
			'infoEmpty': '没有数据',
			'infoFiltered': '(过滤前共 _MAX_ 条)'
		},
		'order':appData.tableOrder,
    "lengthMenu": [[ 50, 100, -1 ],[ 50, 100, '所有' ]],
    "pageLength": 50,
	};
	console.log(tableConfig)
	let table = $('#list').DataTable(tableConfig);
};

let getVideoList = function(categoryId,date,vm){
  util.showLoading()
  if($('#list').hasClass('dataTable')){
    appData.tableOrder = $('#list').dataTable().api().order().concat();
    $('#list').DataTable().destroy();
  }
  loadData(categoryId,date,vm).then(function(){
    util.hideLoading();
  })
};

let loadData = function(categoryId,date,vm){
  if( !date) return;

  let url = 'http://m.yxgapp.com/d/mooc/man/modifyVideoTags.json';
  let d = {};
  d.action = 'listPublish';
  d.categoryId = categoryId;
  d.from = moment(date).format('YYYY-MM-DD');
  d.to = moment(date).add(1,'days').format('YYYY-MM-DD');

  return new Promise(function(resolve){
    $.get(url,d,function(data) {
      if(data.result.result){
        //data.list.forEach(l=>l.sel = false);
        appData.list = data.list;
        vm.$nextTick(function(){
          if($('#list').hasClass('dataTable')==false) initDataTable();
        });
        //appData.hasSel = 0;
        resolve(data.result.result);
      }
    },'json');
  })
}

let modifyCategoryId = function(list,categoryId){
  let url = 'http://m.yxgapp.com/d/mooc/man/modifyVideoTags.json';
  let d = {
    action:'modifyCategory',
    list:list,
    categoryId:categoryId
  }
  return new Promise(function(resolve){
    $.post(url,d,function(data) {
      if(data){
        resolve(data.result.result);
      }
    },'json');
  })
}

let handleVideoTag = function(action,list,label){
  let api = 'http://m.yxgapp.com/d/mooc/handleVideoTag.json'
  let d = {
    userId:appData.para.userId,
    token:appData.para.token,
    list:list,
    action:action,
    label:label,
  }
  return new Promise(resolve=>{
    $.post(api,d,function(data){
      resolve(data.result.result);
    },'json');
  })
}

let getCategory = function(){
  let api = 'http://m.yxgapp.com/d/webClient/getCategory.json';
  return new Promise(resolve=>{
    $.get(api,appData.para,function(data){
      if(data.result.result){
        data.list.forEach(l=>l.tag=[])
        appData.category = data.list;
        //appData.para.categoryId = data.list[0].id;
      }else{
        $.notify('获取信息失败：'+ data.result.reason)
      }
      resolve(data.result.result);
    },'json');
  });
}

let getLabel = function(categoryId){
	let url = 'http://m.yxgapp.com/d/webClient/sysLabel.json';
	let d = Object.assign({},appData.para);
  d.categoryId = categoryId;
  d.action = 'list';
	//appData.teams = JSON.parse(sessionStorage.getItem('recommendPermission'));
	$.get(url,d,function(data){
		if(data.result.result){
      let groupNum = [];
      //let group = {};
      let list = [];
      data.list.forEach(f=>{
        if(groupNum.indexOf(f.groupNum)<0){
          groupNum.push(f.groupNum);
          //if(group.groupNum) list.push(group);
          list.push({
            groupNum : f.groupNum,
            tags : [],
            //edit : 0
          })
        }
        list[list.length-1].tags.push(f)
      });
      appData.category.find(c=>{return c.id==categoryId}).tag=list;
		}
	},'json');
};

export default {
  name: 'manageVideoTag',
  created(){
    //appData.video = [];
	  appData.para.token = window.sessionStorage.getItem('token');
	  appData.para.userId = window.sessionStorage.getItem('uid');
    getCategory().then(r=>{if(r==true){
      appData.category.forEach(l=>{
        getLabel(l.id)})
      }
    });
  },
  mounted(){
    $('#date').val(moment().format('YYYY-MM-DD'));
    this.queryList();
  },
  beforeUpdate(){
  },
  updated(){
  },
  methods:{
    doSave:function(){
      let addTag = appData.current.addTag;
      let delTag = appData.current.delTag;
      let mCategoryId = appData.current.categoryId;
      let list = [];
      let vm = this;

      // appData.list.forEach(f=>{
      //   if(f.sel == true){
      //     list.push(f.id)
      //   }
      // })
      list.push(appData.selVideo.id);
      list = JSON.stringify(list);
      if($.trim(addTag) != ''){
        handleVideoTag('add',list,addTag).then(r=>{
          if(r==true){
            $.notify('add tags SUCCESS')
            loadData($('#categoryId').val(),$('#date').val(),vm)
          }else{
            $.notify('add tags FAIL')
          }
        })
      }
      if($.trim(delTag) != ''){
        handleVideoTag('del',list,delTag).then(r=>{
          if(r==true){
            $.notify('delete tags SUCCESS')
            loadData($('#categoryId').val(),$('#date').val(),vm)
          }else{
            $.notify('delete tags FAIL')
          }
        })
      }
      if(mCategoryId != '' && mCategoryId != appData.selVideo.categoryId){
        modifyCategoryId(list,mCategoryId).then(r=>{
          if(r==true){
            $.notify('change category SUCCESS')
            loadData($('#categoryId').val(),$('#date').val(),vm)
          }else{
            $.notify('change category FAIL')
          }
        })
      }
      $('#addbox').modal('hide');
    },
    queryList(){
      let categoryId = $('#categoryId').val();
      let strDate = $('#date').val();

      let vm = this;

      if(strDate){
        getVideoList(categoryId,strDate,vm)
      }
    },

    setCategory:function(){
			let value = appData.current.categoryId;
      appData.current.categoryIndex = appData.category.findIndex((f)=>{
        //console.log(f)
        return f.id == value
      });
      appData.current.addTag = '';
	  },
    setLabels:function(label){
			let labels = [];
			if($.trim(appData.current.addTag)!=''){
				labels = appData.current.addTag.split(' ');
			}
			//let labels = appData.video.remark.split(' ');
			let index = labels.indexOf(label);
			if(index>=0){
				labels.splice(index,1);
			}else{
				labels.push(label)
			}
			appData.current.addTag = labels.join(' ');
      console.log(appData)
		},
    setDelLabels(label){
      let labels = [];
			if($.trim(appData.current.delTag)!=''){
				labels = appData.current.delTag.split(' ');
			}
			//let labels = appData.video.remark.split(' ');
			let index = labels.indexOf(label);
			if(index>=0){
				labels.splice(index,1);
			}else{
				labels.push(label)
			}
			appData.current.delTag = labels.join(' ');
      console.log(appData)
    },
    changeTag(id){
      $('#addbox').modal('show');
      //if(appData.hasSel==1){
      appData.selVideo = appData.list.find(f=>{return f.id==id})
      appData.selVideo.tags = appData.selVideo.tag.split(' ');
      //}
      appData.current = {
        categoryId:appData.selVideo.categoryId,
        modifyCategoryId:'',
        delTag:'',
        addTag:'',
        list:[],
        categoryIndex:-1
      }
      this.setCategory();
    },
  },
  data () {
    return appData
  }
}
</script>
