<template>
  <div id="main-content">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">视频标签管理</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row searchbox">
            <div class="col-xs-4">
              <select class="form-control" id="categoryId">
                <option value="">--选分类--</option>
                <option v-for="c in category"  :value="c.id">{{c.name}}</option>
              </select>
            </div>
            <div class="col-xs-4"><input type="text" id="channelId" class="form-control" placeholder="频道ID"></div>
            <div class="col-xs-4"><input type="text" id="tag" class="form-control" placeholder="标签"></div>
            <div class="col-xs-12">
              <button type="button" class="btn btn-primary" @click="queryList"> 检索 </button>
              <button type="button" class="btn btn-info" @click="selAll" v-if="list.length>0"> 全选 </button>
              <button type="button" class="btn btn-info" @click="reverseSel" v-if="list.length>0"> 反选 </button>
              <button type="button" class="btn btn-success" @click="changeTag" v-if="hasSel>0">修改标签</button>
              <button type="button" class="btn btn-danger" @click="cleanTag" v-if="hasSel>0">清空标签</button>
              <label class="pull-right" style="margin-top:8px">{{hasSel+ '/' +list.length}}</label>
            </div>
          </div>
          <div class="row" id="tc">
              <div class="col-sm-12" id="table-container">
              <table id="list"  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>中文名称</th>
                    <th>状态</th>
                    <th>地址</th>
                    <th>频道</th>
                    <th>分类</th>
                    <th>标签</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="l in list" @click="toggleSel(l.id)" :class="{'red':l.sel==true}">
                    <td :title="l.id"><span style="color:#333333">{{l.course_name_cn}}</span><br><span style="color:#999">{{l.course_name_en}}</span></td>
                    <td><span class="text-danger" v-if="l.publish_status!=1">下线</span><span v-if="l.publish_status==1">{{l.sub_complete_state==1?'译完':'未完'}}</span></td>
                    <td>
                      <a v-if="l.guid" :href="'http://bdcdn-yxg-share.yxgapp.com/forYouku/'+ l.guid +'.mp4'" target="_blank">合成地址</a><br><a :href="l.source_url" target="_blank">源地址</a>
                    </td>
                    <td>{{l.channel}}</td>
                    <td>{{l.category}}</td>
                    <td>{{l.tag}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
    <div class="modal fade" id="addbox">
      <div class="modal-dialog" style="width:60%">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">批量修改视频标签</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group" v-if="hasSel==1">
                <label class="col-sm-2 control-label">视频标题</label>
                <label class="col-sm-10 control-label" style="text-align:left">{{selVideo.course_name_cn}} - {{selVideo.course_name_en}}</label>
              </div>
              <div class="form-group" v-if="hasSel==1">
                <label class="col-sm-2 control-label">基础信息</label>
                <label class="col-sm-10 control-label" style="text-align:left">{{selVideo.channel}} - {{selVideo.category}} - {{selVideo.sub_complete_state==1?'译完':'未完'}}</label>
              </div>
              <div class="form-group" v-if="hasSel==1">
                <label class="col-sm-2 control-label">原始标签</label>
                <label class="col-sm-10 control-label" style="text-align:left">{{selVideo.tag}}</label>
              </div>
              <div class="form-group" v-if="hasSel>1">
                <label class="col-sm-2 control-label">已选视频</label>
                <label class="col-sm-10 control-label" style="text-align:left">{{hasSel}} 个</label>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">更改分类</label>
                <div class="col-sm-10"><select class="form-control" v-model="current.modifyCategoryId">
                  <option value="">-- 请选择视频分类 --</option>
                  <option v-for="c in category" :value="c.id">{{c.name}}</option>
                </select></div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">删除标签</label>
                <div class="col-sm-10"><input type="text" class="form-control" v-model="current.delTag" placeholder="需要删除的标签，空格分割"></div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">选择标签分类</label>
                <div class="col-sm-10">
                  <select class="form-control" v-model="current.categoryId" @change="setCategory">
                    <option value="">-- 请选择标签分类 --</option>
                    <option v-for="c in category" :value="c.id">{{c.name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group" v-if="current.categoryIndex>=0">
                <label class="col-sm-2 control-label">增加标签</label>
                <div class="col-sm-10">
                  <div v-for="g in category[current.categoryIndex].tag" class="btn-con">
                    <button type="button" class="btn btn-default" :class="{'btn-success':current.addTag.split(' ').indexOf(t.label)>=0}" @click="setLabels(t.label)"  v-for="t in g.tags" >{{t.label}} <small>{{t.videoNum}}</small></button>
                    <div class="input-group col-xs-3 pull-right">
                      <input type="text" class="form-control" placeholder="输入新标签" :id="'tag'+g.groupNum">
                      <span class="input-group-btn">
                        <button class="btn btn-success" type="button" @click="saveTag(current.categoryId,g.groupNum)"><i class="fa fa-plus"></i></button>
                      </span>
                    </div>
                  </div>
                  <div>
                    <div class="input-group col-xs-3 pull-right">
                      <input type="text" class="form-control" placeholder="输入标签新建组" id="tag0">
                      <span class="input-group-btn">
                        <button class="btn btn-success" type="button" @click="saveTag(current.categoryId,0)"><i class="fa fa-plus"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" @click="doSave">更新</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="less" scoped>
.form-horizontal{padding: 0px 20px;}
.modal-body button{margin: 2px;}
td,th{vertical-align: middle !important; min-width: 30px;}
tr.red{background: #fdd;}
.searchbox{
  position: fixed; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255); right: 15px; top: 60px; width: 460px; z-index: 9; padding: 15px;
  div.col-xs-4{padding:0 5px 10px;}
  div.col-xs-12{padding:0 5px;
    button{margin-right: 5px;}
  }
}
div.btn-con{margin-bottom: 10px; border-bottom:#ccc 1px solid; padding-bottom: 10px; overflow: auto;}
div.input-group input{margin-top: 2px;}
</style>
<script>
import util from './util.vue'
// import _ from 'lodash'

let appData = {
	list : [],
  video:[],
  para :{
    userId:'',
    token:'',
  },
  tableOrder:[[0,'desc']],
  labels:[],
  v:{
    id:0,
    tags:''
  },
  selVideo:{},
  hasSel:0,
  category:[],
  current:{
    categoryId:'',
    modifyCategoryId:'',
    delTag:'',
    addTag:'',
    list:[],
    categoryIndex:-1
  }
};

let initDataTable = function(){
	console.log(appData.tableOrder)
	let tableConfig={
		'language': {
			'emptyTable': '没有数据',
			'loadingRecords': '加载中...',
			'processing': '查询中...',
			'search': '检索:',
			'lengthMenu': '每页 _MENU_ 条',
			'zeroRecords': '没有数据',
			'paginate': {
				'first':      '第一页',
				'last':       '最后一页',
				'next':       '下一页',
				'previous':   '上一页'
			},
			'info': '第 _PAGE_ 页 / 共 _PAGES_ 页 | 总记录数 _TOTAL_',
			'infoEmpty': '没有数据',
			'infoFiltered': '(过滤前共 _MAX_ 条)'
		},
		'order':appData.tableOrder,
    "lengthMenu": [[ 50, 100, -1 ],[ 50, 100, '所有' ]],
    "pageLength": 50,
	};
	console.log(tableConfig)
	let table = $('#list').DataTable(tableConfig);
};

let getVideoList = function(channelId,tag,categoryId,vm){
  util.showLoading()
  if($('#list').hasClass('dataTable')){
    appData.tableOrder = $('#list').dataTable().api().order().concat();
    $('#list').DataTable().destroy();
  }
  loadData(channelId,tag,categoryId,vm).then(function(){
    util.hideLoading();
  })
};

let loadData = function(channelId,tag,categoryId,vm){
  let url = 'http://m.yxgapp.com/d/mooc/man/modifyVideoTags.json';
  let d = {};
  d.action = 'list';
  if(tag) d.tag = tag;
  if(channelId) d.channelId = channelId;
  if(categoryId) d.categoryId = categoryId;
  return new Promise(function(resolve){
    $.get(url,d,function(data) {
      if(data.result.result){
        data.list.forEach(l=>l.sel = false);
        appData.list = data.list;
        vm.$nextTick(function(){
          if($('#list').hasClass('dataTable')==false) initDataTable();
        });
        appData.hasSel = 0;
        resolve(data.result.result);
      }
    },'json');
  })
}

let modifyCategoryId = function(list,categoryId){
  let url = 'http://m.yxgapp.com/d/mooc/man/modifyVideoTags.json';
  let d = {
    action:'modifyCategory',
    list:list,
    categoryId:categoryId
  }
  return new Promise(function(resolve){
    $.post(url,d,function(data) {
      if(data){
        resolve(data.result.result);
      }
    },'json');
  })
}

let addTag = function(userId,token,categoryId,groupNum,tag){
  let data = {
    userId:userId,
    token:token,
    categoryId:categoryId,
    groupNum:groupNum,
    label:tag,
    action:'save'
  }
  return new Promise((resolve)=>{
    $.get('http://m.yxgapp.com/d/webClient/sysLabel.json',data,function(d){
      if(d) resolve(d.result.result)
    },'json');
  })
}

let cleanTag = function(list){
  let url = 'http://m.yxgapp.com/d/mooc/man/modifyVideoTags.json';
  let d = {
    action:'cleanTag',
    list:list,
  }
  return new Promise(function(resolve){
    $.post(url,d,function(data) {
      if(data){
        resolve(data.result.result);
      }
    },'json');
  })
}

/*let saveNewTag = function(){
  //util.showLoading()
  // if($('#list').hasClass('dataTable')){
  //   appData.tableOrder = $('#list').dataTable().api().order().concat();
  //   $('#list').DataTable().destroy();
  // }
  let url = 'http://m.yxgapp.com/d/mooc/man/modifyVideoTags.json?action=save';
  //let d = {catogaryId,catogaryId,action:'list'};
  $.get(url,appData.v,function(data) {
    if(data.result.result){
      //appData.video = data.video;
      let i = appData.video.indexOf(appData.current);
      appData.video.splice(i,1);
      //util.hideLoading();
    }
  },'json');
};*/

let handleVideoTag = function(action,list,label){
  let api = 'http://m.yxgapp.com/d/mooc/handleVideoTag.json'
  let d = {
    userId:appData.para.userId,
    token:appData.para.token,
    list:list,
    action:action,
    label:label,
  }
  return new Promise(resolve=>{
    $.post(api,d,function(data){
      resolve(data.result.result);
    },'json');
  })
}

let getCategory = function(){
  let api = 'http://m.yxgapp.com/d/webClient/getCategory.json';
  return new Promise(resolve=>{
    $.get(api,appData.para,function(data){
      if(data.result.result){
        data.list.forEach(l=>l.tag=[])
        appData.category = data.list;
        //appData.para.categoryId = data.list[0].id;
      }else{
        $.notify('获取信息失败：'+ data.result.reason)
      }
      resolve(data.result.result);
    },'json');
  });
}

let getLabel = function(categoryId){
	let url = 'http://m.yxgapp.com/d/webClient/sysLabel.json';
	let d = Object.assign({},appData.para);
  d.categoryId = categoryId;
  d.action = 'list';
	//appData.teams = JSON.parse(sessionStorage.getItem('recommendPermission'));
	$.get(url,d,function(data){
		if(data.result.result){
      let groupNum = [];
      //let group = {};
      let list = [];
      data.list.forEach(f=>{
        if(groupNum.indexOf(f.groupNum)<0){
          groupNum.push(f.groupNum);
          //if(group.groupNum) list.push(group);
          list.push({
            groupNum : f.groupNum,
            tags : [],
            //edit : 0
          })
        }
        list[list.length-1].tags.push(f)
      });
      appData.category.find(c=>{return c.id==categoryId}).tag=list;
		}
	},'json');
};

export default {
  name: 'modifyVideoTag',
  created(){
    //appData.video = [];
	  appData.para.token = window.sessionStorage.getItem('token');
	  appData.para.userId = window.sessionStorage.getItem('uid');
    getCategory().then(r=>{if(r==true){
      appData.category.forEach(l=>{
        getLabel(l.id)
      })
    }
    });
    //token = 'bf71fb7c476f9ed546b54a46e6d16eaf1500447445565';
		//userId = 'E1A266DAC0F06B11579EFE816BFFA5C7@qq';
    //appData.token = token;
    //appData.userId = userId;
    //let translatorId = JSON.parse(window.sessionStorage.getItem('userExtInfo')).translatorId;
    /*let i = _.findIndex(appData.user,{'translatorId':translatorId});
    if(i >=0 ){
      appData.self = appData.user[i];
    }*/
    //console.log(appData)
		//cookieConfig.expires = new Date(new Date().getTime() + parseInt(sessionStorage.getItem('expire')));
    //util.showLoading();
  },
  mounted(){
  },
  beforeUpdate(){
  },
  updated(){
  },
  methods:{
    cleanTag:function(){
      let list = [];
      let vm = this;

      appData.list.forEach(f=>{
        if(f.sel == true){
          list.push(f.id)
        }
      })
      list = JSON.stringify(list);
      if(confirm("确定要清空选中视频的标签吗？")){
        cleanTag(list).then(r=>{
          if(r==true){
            $.notify('clean tags SUCCESS')
            loadData($('#channelId').val(),$('#tag').val(),$('#categoryId').val(),vm)
          }else{
            $.notify('clean tags FAIL')
          }
        })
      }
    },
    saveTag(categoryId,groupNum){
      let vm=this;
      let tag = $.trim($('#tag'+groupNum).val());
      let newGroup = false;
      let tags = appData.category[appData.current.categoryIndex].tag;
      if(groupNum==0){
        groupNum = tags[tags.length -1].groupNum*1 + 1;
        newGroup = true;
      }
      if(tag != '') {
        addTag(appData.para.userId,appData.para.token,categoryId,groupNum,tag).then(d=>{
          if(d==true){
            if(newGroup == true){
              tags.push({groupNum:groupNum,tags:[{
                  groupNum:groupNum,
                  label:tag
              }]})
            }else{
              tags.find(t=>{
                return t.groupNum == groupNum;
              }).tags.push({
                  groupNum:groupNum,
                  label:tag
              })

            }
            vm.setLabels(tag);
            $('#tag'+groupNum).val('')
          }else{
            $.notify('Add Tag FAIL')
          }
        })
      }
    },
    doSave:function(){
      let addTag = appData.current.addTag;
      let delTag = appData.current.delTag;
      let mCategoryId = appData.current.modifyCategoryId;
      let list = [];
      let vm = this;

      appData.list.forEach(f=>{
        if(f.sel == true){
          list.push(f.id)
        }
      })
      list = JSON.stringify(list);
      if($.trim(addTag) != ''){
        handleVideoTag('add',list,addTag).then(r=>{
          if(r==true){
            $.notify('add tags SUCCESS')
            loadData($('#channelId').val(),$('#tag').val(),$('#categoryId').val(),vm)
          }else{
            $.notify('add tags FAIL')
          }
        })
      }
      if($.trim(delTag) != ''){
        handleVideoTag('del',list,delTag).then(r=>{
          if(r==true){
            $.notify('delete tags SUCCESS')
            loadData($('#channelId').val(),$('#tag').val(),$('#categoryId').val(),vm)
          }else{
            $.notify('delete tags FAIL')
          }
        })
      }
      if(mCategoryId != ''){
        modifyCategoryId(list,mCategoryId).then(r=>{
          if(r==true){
            $.notify('change category SUCCESS')
            loadData($('#channelId').val(),$('#tag').val(),$('#categoryId').val(),vm)
          }else{
            $.notify('change category FAIL')
          }
        })
      }
      $('#addbox').modal('hide');
    },
    toggleSel(id){
      let v = appData.list.find(f=>{
        return f.id == id;
      })
      console.log(v)
      if(v){
        v.sel = !v.sel;
        if(v.sel == true){
          appData.hasSel ++;
        }else{
          appData.hasSel --;
        }
      }

      // v = appData.list.find(f=>{
      //   return f.sel == true;
      // })
      // if(v){
      //   appData.hasSel = true;
      // }else{
      //   appData.hasSel = false;
      // }
    },
    selAll(){
      appData.list.forEach(l=>l.sel = true);
      appData.hasSel = appData.list.length;
    },
    reverseSel(){
      let vm = this;
      appData.list.forEach(l=>vm.toggleSel(l.id));
    },
    queryList(){
      let channelId = $('#channelId').val();
      let tag = $('#tag').val();
      let categoryId = $('#categoryId').val();

      let vm = this;

      if(parseInt(channelId)>0) {
        channelId = parseInt(channelId)
      }else{
        channelId = null;
      }

      if($.trim(tag) == ''){
        tag = null;
      }else{
        tag = $.trim(tag);
      }

      if($.trim(categoryId) == ''){
        categoryId = null;
      }else{
        categoryId = $.trim(categoryId);
      }
      if(channelId || tag || categoryId){
        getVideoList(channelId,tag,categoryId,vm)
      }
    },
    /*showEdit:function(id){
      let i = _.findIndex(appData.video,{'id':id});
      if(i>=0){
        appData.current = appData.video[i];
        //appData.v.oldTag = appData.video[i].tag;
        appData.v.id = appData.video[i].id;
        if(appData.current.tag == 'null'){
          appData.v.tags = '';
        }else{
          appData.v.tags = appData.current.tag;
        }
        this.setCategory(appData.video[i].category);
        $('#addbox').modal('show');
      }
    },
    doDel : function(id){
      let i = _.findIndex(appData.video,{'id':id});
      if(i>=0){
        appData.current = appData.video[i];
        //appData.v.oldTag = appData.video[i].tag;
        appData.v.id = appData.video[i].id;
        appData.v.tags = appData.video[i].tag;
        saveNewTag();
      }
    },
    getCategory : function(category){
			if(category == '' || category == 'null' || category == undefined) return;
			let index = _.findIndex(appData.category,{'value':category});
			return(appData.category[index].text)
		},*/
    setCategory:function(){
			let value = appData.current.categoryId;
      appData.current.categoryIndex = appData.category.findIndex((f)=>{
        //console.log(f)
        return f.id == value
      });
	  },
    setLabels:function(label){
			let labels = [];
			if($.trim(appData.current.addTag)!=''){
				labels = appData.current.addTag.split(' ');
			}
			//let labels = appData.video.remark.split(' ');
			let index = labels.indexOf(label);
			if(index>=0){
				labels.splice(index,1);
			}else{
				labels.push(label)
			}
			appData.current.addTag = labels.join(' ');
      console.log(appData)
		},
    changeTag(){
      $('#addbox').modal('show');
      //if(appData.hasSel==1){
      appData.selVideo = appData.list.find(f=>{return f.sel==true})
      //}
      appData.current = {
        categoryId:appData.selVideo.categoryId,
        modifyCategoryId:'',
        delTag:'',
        addTag:'',
        list:[],
        categoryIndex:-1
      }
      this.setCategory();
    },
  },
  data () {
    return appData
  }
}
</script>
