<template>
  <div id="main-content">
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">我的自定义标签</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div id="addLabel" class="input-group col-xs-3">
              <input type="text" class="form-control" placeholder="添加新标签"  v-model="newLabel" maxlength="6">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" @click="addLabel"><i class="fa fa-plus"></i></button>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 labels-con">
              <div class="btn-group" v-for="l in list">
                <button type="button" class="btn btn-default">{{l.tag}}</button>
                <button type="button" class="btn btn-danger" @click="removeLabel(l.id)"><i class="fa fa-remove"></i></button>
              </div>
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
  </div>
</template>
<style lang="less" scoped>
  #addLabel{
    padding: 0 20px;
  }
  .labels-con{
    padding: 20px;
    .btn-group{
      float: left;
      margin-right: 10px; margin-bottom: 10px;
    }
  }
</style>
<script>
import util from './util.vue'

let appData = {
  list:[],
  newLabel:''
};

let getUserTag = function(){
  util.showLoading();
	let url = 'http://m.yxgapp.com/d/mooc/userTag.json';
	let d = {
		action : 'list',
		uid : window.sessionStorage.getItem('uid'),
  	token : window.sessionStorage.getItem('token')
	};
	$.get(url,d,function(data){
		if(data.result.result){
			appData.list = data.list;
		}else{
      $.notify(data.result.reason);
    }
    util.hideLoading();
	},'json');
}

export default {
  name: 'myTags',
  created(){
		getUserTag();
  },
  beforeUpdate(){
  },
  updated(){
  },
  mounted(){
  },
	beforeDestroy(){
	},
  methods:{
		addLabel : function(){
			console.log(appData.newLabel)
			appData.newLabel = $.trim(appData.newLabel);
			if(appData.newLabel==''){
				return
			}
			$.get('http://m.yxgapp.com/d/mooc/userTag.json',{
				action : 'save',
				uid : window.sessionStorage.getItem('uid'),
		  	token : window.sessionStorage.getItem('token'),
				tag : appData.newLabel
			},function(data){
				if(data.result.result){
					appData.newLabel = '';
					getUserTag();
				}else{
					$.notify(data.result.reason);
				}
			},'json');
		},
    removeLabel : function(lid){
      $.get('http://m.yxgapp.com/d/mooc/userTag.json',{
				action : 'del',
				uid : window.sessionStorage.getItem('uid'),
		  	token : window.sessionStorage.getItem('token'),
				id : lid
			},function(data){
				if(data.result.result){
					getUserTag();
				}else{
					$.notify(data.result.reason);
				}
			},'json');
    }
  },
  data () {
    return appData
  }
}
</script>
