<template>
  <div id="main-content">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">我完成的任务</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="tc">
            <div class="col-sm-12" id="table-container">
              <table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>编号</th>
                    <th>标题</th>
                    <th>任务类型</th>
                    <th>视频</th>
                    <th>完成时间</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="l in tasks">
                    <td>{{l.courseId}}</td>
                    <td>{{l.videoName}}<br><span style="color:#999">{{l.videoEnName}}</span></td>
                    <td>{{l.name}}</td>
                    <td><a :href="'http://bdcdn-yxg-share.yxgapp.com/forYouku/'+ l.videoId +'.mp4'" target="_blank">合成地址</a></td>
                    <td>{{l.endTime}}</td>
                    <td><button type="button" class="btn btn-primary" @click="modifyMemo(l.courseId)">修改原始简介</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
    <div class="modal fade" id="addbox">
      <div class="modal-dialog" style="width:60%">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">修改原始简介</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label">视频标题</label>
                <label class="col-sm-10 control-label" style="text-align:left">{{selVideo.videoName}} - {{selVideo.videoEnName}}</label>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">原始简介</label>
                <div class="col-sm-10">
                  <vue-html5-editor :content="selVideo.outline_en" ref="editor"></vue-html5-editor>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" @click="doSave">更新</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="less" scoped>
td{vertical-align: middle !important;}
</style>
<script>
import util from './util.vue'

let appData = {
	tasks : [],
  userId : '',
  token : '',
  selVideo:{}
}

let getUserTaskFinish = function(username,token){
  util.showLoading();
	let url = 'http://m.yxgapp.com/d/mooc/GetMyTaskRecordList.json';
	let data = {
		username : username,
		token : token
	};
	return new Promise(resolve=>{
    $.get(url,data,function(d){
  			resolve(d);
        util.hideLoading();
  	},'json')
  })
}

let handleOutline = function(userId,token,courseId,outline_en){
  let url = 'http://m.yxgapp.com/d/webClient/updateMemo.json';
  let d = {
    userId  : userId,
    token   : token,
    courseId: courseId,
    outline_en  : outline_en
  }
  return new Promise(resolve =>{
    $.post(url,d,function(data){
      resolve(data)
    },'json')
  })
}

let tableConfig={
  'language': {
    'emptyTable': '没有数据',
    'loadingRecords': '加载中...',
    'processing': '查询中...',
    'search': '检索:',
    'lengthMenu': '每页 _MENU_ 条',
    'zeroRecords': '没有数据',
    'paginate': {
      'first':      '第一页',
      'last':       '最后一页',
      'next':       '下一页',
      'previous':   '上一页'
    },
    'info': '第 _PAGE_ 页 / 共 _PAGES_ 页 | 总记录数 _TOTAL_',
    'infoEmpty': '没有数据',
    'infoFiltered': '(过滤前共 _MAX_ 条)'
  },
  "bStateSave": true,
  //'order':appData.tableOrder
};

export default {
  name: 'myTaskFinish',
  created(){
    let vm = this;
    appData.tasks = [];
	  let token = window.sessionStorage.getItem('token');
	  let userId = window.sessionStorage.getItem('userId');
    appData.uid = window.sessionStorage.getItem('uid');
    //token = 'bf71fb7c476f9ed546b54a46e6d16eaf1500447445565';
		//userId = 'E1A266DAC0F06B11579EFE816BFFA5C7@qq';
    appData.token = token;
    appData.userId = userId;
    getUserTaskFinish(appData.userId,appData.token).then(d=>{
      console.log(d)
      if(d.result.result == true){
        d.taskRecordList.forEach(t=>{
          if(t.state==3) {
            t.endTime = moment(t.endTime*1000).format('YYYY-MM-DD HH:mm');
            appData.tasks.push(t)
          }
        })
        vm.$nextTick(function(){
          if($('#list').hasClass('dataTable')==false) $('#list').DataTable(tableConfig);
        });
      }
    })
		//cookieConfig.expires = new Date(new Date().getTime() + parseInt(sessionStorage.getItem('expire')));
    //util.showLoading();
  },
  mounted(){
  },
  methods:{
    modifyMemo(courseId){
      let vm =this;
      appData.selVideo = appData.tasks.find(f=>{return f.courseId ==  courseId});
      if(!appData.selVideo.outline_en){
        handleOutline(appData.uid,appData.token,courseId).then(data=>{
          if(data.result.result){
            appData.selVideo.outline_en = data.outline_en;
            vm.$refs.editor.$refs.content.innerHTML = data.outline_en;
          }
        })
      }
      $('#addbox').modal('show');
    },
    doSave(){
      let vm=this;
      if(!appData.selVideo.outline_en) return;
      appData.selVideo.outline_en = vm.$refs.editor.$refs.content.innerHTML;
      handleOutline(appData.uid,appData.token,appData.selVideo.courseId,appData.selVideo.outline_en).then(data=>{
        if(data.result.result){
          $.notify('修改成功');
          $('#addbox').modal('hide');
          //vm.$refs.editor.$refs.content.innerHTML = data.outline_en;
        }else{
          $.notify(data.result.reason)
        }
      })
    }
  },
  data () {
    return appData
  }
}
</script>
