<template>
  <div id="main-content">
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">我的任务</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12"  v-if="tasks.length == 0">
              <h4>您还没有认领任务</h4>
            </div>
            <div class="col-sm-4" v-for="t in tasks" @click="doTask(t.additional.courseId,t.additional.videoId,t.additional.recordType)">
              <div>
                <div class="thumb" v-bind:style="'background-image:url('+ t.iconUrl +')'"></div>
                <h5>{{t.name}}</h5>
                <p>{{t.brief}}</p>
              </div>
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
  </div>
</template>
<style lang="less" scoped>
#content{
  .col-sm-4{
    margin-bottom: 15px;
    div{
      background: #fff;
      border: #ddd 1px solid;
      cursor: pointer;
      .thumb{
        border: none;
        height: 12vw;
        background-size: cover;
      }
      h5{
        font-size: 16px;
        color: #666;
        padding: 5px 15px;
        line-height: 1.5;
        height: 58px;
      }
      p{
        font-size:14px;
        color:#ccc;
        padding: 0px 15px 5px;
      }
    }
  }
}
</style>
<script>
import util from './util.vue'

let appData = {
	tasks : [],
  userId : '',
  token : ''
}

let getUserTaskInfo = function(username,token,callback){
  util.showLoading();
	let url = 'http://m.yxgapp.com/d/mooc/GetTaskColumn.json';
	let data = {
		username : username,
		token : token
	};
	$.get(url,data,function(d){
			callback(d);
      util.hideLoading();
	},'json');
}

let cookieConfig = {
	domain:'yxgapp.com',
	path:'/'
	//expires:'1'
};

let setTaskCookie = function(courseId,videoId){
  $.cookie('userId',appData.userId,cookieConfig);
  $.cookie('token',appData.token,cookieConfig);
  $.cookie('avatarUrl',sessionStorage.getItem('avatarUrl'),cookieConfig);
  $.cookie('nickname',sessionStorage.getItem('nickname'),cookieConfig);
  $.cookie('courseId',courseId,cookieConfig);
  $.cookie('videoId',videoId,cookieConfig);
}
console.log(cookieConfig)

export default {
  name: 'myTask',
  created(){
    appData.tasks = [];
	  let token = window.sessionStorage.getItem('token');
	  let userId = window.sessionStorage.getItem('userId');
    //token = 'bf71fb7c476f9ed546b54a46e6d16eaf1500447445565';
		//userId = 'E1A266DAC0F06B11579EFE816BFFA5C7@qq';
    appData.token = token;
    appData.userId = userId;
		//cookieConfig.expires = new Date(new Date().getTime() + parseInt(sessionStorage.getItem('expire')));
    //util.showLoading();
  },
  mounted(){
    let _this = this;

	  if((appData.token && appData.userId) != null && (appData.token && appData.userId) != '' ){
			getUserTaskInfo(appData.userId,appData.token,function(data){
				if(data.result.result){
					let d = data.data;
          for(let i=0; i< d.length; i++){
            if(d[i].columnName == '执行任务'){
              let task = d[i].data;
              for(let ii=0; ii< task.length; ii++){
                if(task[ii].additional.recordType <4){
                  appData.tasks.push(task[ii]);
                }
              }
              break;
            }
          }
          //util.hideLoading();
        }
      });
	  }else{
      $.notify('登录超时，请重新登录！')
      util.dologout(_this);
	  }
  },
  methods:{
    doTask:function(courseId,videoId,recordType){
      let url = 'http://m.yxgapp.com/d/mooc/webClient/translate.html';
      switch (recordType) {
        case 1:
        case 3:
          url = 'http://m.yxgapp.com/d/mooc/webClient/subtitle.html';
          $.notify('Web版时轴制作功能正在调整中，目前还不能使用，请您在手机端完成字幕制作任务。');
          return
          break;
      }
      setTaskCookie(courseId,videoId);
      window.open(url);
    }
  },
  data () {
    return appData
  }
}
</script>
