<template>
  <div id="main-content">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">特效任务 </h3>
                  <span class="date-range pull-right">
                    <div class="btn-group">
                      <a @click="refreshData" class="btn" :class="[autoRefresh?'btn-success':'btn-default']"><i class="fa fa-refresh"></i> 自动刷新</a>
                      <a @click="refreshAll" class="btn btn-default"><i class="fa fa-refresh"></i> 全部刷新</a>
                    </div>
                  </span>

                </div>
                <div class="hide">
                  <input type="file" id="upFile" multiple="false" >
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="tc">
            <div class="col-sm-12" id="table-container">
              <table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>编号</th>
                    <th>视频标题</th>
                    <th>视频地址</th>
                    <th>自媒体</th>
                    <th>字幕地址</th>
                    <th>软件</th>
                    <th>特效视频</th>
                    <!-- <th>封面地址</th> -->
                    <th width="200">备注</th>
                    <!-- <th>状态</th> -->
                    <!-- <th>操作</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="l in list">
                    <td>{{l.course_id}}</td>
                    <td><i :class="{'active':l.newMsg}" class="fa fa-commenting-o" @click="showFeedbackList(l.taskId)"></i> {{l.video[0].course_name_cn}}<br><span style="color:#999">{{l.video[0].course_name_en}}</span></td>
                    <td>
                      <div v-if="l.video[0].video720_url && !l.video[0].video1080_url"><a :href="l.video[0].video720_url" target="_blank">720p</a></div>
                      <div v-if="l.video[0].video360_url && !l.video[0].video1080_url && !l.video[0].video720_url"><a :href="l.video[0].video360_url" target="_blank">360p</a></div>
                      <div v-if="l.video[0].video1080_url"><a :href="l.video[0].video1080_url" target="_blank">1080p</a></div>
                      <div v-if="l.video[0].video_clean_url"><a :href="l.video[0].video_clean_url" target="_blank">Clean</a></div>
                      <div v-if="l.transcode_video_url"><a :href="l.transcode_video_url" target="_blank">合成视频<span v-if="l.videoVer">_{{l.videoVer.substr(4,8)}}</span></a></div></td>
                    <td>{{getText('cooperators',l.coId)}}</td>
                    <td><div><a v-if="l.ass_url" :href="l.ass_url" target="_blank">ASS字幕_{{l.ass_upload_date}}</a></div><div><a class="text-danger" v-if="l.review_status<2 && l.softId==1" @click="selFile(2,l.guid)">上传ASS文件</a></div></td>
                    <td>{{l.softName}} <a v-if="l.attachment" :href="l.attachment">工程下载</a><div v-if="l.softId > 1"><a class="text-danger" @click="selFile(4,l.guid)">上传工程文件</a></div></td>
                    <td><div><a v-if="l.upVideo" :href="l.upVideo" target="_blank">特效视频_{{l.upVer}}</a></div><div><a class="text-danger" v-if="l.review_status<2 && l.softId>1" @click="selFile(3,l.guid)">上传特效视频</a></div></td>
                    <!-- <td><a :href="l.cover_en" target="_blank">原始</a>&nbsp;&nbsp;&nbsp;&nbsp;<a v-if="l.cover_cn" :href="l.cover_cn" target="_blank">汉化</a> <a v-if="l.review_status<2" @click="selFile(1,l.guid)">上传</a></td> -->
                    <td class="remark" @click="appendEditor(l.id,l.remark,l.review_status)"><span v-if="!l.edit">{{l.remark}}</span><input type="text" v-if="l.edit==true" v-model="para.remark" class="form-control edit" @keyup="updateRemark($event)"></td>
                    <!-- <td><span v-if="l.review_status!=2">打开</span><span v-if="l.review_status==2">关闭</span></td> -->
                    <!-- <td><button type="button" class="btn btn-primary" v-if="l.review_status<1">提交审核</button></td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
    <div class="modal fade" id="taskbox">
      <router-view name="exTask">
	    </router-view>
    </div>
  </div>
</template>
<style>
  td{vertical-align: middle !important;}
  td i{margin-right:10px; font-size: 20px !important; color: #aaa;}
  td i.active{color:#f00;}
</style>
<script>
import util from './util.vue'
import _ from 'lodash'

let appData={
  para:{
    action:'update',
    id:0,
    remark:''
  },
  list:[],
  tableOrder:[[0,'desc']],
  autoRefresh:0,
  inter:'',
  cooperators:[]
};

let tableConfig={
  'language': {
    'emptyTable': '没有数据',
    'loadingRecords': '加载中...',
    'processing': '查询中...',
    'search': '检索:',
    'lengthMenu': '每页 _MENU_ 条',
    'zeroRecords': '没有数据',
    'paginate': {
      'first':      '第一页',
      'last':       '最后一页',
      'next':       '下一页',
      'previous':   '上一页'
    },
    'info': '第 _PAGE_ 页 / 共 _PAGES_ 页 | 总记录数 _TOTAL_',
    'infoEmpty': '没有数据',
    'infoFiltered': '(过滤前共 _MAX_ 条)'
  },
  "bStateSave": true,
  //'order':appData.tableOrder
};

let getCooperators = function(){
  let url = 'http://m.yxgapp.com/d/pms/cooperator.json';
  appData.para.action = 'list';
  return $.get(url,appData.para,function(data){
    if(data.result.result){
      data.list.forEach(l=>{appData.cooperators.push({value:l.id,text:l.coName})});
      //appData.cooperators = data.list;
      console.log(appData.cooperators);
    }else{
      $.notify('获取信息错误：'+ data.result.reason);
    }
  },'json');
};

let getTaskList = function(){
  appData.para.action = 'list';
  return $.get('http://m.yxgapp.com/d/pms/effectTask.json',appData.para,function(data){
    if(data.result.result){
      data.list.forEach(l=>{
        l.edit = false;
        if(l.transcode_video_url){
          l.videoVer = util.getPara(l.transcode_video_url,'v')
        }
        if(l.upVideo){
          l.upVer = util.getPara(l.upVideo,'v')
        }
        l.guid = l.video[0].guid;
      });
      appData.list = data.list;
      console.log(appData.list)
    }
  },'json');
};

let initList = function(){
  if($('#list').hasClass('dataTable')){
    appData.tableOrder = $('#list').dataTable().api().order().concat();
    $('#list').DataTable().destroy();
  }
  $.when(getTaskList()).then(function(){
    $('#list').DataTable(tableConfig);
  });
};

let updateFile = function(){
  let file = $('#upFile');
  let guid = file.data('guid');
  let type = file.data('type');
  let oss_url = 'http://yxg-biz.oss-cn-qingdao.aliyuncs.com/' + file[0].files[0].oss_url;
  let index = _.findIndex(appData.list,{'guid':guid});
  console.log(index)
  if(index >=0){
    let data ={
      action:'update',
      id:appData.list[index].id
    };
    if(type==2){
      data.ass_url = oss_url;
    }else if(type==1){
      data.cover_url = oss_url;
    }else if(type==3){
      data.upVideo = oss_url;
    }else if(type==4){
      data.attachment = oss_url;
    }
    data.userId = appData.para.userId;
    data.token = appData.para.token;

    $.get('http://m.yxgapp.com/d/pms/effectTask.json',data,function(){
      util.hideLoading();
      initList();
    });
  }
}

let initUploader = function(){
  let conf = {
    request:true,
    uploadUrl: 'http://upload.yxgapp.com/upload',
    files : document.querySelector('#upFile').files,
    onBeforeUpload:function(){
      util.showLoading();
    },
    onOverAllProgress: function (index, loaded, total) {
        //console.log(index + "::::"+ loaded / total)
        //$('#loadText').html(parseInt(loaded / total*100)+'%');
        //setProgress(loaded / total, this.files[index].progress)
    },
    onProgress:function(index, chunkIndex, chunksNum, loaded, total, e){
      console.log(index + '::::' + chunkIndex + ' / ' + chunksNum + ':::::' + loaded + ' / ' + total )
      let unit = parseInt(1 / chunksNum *100);
      $('#loadText').html(unit * (chunkIndex ) + parseInt(loaded / total * unit)+'%');
      //console.log(e)
    },
    onLoad: function (index, chunkIndex, chunksNum) {
        //console.log('onLoad', this, arguments)
    },
    onAbort: function (index, chunkIndex, chunksNum) {
        console.log('onAbort', this, arguments)
        setTimeout(function(){
          mo.pause(index)
          mo.continue(index)
        },10000);
    },
    onError: function (index, chunkIndex, chunksNum) {
        console.log('onError', this, arguments)
        setTimeout(function(){
          mo.pause(index)
          mo.continue(index)
        },10000);
    },
    onContinue: function (file, md5, index) {
        return new Promise(function(reslove, reject) {
            $.get("http://upload.yxgapp.com/getFile?md5="+md5, function (text) {
                //var json = JSON.parse(text)
                reslove(text)
            })
        })
    },
		onFinish:function(index,e){
			console.log(e)
			console.log(e.currentTarget.responseText)
			let data = JSON.parse(e.currentTarget.responseText)
			if(data.result==true){
        updateFile()
        document.querySelector('#upFile').value = '';
			}else{
				if(data.errno==1){
					alert('上传失败！');
				}
			}
      //util.hideLoading();
		}
  }
  try {
    mo = MoUploader(conf)
  } catch (ex) {
    console.log(ex.message)
  }
};

export default {
  name: 'submitChannel',
  created(){
    appData.para.userId = window.sessionStorage.getItem('uid');
    appData.para.effectUserId = appData.para.userId;
    appData.para.token = window.sessionStorage.getItem('token');
    //initList();
  },
  mounted(){
    let vm = this;
    document.querySelector('#upFile').addEventListener('change', function (e) {
      e.preventDefault();
      console.log($('#upFile'));
      let f = $('#upFile')[0].files[0];
      f.oss_url=$('#upFile').data('oss_url')+f.name.split('.')[f.name.split('.').length-1];
      f.targetName = f.oss_url.split('/')[f.oss_url.split('/').length - 1];
      f.filesize = f.size;
      console.log($('#upFile'));
      initUploader();
    });
    getCooperators().then(function(){
      initList();
    });
    $('#taskbox').on('hidden.bs.modal', function () {
      getTaskList();
      vm.$router.push('/subEffect/task');
    });
  },
  updated(){},
  beforeDestroy(){
    clearInterval(appData.inter);
    appData.autoRefresh = 0;
  },
  methods:{
    appendEditor(id,remark,status){
      if(!status || status <2){
        console.log('click')
        let index = _.findIndex(appData.list,{id,id});
        if(index >=0){
          if(appData.list[index].edit==false){
            appData.list.forEach(l=>l.edit=false);
            appData.list[index].edit=true;
            appData.para.remark = remark;
            appData.para.id = id;
            setTimeout(function(){$('input.edit:visible').focus()},0);

            //console.log(appData)
          }
        }
      }else{
        return
      }
    },
    updateRemark(e){
      console.log(e.keyCode)
      if(e.keyCode==13){
        let index= _.findIndex(appData.list,{id:appData.para.id});
        if(index>=0){
          if(appData.list[index].remark != appData.para.remark){
            appData.para.action = 'update';
            $.get('http://m.yxgapp.com/d/mooc/uploadVideoSubtitleEffects.json',appData.para,function(data){
              if(data.result.result){
                let index= _.findIndex(appData.list,{id:appData.para.id});
                if(index>=0){
                  appData.list[index].remark = appData.para.remark;

                }
              }else{
                $.notify("操作失败："+data.result.reason)
              }

            },'json');
          }
          appData.list[index].edit=false;
        }
      }
    },
    refreshData(){
      //getTaskList();
      if(appData.autoRefresh == 0){
        appData.inter=setInterval(function () {
           getTaskList()
         }, 60000);
         appData.autoRefresh =1;
      }else{
        clearInterval(appData.inter);
        appData.autoRefresh = 0;
      }

    },
    refreshAll(){
      initList();
    },
    getText(key,value){
      let k = appData[key].find(function(f){
        return f.value == value
      });
      if(k){
        return k.text;
      }else{
        return value;
      }
    },
    selFile(type,guid){
      let file = document.querySelector('#upFile');
      let oss_url = "";
      if(type == 1){
        file.accept="image/jpeg,image/png";
        oss_url = "cover_cn/"+guid +'.';
      }
      if(type == 2){
        file.accept="";
        oss_url = "subtitle/"+ Date.parse(new Date())/1000 +'.';
      }
      if(type == 3){
        file.accept="";
        oss_url = "AEVideo/"+guid +'.';
      }
      if(type == 4){
        file.accept="";
        oss_url = "AEProject/"+guid +'.';
      }
      $("#upFile").data('oss_url',oss_url).data('type',type).data('guid',guid).trigger("click");
    },
    showFeedbackList(taskId){
      sessionStorage.setItem('taskId',taskId);
      sessionStorage.setItem('task',JSON.stringify(appData.list.find(f=> {return f.taskId==taskId})));
      $('#taskbox').modal('show');
      this.$router.replace('/subEffect/task/feedback/'+taskId);
    },
  },
  data(){
    return appData
  }
}
</script>
