<template>
		<div id="main-content">
			<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" />
	    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
				<div class="container">
					<div class="row">
						<div id="content" class="col-lg-12">
							<!-- PAGE HEADER-->
							<div class="row">
								<div class="col-sm-12">
									<div class="page-header">
										<div class="clearfix">
											<h3 class="content-title pull-left">我推荐的频道 <a @click="doAdd" class="btn btn-success addvideo"><i class="fa fa-plus"></i> 添加新频道</a></h3>
											<!-- DATE RANGE PICKER -->
											<span class="date-range pull-right">
												<div class="btn-group">
													<a class="js_update btn btn-default" id="stoday" :class="{'btn-success':type==0}" @click="loadData(0)">今日</a>
													<a class="js_update btn btn-default" id="sweek" :class="{'btn-success':type==1}" @click="loadData(1)">最近一周</a>
													<a class="js_update btn btn-default" id="sall" :class="{'btn-success':type==2}" @click="loadData(2)">所有记录</a>
													<a id="reportrange" class="js_update btn btn-default" :class="{'btn-success':type==3}">
														<i class="fa fa-calendar"></i>
														<span>{{range}}</span>
														<i class="fa fa-angle-down"></i>
													</a>
												</div>
											</span>
											<!-- /DATE RANGE PICKER -->
										</div>
									</div>
								</div>
							</div>
	                        <div class="row" id="tc">
	                            <div class="col-sm-12" id="table-container">
									<table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>推荐日期</th>
												<th>原文标题</th>
												<th>中文标题</th>
												<th>原始语言</th>
							          <th>源地址</th>
												<th>分类</th>
												<th>简介</th>
												<th>审核情况</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="l in list">
												<td>{{l.updateDate.substr(0,10)}}</td>
												<td>{{l.s_name}}</td>
												<td>{{l.c_name}}</td>
												<td>{{getLangName(l.s_lang)}}</td>
												<td @click="openVideo(l.s_url)">{{l.s_url}}</td>
												<td>{{getCategory(l.category)}}</td>
												<td>{{l.note}}</td>
												<td><span v-if="l.status==1">已通过</span><span v-if="l.status==3">已拒绝</span><span v-if="l.status==2">待审核</span></td>
												<td><a v-show="l.status != 1" class="btn btn-primary" @click="doedit(l.id)"><i class="fa fa-edit"></i></a> <a v-show="l.status != 1" class="btn btn-primary" @click="dodel(l.id)"><i class="fa fa-trash"></i></a></td>
											</tr>
										</tbody>
									</table>
								</div>
	                        </div>
							<!-- /PAGE HEADER -->
						</div><!-- /CONTENT-->
					</div>
				</div>
				<div class="modal fade" id="addbox">
						<div class="modal-dialog" style="width:60%">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title"><span v-show="update==0">添加新频道</span><span v-show="update==1">更新频道信息</span> <small><a @click="showAttation">推荐频道注意事项</a></small></h4>
								</div>
								<div class="modal-body">
									<form class="form-horizontal">
										<div class="form-group" :class="{'has-error':errors.has('s_url')}">
											<label class="col-sm-2 control-label">频道地址</label>
											<div class="col-sm-10"><input type="text" name="s_url" class="form-control" v-validate="'required'" placeholder="频道地址" v-model="channel.s_url" v-bind:readonly="update==1"></div>
										</div>
										<div class="form-group" :class="{'has-error':errors.has('s_name')}">
											<label class="col-sm-2 control-label">英文名称</label>
											<div class="col-sm-10"><input type="text" name="s_name" class="form-control" v-validate="'required'" placeholder="" v-model="channel.s_name"></div>
										</div>
										<div class="form-group" :class="{'has-error':errors.has('c_name')}">
											<label class="col-sm-2 control-label">中文名称</label>
											<div class="col-sm-10"><input type="text" name="c_name" class="form-control" v-validate="'required'" placeholder="6字以内" v-model="channel.c_name"></div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">原始语言</label>
											<div class="col-sm-10">
												<button type="button" class="btn btn-default" :class="{'btn-success':channel.s_lang == c.value}" @click="setLang(c.value)"  v-for="c in lang" >{{c.text}}</button>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">频道分类</label>
											<div class="col-sm-10">
												<button type="button" class="btn btn-default" :class="{'btn-success':channel.category == c.value}" @click="setCategory(c.value)"  v-for="c in category" >{{c.text}}</button>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">简介</label>
											<div class="col-sm-10">
												<textarea class="form-control" v-model="channel.note" maxlength="20" placeholder="20字以内"></textarea>
											</div>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
									<button v-show='update==0' type="button" class="btn btn-primary" @click="saveVideo">添加</button>
									<button v-show='update==1' type="button" class="btn btn-primary" @click="updateVideo">更新</button>
								</div>
							</div>
						</div>
					</div>
				<div class="modal fade" id="attation">
						<div class="modal-dialog" style="width:60%">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">推荐频道注意事项</h4>
								</div>
								<div class="modal-body" v-html="attation">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" @click="goupload">知道了，去推荐</button>
								</div>
							</div>
						</div>
					</div>
			</div>
</template>
<script>
import util from './util.vue'
import _ from 'lodash'
let appData = {
  list:[],
  lang : [],
	category:[],
  attation : '',
  type:0,
  range:'',
  from:'',
  to:'',
  update:0,
  channel:{
		id:0,
	  channelId:'',
	  s_url:'',
	  s_name:'',
	  c_name:'',
	  s_lang:1,
	  note:'',
		category:38,
		channelIdU:''
  },
  tableOrder:[[0,'desc']]
};

let initDateRange = function(){
	$('#reportrange').daterangepicker({
		startDate: moment().subtract('days', 29),
		endDate: moment(),
		minDate: '2017-05-01',
		maxDate: moment(),
		dateLimit: { days: 60 },
		showDropdowns: false,
		showWeekNumbers: false,
		timePicker: false,
		timePickerIncrement: 1,
		timePicker12Hour: true,
		opens: 'left',
		buttonClasses: ['btn btn-default'],
		applyClass: 'btn-small btn-primary',
		cancelClass: 'btn-small',
		format: 'YYYY-MM-DD',
		separator: ' - ',
		locale: {
			applyLabel: '确定',
			cancelLabel: '取消',
			fromLabel: '从',
			toLabel: '到',
			customRangeLabel: '自定义区间',
			daysOfWeek: ['日', '一', '二', '三', '四', '五','六'],
			monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
			firstDay: 1
		}
	});
	$('#reportrange').on('apply.daterangepicker', function(ev, picker) {
		console.log(picker.startDate.format('YYYY-MM-DD'));
		console.log(picker.endDate.format('YYYY-MM-DD'));
		appData.range = picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD');
		appData.type = 3;
		appData.from = picker.startDate.format('YYYY-MM-DD');
		appData.to = picker.endDate.add(1,"days").format('YYYY-MM-DD');
		getListData(window.sessionStorage.getItem('token'),
					window.sessionStorage.getItem('uid'),
					appData.from,
					appData.to
		);
	});
}
//let initDataTable = function(){
//	console.log(appData.tableOrder)
	let tableConfig={
		'language': {
			'emptyTable': '没有数据',
			'loadingRecords': '加载中...',
			'processing': '查询中...',
			'search': '检索:',
			'lengthMenu': '每页 _MENU_ 条',
			'zeroRecords': '没有数据',
			'paginate': {
				'first':      '第一页',
				'last':       '最后一页',
				'next':       '下一页',
				'previous':   '上一页'
			},
			'info': '第 _PAGE_ 页 / 共 _PAGES_ 页 | 总记录数 _TOTAL_',
			'infoEmpty': '没有数据',
			'infoFiltered': '(过滤前共 _MAX_ 条)'
		},
		'order':appData.tableOrder
	};
//	console.log(tableConfig)
//	let table = $('#list').DataTable(tableConfig);
	//$('#list').on( 'order.dt', function (){
    //	let order = table.order();
	//	console.log(order);
    	//appData.tableOrder = order.concat();
		//order=[];
	//	console.log(appData.tableOrder)
	//});
//}

let getListData = function(token,uid,from,to){
	util.showLoading();
	let url = 'http://m.yxgapp.com/d/mooc/recoYoutubeChannel.json';
	let post ={
		token:token,
		uid:uid,
		action:'list'
	};
	if(from != '' && from != undefined) post.from =from;
	if(to != '' && to != undefined) post.to =to;
	$.get(url,post,function(data){
		//console.log(data)
		if(data.result.result){
			if($('#list').hasClass('dataTable')){
				appData.tableOrder = $('#list').dataTable().api().order().concat();
				$('#list').DataTable().destroy();
			}
			appData.list = data.list;
			//$('#list').DataTable(tableConfig);
		}else{
			console.log(data.result.reason)
		}
		util.hideLoading();
	},'json');
}

let getUploadBaseInfo = function(){
	let url = 'http://m.yxgapp.com/d/mooc/getUploadBaseInfo.json';
	let d = {
		uid : window.sessionStorage.getItem('uid'),
  	  	token : window.sessionStorage.getItem('token'),
				type:2
	}
	//appData.teams = JSON.parse(sessionStorage.getItem('recommendPermission'));
	$.get(url,d,function(data){
		if(data.result.result){
			appData.category = data.category;
			//appData.teams = data.teams;
			appData.lang = data.lang;
			appData.attation = data.attation;
			console.log(appData)
		}else{

		}
	},'json');
}

export default {
  name: 'submitChannel',
  created(){
		//util.showLoading();
	  getUploadBaseInfo();
  },
  updated(){
	  //console.log('updating')
	  if($('#list').hasClass('dataTable')==false){
		  $('#list').DataTable(tableConfig);
	  }
  },
  mounted(){
	  let uid = window.sessionStorage.getItem('uid');
	  let token = window.sessionStorage.getItem('token');
	  initDateRange();
	  //initDataTable();
	  this.loadData(0);
	  if(window.sessionStorage.getItem('attation2')!='1'){
		  $('#attation').modal('show');
		  window.sessionStorage.setItem('attation2','1');
	  }
  },
	beforeDestroy(){
		$('div.daterangepicker').remove();
	},
  methods:{
		setCategory:function(value){
		  appData.channel.category = value;
	  },
		getLangName : function(langId){
			if(langId == '' || langId == 'null') return;
			let index = _.findIndex(appData.lang,{'value':langId});
			return(appData.lang[index].text)
		},
		getCategory : function(category){
			if(category == '' || category == 'null') return;
			let index = _.findIndex(appData.category,{'value':category});
			return(appData.category[index].text)
		},
	  openVideo : function(url){
		  //let url = 'https://www.youtube.com/watch?v='+vid;
		  window.open(url,'_blank');
	  },
	  loadData : function(type){
		  appData.type = type;
		  appData.range = '';
		  appData.to = moment().add(1,"days").format('YYYY-MM-DD');
		  let uid = window.sessionStorage.getItem('uid');
		  let token = window.sessionStorage.getItem('token');
		  switch (type) {
		  	case 0:
		  		appData.from = moment().format('YYYY-MM-DD');
		  		break;
			case 1:
		  		appData.from = moment().subtract(7, "days").format('YYYY-MM-DD');
		  		break;
			case 2:
				appData.from ='';
				break;
		  }
		  getListData(token,uid,appData.from,appData.to);
	  },
	  saveVideo : function(){
		  this.$validator.validateAll().then(() => {
				this.getChannelId();
				if(appData.channel.channelId == '' && appData.channel.channelIdU == ''){
					$.notify('地址解析错误，请检查源地址');
					return
				}
			  let url = 'http://m.yxgapp.com/d/mooc/recoYoutubeChannel.json?action=save&token='+ window.sessionStorage.getItem('token') +'&uid='+ window.sessionStorage.getItem('uid');
			  let post = appData.channel;
			  $.post(url,post,function(data){
				  if(data.result.result){
					  $("#addbox").modal('hide');
					  getListData(
						  window.sessionStorage.getItem('token'),
			  		  	  window.sessionStorage.getItem('uid'),
			  			  appData.from,
			  			  appData.to
			  		  );
				  }else{
					  $.notify('提交失败：'+ data.result.reason);
				  }
			  },'json');
	          //alert('From Submitted!');
	      }).catch(() => {
	          //alert('Correct them errors!');
	      });
		  //if(this.errors.has('vtitle') ||  this.errors.has('vurl')) return;
		  //if(appData.vid=='' || appData.vtitle=='') return;
	  },
	  dodel:function(channelId){
		  let url = 'http://m.yxgapp.com/d/mooc/recoYoutubeChannel.json?action=del&token='+ window.sessionStorage.getItem('token') +'&uid='+ window.sessionStorage.getItem('uid');
		  let post = {id:channelId};
		  $.get(url,post,function(data){
			  if(data.result.result){
				  getListData(
					  window.sessionStorage.getItem('token'),
					  window.sessionStorage.getItem('uid'),
					  appData.from,
					  appData.to
				  );
			  }else{
				  $.notify('删除失败：'+ data.result.reason)
			  }
		  },'json');
	  },
	  doedit:function(channelId){
			let i = _.findIndex(appData.list,{'id':channelId});
		  //for(let i=0; i< appData.list.length; i++){
			  //if(appData.list[i].vid == vid){
				  appData.channel = {
						id:channelId,
					  s_url:appData.list[i].s_url,
					  s_name:appData.list[i].s_name,
					  c_name:appData.list[i].c_name,
					  s_lang:appData.list[i].s_lang,
						category:appData.list[i].category,
					  note:appData.list[i].note
				  };
				  //break;
			  //}
		  //}
		  appData.update=1;
		  $('#addbox').modal('show');
	  },
	  doAdd:function(){
		  appData.channel = {
				channelId:'',
			  s_url:'',
			  s_name:'',
			  c_name:'',
			  s_lang:1,
				category:38,
			  note:'',
				channelIdU:''
		  };
		  appData.update=0;
		  $('#addbox').modal('show');
	  },
	  updateVideo:function(){
		  this.$validator.validateAll().then(() => {
			  let url = 'http://m.yxgapp.com/d/mooc/recoYoutubeChannel.json?action=edit&token='+ window.sessionStorage.getItem('token') +'&uid='+ window.sessionStorage.getItem('uid');
			  let post = appData.channel;
			  $.post(url,post,function(data){
				  if(data.result.result){
					  $("#addbox").modal('hide');
					  getListData(
						  window.sessionStorage.getItem('token'),
			  		  	  window.sessionStorage.getItem('uid'),
			  			  appData.from,
			  			  appData.to
			  		  );
				  }else{
					  $.notify('更新失败：'+ data.result.reason);
				  }
			  },'json');
	          //alert('From Submitted!');
	      }).catch(() => {
	          //alert('Correct them errors!');
	      });
	  },
	  setLang:function(value){
		  appData.channel.s_lang = value;
		  console.log(appData)
	  },
	  getChannelId:function(){
			if(appData.channel.s_url.indexOf('/channel/')>0){
				let start = appData.channel.s_url.indexOf('/channel/')+9;
				let tmpId = appData.channel.s_url.substr(start);
				let end = tmpId.indexOf('/');
				appData.channel.channelId = tmpId.substring(0,end>0?end:999);
			}
			if(appData.channel.s_url.indexOf('/user/')>0){
				let start = appData.channel.s_url.indexOf('/user/')+6;
				let tmpId = appData.channel.s_url.substr(start);
				let end = tmpId.indexOf('/');
				appData.channel.channelIdU = tmpId.substring(0,end>0?end:999);
			}
	  },
	  showAttation:function(){
		  $('#addbox').modal('hide');
		  setTimeout(function(){
			  $('#attation').modal('show')
		  },300);
	  },
	  goupload:function(){
		  $('#attation').modal('hide');
		  setTimeout(function(){
			  $('#addbox').modal('show')
		  },300);
	  }
  },
  data () {
    return appData
  }
}
</script>
<style scoped>
.form-horizontal{padding: 0px 20px;}
.modal-body button{margin: 2px}
a{cursor: pointer;}
#attation .modal-body{font-size: 16px; line-height: 28px;}
</style>
