<template>
		<div id="main-content">
			<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" />
	    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
				<div class="container">
					<div class="row">
						<div id="content" class="col-lg-12">
							<!-- PAGE HEADER-->
							<div class="row">
								<div class="col-sm-12">
									<div class="page-header">
										<div class="clearfix">
											<h3 class="content-title pull-left">我推荐的视频 <a @click="doAdd" class="btn btn-success addvideo"><i class="fa fa-plus"></i> 添加新视频</a></h3>
											<!-- DATE RANGE PICKER -->
											<span class="date-range pull-right">
												<div class="btn-group">
													<a class="js_update btn btn-default" id="stoday" :class="{'btn-success':type==0}" @click="loadData(0)">今日</a>
													<a class="js_update btn btn-default" id="sweek" :class="{'btn-success':type==1}" @click="loadData(1)">最近一周</a>
													<a class="js_update btn btn-default" id="sall" :class="{'btn-success':type==2}" @click="loadData(2)">所有记录</a>
													<a id="reportrange" class="js_update btn btn-default" :class="{'btn-success':type==3}">
														<i class="fa fa-calendar"></i>
														<span>{{range}}</span>
														<i class="fa fa-angle-down"></i>
													</a>
												</div>
											</span>
											<!-- /DATE RANGE PICKER -->
										</div>
									</div>
								</div>
							</div>
	                        <div class="row" id="tc">
	                            <div class="col-sm-12" id="table-container">
									<table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>推荐日期</th>
												<th>视频标题</th>
												<th>视频分类</th>
												<th>原始语言</th>
							          <th>源地址</th>
												<th>推荐标签</th>
												<th>发布位置</th>
												<th>备注</th>
												<th>审核情况</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="l in list">
												<td>{{l.uploadDate.substr(0,10)}}</td>
												<td>{{l.vtitle}}</td>
												<td>{{l.typename}}</td>
												<td>{{l.orglangname}}</td>
												<td>
													<a v-if="l.vid!='null' && l.vid!=''" :href="'https://www.youtube.com/watch?v='+l.vid" target="_blank">打开</a>
													<a v-if="l.fbUrl!='null' && l.fbUrl!=''" :href="l.fbUrl" target="_blank">打开</a>
												</td>
												<td>{{l.remark}}</td>
												<td>{{l.groupname}}</td>
												<td>{{l.note == 'null'?'':l.note}}</td>
												<td><span v-if="l.status==1">已通过</span><span v-if="l.status==3">已拒绝</span><span v-if="l.status==2">待审核</span></td>
												<td><a v-show="l.status != 1" class="btn btn-primary" @click="doedit(l.id)"><i class="fa fa-edit"></i></a> <a v-show="l.status != 1" class="btn btn-primary" @click="dodel(l.id)"><i class="fa fa-trash"></i></a>
													<!-- <a class="btn btn-primary" @click="doedit(l.id)"><i class="fa fa-edit"></i></a> <a class="btn btn-primary" @click="dodel(l.id)"><i class="fa fa-trash"></i></a> -->
												</td>
											</tr>
										</tbody>
									</table>
								</div>
	                        </div>
							<!-- /PAGE HEADER -->
						</div><!-- /CONTENT-->
					</div>
				</div>
				<div class="modal fade" id="addbox">
						<div class="modal-dialog" style="width:60%">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title"><span v-show="update==0">添加新视频</span><span v-show="update==1">更新视频信息</span> <small><a @click="showAttation">推荐视频注意事项</a></small></h4>
								</div>
								<div class="modal-body">
									<form class="form-horizontal">
										<div class="form-group" :class="{'has-error':errors.has('vurl')}">
											<label class="col-sm-2 control-label">视频地址</label>
											<div class="col-sm-10"><input type="text" name="vurl" id="v_id" class="form-control" @blur="setVid" v-validate="'required'" placeholder="视频地址" v-model="video.url" v-bind:readonly="update==1"></div>
										</div>
										<div class="form-group" :class="{'has-error':errors.has('vtitle')}">
											<label class="col-sm-2 control-label">中文标题</label>
											<div class="col-sm-10"><input type="text" name="vtitle" id="v_title" class="form-control" @blur="setVtitle" v-validate="'required'" placeholder="中文标题" v-model="video.vtitle"></div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">原始语言</label>
											<div class="col-sm-10">
											<button type="button" class="btn btn-default" :class="{'btn-success':video.orglang == c.value}" @click="setLang(c.value,c.text)"  v-for="c in lang" >{{c.text}}</button>
										</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">视频分类</label>
											<div class="col-sm-10">
											<button type="button" class="btn btn-default vcategory" :class="{'btn-success':video.vtype == c.value}" @click="setCategory(c.value,c.text)"  v-for="c in category" >{{c.text}}</button>
										</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">发布位置</label>
											<div class="col-sm-10">
											<!-- <button type="button" class="btn btn-default" :class="{'btn-success':video.group == 0}" @click="setGroup(0,'公共区')" >公共区</button> -->
											<button type="button" class="btn btn-default" :class="{'btn-success':video.group == t.id}" @click="setGroup(t.id,t.name)"  v-for="t in teams" >{{t.name}}</button>
										</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" v-if="labels.length>0">推荐标签</label>
											<div class="col-sm-10">
											<!-- <button type="button" class="btn btn-default vlabel" :class="{'btn-success':video.remark.split(' ').indexOf(t)>=0}" @click="setLabels(t)"  v-for="t in labels" >{{t}}</button> -->
											<div v-for="g in labels" class="btn-con">
		                    <button type="button" class="btn btn-default" :class="{'btn-success':video.remark.split(' ').indexOf(t.label)>=0}" @click="setLabels(t.label)"  v-for="t in g.tags" >{{t.label}} <small>{{t.videoNum}}</small></button>
		                  </div>
										</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">自定义标签</label>
											<div class="col-sm-10">
											<button type="button" class="btn btn-default" :class="{'btn-success':video.remark.split(' ').indexOf(t.tag)>=0}" @click="setLabels(t.tag)"  v-for="t in userTag" >{{t.tag}}</button>
											<div id="addLabel" class="input-group col-xs-4">
									      <input type="text" class="form-control" placeholder="添加新标签"  v-model="newLabel" maxlength="6">
									      <span class="input-group-btn">
									        <button class="btn btn-default" type="button" @click="addLabel"><i class="fa fa-plus"></i></button>
									      </span>
									    </div>
										</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">备注</label>
											<div class="col-sm-10">
												<textarea class="form-control" v-model="video.note"></textarea>
											</div>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
									<button v-show='update==0' type="button" class="btn btn-primary" @click="saveVideo">添加</button>
									<button v-show='update==1' type="button" class="btn btn-primary" @click="updateVideo">更新</button>
								</div>
							</div>
						</div>
					</div>
				<div class="modal fade" id="attation">
						<div class="modal-dialog" style="width:60%">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">推荐视频注意事项</h4>
								</div>
								<div class="modal-body" v-html="attation">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" @click="goupload">知道了，去推荐</button>
								</div>
							</div>
						</div>
					</div>
			</div>
</template>
<script>
import util from './util.vue'
import _ from 'lodash'
let appData = {
	para:{},
  list:[],
  category:[],
  teams : [],
  lang : [],
	labels : [],
	userTag : [],
  attation : '',
  type:0,
  range:'',
  from:'',
  to:'',
  update:0,
  video:{
	  vid:'',
	  vtitle:'',
	  vtype:38,
	  vtypename:'未分类',
	  group:0,
	  groupname:'公共区',
	  remark:'',
	  orglang: 1,
	  orglangname:'英语',
	  url:'',
		note:'',
		fbUrl:''
  },
  tableOrder:[[0,'desc']],
	newLabel : ''
};

let initDateRange = function(){
	$('#reportrange').daterangepicker({
		startDate: moment().subtract('days', 29),
		endDate: moment(),
		minDate: '2017-05-01',
		maxDate: moment(),
		dateLimit: { days: 60 },
		showDropdowns: false,
		showWeekNumbers: false,
		timePicker: false,
		timePickerIncrement: 1,
		timePicker12Hour: true,
		opens: 'left',
		buttonClasses: ['btn btn-default'],
		applyClass: 'btn-small btn-primary',
		cancelClass: 'btn-small',
		format: 'YYYY-MM-DD',
		separator: ' - ',
		locale: {
			applyLabel: '确定',
			cancelLabel: '取消',
			fromLabel: '从',
			toLabel: '到',
			customRangeLabel: '自定义区间',
			daysOfWeek: ['日', '一', '二', '三', '四', '五','六'],
			monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
			firstDay: 1
		}
	});
	$('#reportrange').on('apply.daterangepicker', function(ev, picker) {
		console.log(picker.startDate.format('YYYY-MM-DD'));
		console.log(picker.endDate.format('YYYY-MM-DD'));
		appData.range = picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD');
		appData.type = 3;
		appData.from = picker.startDate.format('YYYY-MM-DD');
		appData.to = picker.endDate.add(1,"days").format('YYYY-MM-DD');
		getListData(window.sessionStorage.getItem('token'),
					window.sessionStorage.getItem('uid'),
					appData.from,
					appData.to
		);
	});
}
let initDataTable = function(){
	console.log(appData.tableOrder)
	let tableConfig={
		'language': {
			'emptyTable': '没有数据',
			'loadingRecords': '加载中...',
			'processing': '查询中...',
			'search': '检索:',
			'lengthMenu': '每页 _MENU_ 条',
			'zeroRecords': '没有数据',
			'paginate': {
				'first':      '第一页',
				'last':       '最后一页',
				'next':       '下一页',
				'previous':   '上一页'
			},
			'info': '第 _PAGE_ 页 / 共 _PAGES_ 页 | 总记录数 _TOTAL_',
			'infoEmpty': '没有数据',
			'infoFiltered': '(过滤前共 _MAX_ 条)'
		},
		'order':appData.tableOrder
	};
	console.log(tableConfig)
	let table = $('#list').DataTable(tableConfig);
	//$('#list').on( 'order.dt', function (){
    //	let order = table.order();
	//	console.log(order);
    	//appData.tableOrder = order.concat();
		//order=[];
	//	console.log(appData.tableOrder)
	//});
}

let getListData = function(token,uid,from,to){
	util.showLoading();
	let url = 'http://m.yxgapp.com/d/mooc/getVideoListYoutube.json';
	let post ={
		token:token,
		uid:uid
	}
	if(from != '' && from != undefined) post.from =from;
	if(to != '' && to != undefined) post.to =to;
	$.get(url,post,function(data){
		//console.log(data)
		if(data.result.result){
			appData.list = data.list;

		}else{
			console.log(data.result.reason)
		}
		util.hideLoading();
	},'json');
}

let getLabel = function(categoryId){
	let url = 'http://m.yxgapp.com/d/webClient/sysLabel.json';
	let d = Object.assign({},appData.para);
  d.categoryId = categoryId;
  d.action = 'list';
	//appData.teams = JSON.parse(sessionStorage.getItem('recommendPermission'));
	$.get(url,d,function(data){
		if(data.result.result){
      let groupNum = [];
      //let group = {};
      let list = [];
      data.list.forEach(f=>{
        if(groupNum.indexOf(f.groupNum)<0){
          groupNum.push(f.groupNum);
          //if(group.groupNum) list.push(group);
          list.push({
            groupNum : f.groupNum,
            tags : [],
            //edit : 0
          })
        }
        list[list.length-1].tags.push(f)
      });
      appData.category.find(c=>{return c.value==categoryId}).tag=list;
		}
	},'json');
};

let getUploadBaseInfo = function(){
	let url = 'http://m.yxgapp.com/d/mooc/getUploadBaseInfo.json';
	let d = {
		uid : window.sessionStorage.getItem('uid'),
  	  	token : window.sessionStorage.getItem('token'),
				type:1
	}
	appData.teams = JSON.parse(sessionStorage.getItem('recommendPermission'));
	return new Promise(resolve =>{
		$.get(url,d,function(data){
			if(data.result.result){
				appData.category = data.category;
				//appData.teams = data.teams;
				appData.lang = data.lang;
				appData.attation = data.attation;
				console.log(appData)
			}else{

			}
			resolve(data.result.result);
		},'json');
	})

}

let getUserTag = function(){
	let url = 'http://m.yxgapp.com/d/mooc/userTag.json';
	let d = {
		action : 'list',
		uid : window.sessionStorage.getItem('uid'),
  	token : window.sessionStorage.getItem('token')
	};
	$.get(url,d,function(data){
		if(data.result.result){
			appData.userTag = data.list;
		}
	},'json');
}

let checkUrl = function(vid,fburl){
	if(!vid && !fburl) return;
	let url= 'http://m.yxgapp.com/d/mooc/uploadVideoYoutube.json';
	let d = {
		uid:appData.para.userId,
		token:appData.para.token,
		vid : vid,
		fbUrl : fburl,
		action : 'check'
	}
	return new Promise(resolve=>{
		$.get(url,d,function(data){
			resolve(data.result.result)
		},'json')
	});
}

export default {
  name: 'submitVideo',
  created(){
		appData.para.token = window.sessionStorage.getItem('token');
	  appData.para.userId = window.sessionStorage.getItem('uid');
		//util.showLoading();
	  //getUploadBaseInfo();
		getUploadBaseInfo().then(r=>{if(r==true){
      appData.category.forEach(l=>{
        getLabel(l.value)})
      }
    });
		getUserTag();
  },
  beforeUpdate(){
	  if($('#list').hasClass('dataTable')){
		  appData.tableOrder = $('#list').dataTable().api().order().concat();
		  $('#list').DataTable().destroy();
	  }
	  //console.log('beforeUpdate')
  },
  updated(){
	  //console.log('updating')
	  if($('#list').hasClass('dataTable')==false){
		  initDataTable();
	  }
	  //console.log('Updated')
  },
  mounted(){
	  let uid = window.sessionStorage.getItem('uid');
	  let token = window.sessionStorage.getItem('token');
	  initDateRange();
	  initDataTable();
	  this.loadData(0);
	  if(window.sessionStorage.getItem('attation1')!='1'){
		  $('#attation').modal('show');
		  window.sessionStorage.setItem('attation1','1');
	  }
  },
	beforeDestroy(){
		$('div.daterangepicker').remove();
	},
  methods:{
		addLabel : function(){
			console.log(appData.newLabel)
			appData.newLabel = $.trim(appData.newLabel);
			if(appData.newLabel==''){
				//$.notify({message:'标签已经存在了'});
				return
			}
			$.get('http://m.yxgapp.com/d/mooc/userTag.json',{
				action : 'save',
				uid : window.sessionStorage.getItem('uid'),
		  	token : window.sessionStorage.getItem('token'),
				tag : appData.newLabel
			},function(data){
				if(data.result.result){
					appData.newLabel = '';
					getUserTag();
				}else{
					$.notify(data.result.reason);
				}
			},'json');
		},
	  openVideo : function(vid){
		  let url = 'https://www.youtube.com/watch?v='+vid;
		  window.open(url,'_blank');
	  },
	  loadData : function(type){
		  appData.type = type;
		  appData.range = '';
		  appData.to = moment().add(1,"days").format('YYYY-MM-DD');
		  let uid = window.sessionStorage.getItem('uid');
		  let token = window.sessionStorage.getItem('token');
		  switch (type) {
		  	case 0:
		  		appData.from = moment().format('YYYY-MM-DD');
		  		break;
			case 1:
		  		appData.from = moment().subtract(7, "days").format('YYYY-MM-DD');
		  		break;
			case 2:
				appData.from ='';
				break;
		  }
		  getListData(token,uid,appData.from,appData.to);
	  },
	  saveVideo : function(){
		  this.$validator.validateAll().then(() => {
	      if((appData.video.vid=='' && appData.video.fbUrl=='') || appData.video.vtitle == '') return;

				if(appData.video.remark==''){
					$.notify('为视频选个标签吧');
					return
				}
			  let url = 'http://m.yxgapp.com/d/mooc/uploadVideoYoutube.json?action=save&token='+ window.sessionStorage.getItem('token') +'&uid='+ window.sessionStorage.getItem('uid');
			  let post = appData.video;
			  $.post(url,post,function(data){
				  if(data.result.result){
					  $("#addbox").modal('hide');
					  getListData(
						  window.sessionStorage.getItem('token'),
			  		  	  window.sessionStorage.getItem('uid'),
			  			  appData.from,
			  			  appData.to
			  		  );
				  }else{
					  $.notify('提交失败：'+ data.result.reason);
				  }
			  },'json');
	          //alert('From Submitted!');
	      }).catch(() => {
	          //alert('Correct them errors!');
	      });
		  //if(this.errors.has('vtitle') ||  this.errors.has('vurl')) return;
		  //if(appData.vid=='' || appData.vtitle=='') return;
	  },
	  dodel:function(vid){
		  let url = 'http://m.yxgapp.com/d/mooc/uploadVideoYoutube.json?action=del&token='+ window.sessionStorage.getItem('token') +'&uid='+ window.sessionStorage.getItem('uid');
		  let post = {upId:vid};
		  $.get(url,post,function(data){
			  if(data.result.result){
				  getListData(
					  window.sessionStorage.getItem('token'),
					  window.sessionStorage.getItem('uid'),
					  appData.from,
					  appData.to
				  );
			  }else{
				  $.notify('删除失败：'+ data.result.reason)
			  }
		  },'json');
	  },
	  doedit:function(vid){
			let i = _.findIndex(appData.list,{'id':vid});
		  //for(let i=0; i< appData.list.length; i++){
			  //if(appData.list[i].vid == vid){
				  appData.video = {
						upId:appData.list[i].id,
					  vid:appData.list[i].vid,
					  vtitle:appData.list[i].vtitle,
					  vtype:appData.list[i].vtype,
					  vtypename:appData.list[i].typename,
					  group:appData.list[i].groupId,
					  groupname:appData.list[i].groupname,
					  remark:appData.list[i].remark,
					  orglang: appData.list[i].orglang,
					  orglangname:appData.list[i].orglangname,
						note:appData.list[i].note,
					  url:(appData.list[i].vid=='null' || appData.list[i].vid == ''?appData.list[i].fbUrl:'https://www.youtube.com/watch?v='+appData.list[i].vid)
				  };
				  //break;
			  //}
		  //}
			let index = _.findIndex(appData.category,{'value':appData.video.vtype});
			if(appData.category[index].label != null){
				appData.labels = $.trim(appData.category[index].label).split(' ');
			}
		  appData.update=1;
		  $('#addbox').modal('show');
	  },
	  doAdd:function(){
		  appData.video = {
			  vid:'',
			  vtitle:'',
			  vtype:'38',
			  vtypename:'未分类',
			  group:0,
			  groupname:'公共区',
			  remark:'',
			  orglang: 1,
			  orglangname:'英语',
			  url:'',
				note:''
		  };
			appData.labels = [];
		  appData.update=0;
			let index = _.findIndex(appData.category,{'value':appData.video.vtype});
			if(appData.category[index].label != null){
				appData.labels = $.trim(appData.category[index].label).split(' ');
			}
		  $('#addbox').modal('show');
	  },
	  updateVideo:function(){
		  this.$validator.validateAll().then(() => {
	      if((appData.video.vid=='' && appData.video.fbUrl=='') || appData.video.vtitle == '') return;
				if(appData.video.remark==''){
					$.notify('为视频选个标签吧');
					return
				}
			  let url = 'http://m.yxgapp.com/d/mooc/uploadVideoYoutube.json?action=edit&token='+ window.sessionStorage.getItem('token') +'&uid='+ window.sessionStorage.getItem('uid');
			  let post = appData.video;
			  $.post(url,post,function(data){
				  if(data.result.result){
					  $("#addbox").modal('hide');
					  getListData(
						  window.sessionStorage.getItem('token'),
			  		  	  window.sessionStorage.getItem('uid'),
			  			  appData.from,
			  			  appData.to
			  		  );
				  }else{
					  $.notify('更新失败：'+ data.result.reason);
				  }
			  },'json');
	          //alert('From Submitted!');
	      }).catch(() => {
	          //alert('Correct them errors!');
	      });
	  },
	  setCategory:function(value,text){
		  appData.video.vtype = value;
		  appData.video.vtypename = text;
			let index = _.findIndex(appData.category,{'value':value});
			appData.video.remark = '';
			/*if(appData.category[index].label != null){
				appData.labels = $.trim(appData.category[index].label).split(' ');
			}else{
				appData.labels = [];
			}
			//console.log();
		  console.log(appData)*/
			appData.labels = appData.category[index].tag;
	  },
	  setGroup:function(value,text){
		  appData.video.group = value;
		  appData.video.groupname = text;
		  console.log(appData)
	  },
	  setLang:function(value,text){
		  appData.video.orglang = value;
		  appData.video.orglangname = text;
		  console.log(appData)
	  },
	  setVid:function(){
			let strURI = $('#v_id').val();
		  if(this.errors.has('vurl') || strURI==''){
			  return
		  }else{
				if(strURI.indexOf('youtube.com')>=0){
					appData.video.vid = util.getPara(strURI,'v');
				}
				if(strURI.indexOf('youtu.be/')>=0){
					if(strURI.indexOf('?') >= 0){
						appData.video.vid = strURI.substring(strURI.indexOf('be/')+3,strURI.indexOf('?'));
					}else{
						appData.video.vid = strURI.substring(strURI.indexOf('be/')+3);
					}
					//appData.video.vid = strURI.substring(strURI.indexOf('be/')+3,strURI.indexOf('?'));
				}
				if(strURI.indexOf('facebook.com/')>=0){
					appData.video.fbUrl = strURI;
				}
				appData.video.vid = $.trim(appData.video.vid);
		  }
			checkUrl(appData.video.vid,appData.video.fbUrl).then(r=>{
				if(r==false){
					alert('视频地址已经存在')
				}
			})
	  },
	  setVtitle:function(){
		  if(this.errors.has('vtitle') || $('#v_title').val()==''){
			  return
		  }else{
			  appData.video.vtitle = $('#v_title').val();
		  }
	  },
	  setRemark:function(){
		  appData.video.remark = $('#v_remark').val();
	  },
		setLabels:function(label){
			console.log(label)
			let labels = [];
			if($.trim(appData.video.remark)!=''){
				labels = appData.video.remark.split(' ');
			}
			//let labels = appData.video.remark.split(' ');
			let index = labels.indexOf(label);
			if(index>=0){
				labels.splice(index,1);
			}else{
				labels.push(label)
			}
			appData.video.remark = labels.join(' ');
			console.log(appData.video.remark)
		},
	  showAttation:function(){
		  $('#addbox').modal('hide');
		  setTimeout(function(){
			  $('#attation').modal('show')
		  },300);
	  },
	  goupload:function(){
		  $('#attation').modal('hide');
		  setTimeout(function(){
			  $('#addbox').modal('show')
		  },300);
	  }
  },
  data () {
    return appData
  }
}
</script>
<style scoped>
.form-horizontal{padding: 0px 20px;}
.modal-body button{margin: 2px}
a{cursor: pointer;}
#attation .modal-body{font-size: 16px; line-height: 28px;}
#addLabel{padding: 2px;}
#addLabel button{margin-top:0;}
div.btn-con{margin-bottom: 10px; border-bottom:#ccc 1px solid; padding-bottom: 10px; overflow: auto;}
div.btn-con:last-child{border-bottom: none;}
</style>
