<template>
  <div id="main-content">
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">全局标签库</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <ul class="nav nav-pills">
                <li v-for="c in category" role="presentation" :class="{'active':para.categoryId == c.id}"><a @click="setCategory(c.id)" :class="{'text-success':c.publish_status == 1}">{{c.name}}</a></li>
              </ul>
            </div>
            <!-- <div id="addLabel" class="input-group col-xs-3">
              <input type="text" class="form-control" placeholder="添加新标签"  v-model="newLabel" maxlength="255">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" @click="addLabel"><i class="fa fa-plus"></i></button>
              </span>
            </div> -->
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-info" v-for="l in list">
                <div class="panel-heading">
                  <h3 class="panel-title">分组 - {{l.groupNum}}&nbsp;&nbsp;&nbsp;&nbsp;<a v-if="l.changeNum==0" @click ="changeNum(l.groupNum)" >修改编号</a><input v-if="l.changeNum==1" type="number" :ref="'input_'+l.groupNum" placeholder="请输入新编号" class="form-control" style="display:inline-block; width:200px;" @blur="hideInput(l.groupNum)" @keyup="updateGroupNum($event,l.groupNum)"></h3>
                </div>
                <div class="panel-body" @hover="showInput(l.groupNum)" @mouseenter="showInput(l.groupNum)" @mouseleave="showInput(0)">
                  <div>
                    <div class="btn-group" v-for="t in l.tags">
                      <button type="button" class="btn btn-default">{{t.label}} <small>{{t.videoNum}}</small></button>
                      <button type="button" class="btn btn-danger" @click="delTag(t.id)"><i class="fa fa-remove"></i></button>
                    </div>
                  </div>
                  <div class="input-group col-xs-2 addLabel" v-if="page.showInputGroup == l.groupNum">
                    <input type="text" class="form-control" placeholder="添加新标签"  v-model="newLabel" maxlength="255">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" @click="addTag(l.groupNum)"><i class="fa fa-plus"></i></button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">分组 - {{page.lastGroupNum}}</h3>
                </div>
                <div class="panel-body" @mouseenter="showInput(page.lastGroupNum)" @mouseleave="showInput(0)">
                  <div class="input-group col-xs-2 addLabel" v-if="page.showInputGroup == page.lastGroupNum">
                    <input type="text" class="form-control" placeholder="添加新标签"  v-model="newLabel" maxlength="255">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" @click="addTag(page.lastGroupNum)"><i class="fa fa-plus"></i></button>
                    </span>
                  </div>
                </div>
              </div>
              <!-- <div class="btn-group" v-for="l in list">
                <button type="button" class="btn btn-default">{{l.tag}}</button>
                <button type="button" class="btn btn-danger" @click="removeLabel(l.id)"><i class="fa fa-remove"></i></button>
              </div> -->
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
  </div>
</template>
<style lang="less" scoped>
  #main-content{
    .row{ padding: 5px 10px;
      a{cursor: pointer;}
      a.text-success{font-weight: bold;}
      .panel-title a{color:#f00}
      .btn-group{ margin-right: 10px; margin-bottom: 10px;}
    }
  }
</style>
<script>
import util from './util.vue'

let appData = {
  para:{
    userId:'',
    token:'',
    action:'',
    categoryId:'',
  },
  page:{
    groups:[],
    lastGroupNum:1,
    showInputGroup:'',
  },
  list:[],
  category:[],
  newLabel:''
};

let getCategory = function(){
  let api = 'http://m.yxgapp.com/d/webClient/getCategory.json';
  return new Promise(resolve=>{
    $.get(api,appData.para,function(data){
      if(data.result.result){
        appData.category = data.list;
        appData.para.categoryId = data.list[0].id;
      }else{
        $.notify('获取信息失败：'+ data.result.reason)
      }
      resolve(data.result.result);
    },'json');
  });
}

let getSysTag = function(vm){
  //util.showLoading();
	let api = 'http://m.yxgapp.com/d/webClient/sysLabel.json';
	appData.para.action = 'list';
  return new Promise(resolve=>{
    $.get(api,appData.para,function(data){
  		if(data.result.result){
        let groupNum = [];
        //let group = {};
        let list = [];
        data.list.forEach(f=>{
          if(groupNum.indexOf(f.groupNum)<0){
            groupNum.push(f.groupNum);
            //if(group.groupNum) list.push(group);
            list.push({
              groupNum : f.groupNum,
              changeNum : 0,
              tags : []
            })
          }
          list[list.length-1].tags.push(f)
        })
  			appData.list = list;
        appData.page.groups = groupNum;
        if(groupNum.length > 0){
          appData.page.lastGroupNum = groupNum[groupNum.length -1]*1 +1;
        }else{
          appData.page.lastGroupNum = 1;
        }
        vm.$nextTick(function(){
          $('[data-toggle="popover"]').popover();
        });
  		}else{
        $.notify(data.result.reason);
      }
      resolve(data.result.result)
      //util.hideLoading();
  	},'json');
  })
}

export default {
  name: 'sysTags',
  created(){
    let vm = this;
    appData.para.token = window.sessionStorage.getItem('token');
    appData.para.userId = window.sessionStorage.getItem('uid');
    getCategory().then(re=>{
      console.log(re)
      if(re){
        getSysTag(vm);
      }
    })
		//getUserTag();
  },
  beforeUpdate(){
  },
  updated(){
  },
  mounted(){
  },
	beforeDestroy(){
	},
  methods:{
    setCategory(id){
      let vm = this;
      appData.para.categoryId = id;
      getSysTag(vm);
    },
    showInput(groupNum){
      //console.log('hover')
      console.log(groupNum)
      appData.page.showInputGroup = groupNum;
    },
		addTag : function(groupNum){
      let vm = this;
			console.log(appData.newLabel)
			appData.newLabel = $.trim(appData.newLabel);
			if(appData.newLabel==''){
				return
			}
      let d = Object.assign({},appData.para);
      d.action = 'save';
      d.label = appData.newLabel;
      d.groupNum = groupNum;

			$.get('http://m.yxgapp.com/d/webClient/sysLabel.json',d,function(data){
				if(data.result.result){
					appData.newLabel = '';
					getSysTag(vm)
				}else{
					$.notify(data.result.reason);
				}
			},'json');
		},
    delTag : function(tid){
      let vm = this;
      let d = Object.assign({},appData.para);
      d.action = 'delete';
      d.id = tid;
      $.get('http://m.yxgapp.com/d/webClient/sysLabel.json',d,function(data){
				if(data.result.result){
					getSysTag(vm)
				}else{
					$.notify(data.result.reason);
				}
			},'json');
    },
    changeNum(groupNum){
      let f = appData.list.find(f=>{
        return f.groupNum == groupNum;
      });
      console.log(f)
      if(f){
        f.changeNum =1 ;
      }
    },
    hideInput(groupNum){
      let f = appData.list.find(f=>{
        return f.groupNum == groupNum;
      });
      console.log(f)
      if(f){
        f.changeNum = 0 ;
        this.$refs['input_'+groupNum][0].value='';
      }
    },
    updateGroupNum(e,groupNum){
      let vm =this;
      console.log(groupNum)
      if(e.keyCode==13){
        let newNum = vm.$refs['input_'+groupNum][0].value;
        console.log(newNum)
        if(appData.page.groups.indexOf(newNum)>=0){
          $.notify('这个编号已经存在啦');
          return;
        }
        let d = Object.assign({},appData.para);
        d.action = 'updateGroupNum';
        d.oldGroupNum = groupNum;
        d.groupNum = newNum;
        vm.hideInput(groupNum);
        $.get('http://m.yxgapp.com/d/webClient/sysLabel.json',d,function(data){
  				if(data.result.result){
  					getSysTag(vm)
  				}else{
  					$.notify(data.result.reason);
  				}
  			},'json');
        /*if(f){
          if(l.remark != appData.coTask.remark){
            let data = {
              id:appData.coTask.id,
              remark:appData.coTask.remark,
            }
            api.saveTask(appData.para.userId,appData.para.token,data).done(d=>{
              if(d.result.result){
                l.remark = appData.coTask.remark;
              }else{
                $.notify('操作失败：'+ d.result.reason);
              }
              l.edit = false;
            });
          }
        }*/
      }
      if(e.keyCode == 27){
        vm.hideInput(groupNum)
      }
    }
  },
  data () {
    return appData
  }
}
</script>
