<template>
		<div id="main-content">
			<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" />
	    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
				<div class="container">
					<div class="row">
						<div id="content" class="col-lg-12">
							<!-- PAGE HEADER-->
							<div class="row">
								<div class="col-sm-12">
									<div class="page-header">
										<div class="clearfix">
											<h3 class="content-title pull-left">{{team.name}}-积分流水 <small>积分余额：{{point}}</small></h3>
											<!-- DATE RANGE PICKER -->
											<!-- <span class="date-range pull-right">
												<div class="btn-group">
													<a class="js_update btn btn-default" id="stoday" :class="{'btn-success':type==0}" @click="loadData(0)">今日</a>
													<a class="js_update btn btn-default" id="sweek" :class="{'btn-success':type==1}" @click="loadData(1)">最近一周</a>
													<a class="js_update btn btn-default" id="sall" :class="{'btn-success':type==2}" @click="loadData(2)">所有记录</a>
													<a id="reportrange" class="js_update btn btn-default" :class="{'btn-success':type==3}">
														<i class="fa fa-calendar"></i>
														<span>{{range}}</span>
														<i class="fa fa-angle-down"></i>
													</a>
												</div>
											</span> -->
											<!-- /DATE RANGE PICKER -->
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="point clearfix">
								<p class="col-xs-6">小分队名称：{{team.name}}</p>
								<p class="col-xs-6">小分队积分余额：{{point}}</p>
							</div> -->
	            <div class="row" id="tc">
	              <div class="col-sm-12" id="table-container">
									<table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>业务时间</th>
												<th>业务类型</th>
												<th>业务对象</th>
												<th>发生数量</th>
												<th>业务备注</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="l in list">
												<td>{{l.date}}</td>
												<td>{{getTypeName(l.type)}}</td>
												<td>{{l.nickname}}</td>
												<td>{{l.amount}}</td>
												<td>{{l.remark}}</td>
											</tr>
										</tbody>
									</table>
								</div>
	             </div>
							<!-- /PAGE HEADER -->
						</div><!-- /CONTENT-->
					</div>
				</div>
			</div>
</template>
<script>
import util from './util.vue'
//import _ from 'lodash'
let appData = {
  list:[],
	point:0,
	team : {},
  //from:'',
  //to:'',
  tableOrder:[[0,'desc']]
};

// let initDateRange = function(){
// 	$('#reportrange').daterangepicker({
// 		startDate: moment().subtract('days', 29),
// 		endDate: moment(),
// 		minDate: '2017-06-21',
// 		maxDate: moment(),
// 		dateLimit: { days: 60 },
// 		showDropdowns: false,
// 		showWeekNumbers: false,
// 		timePicker: false,
// 		timePickerIncrement: 1,
// 		timePicker12Hour: true,
// 		opens: 'left',
// 		buttonClasses: ['btn btn-default'],
// 		applyClass: 'btn-small btn-primary',
// 		cancelClass: 'btn-small',
// 		format: 'YYYY-MM-DD',
// 		separator: ' - ',
// 		locale: {
// 			applyLabel: '确定',
// 			cancelLabel: '取消',
// 			fromLabel: '从',
// 			toLabel: '到',
// 			customRangeLabel: '自定义区间',
// 			daysOfWeek: ['日', '一', '二', '三', '四', '五','六'],
// 			monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
// 			firstDay: 1
// 		}
// 	});
// 	$('#reportrange').on('apply.daterangepicker', function(ev, picker) {
// 		console.log(picker.startDate.format('YYYY-MM-DD'));
// 		console.log(picker.endDate.format('YYYY-MM-DD'));
// 		appData.range = picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD');
// 		appData.type = 3;
// 		appData.from = picker.startDate.format('YYYY-MM-DD');
// 		appData.to = picker.endDate.format('YYYY-MM-DD');
// 		getListData(window.sessionStorage.getItem('token'),
// 					window.sessionStorage.getItem('uid'),
// 					appData.from,
// 					appData.to
// 		);
// 	});
// }
let initDataTable = function(){
	let tableConfig={
		'language': {
			'emptyTable': '没有数据',
			'loadingRecords': '加载中...',
			'processing': '查询中...',
			'search': '检索:',
			'lengthMenu': '每页 _MENU_ 条',
			'zeroRecords': '没有数据',
			'paginate': {
				'first':      '第一页',
				'last':       '最后一页',
				'next':       '下一页',
				'previous':   '上一页'
			},
			'info': '第 _PAGE_ 页 / 共 _PAGES_ 页 | 总记录数 _TOTAL_',
			'infoEmpty': '没有数据',
			'infoFiltered': '(过滤前共 _MAX_ 条)'
		},
		'order':appData.tableOrder
	};
	let table = $('#list').DataTable(tableConfig);
};

let getListData = function(token,uid,teamId,from,to){
	let url = 'http://m.yxgapp.com/d/mooc/getTeamPointJournal.json';
	let post ={
		token:token,
		uid:uid,
		teamId:teamId
	};

	if(from != '' && from != undefined) post.from =from;
	if(to != '' && to != undefined) post.to =to;
	$.get(url,post,function(data){
		//console.log(data)
		if(data.result.result){
			appData.list = data.journal;
			appData.point = data.point;
		}else{
			console.log(data.result.reason)
		}
	},'json');
};

export default {
  name: 'teamPointJournal',
  created(){
		appData.team = JSON.parse(sessionStorage.getItem('handleScorePermission'))[0];
		//appData.teamId = 8;
  },
  beforeUpdate(){
	  if($('#list').hasClass('dataTable')){
		  appData.tableOrder = $('#list').dataTable().api().order().concat();
		  $('#list').DataTable().destroy();
	  }
	  //console.log('beforeUpdate')
  },
  updated(){
	  //console.log('updating')
	  if($('#list').hasClass('dataTable')==false){
		  initDataTable();
	  }
	  //console.log('Updated')
  },
  mounted(){
	  let uid = window.sessionStorage.getItem('uid');
	  let token = window.sessionStorage.getItem('token');
	  //initDateRange();
	  initDataTable();
	  this.loadData(0);
  },
  methods:{
		getTypeName : function(type){
			return(type==1?'收入':'支出')
		},
	  loadData : function(type){
		  // appData.type = type;
		  // appData.range = '';
		  // appData.to = moment().add(1,"days").format('YYYY-MM-DD');
		  let uid = window.sessionStorage.getItem('uid');
		  let token = window.sessionStorage.getItem('token');
		  // switch (type) {
		  // 	case 0:
		  // 		appData.from = moment().format('YYYY-MM-DD');
		  // 		break;
			// case 1:
		  // 		appData.from = moment().subtract(7, "days").format('YYYY-MM-DD');
		  // 		break;
			// case 2:
			// 	appData.from ='';
			// 	break;
		  // }
		  //getListData(token,uid,appData.from,appData.to);
			getListData(token,uid,appData.team.id);
	  }
  },
  data () {
    return appData
  }
}
</script>
<style scoped>
div.point{
	font-size: 16px;
	padding: 10px 0;
}
</style>
