<template>
		<div id="main-content">
			<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" />
	    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
				<div class="container">
					<div class="row">
						<div id="content" class="col-lg-12">
							<!-- PAGE HEADER-->
							<div class="row">
								<div class="col-sm-12">
									<div class="page-header">
										<div class="clearfix">
											<h3 class="content-title pull-left">{{team.name}}-成员管理</h3>
											<span class="pull-right point">积分余额：{{point}}</span>
										</div>
									</div>
								</div>
							</div>
	            <div class="row" id="tc">
	              <div class="col-sm-12" id="table-container">
									<table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th rowspan="2">昵称</th>
												<th rowspan="2">译者ID</th>
												<th rowspan="2">任务中</th>
												<th colspan="2">任务统计</th>
												<th colspan="2">近15日统计</th>
												<th rowspan="2">最近任务时间</th>
												<th rowspan="2">操作</th>
											</tr>
											<tr>
												<th>总数</th>
												<th>成功数</th>
												<th>总数</th>
												<th>成功数</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="l in list">
												<td>{{l.nickname}}</td>
												<td>{{l.translatorId}}</td>
												<td>{{l.task_status==1?'是':'否'}}</td>
												<td>{{l.totalTask}}</td>
												<td>{{l.totalTaskSuccess}}</td>
												<td>{{l.totalTaskF}}</td>
												<td>{{l.totalTaskSuccessF}}</td>
												<td>{{l.lastTaskTime}}</td>
												<td><button type="button" class="btn btn-primary" @click="assignPoint(l.id,l.nickname,l.translatorId)">分配积分</button></td>
											</tr>
										</tbody>
									</table>
								</div>
	             </div>
							<!-- /PAGE HEADER -->
						</div><!-- /CONTENT-->
					</div>
				</div>
			</div>
</template>
<script>
import util from './util.vue'
//import _ from 'lodash'
let appData = {
  list:[],
	point:0,
	team : {},
  tableOrder:[[0,'desc']]
};

let initDataTable = function(){
	let tableConfig={
		'language': {
			'emptyTable': '没有数据',
			'loadingRecords': '加载中...',
			'processing': '查询中...',
			'search': '检索:',
			'lengthMenu': '每页 _MENU_ 条',
			'zeroRecords': '没有数据',
			'paginate': {
				'first':      '第一页',
				'last':       '最后一页',
				'next':       '下一页',
				'previous':   '上一页'
			},
			'info': '第 _PAGE_ 页 / 共 _PAGES_ 页 | 总记录数 _TOTAL_',
			'infoEmpty': '没有数据',
			'infoFiltered': '(过滤前共 _MAX_ 条)'
		},
		'order':appData.tableOrder
	};
	let table = $('#list').DataTable(tableConfig);
};

let getListData = function(token,uid,teamId){
	if($('#list').hasClass('dataTable')){
	  appData.tableOrder = $('#list').dataTable().api().order().concat();
	  $('#list').DataTable().destroy();
	}
	let url = 'http://m.yxgapp.com/d/mooc/GetGroupMemberTask.json';
	let post ={
		token:token,
		userId:uid,
		groupId:teamId
	};
	$.get(url,post,function(data){
		//console.log(data)
		if(data.result.result){
			appData.list = data.data;
			setTimeout(initDataTable(),100);
			//appData.point = data.point;
		}else{
			console.log(data.result.reason)
		}
	},'json');
};

let getPoint = function(token,uid,teamId){
	let url = 'http://m.yxgapp.com/d/mooc/getTeamPointAvailable.json';
	let d = {
		token:token,
		uid:uid,
		teamId:teamId
	};
	$.get(url,d,function(data){
		if(data.result.result){
			appData.point = data.point;
		}
	});
};

export default {
  name: 'teamManageStaff',
  created(){
		appData.team = JSON.parse(sessionStorage.getItem('handleScorePermission'))[0];
		//appData.teamId = 8;
  },
  beforeUpdate(){
	  // if($('#list').hasClass('dataTable')){
		//   appData.tableOrder = $('#list').dataTable().api().order().concat();
		//   $('#list').DataTable().destroy();
	  // }
	  //console.log('beforeUpdate')
  },
  updated(){
	  //console.log('updating')
	  // if($('#list').hasClass('dataTable')==false){
		//   initDataTable();
	  // }
	  //console.log('Updated')
  },
  mounted(){
	  let uid = window.sessionStorage.getItem('uid');
	  let token = window.sessionStorage.getItem('token');
	  //initDateRange();

	  this.loadData();
		getPoint(token,uid,appData.team.id);
  },
  methods:{
	  loadData : function(){
		  let uid = window.sessionStorage.getItem('uid');
		  let token = window.sessionStorage.getItem('token');
			getListData(token,uid,appData.team.id);
	  },
		assignPoint : function(userId,nickname,translatorId){
			let vm = this;
			console.log(userId)
			util.showMsg('积分发放','<p>您正在使用积分发放功能，请确认以下信息：</p><table width="100%"><tr><th>当前可用积分</th><td>'+ appData.point +'</td></tr><tr><th>积分发放用户</th><td>'+ nickname +'</td></tr><tr><th>用户译者ID</th><td>'+ translatorId +'</td></tr><tr><th>发放积分数量</th><td><input type="number" min="1" max="'+ appData.point +'" class="form-control" id="apoint" placeholder="1 - '+ appData.point +'"></td></tr><tr><th>发放积分备注</th><td><textarea class="form-control" id="acommnet" maxlength="20" placeholder="20字以内"></textarea></td></tr></table>',[
				{text:'取消',class:'btn btn-default',callback:function(){
					console.log('dismiss')
					$('div.modal').modal('hide');
				}},
				{text:'确认发放',class:'btn btn-primary',callback:function(){
					console.log('save')
					let apoint = parseInt($('#apoint').val());
					let acommnet = $('#acommnet').val();
					let uid = window.sessionStorage.getItem('uid');
				  let token = window.sessionStorage.getItem('token');
					if(apoint<=0 || apoint>appData.point){
						alert('请输入合理的发放积分的数量');
						return
					}

					vm.saveAssignPoint(token,uid,appData.team.id,userId,apoint,acommnet);
					$('div.modal').modal('hide');
				}}
			]);
		},
		saveAssignPoint:function(token,uid,teamId,targetUserId,point,common){
			let url = 'http://m.yxgapp.com/d/mooc/saveTeamPointAssign.json';
			let d = {
				token:token,
				uid:uid,
				teamId:teamId,
				targetUserId:targetUserId,
				point:point,
				common:common
			};
			$.get(url,d,function(data){
				if(data.result.result){
					//getPoint(token,uid,teamId);
					appData.point = data.point;
				}
			});
		}
  },
  data () {
    return appData
  }
}
</script>
<style>
span.point{
	font-size: 18px;
	padding-top: 20px;
	color:#666;
}
.modal-body td{
	padding: 10px 20px;
	font-size: 16px;
}
.modal-body th{text-align: right; font-size: 16px; font-weight: normal;}
</style>
