<template>
		<div id="main-content">
			<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" />
	    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
				<div class="container">
					<div class="row">
						<div id="content" class="col-lg-12">
							<!-- PAGE HEADER-->
							<div class="row">
								<div class="col-sm-12">
									<div class="page-header">
										<div class="clearfix">
											<h3 class="content-title pull-left">我上传的视频 <a @click="doAdd" class="btn btn-success addvideo"><i class="fa fa-upload"></i> 上传新视频</a></h3>
											<!-- DATE RANGE PICKER -->
											<span class="date-range pull-right">
												<div class="btn-group">
													<a class="js_update btn btn-default" id="stoday" :class="{'btn-success':type==0}" @click="loadData(0)">今日</a>
													<a class="js_update btn btn-default" id="sweek" :class="{'btn-success':type==1}" @click="loadData(1)">最近一周</a>
													<a class="js_update btn btn-default" id="sall" :class="{'btn-success':type==2}" @click="loadData(2)">所有记录</a>
													<a id="reportrange" class="js_update btn btn-default" :class="{'btn-success':type==3}">
														<i class="fa fa-calendar"></i>
														<span>{{range}}</span>
														<i class="fa fa-angle-down"></i>
													</a>
												</div>
											</span>
											<!-- /DATE RANGE PICKER -->
										</div>
									</div>
								</div>
							</div>
	                        <div class="row" id="tc">
	                            <div class="col-sm-12" id="table-container">
									<table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>上传日期</th>
												<th>中文标题</th>
												<th>原文标题</th>
												<th>视频分类</th>
												<th>原始语言</th>
												<th>视频标签</th>
												<th>视频大小</th>
												<th>备注</th>
												<th>审核情况</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="l in list">
												<td>{{l.uploadDate.substr(0,10)}}</td>
												<td><a :href="fileName" target="_blank">{{l.cnName}}</a></td>
												<td>{{l.soName}}</td>
												<td>{{l.category}}</td>
												<td>{{l.soLang}}</td>
												<td>{{l.tags}}</td>
												<td>{{l.size}}</td>
												<td>{{l.remark}}</td>
												<td><span v-if="l.status==1">已通过</span><span v-if="l.status==3">已拒绝</span><span v-if="l.status==2">待审核</span></td>
												<td><a v-show="l.status != 1" class="btn btn-primary" @click="doedit(l.id)"><i class="fa fa-edit"></i></a> <a v-show="l.status != 1" class="btn btn-primary" @click="dodel(l.id)"><i class="fa fa-trash"></i></a></td>
											</tr>
										</tbody>
									</table>
								</div>
	                        </div>
							<!-- /PAGE HEADER -->
						</div><!-- /CONTENT-->
					</div>
				</div>
				<div class="modal fade" id="addbox">
						<div class="modal-dialog" style="width:60%">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title"><span v-show="update==0">添加新视频</span><span v-show="update==1">更新视频信息</span> <!--<small><a @click="showAttation">推荐视频注意事项</a></small>--></h4>
								</div>
								<div class="modal-body">
									<form class="form-horizontal">
										<div class="form-group" :class="{'has-error':errors.has('cnName')}">
											<label class="col-sm-2 control-label">中文名称</label>
											<div class="col-sm-10"><input type="text" class="form-control" name="cnName" v-validate="'required'" placeholder="中文名称" v-model="video.cnName"></div>
										</div>
										<div class="form-group" :class="{'has-error':errors.has('soName')}">
											<label class="col-sm-2 control-label">原文名称</label>
											<div class="col-sm-10"><input type="text" class="form-control" name="soName" v-validate="'required'" placeholder="原文名称" v-model="video.soName"></div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">原始语言</label>
											<div class="col-sm-10">
											<button type="button" class="btn btn-default" :class="{'btn-success':video.soLang == c.value}" @click="setLang(c.value,c.text)"  v-for="c in lang" >{{c.text}}</button>
										</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">视频分类</label>
											<div class="col-sm-10">
											<button type="button" class="btn btn-default vcategory" :class="{'btn-success':video.category == c.value}" @click="setCategory(c.value,c.text)"  v-for="c in category" >{{c.text}}</button>
										</div>
										</div>
										<!-- <div class="form-group">
											<label class="col-sm-2 control-label">发布位置</label>
											<div class="col-sm-10">
											<button type="button" class="btn btn-default" :class="{'btn-success':video.group == t.id}" @click="setGroup(t.id,t.name)"  v-for="t in teams" >{{t.name}}</button>
										</div>
										</div> -->
										<div class="form-group" v-show="labels.length > 0">
											<label class="col-sm-2 control-label">推荐标签</label>
											<div class="col-sm-10">
											<button type="button" class="btn btn-default vlabel" :class="{'btn-success':video.tags.split(' ').indexOf(t)>=0}" @click="setLabels(t)"  v-for="t in labels" >{{t}}</button>
										</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">自定义标签</label>
											<div class="col-sm-10">
											<button type="button" class="btn btn-default" :class="{'btn-success':video.tags.split(' ').indexOf(t.tag)>=0}" @click="setLabels(t.tag)"  v-for="t in userTag" >{{t.tag}}</button>
											<div id="addLabel" class="input-group col-xs-4">
									      <input type="text" class="form-control" placeholder="添加新标签"  v-model="newLabel" maxlength="6">
									      <span class="input-group-btn">
									        <button class="btn btn-default" type="button" @click="addLabel"><i class="fa fa-plus"></i></button>
									      </span>
									    </div>
										</div>
										</div>
										<div class="form-group" id="file-con" >
											<label class="col-sm-2 control-label">选择文件</label>
											<div class="col-sm-8" id="files"></div>
											<div class="col-sm-2"><button class="btn btn-danger" type="button" id="selectfiles">选择文件</button></div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">备注</label>
											<div class="col-sm-10">
												<textarea class="form-control" v-model="video.remark"></textarea>
											</div>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
									<button v-show='update==0' type="button" class="btn btn-primary" @click="saveVideo">上传</button>
									<button v-show='update==1' type="button" class="btn btn-primary" @click="updateVideo">更新</button>
								</div>
							</div>
						</div>
					</div>
				<!-- <div class="modal fade" id="attation">
						<div class="modal-dialog" style="width:60%">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">推荐视频注意事项</h4>
								</div>
								<div class="modal-body" v-html="attation">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" @click="goupload">知道了，去推荐</button>
								</div>
							</div>
						</div>
					</div> -->
			</div>
</template>
<script>
import util from './util.vue'
import _ from 'lodash'
let appData = {
  list:[],
  category:[],
  teams : [],
  lang : [],
	labels : [],
	userTag : [],
  attation : '',
	policy : {},
  type:0,
  range:'',
  from:'',
  to:'',
  update:0,
  video:{
	  vid:0,
	  cnName:'',
		soName:'',
		tags:'',
	  category:38,
	  remark:'',
	  soLang: 1,
	  fileName:'',
		size:0
  },
  tableOrder:[[0,'desc']],
	newLabel : ''
};

let initDateRange = function(){
	$('#reportrange').daterangepicker({
		startDate: moment().subtract('days', 29),
		endDate: moment(),
		minDate: '2017-05-01',
		maxDate: moment(),
		dateLimit: { days: 60 },
		showDropdowns: false,
		showWeekNumbers: false,
		timePicker: false,
		timePickerIncrement: 1,
		timePicker12Hour: true,
		opens: 'left',
		buttonClasses: ['btn btn-default'],
		applyClass: 'btn-small btn-primary',
		cancelClass: 'btn-small',
		format: 'YYYY-MM-DD',
		separator: ' - ',
		locale: {
			applyLabel: '确定',
			cancelLabel: '取消',
			fromLabel: '从',
			toLabel: '到',
			customRangeLabel: '自定义区间',
			daysOfWeek: ['日', '一', '二', '三', '四', '五','六'],
			monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
			firstDay: 1
		}
	});
	$('#reportrange').on('apply.daterangepicker', function(ev, picker) {
		console.log(picker.startDate.format('YYYY-MM-DD'));
		console.log(picker.endDate.format('YYYY-MM-DD'));
		appData.range = picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD');
		appData.type = 3;
		appData.from = picker.startDate.format('YYYY-MM-DD');
		appData.to = picker.endDate.add(1,"days").format('YYYY-MM-DD');
		getListData(window.sessionStorage.getItem('token'),
					window.sessionStorage.getItem('uid'),
					appData.from,
					appData.to
		);
	});
}
let initDataTable = function(){
	console.log(appData.tableOrder)
	let tableConfig={
		'language': {
			'emptyTable': '没有数据',
			'loadingRecords': '加载中...',
			'processing': '查询中...',
			'search': '检索:',
			'lengthMenu': '每页 _MENU_ 条',
			'zeroRecords': '没有数据',
			'paginate': {
				'first':      '第一页',
				'last':       '最后一页',
				'next':       '下一页',
				'previous':   '上一页'
			},
			'info': '第 _PAGE_ 页 / 共 _PAGES_ 页 | 总记录数 _TOTAL_',
			'infoEmpty': '没有数据',
			'infoFiltered': '(过滤前共 _MAX_ 条)'
		},
		'order':appData.tableOrder
	};
	console.log(tableConfig)
	let table = $('#list').DataTable(tableConfig);
	//$('#list').on( 'order.dt', function (){
    //	let order = table.order();
	//	console.log(order);
    	//appData.tableOrder = order.concat();
		//order=[];
	//	console.log(appData.tableOrder)
	//});
}

let getListData = function(token,uid,from,to){
	util.showLoading();
	let url = 'http://m.yxgapp.com/d/mooc/uploadVideo.json?action=list';
	let post ={
		token:token,
		userId:uid
	}
	if(from != '' && from != undefined) post.from =from;
	if(to != '' && to != undefined) post.to =to;
	$.get(url,post,function(data){
		//console.log(data)
		if(data.result.result){
			appData.list = data.list;

		}else{
			console.log(data.result.reason)
		}
		util.hideLoading();
	},'json');
}

let getUploadBaseInfo = function(){
	let url = 'http://m.yxgapp.com/d/mooc/getUploadBaseInfo.json';
	let d = {
		uid : window.sessionStorage.getItem('uid'),
  	  	token : window.sessionStorage.getItem('token'),
				type:1
	}
	appData.teams = JSON.parse(sessionStorage.getItem('recommendPermission'));
	$.get(url,d,function(data){
		if(data.result.result){
			appData.category = data.category;
			//appData.teams = data.teams;
			appData.lang = data.lang;
			//appData.attation = data.attation;
			console.log(appData)
		}else{

		}
	},'json');
}

let getUploadPlicy = function(){
	let url = 'http://m.yxgapp.com/d/mooc/getOSSPlicy.json';
	let d = {
		userId : window.sessionStorage.getItem('uid'),
  	token : window.sessionStorage.getItem('token')
	};
	return $.get(url,d,function(data){
		if(data.result.result){
			appData.policy = data.policy;
		}
	},'json');
}

let getUserTag = function(){
	let url = 'http://m.yxgapp.com/d/mooc/userTag.json';
	let d = {
		action : 'list',
		uid : window.sessionStorage.getItem('uid'),
  	token : window.sessionStorage.getItem('token')
	};
	$.get(url,d,function(data){
		if(data.result.result){
			appData.userTag = data.list;
		}
	},'json');
}

let get_suffix = function(filename) {
  let pos = filename.lastIndexOf('.')
  let suffix = ''
  if (pos != -1) {
    suffix = filename.substring(pos)
  }
  return suffix;
}

let calculate_object_name = function(filename){
  let suffix = get_suffix(filename);
  let objName = appData.policy.dir + util.random_string(10) + suffix;
  return objName;
}

let set_upload_param = function(up, filename){
	console.log('set_upload_param')
	util.showLoading();
  $.when(getUploadPlicy()).then(function(){
		console.log('done')
		appData.filename = calculate_object_name(filename);
		let new_multipart_params = {
      'key' : appData.filename,
      'policy': appData.policy.policy,
      'OSSAccessKeyId': appData.policy.accessid,
      'success_action_status' : '200', //让服务端返回200,不然，默认会返回204
      'callback' : appData.policy.callback,
      'signature': appData.policy.signature
    };
		console.log(appData)
		up.setOption({
	      'url': appData.policy.host,
	      'multipart_params': new_multipart_params
	  });
	  up.start();
	});
}

export default {
  name: 'uploadVideo',
  created(){
		//util.showLoading();
	  getUploadBaseInfo();
		getUserTag();
		//getUploadPlicy();
  },
  beforeUpdate(){
	  if($('#list').hasClass('dataTable')){
		  appData.tableOrder = $('#list').dataTable().api().order().concat();
		  $('#list').DataTable().destroy();
	  }
	  //console.log('beforeUpdate')
  },
  updated(){
	  //console.log('updating')
	  if($('#list').hasClass('dataTable')==false){
		  initDataTable();
	  }
	  //console.log('Updated')
  },
  mounted(){
	  let uid = window.sessionStorage.getItem('uid');
	  let token = window.sessionStorage.getItem('token');
		$.getScript("http://cdn.bootcss.com/plupload/3.1.0/plupload.min.js",function(){
			window.uploader = new plupload.Uploader({
			runtimes : 'html5,flash',
			browse_button : 'selectfiles',
			multi_selection: false,
			container: document.getElementById('file-con'),
			flash_swf_url : 'http://cdn.bootcss.com/plupload/3.1.0//Moxie.swf',
			url : 'http://oss.aliyuncs.com',

	    filters: {
        mime_types : [
        { title : "Video files", extensions : "mp4,flv" }],
        max_file_size : '500mb', //最大只能上传500mb的文件
        prevent_duplicates : true //不允许选取重复文件
	    },

			init: {
				PostInit: function() {
					$('#files').html('');
					// document.getElementById('postfiles').onclick = function() {
		      //       set_upload_param(uploader, '', false);
		      //       return false;
					// };
				},

				FilesAdded: function(up, files) {
					plupload.each(files, function(file) {
						$('#files').html('<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ')</div>');
					});
				},

				// BeforeUpload: function(up, file) {
		    //   check_object_radio();
		    //   set_upload_param(up, file.name);
		    // },

				UploadProgress: function(up, file) {
					$('#loadText').html(file.percent+'%');
				},

				FileUploaded: function(up, file, info) {
          if (info.status == 200)
          {
              console.log('upload to oss success, object name:' + appData.filename + ' 回调服务器返回的内容是:' + info.response);
          }
          else if (info.status == 203)
          {
              console.log('上传到OSS成功，但是oss访问用户设置的上传回调服务器失败，失败原因是:' + info.response);
          }
          else
          {
              console.log( info.response);
          }
				},

				Error: function(up, err) {
          if (err.code == -600) {
              console.log("\n选择的文件太大了,可以根据应用情况，在upload.js 设置一下上传的最大大小");
          }
          else if (err.code == -601) {
              console.log("\n选择的文件后缀不对,可以根据应用情况，在upload.js进行设置可允许的上传文件类型");
          }
          else if (err.code == -602) {
              console.log("\n这个文件已经上传过一遍了");
          }
          else
          {
              console.log("\nError xml:" + err.response);
          }
				}
			}
			});

			uploader.init();
		});
	  initDateRange();
	  initDataTable();
	  this.loadData(0);
	  // if(window.sessionStorage.getItem('attation1')!='1'){
		//   $('#attation').modal('show');
		//   window.sessionStorage.setItem('attation1','1');
	  // }
  },
	beforeDestroy(){
		$('div.daterangepicker').remove();
	},
  methods:{
		addLabel : function(){
			console.log(appData.newLabel)
			appData.newLabel = $.trim(appData.newLabel);
			if(appData.newLabel==''){
				//$.notify({message:'标签已经存在了'});
				return
			}
			$.get('http://m.yxgapp.com/d/mooc/userTag.json',{
				action : 'save',
				uid : window.sessionStorage.getItem('uid'),
		  	token : window.sessionStorage.getItem('token'),
				tag : appData.newLabel
			},function(data){
				if(data.result.result){
					appData.newLabel = '';
					getUserTag();
				}else{
					$.notify(data.result.reason);
				}
			},'json');
		},

	  loadData : function(type){
		  appData.type = type;
		  appData.range = '';
		  appData.to = moment().add(1,"days").format('YYYY-MM-DD');
		  let uid = window.sessionStorage.getItem('uid');
		  let token = window.sessionStorage.getItem('token');
		  switch (type) {
		  	case 0:
		  		appData.from = moment().format('YYYY-MM-DD');
		  		break;
			case 1:
		  		appData.from = moment().subtract(7, "days").format('YYYY-MM-DD');
		  		break;
			case 2:
				appData.from ='';
				break;
		  }
		  getListData(token,uid,appData.from,appData.to);
	  },

	  saveVideo : function(){
		  this.$validator.validateAll().then(() => {
	      //if(appData.video.vid=='' || appData.video.vtitle=='') return;
				if(appData.video.tags==''){
					$.notify('为视频选个标签吧');
					return
				};
				console.log(uploader)
				if(uploader.files.length == 0){
					$.notify('请选择上传的文件');
					return
				}else{
					let filename = uploader.files[0].name;
					set_upload_param(window.uploader,filename);
				}

			  /*let url = 'http://m.yxgapp.com/d/mooc/uploadVideo.json?action=save&token='+ window.sessionStorage.getItem('token') +'&userId='+ window.sessionStorage.getItem('uid');
			  let post = appData.video;
			  $.post(url,post,function(data){
				  if(data.result.result){
					  $("#addbox").modal('hide');
					  getListData(
						  window.sessionStorage.getItem('token'),
			  		  	  window.sessionStorage.getItem('uid'),
			  			  appData.from,
			  			  appData.to
			  		  );
				  }else{
					  $.notify('提交失败：'+ data.result.reason);
				  }
			  },'json');*/
	          //alert('From Submitted!');
	      }).catch(() => {
	          //alert('Correct them errors!');
	      });
		  //if(this.errors.has('vtitle') ||  this.errors.has('vurl')) return;
		  //if(appData.vid=='' || appData.vtitle=='') return;
	  },
	  dodel:function(vid){
		  let url = 'http://m.yxgapp.com/d/mooc/uploadVideo.json?action=del&token='+ window.sessionStorage.getItem('token') +'&userId='+ window.sessionStorage.getItem('uid');
		  let post = {vid:vid};
		  $.get(url,post,function(data){
			  if(data.result.result){
				  getListData(
					  window.sessionStorage.getItem('token'),
					  window.sessionStorage.getItem('uid'),
					  appData.from,
					  appData.to
				  );
			  }else{
				  $.notify('删除失败：'+ data.result.reason)
			  }
		  },'json');
	  },
	  doedit:function(vid){
			let i = _.findIndex(appData.list,{'id':vid});
		  //for(let i=0; i< appData.list.length; i++){
			  //if(appData.list[i].vid == vid){
				  appData.video = {
					  vid:vid,
					  cnName:appData.list[i].cnName,
					  soName:appData.list[i].soName,
					  tags:appData.list[i].tags,
					  category:appData.list[i].category,
					  remark:appData.list[i].remark,
					  soLang:appData.list[i].soLang,
					  fileName: appData.list[i].fileName,
					  size:appData.list[i].size
				  };
				  //break;
			  //}
		  //}
			let index = _.findIndex(appData.category,{'value':appData.video.category});
			if(appData.category[index].label != null){
				appData.labels = $.trim(appData.category[index].label).split(' ');
			}
		  appData.update=1;
		  $('#addbox').modal('show');
	  },
	  doAdd:function(){
		  appData.video = {
				vid:0,
			  cnName:'',
				soName:'',
				tags:'',
			  category:'38',
			  remark:'',
			  soLang: '1',
			  fileName:'',
				size:0
		  };
			appData.labels = [];
		  appData.update=0;
			let index = _.findIndex(appData.category,{'value':appData.video.category});
			console.log(appData)
			if(appData.category[index].label != null){
				appData.labels = $.trim(appData.category[index].label).split(' ');
			}
		  $('#addbox').modal('show');
	  },
	  updateVideo:function(){
		  this.$validator.validateAll().then(() => {
	      //if(appData.video.vid==0 || appData.video.vtitle=='') return;
				if(appData.video.tags==''){
					$.notify('为视频选个标签吧');
					return
				}
			  let url = 'http://m.yxgapp.com/d/mooc/uploadVideo.json?action=edit&token='+ window.sessionStorage.getItem('token') +'&userId='+ window.sessionStorage.getItem('uid');
			  let post = appData.video;
			  $.post(url,post,function(data){
				  if(data.result.result){
					  $("#addbox").modal('hide');
					  getListData(
						  window.sessionStorage.getItem('token'),
			  		  	  window.sessionStorage.getItem('uid'),
			  			  appData.from,
			  			  appData.to
			  		  );
				  }else{
					  $.notify('更新失败：'+ data.result.reason);
				  }
			  },'json');
	          //alert('From Submitted!');
	      }).catch(() => {
	          //alert('Correct them errors!');
	      });
	  },
	  setCategory:function(value,text){
		  appData.video.category = value;
		  //appData.video.vtypename = text;
			let index = _.findIndex(appData.category,{'value':value});
			appData.video.tags = '';
			if(appData.category[index].label != null){
				appData.labels = $.trim(appData.category[index].label).split(' ');
			}else{
				appData.labels = [];
			}
			//console.log();
		  console.log(appData)
	  },
	  // setGroup:function(value,text){
		//   appData.video.group = value;
		//   appData.video.groupname = text;
		//   console.log(appData)
	  // },
	  setLang:function(value,text){
		  appData.video.soLang = value;
		  //appData.video.orglangname = text;
		  console.log(appData)
	  },
	  // setVid:function(){
		// 	let strURI = $('#v_id').val();
		//   if(this.errors.has('vurl') || strURI==''){
		// 	  return
		//   }else{
		// 		if(strURI.indexOf('youtube.com')>=0){
		// 			appData.video.vid = util.getPara(strURI,'v');
		// 		}
		// 		if(strURI.indexOf('youtu.be/')>=0){
		// 			if(strURI.indexOf('?') >= 0){
		// 				appData.video.vid = strURI.substring(strURI.indexOf('be/')+3,strURI.indexOf('?'));
		// 			}else{
		// 				appData.video.vid = strURI.substring(strURI.indexOf('be/')+3);
		// 			}
		// 			//appData.video.vid = strURI.substring(strURI.indexOf('be/')+3,strURI.indexOf('?'));
		// 		}
		// 		appData.video.vid = $.trim(appData.video.vid);
		//   }
	  // },
	  // setVtitle:function(){
		//   if(this.errors.has('vtitle') || $('#v_title').val()==''){
		// 	  return
		//   }else{
		// 	  appData.video.vtitle = $('#v_title').val();
		//   }
	  // },
	  // setRemark:function(){
		//   appData.video.remark = $('#v_remark').val();
	  // },
		setLabels:function(label){
			console.log(label)
			let labels = [];
			if($.trim(appData.video.tags)!=''){
				labels = appData.video.tags.split(' ');
			}
			//let labels = appData.video.remark.split(' ');
			let index = labels.indexOf(label);
			if(index>=0){
				labels.splice(index,1);
			}else{
				labels.push(label)
			}
			appData.video.tags = labels.join(' ');
			console.log(appData.video.tags)
		}
		// ,
	  // showAttation:function(){
		//   $('#addbox').modal('hide');
		//   setTimeout(function(){
		// 	  $('#attation').modal('show')
		//   },300);
	  // },
	  // goupload:function(){
		//   $('#attation').modal('hide');
		//   setTimeout(function(){
		// 	  $('#addbox').modal('show')
		//   },300);
	  // }
  },
  data () {
    return appData
  }
}
</script>
<style scoped>
.form-horizontal{padding: 0px 20px;}
.modal-body button{margin: 2px}
a{cursor: pointer;}
#attation .modal-body{font-size: 16px; line-height: 28px;}
#addLabel{padding: 2px;}
#addLabel button{margin-top:0;}
</style>
