<template>
  <div id="main-content">
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12">
          <!-- PAGE HEADER-->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="clearfix">
                  <h3 class="content-title pull-left">控制台</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h4>请选择左侧菜单使用系统功能</h4>
              <table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th rowspan="2">合作方名称</th>
                    <th rowspan="2">视频总数</th>
                    <th rowspan="2">已完成</th>
                    <th colspan="4">特效中</th>
                    <th colspan="4">翻译中</th>
                    <th rowspan="2">已归档</th>
                  </tr>
                  <tr>
                    <th>制作中</th>
                    <th>已关闭</th>
                    <th>待确认</th>
                    <th>小计</th>
                    <th>待认领</th>
                    <th>翻译中</th>
                    <th>审核中</th>
                    <th>小计</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="l in list">
                    <td>{{l.coName}}</td>
                    <td>{{l.all}}</td>
                    <td>{{l.finish}}</td>
                    <td>{{l.effectOpen}}</td>
                    <td>{{l.effectClose}}</td>
                    <td>{{l.effectConfirm}}</td>
                    <td>{{l.effectConfirm*1 + l.effectClose*1 + l.effectOpen*1}}</td>
                    <td>{{l.unassign}}</td>
                    <td>{{l.translate}}</td>
                    <td>{{l.check}}</td>
                    <td>{{l.check*1 + l.translate*1 + l.unassign*1}}</td>
                    <td>{{l.archive}}</td>
                  </tr>
                  <tr>
                    <td>总计</td>
                    <td>{{sum.all}}</td>
                    <td>{{sum.finish}}</td>
                    <td>{{sum.effectOpen}}</td>
                    <td>{{sum.effectClose}}</td>
                    <td>{{sum.effectConfirm}}</td>
                    <td>{{sum.effectAll}}</td>
                    <td>{{sum.unassign}}</td>
                    <td>{{sum.translate}}</td>
                    <td>{{sum.check}}</td>
                    <td>{{sum.transAll}}</td>
                    <td>{{sum.archive}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /PAGE HEADER -->
        </div><!-- /CONTENT-->
      </div>
    </div>
  </div>
</template>
<style lang="less">
  table{
    td,th{background: #fff;}
  }
</style>
<script>
//import util from '../util.vue'
import api from './api.vue'

let appData={
  list:[],
  user:{},
  sum:{
    all:0,
    finish:0,
    effectOpen:0,
    effectClose:0,
    effectConfirm:0,
    effectAll:0,
    unassign:0,
    translate:0,
    check:0,
    transAll:0,
    archive:0,
  }
}

let loadUser = function(){
	appData.user = JSON.parse(localStorage.user);
	appData.user.role = appData.user.roles.split(',');
	appData.user.co = appData.user.coId.split(',');
	//sessionStorage.setItem('token',appData.user.token);
	//sessionStorage.setItem('uid',appData.user.id);
	console.log(appData.user)
}

let getSummary = function(){
  api.getSummary(appData.user.id,appData.user.token,appData.user.coId).done(data=>{
    if(data.result.result){
      appData.list = data.list;
      appData.list.forEach(f=>{
        appData.sum.all += f.all * 1;
        appData.sum.finish += f.finish * 1;
        appData.sum.effectOpen += f.effectOpen * 1;
        appData.sum.effectClose += f.effectClose * 1;
        appData.sum.effectConfirm += f.effectConfirm * 1;
        appData.sum.effectAll += f.effectOpen * 1 + f.effectClose * 1 + f.effectConfirm * 1;
        appData.sum.unassign += f.unassign * 1;
        appData.sum.translate += f.translate * 1;
        appData.sum.check += f.check * 1;
        appData.sum.transAll += f.unassign * 1 + f.translate * 1 + f.check * 1;
        appData.sum.archive += f.archive * 1;
      })
    }else{
      $.notify('获取信息错误：'+ data.result.reason);
    }
  });
}


export default {
  name: 'dashboard',
  created(){
    loadUser();
  },
  mounted(){
    //appData.para.taskId = window.sessionStorage.getItem('taskId');
    getSummary();
  },
  updated(){},
  beforeDestroy(){},
  beforeRouteUpdate (to, from, next) {},
  methods:{
  },
  data(){
    return appData
  }
}
</script>
