<template>
  <!--<div id="entry">
<header class="header">
      <a href="/">{{logoText}}</a>
    </header>
    <div id="leftNav">
        <router-view name="nav">
        </router-view>
    </div>
    <div id="rightBody">
        <router-view name="mainbody">
        </router-view>
    </div>

        <router-view name="main">
        </router-view>
  </div>-->
  <router-view name="main">
  </router-view>
</template>

<script>
/*
import $ from 'jquery';

$(function(){
  location.hash = "/";
});
*/
let appData =  {
  logoText:"译学馆短视频国际化平台",
}

export default {
  name: 'entry',
  data () {
    return appData;
  },
  created(){
  }
}
</script>

<style lang="less" >

@import "../assets/css/base.less";
#entry {
  width:100%;
  height:100%;
  padding-top:6vh;
    /*.header{
      font-size:2vh;
      padding:1.7vh 2.5vh;
      color:@highlight;
      background-color:@bg;
      height:6vh;
      box-shadow:0 0 2vh @normal;
      position:fixed;
      top:0;
      width:100vw;
      a{
        color:@highlight;
      }
    }
    #leftNav{
        height:94vh;
        width:12.5%;
        float:left;
        padding:2vh 0;;
        background:#eef1f6;
        overflow:auto;
    }
    #rightBody{
        height:94vh;
        width:87.5%;
        float:left;
        overflow:auto;
    }*/

}
</style>
