<template>
<div id="main">
	<!--<link rel="stylesheet" type="text/css" href="css/cloud-admin.css" />
	<link rel="stylesheet" type="text/css" href="css/default.css" />-->
	<header class="navbar clearfix" id="header">
		<div class="container">
				<div class="navbar-brand" style="color:#fff;">
					<!-- COMPANY LOGO
					<a href="index.html">
						<img src="images/logo/logo.png" alt="Cloud Admin Logo" class="img-responsive hide" height="30" width="120">
					</a>-->
					{{title}}
					<!-- /COMPANY LOGO -->
					<div id="sidebar-collapse" class="sidebar-collapse btn" @click="toggleSlide">
						<i class="fa fa-bars" data-icon1="fa fa-bars" data-icon2="fa fa-bars"></i>
					</div>
				</div>
				<!-- BEGIN TOP NAVIGATION MENU -->
				<ul class="nav navbar-nav pull-right">
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown user" id="header-user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<!-- <img alt="" :src="avatar" /> -->
							<div style="width:134px;">
								<p class="username">{{user.nickname}}</p>
								<p>{{getText(group,user.groupId)}}</p>
							</div>
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a @click="updateInfo"><i class="fa fa-user"></i> 修改信息</a></li>
							<li><a @click="logout"><i class="fa fa-power-off"></i> 注销</a></li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
				<!-- END TOP NAVIGATION MENU -->
		</div>
	</header>
	<section id="page">
		<div id="sidebar" class="sidebar">
			<div class="sidebar-menu nav-collapse">
				<ul>
					<li class="active">
						<!-- <a href="index.html"> -->
						<router-link to="/index/dashboard">
						<i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">控制台</span>
						<span class="selected"></span>
						</router-link>
						<!-- </a> -->
					</li>
					<!-- <li>
						<router-link to="/cooperator/upload">
						<i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">文件上传</span>
						<span class="selected"></span>
						</router-link>
					</li> -->
					<li class="has-sub" v-if="user.role.indexOf('2')>=0">
						<!-- <router-link to="/cooperator/manage"> -->
						<a href="javascript:;" class="">
							<i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">合作方管理</span>
							<span class="arrow"></span>
						</a>
						<!-- </router-link> -->
						<ul class="sub">
							<li><router-link to="/cooperator/manage"><span class="sub-menu-text">合作方管理</span></router-link></li>
							<li><router-link to="/cooperator/material"><span class="sub-menu-text">素材管理</span></router-link></li>
						</ul>
					</li>
					<li class="has-sub"  v-if="user.role.indexOf('3')>=0">
						<a href="javascript:;" class="">
						<!-- <router-link to="/task/manage"> -->
							<i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">任务管理</span>
							<span class="arrow"></span>
						</a>
						<ul class="sub">
							<li><router-link to="/task/manage"><span class="sub-menu-text">进行中任务</span></router-link></li>
							<li><router-link to="/task/archive"><span class="sub-menu-text">已归档任务</span></router-link></li>
							<li><router-link to="/task/upload"><span class="sub-menu-text">上传视频</span></router-link></li>
						</ul>
						<!-- </router-link> -->
					</li>
					<li class="has-sub"  v-if="user.role.indexOf('4')>=0">
						<a href="javascript:;" class="">
						<i class="fa fa-bookmark fa-fw"></i> <span class="menu-text">字幕特效</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub">
							<!-- <li><router-link to="/effect/manage"><span class="sub-menu-text">未完成任务</span></router-link></li> -->
							<li><router-link to="/effect/allTask"><span class="sub-menu-text">进行中任务</span></router-link></li>
							<li><router-link to="/effect/archiveTask"><span class="sub-menu-text">归档任务</span></router-link></li>
						</ul>
					</li>
					<li class="has-sub" v-if="user.role.indexOf('5')>=0">
						<a href="javascript:;" class="">
						<i class="fa fa-bookmark fa-fw"></i> <span class="menu-text">发布任务</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub">
							<li><router-link to="/export/task"><span class="sub-menu-text">发布任务</span></router-link></li>
							<li><router-link to="/export/script"><span class="sub-menu-text">合成模版</span></router-link></li>
							<li><router-link to="/export/path"><span class="sub-menu-text">发布路径</span></router-link></li>
						</ul>
					</li>
					<li class="has-sub" v-if="user.role.indexOf('1')>=0">
						<a href="javascript:;" class="">
						<i class="fa fa-users fa-fw"></i> <span class="menu-text">系统管理</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub">
							<li><router-link to="/system/user"><span class="sub-menu-text">用户管理</span></router-link></a></li>
							<li><router-link to="/system/group"><span class="sub-menu-text">职位管理</span></router-link></a></li>
							<li><router-link to="/system/role"><span class="sub-menu-text">角色管理</span></router-link></a></li>
							<li><router-link to="/system/upfile"><span class="sub-menu-text">文件上传</span></router-link></a></li>
						</ul>
					</li>
					<!--<li class="has-sub" v-if="permission.translator">
						<a href="javascript:;" class="">
						<i class="fa fa-tasks fa-fw"></i> <span class="menu-text">译者任务</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub">
							<li><router-link to="/translator/myTask"><span class="sub-menu-text">我的任务</span></router-link></li>
							<li><router-link to="/translator/claimTask"><span class="sub-menu-text">认领任务</span></router-link></li>
						</ul>
					</li>
					<li class="has-sub" v-if="permission.assessor">
						<a href="javascript:;" class="">
						<i class="fa fa-bug fa-fw"></i> <span class="menu-text">审核员</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub">
							<li><a class="" href="elements.html"><span class="sub-menu-text">所有任务</span></a></li>
							<li><a class="" href="notifications.html"><span class="sub-menu-text">我的任务</span></a></li>
						</ul>
					</li> -->
					<!-- for videoTags manager -->
					<!-- <li class="has-sub">
						<a href="javascript:;" class="">
						<i class="fa fa-bug fa-fw"></i> <span class="menu-text">数据管理</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub">
							<li><router-link to="/man/modifyVideoTag"><span class="sub-menu-text">视频标签管理</span></router-link></li>
						</ul>
					</li> -->
					<!-- for videoTags manager end -->
				</ul>
			</div>
		</div>
		<div id="main-box" v-bind:style="{left:leftp +'px'}">
			<router-view name="page">
	    </router-view>
		</div>
	</section>
	<div class="modal fade" id="sysbox">
		<div class="modal-dialog" style="width:60%">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">修改个人信息</h4>
	      </div>
	      <div class="modal-body">
	        <form class="form-horizontal">
	          <!-- <div class="form-group" :class="{'has-error':errors.has('nickname')}">
	            <label class="col-sm-2 control-label">昵称</label>
	            <div class="col-sm-10"><input type="text" name="nickname" class="form-control" v-validate="'required'" placeholder="昵称" v-model="user.nickname"></div>
	          </div> -->
	          <div class="form-group" :class="{'has-error':errors.has('oldPass')}">
	            <label class="col-sm-2 control-label">旧密码</label>
	            <div class="col-sm-10"><input type="password" name="oldPass" id="oldPass" class="form-control" v-validate="'required'" placeholder="旧密码"></div>
	          </div>
	          <div class="form-group" :class="{'has-error':errors.has('newPass')}">
	            <label class="col-sm-2 control-label">新密码</label>
	            <div class="col-sm-10"><input type="password" name="newPass" id="newPass" class="form-control" v-validate="'required'" placeholder="新密码"></div>
	          </div>
	          <div class="form-group" :class="{'has-error':errors.has('newPass2')}">
	            <label class="col-sm-2 control-label">再次输入新密码</label>
	            <div class="col-sm-10"><input type="password" name="newPass2" class="form-control" v-validate="'required'" placeholder="再次输入新密码"></div>
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
	        <button type="button" class="btn btn-primary" @click="doSave">更新</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
</template>
<script>
import util from './util.vue'
import api from './api.vue'
import '../../css/cloud-admin.css'
import '../../css/default.css'

let appData = {
	user:{},
	title:'',
	leftp:200,
	group:[]
}

let loadUser = function(){
	appData.user = JSON.parse(localStorage.user);
	appData.user.role = appData.user.roles.split(',');
	appData.user.co = appData.user.coId.split(',');
	sessionStorage.setItem('token',appData.user.token);
	sessionStorage.setItem('uid',appData.user.id);
	console.log(appData.user)
}

let loadBaseInfo = function(){
	api.getBaseInfo(appData.user.id,appData.user.token).done(data=>{
		if(data.result.result){
			localStorage.category = JSON.stringify(data.category);
			localStorage.team = JSON.stringify(data.team);
			localStorage.lang = JSON.stringify(data.lang);
			localStorage.roles = JSON.stringify(data.roles);
			localStorage.group = JSON.stringify(data.group);
			localStorage.soft = JSON.stringify(data.soft);
			appData.group = data.group;
		}else{
			$.notify('获取信息错误：'+data.result.reason);
		}
	})
}

export default {
  name: 'index',
  created(){
		/* test userInfo */
		//sessionStorage.setItem('token','d877c19a7e4e2f8405a812a28173a8d51500460441952');
		//sessionStorage.setItem('userId','oK-iKuCoTyZ_AWRWuHLCZIGnJc2w@weixin');
		let vm = this;
		appData.title = config.app.title;
	  loadUser();
		loadBaseInfo();
		api.checkLogin(appData.user.id,appData.user.token).done(data=>{
			if(!data.result.result){
				$.notify('获取信息错误：'+data.result.reason);
				util.dologout(vm);
			}
		})
  },
  mounted(){
		$('#sidebar').on('click','.has-sub > a',function(){
			let _this = $(this);
			//_this.click(function(){
				console.log('click')
				if(_this.closest('li').hasClass('open')){
					_this.closest('li').removeClass('open');
					_this.find('.arrow').removeClass('open');
					_this.closest('li').find('.sub').slideUp(200);
				}else{
					_this.closest('li').addClass('open');
					_this.find('.arrow').addClass('open');
					_this.closest('li').find('.sub').slideDown(200);
				}
			//});
		});
		$('#sidebar').on('click','.sub a',function(){
			let _this = $(this);
			$('#sidebar .sub li').removeClass('current');
			_this.closest('li').addClass('current');
		});
		$.notifyDefaults({
			z_index:9999,
			type:'danger'
		});
  },
  methods:{
    logout : function(){
		  util.dologout(this)
	  },
		toggleSlide : function(){
			console.log('toggle slide')
			let slide = $('#sidebar');
			if(slide.hasClass('mini-menu')){
				slide.removeClass('mini-menu');
				//$('#main-content').css('left','200px');
				appData.leftp=200;
			}else{
				slide.addClass('mini-menu');
				appData.leftp=50;
				//$('#main-content').css('left','50px')
			}
		},
		getText(data,value){
			return util.getText(data,value);
		},
		updateInfo(){
			$('#sysbox').modal('show');
		},
		doSave(){
			let vm = this;
      this.$validator.validateAll().then(() => {
				let data = {
					action:'updateInfo',
					id:appData.user.id,
					userId : appData.user.id,
					token:appData.user.token,
					oldPass : $('#oldPass').val(),
					newPass : $('#newPass').val()
				}
				$.post('http://m.yxgapp.com/d/pms/user.json',data,function(d){
					if(d.result.result){
						$.notify('密码修改成功')
					}else{
						$.notify('操作失败：'+ d.result.reason);
					}
					$('#sysbox').modal('hide');
					$('#sysbox input').val('');
				},'json')
			});
		}
  },
  data () {
    return appData
  }
}
</script>
<style lang="less">
#main{
	height: 100%;
	background: #f4f4f4;
}
#main-box{position: absolute; right: 0; bottom: 0 ;top:61px; border-left: 1px solid #cdd2d2; overflow-y: auto;}
</style>
