<template>
    <div class="top-content">
        <!--<link rel="stylesheet" type="text/css" href="css/form-elements.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />-->
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <img id="logo" src="../../img/logo.png">
                            <h1> {{title}}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>登入系统</h3>
                            		<p>请输入用户名和密码</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" method="post" class="login-form">
			                    	<div class="form-group" :class="{'has-error':errors.has('email')}">
			                        	<input type="text" id="email" name="email"  placeholder="Email" v-validate="'required|email'" class="form-username form-control" v-model="email">
			                        </div>
			                        <div class="form-group" :class="{'has-error':errors.has('password')}">
			                        	<input type="password" id="passwordpassword" name="password" placeholder="password" v-validate="'required'" class="form-password form-control" v-model="password">
			                        </div>
			                        <button type="button" class="btn" @click="loginForm">登 录</button>
			                    </form>
                          <!-- <div id="qr"></div> -->
		                    </div>
                        </div>
                    </div>
                    <div class="row" id="foot">
                        <div class="col-sm-6 col-sm-offset-3">
                            <p v-html="msg"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</template>
<script>
//import SparkMD5 from 'spark-md5'
import util from './util.vue'
import api from './api.vue'
//import '../../css/form-elements.css'
//import '../../css/index.css'

let appData = {
  title:"译学馆短视频国际化平台",
  loginId:0,
  torrent:'',
  msg:'',
  email:'',
  password:''
};

let checkBrowser = function(){
  //if(!window.localStorage || !window.localStorage.setItem ){
  //  appData.msg = '您的浏览器版本较低，建议使用Chrome或者Firefox浏览器最新版本。';
  //}
  if(navigator.cookieEnabled == false){
    appData.msg = '您的浏览器禁用了cookie,无法正常登陆，请先开启cookie并<a href="javascript:location.reload(true)">刷新</a>页面。';
  }
  if(navigator.userAgent.toLowerCase().match(/(chrome|safari|firefox)/i) == null){
    appData.msg = '注意：我们未对您的浏览器进行过兼容性测试，使用过程中可能会存在问题，建议使用Chrome或者Firefox浏览器最新版本。';
  }
};

let initLogin = function(){
  api.getLoginInit().done(data=>{
    if(data.result.result){
      appData.loginId = data.para.l;
      appData.torrent = data.para.t;
      console.log(data);
    }else{
      $.notify('初始化错误：'+ data.result.reason);
    }
  })
}



export default {
  name: 'login',
  created(){
    initLogin();
    //initQR();
    checkBrowser();
  },
  mounted(){
  //  appData.Log = setInterval(this.getLogin,2000);
  },
  methods:{
    loginForm(){
      let vm = this;
      //console.log(util.sha1Hmac("123456","wGHzdaiB8pNN"))
      if(this.errors.has('email') || this.errors.has('password')){
          return
      }
      let hash = util.sha1Hmac(appData.password,appData.torrent);
      api.doLogin(appData.email,hash,appData.loginId).done(data=>{
        if(data.result.result){
          //window.sessionStorage.setItem('token',data.user.token);
          //window.sessionStorage.setItem('userId',data.user.id);
          if(data.user.coId=='*'){
            api.getAllCooperator(data.user.id,data.user.token).done(d=>{
              let coId = [];
              if(d.result.result){
                d.list.forEach(l=>{
                  coId.push(l.id)
                })
              }
              data.user.coId = coId.join(',');
              window.localStorage.user = JSON.stringify(data.user);
              vm.$router.push('/index/dashboard');
            })
          }else{
            window.localStorage.user = JSON.stringify(data.user);
            vm.$router.push('/index/dashboard');
          }
        }else {
          $.notify(data.result.reason)
        }
      })
    }
    /*loginForm : function(){
      let _this = this;
          let url = 'http://m.yxgapp.com/d/if/account.jhtml';
          let action = $('#action').val();
          if(action=='UserLogin'){
              let uname = $('#uname').val();
              let upass = $('#upass').val();
              if(this.errors.has('upass') || this.errors.has('uname') || uname=='' || upass==''){
                  return
              }else{
                  upass = SparkMD5.hash(upass);
                  let url_sign = url + '?action='+ action +'&username='+ uname +'&password='+ upass;
                  let sign = util.countSign(url_sign,action);
                  let post = {
                      action : action,
                      username : uname,
                      password : upass,
                      sign : sign
                  };
                  $.get(url,post,function(data) {
                      //console.log(data)
                      if(data.result.result){
                          window.sessionStorage.setItem('token',data.token);
                          window.sessionStorage.setItem('username',uname);
                          _this.$router.push('/index');
                      }else{
                          alert('登录错误，请确认用户名和密码!')
                      }
                  },'json')
              }
          }else{

          }

    }*/
    /*getLogin : function(){
      //console.log(appData.identifier)
      let _this = this;
      if(appData.identifier == '') return;

      $.get("http://m.yxgapp.com/d/mooc/webClient/GetLoginInfo.json",
        {identifier:appData.identifier},
        function(data){
          //console.log(JSON.stringify(data))
          if(!data.result.result){
            if(data.result.errorCode == '001001'){
              appData.msg = '二维码失效，请<a href="javascript:location.reload(true)">刷新</a>页面重试。';
              clearInterval(appData.Log);
            }
          }else{
            clearInterval(appData.Log);
            sessionStorage.setItem('token',data.token);
            sessionStorage.setItem('nickname',data.nickname);
            sessionStorage.setItem('userId',data.userId);
            sessionStorage.setItem('avatarUrl',data.avatarUrl);
            sessionStorage.setItem('expire',data.duration);
            _this.$router.replace('/index');
          }
        },'json');
    }*/
  },
  data () {
    return appData
  }
}
</script>

<style lang="less" scoped>
/*@import "../assets/css/base.less";*/
@import "../../css/index.css";
h1{text-align: center; position: relative;}
.top-content{height: 100%; background: url('../../bg/2.jpg'); background-size: cover;}
#qr{text-align: center; height: 250px;}
#logo{width: 30px; margin-right: 10px;}
.text{display: flex; justify-content: center; align-items: center;}
</style>
