<template>
<div id="msgbox">
  <i class="fa fa-ban"></i>
	<h2>很抱歉，您没有访问这个功能的权限。</h2>
  <div>
    <button type="button" class="btn btn-primary btn-lg" @click="backhome"> 返回首页 </button>
    <button type="button" class="btn btn-primary btn-lg" @click="logout"> 退出平台 </button>
  </div>
</div>
</template>
<script>
  import util from './util.vue'

  export default {
    name:'noright',
    methods:{
      backhome : function () {
        util.goHome(this);
      },
      logout : function () {
        util.dologout(this);
      }
    }
  }
</script>
<style lang="less">
  #msgbox{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    i{
      font-size: 120px;
      margin-bottom: 20px;
    }
    h2{
      font-weight: bold;
      margin-bottom: 60px;
    }
  }
</style>
