<template>
		<div id="main-content">
			<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
	    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" />
				<div class="container">
					<div class="row">
						<div id="content" class="col-lg-12">
							<!-- PAGE HEADER-->
							<div class="row">
								<div class="col-sm-12">
									<div class="page-header">
										<div class="clearfix">
											<h3 class="content-title pull-left">我上传的文件 <a @click="upVideo" class="btn btn-success addvideo"><i class="fa fa-upload"></i> 上传文件</a></h3>
											<!-- DATE RANGE PICKER -->
											<span class="date-range pull-right">
												<div class="btn-group">
													<a class="js_update btn btn-default" id="stoday" :class="{'btn-success':rangeType==0}" @click="loadData(0)">今日</a>
													<a class="js_update btn btn-default" id="sweek" :class="{'btn-success':rangeType==1}" @click="loadData(1)">最近一周</a>
													<a class="js_update btn btn-default" id="sall" :class="{'btn-success':rangeType==2}" @click="loadData(2)">所有记录</a>
													<a id="reportrange" class="js_update btn btn-default" :class="{'btn-success':rangeType==3}">
														<i class="fa fa-calendar"></i>
														<span>{{range}}</span>
														<i class="fa fa-angle-down"></i>
													</a>
												</div>
											</span>
											<!-- /DATE RANGE PICKER -->
										</div>
									</div>
									<div class="hide">
	                  <input type="file" id="upFile" multiple="true" >
	                </div>
								</div>
							</div>
	                        <div class="row" id="tc">
	                            <div class="col-sm-12" id="table-container">
									<table id="list"  class="table table-hover table-bordered" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>上传时间</th>
												<th>文件名</th>
												<th>文件类型</th>
												<th>文件大小</th>
												<th>状态</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="l in list">
												<td>{{l.upTime}}</td>
												<td><a :href="l.ossUrl" target="_blank">{{l.fileName}}</a></td>
												<td>{{l.fileType}}</td>
												<td>{{l.fileSize< (1<<20)?Math.round(l.fileSize/(1<<10)*100)/100+' KB':Math.round(l.fileSize/(1<<20)*100)/100+' MB'}}</td>
												<td>{{l.status==0?'正常':'删除'}}</td>
												<td><button type="button" class="btn btn-success btn-copy" :data-clipboard-text="l.ossUrl">复制链接</button></td>
											</tr>
										</tbody>
									</table>
								</div>
	                        </div>
							<!-- /PAGE HEADER -->
						</div><!-- /CONTENT-->
					</div>
				</div>
				<div class="modal fade" id="addbox">
		        <div class="modal-dialog">
		          <div class="modal-content">
		            <div class="modal-header">
		              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		              <h4 class="modal-title">文件上传进度</h4>
		            </div>
		            <div class="modal-body">
									<div v-for="l in upList">
										<p>{{l.fileName}}</p>
										<div class="progress">
										  <div class="progress-bar progress-bar-primary progress-bar-striped active" :class="{'progress-bar-danger':l.error==1,'progress-bar-success':l.finish==1}" role="progressbar" :aria-valuenow="l.progress*100" aria-valuemin="0" aria-valuemax="100" :style="'width: '+ l.progress*100 +'%'">
										  </div>
										</div>
									</div>
		            </div>
		            <div class="modal-footer">
		              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		            </div>
		          </div>
		        </div>
		      </div>
			</div>
</template>
<script>
import util from './util.vue'
import api from './api.vue'
import Clipboard from 'clipboard'

let appData = {
  range:'',
	rangeType:'',
  from:'',
  to:'',
	list:[],
	upList:[],
	user:{},
	clipboard:'',
};

let loadUser = function(){
	appData.user = JSON.parse(localStorage.user);
	appData.user.role = appData.user.roles.split(',');
	appData.user.co = appData.user.coId.split(',');
	console.log(appData.user)
}

let initDateRange = function(vm){
	$('#reportrange').daterangepicker(config.daterangeConfig);
	$('#reportrange').on('apply.daterangepicker', function(ev, picker) {
		appData.range = picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD');
		//appData.page.rangeTypetype = 3;
		appData.from = picker.startDate.format('YYYY-MM-DD');
		appData.to = picker.endDate.add(1,"days").format('YYYY-MM-DD');
    console.log(appData.para);
		vm.loadData(3);
	});
};

let initUploader = function(){
  let conf = {
    request:true,
    uploadUrl: 'http://upload.yxgapp.com/upload',
    files : document.querySelector('#upFile').files,
    onBeforeUpload:function(){
      //util.showLoading();
			//appData.upList = Obj.assign({},files);
			$('#addbox').modal('show');
    },
    onOverAllProgress: function (index, loaded, total) {
        console.log(index + "::::"+ loaded /total)

        appData.upList[index].progress = loaded / total;
        //if(loaded / total==1){
          //console.log('finish')
          //console.log(document.querySelector('#upFile').files);
          //updateFile(index);
          //document.querySelector('#upFile').value = '';
        //}
    },
    onLoad: function (index, chunkIndex, chunksNum) {
    },
    onAbort: function (index, chunkIndex, chunksNum) {
        console.log('onAbort', this, arguments)
        setTimeout(function(){
					mo.pause(-1)
					mo.continue(-1)
				},30000);
    },
    onError: function (index, chunkIndex, chunksNum) {
        console.log('onError', this, arguments)
        setTimeout(function(){
					mo.pause(-1);
					mo.continue(-1);
				},30000);
    },
    onContinue: function (file, md5, index) {
        return new Promise(function(resolve,reject) {
					var xhr = new XMLHttpRequest()
						 xhr.open('GET', 'http://upload.yxgapp.com/getFile?md5='+md5, true);
						 xhr.send(null);
						 xhr.addEventListener('readystatechange', function () {
								 if(xhr.readyState === 4 && xhr.status === 200) {
										 var d = xhr.responseText;
										 //console.log(json)
										 //console.log(JSON.stringify(d))
										 //d = JSON.parse(d).pos;
										 resolve(d)
								 }
						 })
        })
    },
		onFinish:function(index,e){
			console.log(e)
			console.log(e.currentTarget.responseText)
			let data = JSON.parse(e.currentTarget.responseText)
			if(data.result==true){
				updateFile(index);
			}else{
				if(data.errno==1){
					appData.upList[index].error = 1;
				}
			}

		}
  }
  try {
    mo = MoUploader(conf)
  } catch (ex) {
    console.log(ex.message)
  }
};

let updateFile = function(index){
	let file = appData.upList[index];
	console.log(file);
	file.finish =1;
	api.saveUploadFile(appData.user.id,appData.user.token,file).done(data=>{
		console.log(data);
		getListData();
	});
	// let f = appData.upList.find(f=>{
	// 	return f.finish =0;
	// });
	// if(!f){
	// 	$('#addbox').modal('hide');
	// }
}

let getListData = function(vm){
	api.getUploadFile(appData.user.id,appData.user.token,0,appData.from,appData.to).done(data=>{
		if(data.result.result){
			appData.list = data.list;
			if(vm){
				vm.$nextTick(function(){
	        if($('#list').hasClass('dataTable')==false) $('#list').DataTable(config.tableConfig);
	      });
			}
		}else{
			$.notify('获取信息错误：'+ data.result.reason);
		}
	})
}

export default {
  name: 'uploadVideo',
  created(){
		loadUser();
  },
  beforeUpdate(){
  },
  updated(){
  },
  mounted(){
	  initDateRange(this);
	  //initDataTable();
	  this.loadData(0);
		appData.clipboard = new Clipboard('.btn-copy');
		appData.clipboard.on('success', function(e) {
			$.notify('复制成功');
		});

		appData.clipboard.on('error', function(e) {
			$.notify('复制失败');
		});
		document.querySelector('#upFile').addEventListener('change', function (e) {
      e.preventDefault();
      console.log($('#upFile'));
      let fs = $('#upFile')[0].files;
			appData.upList = [];
      for (let i=0 ; i< fs.length; i++){
				fs[i].targetName = util.random_string(32) + '.' + fs[i].name.split('.')[fs[i].name.split('.').length-1];
				fs[i].oss_url='tempVideo/'+ appData.user.id +'/'+fs[i].targetName;
				fs[i].filesize = fs[i].size;

				appData.upList.push({
					fileName : fs[i].name,
					userId : appData.user.id,
					upType : 0,
					ossUrl : 'http://yxg-biz.oss-cn-qingdao.aliyuncs.com/'+ fs[i].oss_url,
					fileType : fs[i].type,
					fileSize : fs[i].size,
					progress : 0,
					finish:0,
					error:0
				});
			}
      //console.log($('#upFile'));
      initUploader();
    });
  },
	beforeDestroy(){
		$('div.daterangepicker').remove();
	},
  methods:{
	  loadData : function(rangeType){
			let vm = this;
			if(rangeType!=undefined){
        appData.rangeType = rangeType;
      }
      if(appData.rangeType != 3){
        appData.to = moment().add(1,"days").format('YYYY-MM-DD');
      }
      switch (appData.rangeType) {
		  	case 0:
		  		appData.from = moment().subtract(7, "days").format('YYYY-MM-DD');
		  		break;
			  case 1:
		  		appData.from = moment().subtract(1, "months").format('YYYY-MM-DD');
		  		break;
			  case 2:
				  delete appData.from;
				  break;
		  }
		  getListData(vm);
	  },
		upVideo(){
			$("#upFile").trigger("click");
		}
  },
  data () {
    return appData
  }
}
</script>
<style scoped>
a{cursor: pointer;}
td{vertical-align: middle !important;}
</style>
