<script>
//import SparkMD5 from 'spark-md5'
import jsSHA from 'jssha'

// let countSign = function(url,action){
//     url += '2013-03-29' + action;
//     url = url.replace('@','%40');
//     let sign = SparkMD5.hash(url).toLowerCase()
//     return sign
// };
let dologout = function(vm) {
	window.sessionStorage.clear();
	window.localStorage.clear();
	vm.$router.push('/');
};

let goHome = function(vm){
  vm.$router.push('/index');
};

let noRight = function(vm){
  vm.$router.push('/index/noright');
};

let noModel = function(vm){
  vm.$router.push('/index/nomodel');
};

let getPara = function(str,para) {
  var reg = new RegExp("(^|&)"+ para +"=([^&]*)(&|$)");
  var r = str.substr(str.indexOf("\?")+1).match(reg);
  if (r!=null) return unescape(r[2]); return null;
};

let refreshPage = function(){
  window.location.reload()
};

let showMsg = function(title,content,buttons,width){
	let container = $('<div class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title"></h4></div><div class="modal-body"></div><div class="modal-footer"></div></div></div></div>');
	container.find('.modal-title').html(title);
	container.find('.modal-body').html(content);
	if(width){
		container.find('.modal-dialog').css('width',width);
	}
	for(let i=0; i<buttons.length; i++){
		let btn = $('<button type="button"></button>');
		btn.html(buttons[i].text);
		btn.attr('class',buttons[i].class);
		btn.click(buttons[i].callback);
		container.find('.modal-footer').append(btn);
	}
	container.on('hidden.bs.modal', function(){
  	container.remove();
	});
	$('body').append(container);
	container.modal('show');
};

let showLoading = function(){
	if($('.loading').length > 0) return;
	let opts = {
	  lines: 17 // The number of lines to draw
	, length: 30 // The length of each line
	, width: 6 // The line thickness
	, radius: 51 // The radius of the inner circle
	, scale: 1 // Scales overall size of the spinner
	, corners: 1 // Corner roundness (0..1)
	, color: '#fff' // #rgb or #rrggbb or array of colors
	, opacity: 0.25 // Opacity of the lines
	, rotate: 0 // The rotation offset
	, direction: 1 // 1: clockwise, -1: counterclockwise
	, speed: 1 // Rounds per second
	, trail: 60 // Afterglow percentage
	, fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
	, zIndex: 2e9 // The z-index (defaults to 2000000000)
	, className: 'spinner' // The CSS class to assign to the spinner
	, top: '50%' // Top position relative to parent
	, left: '50%' // Left position relative to parent
	, shadow: false // Whether to render a shadow
	, hwaccel: false // Whether to use hardware acceleration
	, position: 'absolute' // Element positioning
	}
	let target = $('<div class="loading" style="position:absolute;z-index:1999;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,.7)"></div>');
	// target.style.position = 'absolute';
	// target.style.zIndex = 999;
	// target.style.left = 0;
	// target.style.right = 0;
	// target.style.top = 0;
	// target.style.bottom = 0;
	// target.style.background = 'rgba(0,0,0,.7)';
	let spinner = new Spinner(opts).spin(target[0]);
	target.append('<span id="loadText" style="left: 50%;top: 50%;position: absolute;z-index: 999;color: #fff;display: block;width: 60px;height:30px;font-size:18px;line-height: 30px;text-align: center;margin-left: -30px;margin-top: -15px;">加载中</span>')
	$('body').append(target);
};

let hideLoading = function(){
	$('.loading').remove();
}

let random_string = function(len) {
　　len = len || 32;
　　let chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
　　let maxPos = chars.length;
　　let pwd = '';
　　for (let i = 0; i < len; i++) {
    　　pwd += chars.charAt(Math.floor(Math.random() * maxPos));
    }
    return pwd;
};

let changeNewline = function(str){
	return str.replace(/\n/g,'<br>');
}

let sha1Hmac = function(str,key){
	let sha = new jsSHA('SHA-1', "TEXT");
  sha.setHMACKey(key, "TEXT");
	sha.update(str);
  return sha.getHMAC("HEX");
}

let getText = function(data,value){
	let k = data.find(function(f){
		return f.value == value
	});
	if(k){
		return k.text
	}else{
		return value
	}
}

let formatDuration = function(seconds){
	let time = [];
	time.push(fixLen(Math.floor(seconds / 3600),2));
	time.push(fixLen(Math.floor(seconds / 60 % 60),2));
	time.push(fixLen(Math.floor(seconds % 60),2));
	if(time[0]==0){
		time.splice(0,1);
	}
	return time.join(':');
}

let time2Secends = function(strTime){
	let time = strTime.split(':');
	let s = 0;
	for(i=0 ; i<time.length; i++){
		s += time[i] * Math.pow(60,time.length - i -1);
	}
	return s;
}

let fixLen = function(number,strModel){
	let num = number.toString().split('.');
	let model = strModel.toString().split('.');

	while (num[0].length < model[0]) {
		num[0] = '0' + num[0];
	}
	if(!num[1] && model[1]){
		num[1] = '0';
	}
	if(num[1]){
		while (num[1].length < model[1]) {
			num[1] += '0';
		}
	}
	return num.join('.')
}

export default
{
  //countSign,
  dologout,
  getPara,
  refreshPage,
  goHome,
  noRight,
  noModel,
	showMsg,
	showLoading,
	hideLoading,
	random_string,
	changeNewline,
	sha1Hmac,
	getText,
	formatDuration,
	time2Secends,
	fixLen,
	//Cookie
}
</script>
